[2022-10-23 19:02] heitorlessa commented on #1637
Yes, both. The difference is that Parser breaks at runtime, while data
classes varies on how the property is retrieved (some has sentinel values).

On Sun, 23 Oct 2022 at 21:00, Ran Isenberg ***@***.***> wrote:

[2022-10-23 19:02] ran-isenberg commented on #1637
@barreeeiroo yeah that makes sense! nice one.
I'll open a PR with tests in a few min.

[2022-10-23 19:06] heitorlessa commented on #1637
+1. It's what I shared earlier - the root cause is not having an event schema. We derived based on events we trigger - our models can only be as good as our tests and "contracts" being respected by their original producers.

So far we've noticed a few variations that end up making one or more properties to be either omitted or have different casing:

- Event Source default settings

- Event Source

[2022-10-23 19:07] ran-isenberg commented on #1637
@heitorlessa  I'm getting an error on my dev env -
"tests/e2e/utils/lambda_layer/powertools_layer.py:6: in <module>
    from checksumdir import dirhash
E   ModuleNotFoundError: No module named 'checksumdir'

I ran make dev but it didnt install it

[2022-10-23 19:08] ran-isenberg commented on #1637
after installing it manually it now says:
"E   ImportError: cannot import name 'aws_apigatewayv2_alpha' from 'aws_cdk' (/Users/ranisenberg/Programming/aws-lambda-powertools-python/.venv/lib/python3.9/site-packages/aws_cdk/__init__.py)"

[2022-10-23 19:47] heitorlessa commented on #1637
Sorry it’s Sunday, so we’ll look into tomorrow after V2 launch. I’m not
comfortable with the validators - I can’t be confident this won’t break in
another unexpected way.

Diego had a PR but it’s missing test. Let’s be mindful and foster
first-time contributors, please.

I’ll wake up earlier as we’ve had too many last minute papercuts for the
launch last Friday - we’ve got to launch tomorrow morni

[2022-10-23 19:51] ran-isenberg commented on #1637
@heitorlessa  of course. It's 11PM here, didnt expect you to merge it :)
I didnt know how to add Diego's PR to mine, but you can merge his code and then mine so his commit is added.

The validator does not break older tests and it's very specific to the delete event.

[2022-10-23 20:29] barreeeiroo commented on #1637
For reference, providing this link to this AWS page: https://docs.aws.amazon.com/filegateway/latest/files3/refresh-cache.html
It shows an example payload in Step 15 for `ObjectRemoved` where they show the `object` having only `eTag` and `key` attributes.

[2022-10-24 06:24] heitorlessa commented on #1637
Releasing v2.0.0a4 pre-release: https://github.com/awslabs/aws-lambda-powertools-python/actions/runs/3310473745

We should make the official launch at 10am CET (Amsterdam time)

[2022-10-24 07:46] rubenfonseca opened #1640 "Maintenance: Parallelize CDK Layer Stack synthesization"
### Summary

During the release process, we build the public Lambda Layers [using a CDK stack](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/layer/layer/layer_stack.py).

Right now both `X86_64` and `ARM64` layers are inside the same CDK stack. This means we can't parallelize the synthesization of the layers, which is a very expensive process (currently, ARM64 layer takes 28

[2022-10-24 09:21] rubenfonseca commented on #1459
We just released [AWS Lambda Powertools Python v2](https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0)! 🎉🎉🎉🎉

Don't forget to check our [Upgrade Guide](https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/upgrade/) too :)

Thank you everyone for your help getting this our of the door! 🙏 Onwards and upwards! 🎉

[2022-10-24 09:21] #1459 closed, assigned to rubenfonseca

[2022-10-24 11:05] heitorlessa commented on #1637
Released in V2 now: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0

[2022-10-24 11:05] #1637 closed, assigned to nobody

[2022-10-24 11:06] heitorlessa commented on #1432
Released in V2 now ;) https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0

[2022-10-24 11:06] #1432 closed, assigned to heitorlessa

[2022-10-24 11:07] heitorlessa commented on #1543
now complete with v2: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0

[2022-10-24 11:07] #1543 closed, assigned to rubenfonseca

[2022-10-24 11:08] heitorlessa commented on #1071
released

[2022-10-24 11:08] #1071 closed

[2022-10-24 11:08] heitorlessa commented on #1595
released in v2: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0

[2022-10-24 11:08] #1595 closed, assigned to nobody

[2022-10-24 11:10] heitorlessa commented on #1363
done in v2

[2022-10-24 11:10] #1363 closed, assigned to nobody

[2022-10-24 11:11] heitorlessa commented on #1347
Done in https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/CONTRIBUTING.md#testing-definition

[2022-10-24 11:11] #1347 closed, assigned to nobody

[2022-10-24 11:11] heitorlessa commented on #1340
Done in V2: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0

[2022-10-24 11:11] #1340 closed, assigned to nobody

[2022-10-24 11:54] rubenfonseca commented on #1549
This was released in v2 🎈

[2022-10-24 11:54] #1549 closed, assigned to heitorlessa

[2022-10-24 11:57] rubenfonseca opened #1642 "Maintenance: create mechanism to balancer layer versions across regions"
### Summary

Sometimes, due to bugs in our workflows or transitive errors, the versions of our Lambda Layers across all regions loose synchrony. This means some regions will have version _n_, while other versions have version _n+-1_.

### Why is this needed?

We want Powertools' releases to use the same layer version across all regions, as this helps with customer adoption and it's easy to documen

[2022-10-24 12:17] ran-isenberg opened #1644 "[Support Lambda Powertools]: CyberArk"
### Organization Name

CyberArk

### Your Name

Ran Isenberg

### Your current position

Principal Software Architect

### (Optional) Company logo

https://www.cyberark.com/wp-content/uploads/2021/01/cyberark-logo-dark.svg

### (Optional) Use case

_No response_

### Also using other Lambda Powertools languages?

- [ ] Java
- [ ] TypeScript
- [ ] .NET

[2022-10-24 14:16] #1642 closed, assigned to rubenfonseca

[2022-10-24 18:28] ran-isenberg opened #1645 "Bug: when installing powertools from Pypi - pydantic is not added"
### Expected Behaviour

The powertools layer includes pydantic.
I expect that when i install powertools, it will bring pydantic as a dependancy.

### Current Behaviour

It does not at the moment.

Removed pydantic from pip file. left powertools.
Got: E   ModuleNotFoundError: No module named 'pydantic'

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

pip inst

[2022-10-24 18:39] BastianZim opened #1646 "Bug: Build fails if `poetry-core>=1.1.0a6` is not specified"
### Expected Behaviour

Build succeeds

### Current Behaviour

Build fails.

Logs: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=594749&view=logs&jobId=656edd35-690f-5c53-9ba3-09c10d0bea97&j=656edd35-690f-5c53-9ba3-09c10d0bea97&t=e5c8ab1d-8ff9-5cae-b332-e15ae582ed2d

### Code snippet

[code]

### Possible Solution

As described in https://github.com/python-poetry/poetry

[2022-10-24 18:41] ran-isenberg opened #1647 "Bug: when installing powertools from Pypi - aws_xray_sdk is not added"
### Expected Behaviour

aws_xray_sdk is imported and does not fail tests/imports . to my understating, it's part of the powertools lambda layer.

### Current Behaviour

aws_xray_sdk module not found error.

### Code snippet

[code]

### Possible Solution

manually add aws_xray_sdk to pip/toml file.

### Steps to Reproduce

pip install aws-lambda-powertools

### AWS Lambda Powertools for Python ver

[2022-10-24 19:10] rpmcginty commented on #1647
My guess is that you are using the V2.0 release, where they reduced the total size of the package and did so by removing bloated dependencies like aws xray in the default install.

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0#package-size-reduction-by-976

I think the solution is to just specify the dependency as `aws-lambda-powertools[all]`

[2022-10-24 19:29] ran-isenberg commented on #1647
yep, i changed it to aws-lambda-powertools= {extras = ["all"],version = "*"} and it works.
thanks for the heads up!

[2022-10-24 19:30] ran-isenberg commented on #1645
when adding aws-lambda-powertools= {extras = ["all"],version = "*"} it works.

[2022-10-24 19:32] silvexis opened #1648 "[Support Lambda Powertools]: CloudZero"
### Organization Name

CloudZero

### Your Name

Erik Peterson

### Your current position

Founder and CTO

### (Optional) Company logo

https://downloads.cloudzero.com/assets/cloudzero-logo-4c-with-border.png

### (Optional) Use case

CloudZero is a 100% Serverless company, and we use Lambda Powertools _everywhere_! Logging, tracing, validating input, handling events, you name it, Powertools has

[2022-10-24 19:49] heitorlessa commented on #1646
Hey @BastianZim good see you around again - let us investigate tomorrow and come back to you.

I wonder whether having poetry installed might have contributed to not hitting this in E2E and release pipeline, since pip install against PyPi already has the artefact built and isolated VS dev install.

[2022-10-24 20:01] BastianZim commented on #1646
Hey @heitorlessa long time no talk 😄

Hmm, yes, that could be. To be honest, this is probably something that should be restricted upstream in the long run but I just wanted to mention it here as short-term fixes are probably faster implemented here.

[2022-10-25 10:51] heitorlessa commented on #1554
Updating here as @leandrodamascena will dedicate the next days reviewing, testing, load testing, and co-authoring this feature with you Ran!

I'll be looking after everything else that's coming to the repo for the next two weeks, as Ruben will be away.

[2022-10-25 10:52] heitorlessa commented on #1167
Putting on-hold as this work highlighted the need to fix some static typing in the Parameters feature.

[2022-10-25 10:52] heitorlessa commented on #1488
@leandrodamascena when you can, could you share what's the latest so I can take over for this iteration cycle?

[2022-10-25 10:55] heitorlessa commented on #1040
Adding this to our next iteration (Nov 7th-20th)!

[2022-10-25 11:06] heitorlessa commented on #1636
hey @lorengordon, great to hear from you again! I have one question

Are you looking to use this feature in a non-Lambda function (e.g., CLI) ? or are you also wanting to log **all** exceptions ever raised in a call stack within Lambda?

Python supports [Exception Chaining](https://docs.python.org/3/tutorial/errors.html#exception-chaining) for this particular use case. This allows you have to a co

[2022-10-25 13:46] #1646 closed, assigned to nobody

[2022-10-25 13:59] #1597 closed, assigned to nobody

[2022-10-25 13:59] #1598 closed, assigned to nobody

[2022-10-25 13:59] #1599 closed, assigned to nobody

[2022-10-25 13:59] #1600 closed, assigned to nobody

[2022-10-25 13:59] #1601 closed, assigned to nobody

[2022-10-25 14:00] #1602 closed, assigned to nobody

[2022-10-25 14:00] #1603 closed, assigned to nobody

[2022-10-25 14:00] #1604 closed, assigned to nobody

[2022-10-25 14:00] lorengordon commented on #1636
Hmm, maybe we're misunderstanding each other. The [`sys.excepthook`](https://docs.python.org/3/library/sys.html#sys.excepthook) is only called if an exception is actually raised in a terminating fashion. It would not log every exception in the stack, only the final one. It is perfectly compatible with exception chaining.

With this code, the exception will be captured _twice_ to cloudwatch logs. O

[2022-10-25 14:32] heitorlessa commented on #1636
AH! Completely my bad @lorengordon!! Definitely see value in this as it's **uncaught** exception.

Two final questions:

* Should this be a feature flag (env var) and/or a `Logger` constructor parameter?
* If I'm reading the doc right, you can have a single exception hook only. Should we accept the fact a customer or 3P library might overwrite it (e.g., Sentry)?
    - Depending on customer demand,

[2022-10-25 14:44] heitorlessa commented on #995
Now live at: https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/we_made_this/

[2022-10-25 14:44] #995 closed

[2022-10-25 14:48] lorengordon commented on #1636
Definitely opt-in. And yes, there is a single exception hook for the program. I have never seen a 3P library try to set it, but I guess anything is possible.

I like the idea of a `Logger` constructor parameter more than an env var. Feels more flexible. Are you thinking something like this?

[code]

[2022-10-25 14:56] heitorlessa commented on #1636
Yes, we can figure out naming in a PR. Perhaps `Logger(log_uncaught_exceptions=True)`, and in the docstring (and docs) we call out the the hook.

This makes it easier for other Powertools languages to reword `exception` to `error` and keep a similar UX ;)

I'm working on a few other issues now, but if you have the bandwidth to send a PR, we can include it in the next release!!

[2022-10-25 18:51] ran-isenberg opened #1653 "Docs: Fix made by community twitter/linkedin links"
### What were you searching in the docs?

The links to my twitter and linkedin handler were broken.

### Is this related to an existing documentation section?

We Made This (Community)

### How can we improve?

[code]

### Got a suggestion in mind?

_No response_

### Acknowledgment

- [X] I understand the final update might be different from my proposed suggestion, or refused.

[2022-10-25 18:56] heitorlessa commented on #1653
Apologies Ran for the incorrect Twitter handler (despite the review).

I'll rebuild the latest docs tomorrow morning

[2022-10-25 19:05] ran-isenberg commented on #1653
@heitorlessa  no worries! thank you for sharing my work. I really appreciate it.

[2022-10-26 07:52] robert-malai opened #1656 "Feature request: Support S3 Event Notifications Model for Event Bridge"
### Use case

With the introduction of S3 Event Notifications in Event Bridge [here](https://aws.amazon.com/blogs/aws/new-use-amazon-s3-event-notifications-with-amazon-eventbridge/) we need the ability to quickly unpack the event payload from the Event Bridge Envelope.

The structure of the message is described [here](https://docs.aws.amazon.com/AmazonS3/latest/userguide/ev-events.html).

### Solu

[2022-10-26 09:20] pierskarsenbarg opened #1657 "Docs: Add Pulumi code to deploy lambda with powertools layer"
### What were you searching in the docs?

Searching for how to deploy lambda powertools layer with Pulumi using python

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/#lambda-layer

### How can we improve?

[code]

### Got a suggestion in mind?

_No response_

### Acknowledgment

- [X] I understand the final update might be d

[2022-10-26 09:25] heitorlessa commented on #1653
Now corrected in the latest version: https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/we_made_this/

[2022-10-26 09:25] #1653 closed, assigned to heitorlessa

[2022-10-26 14:47] #1657 closed, assigned to nobody

[2022-10-26 14:56] heitorlessa commented on #1167
This will be available in the next release 🎉 !!! cc @eoinsha

<img width="1799" alt="image" src="https://user-images.githubusercontent.com/3340292/198060970-b907e47c-371b-4ad7-a41f-0ce848fad8ee.png">

[2022-10-26 15:53] heitorlessa commented on #1040
Shifting to this current iteration (next release in two weeks), as we've managed to finish our biggest chunk of work earlier ;)

I've got a few upfront questions @hooverdc:

* **Fine-grained or shared settings** - how much control would you like to have?
    -  If you pass parameters as `List[str]`, we'd set the same TTL/settings for all of them.
        - **Example**: `["/parameter/1", "/paramete

[2022-10-26 16:06] hooverdc commented on #1040
@heitorlessa

Fine-grained or shared settings - I would prefer the `List[Dict]` approach. The big win there is being able to do a transform for some but not all parameters.
Key or path - I would use the absolute path. In my particular case I could have used `get_parameters` and discarded unused parameters, but I didn't want to fetch secrets that I didn't need. If you had a mix of common and app sp

[2022-10-26 16:10] heitorlessa commented on #1016
I've had another look today and couldn't find a solution :(. I had updated the docs but didn't update this issue to inform that they were

<img width="1737" alt="image" src="https://user-images.githubusercontent.com/3340292/198078017-7d30b35c-48a4-4caa-8fe2-f218d7f51305.png">

For the sake of transparency, I'll close this as unsuccessful and keep `help wanted` label in case anyone in the future kn

[2022-10-26 16:10] #1016 closed

[2022-10-26 16:11] heitorlessa commented on #1176
Closing as we haven't had an update ever since. Please please do reopen if you have answers or thoughts to those questions.

Thank you!!

[2022-10-26 16:11] #1176 closed

[2022-10-26 16:41] heitorlessa commented on #1040
Perfect, that’s why I asked ;-) I’ll shuffle the board tomorrow and start
working on this tomorrow afternoon.

We’ll likely use threads (futures) to fetch an arbitrary number quicker.

Thanks for the swift response!

On Wed, 26 Oct 2022 at 18:06, David Hoover ***@***.***> wrote:

[2022-10-26 17:40] #1167 closed

[2022-10-27 01:56] nayaverdier opened #1660 "Static typing: Logger `__getattr__` definition causes mypy to not error when missing an attribute"
### Static type checker used

mypy (project's standard)

### AWS Lambda function runtime

3.9

### AWS Lambda Powertools for Python version

latest

### Static type checker info

The issue here is a lack of output. Running `mypy` with no arguments on the file below does not produce any issues.

### Code snippet

[code]

### Possible Solution

Based on https://github.com/python/mypy/issues/13319, t

[2022-10-27 02:24] nayaverdier opened #1661 "Static typing: Pyright complains about attributes of `aws_lambda_powertools` not being exported"
### Static type checker used

pyright/pylance

### AWS Lambda function runtime

3.9

### AWS Lambda Powertools for Python version

latest

### Static type checker info

This is the output of Pyright using the `basic` type checking mode (this happens for anything being imported from the top level `aws_lambda_powertools` module):

[code]

### Code snippet

[code]

### Possible Solution

Replace the

[2022-10-27 02:26] nayaverdier commented on #1661
My apologies, I had an earlier version of lambda powertools cached and this has already been resolved!

[2022-10-27 02:26] #1661 closed, assigned to nobody

[2022-10-27 15:13] heitorlessa commented on #946
Assigning this to myself to make it available in the next release @kishaningithub @JJSphar

I've had a head-scratching moment when trying to find the differences between [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) and [RFC3339](https://www.rfc-editor.org/rfc/rfc3339) (_an extension/profile of ISO8601_).

After a lot of trial and error, luckily, someone [built a tool to isolate with formats](

[2022-10-27 16:06] kishaningithub commented on #946
In my opinion RFC3339 is a stricter version of ISO8601.

Golang's std library only supports RFC3339 which feels like a right choice to me to apply in other places

[2022-10-27 16:06] kishaningithub commented on #946
In my opinion RFC3339 is a stricter version of ISO8601.

Golang's std library only supports RFC3339 which feels like a right choice to me to apply in other places

[2022-10-27 16:36] JJSphar commented on #946
This sounds great! I think the format you listed would cover a lot of common use cases.

Personally, my lambdas use a wrapper class around `Logger` that handles setting a custom format and the use_datetime_directive arg. Being able to output in RFC3339 directly from `Logger` without having to copy/paste that format string around will let me get rid of this wrapper class. Thanks!

[2022-10-27 17:29] heitorlessa commented on #946
Draft PR is up: https://github.com/awslabs/aws-lambda-powertools-python/pull/1662

@kishaningithub @JJSphar could I please ask you to double check whether that format and UX address the original ask?

I'll document tomorrow if that suffice. I've added an internal note so that we move to that format in V3, add appropriate warnings in the future, and more importantly to not cause a breaking change.

[2022-10-27 18:23] dmwesterhoff opened #1663 "Feature request: Support `raise_on_no_idempotency_key` for `idempotent_function`"
### Use case

Trying to use `idempotent_function` in an "optional" manner. Example:

[code]

When called like `echo(key=None)` will raise `RuntimeError`, even when `raise_on_no_idempotency_key` is set to False

### Solution/User Experience

Unless there is good reason not to respect the `IdempotencyConfig.raise_on_no_idempotency_key` value. Perhaps adding a similar parameter to `idempotent_functio

[2022-10-27 18:36] heitorlessa commented on #1663
Hey @dmwesterhoff could you post the full stack trace, please?

That seems like an issue actually more than a feature request - a full error will help speed up the diagnostics tomorrow.

Thanks a lot for flagging this!!

[2022-10-27 18:52] heitorlessa commented on #1663
It's a bug! It was meant to be a guard against a keyword argument not being present (L137).

This should be a check on whether the data kwarg exists in kwargs - accidentally, this is getting the value, and checking if it's falsy. This means even key=False would fail here (no good!).

As it's late here (8:48pm), I can make the fix tomorrow and cut a release with other merged enhancements -- if you

[2022-10-27 22:25] leandrodamascena commented on #1554
Hi @heitorlessa and @ran-isenberg!
First of all, thank you so much for sharing your code with us Ran! This made the initial steps much easier.

I'm still at the beginning of the code but I can already validate a feature flag with a condition for specific days of the week. What do you think about me opening a PR in the next few days and we can work to improve and validate that @ran-isenberg? There

[2022-10-28 04:32] ran-isenberg commented on #1554
@leandrodamascena I've also been working on a PR. I'll create a PR later today so we could merge the code.

[2022-10-28 07:11] ctacka opened #1667 "Feature request: AWS Config Rule event data class"
### Use case

Lambda functions could be used by [AWS Config Custom Rules](https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_develop-rules_lambda-functions.html)
AWS Config Event (one of 3 types) will be passed as event.

### Solution/User Experience

It would be nice to have data class to work with AWS Config Rule event in the same manner, as we are working with SQS, SNS, et

[2022-10-28 08:34] tibbe opened #1668 "Nesting log_metrics only results in one set of metrics being logged"
### Expected Behaviour

When using two `Metrics` objects and two nested call to `log_metrics` I expected both sets of metrics to be serialized. The reason for two `Metrics` object is that every metric is output twice, with a different set of dimensions. Using `single_metric` for everything works but seems sub-optimal from a performance standpoint.

Example:

[code]

### Current Behaviour

Looking

[2022-10-28 09:00] tibbe commented on #1668
Here's a standalone example with the logging turned up to 11 showing that only one set of metrics gets output:

[code]

Run with pytest.

[2022-10-28 09:33] tibbe commented on #1668
The issue seems to be these 4 class attributes in `Metrics`:

[code]

This causes sharing across `Metrics` instances, which makes things not work out.

Just making these instance attributes fixes the issue. That being said I don't know what we lose. Presumably if people create `Metrics` instance all over the place instead of e.g. using one instance per dimension combination there will be e.g. extr

[2022-10-28 09:55] heitorlessa commented on #1663
@leandrodamascena need your review to this bugfix PR to add to today's release.

[2022-10-28 10:17] heitorlessa commented on #1647
That's expected behaviour @ran-isenberg :) we described that in the [V2 Release notes](https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0), [Install docs](https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/#install), and [upgrade guide](https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/upgrade/#first-steps).

We removed **all dependencies** - 70% of Po

[2022-10-28 10:17] heitorlessa commented on #1645
That's expected behaviour @ran-isenberg :) we described that in the [V2 Release notes](https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.0.0), [Install docs](https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/#install), and [upgrade guide](https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/upgrade/#first-steps).

We removed **all dependencies** - 70% of Po

[2022-10-28 10:25] heitorlessa commented on #1668
[We briefly discussed on Discord on why this being expected behaviour](https://discord.com/channels/1006478942305263677/1006527338621710376/1035479274058170408), and I'll provide a proper answer as soon as I can.

I'll rephrase my last comment on that Discord thread as a proper response here and gather your ideas on what UX would be good to unlock this and other ISV use cases (e.g., multiple names

[2022-10-28 10:45] #1663 closed, assigned to heitorlessa

[2022-10-28 12:48] heitorlessa commented on #946
PR is now complete - Docs will now feature a dedicated section for Date formatting.

Final UX: `Logger(use_rfc3339=True`. Date format remains the same. It should be out in the next release either by EOD or Monday

<img width="1745" alt="image" src="https://user-images.githubusercontent.com/3340292/198589958-77cf54ad-52c3-49f1-bc5e-e41b8ec15c51.png">

<img width="1186" alt="image" src="https://user

[2022-10-28 13:35] kishaningithub commented on #946
I like `Logger(use_rfc3339=True` UX much better than the previous one :-)

[2022-10-28 13:37] heitorlessa commented on #946
yes, thank @leandrodamascena for that great suggestion :D

[2022-10-28 13:58] #946 closed

[2022-10-28 14:49] #1645 closed, assigned to nobody

[2022-10-28 14:49] #1647 closed, assigned to nobody

[2022-10-28 15:13] heitorlessa commented on #1660
hey @nayaverdier - thanks for flagging it! We'll need to look into it as it's slightly more complex than that.

There are two reasons we added it 2 years ago:

* **(1)** PyCharm and VSCode didn't auto-complete methods like `info()`, `warning()` that were only available in `self._logger`
* **(2)** Ease migration for those coming from std logger - add filters to the logger, etc.

If we do that sugge

[2022-10-28 17:48] nayaverdier commented on #1660
@heitorlessa Thanks for the info. I imagine since Logger subclasses `logging.Logger` again since #110, (1) might not actually be an issue? I also added `print("Proxying:", name)` to `__getattr__` so we can see what is being proxied to `_logger`:

[code]

Yields the following output:
[code]

Using Pyright in vim (which should be very similar to Pylance in VSCode) and with the `if not TYPE_CHECKING`

[2022-10-28 18:32] heitorlessa commented on #1660
Ah great! If you're seeing in vim, we can then test removing it as a scream test - if anyone complains (Hyrum's Law) we can revert quickly.

With the registered_formatter and registered_handler properties, I think it already addresses 99% the needs for accessing something in _logger.

We're making a release on Monday (PyPi prod was in maintenance today).

Would you like to make a PR to remove it?

[2022-10-29 04:50] ran-isenberg commented on #1554
see my comments on https://github.com/awslabs/aws-lambda-powertools-python/pull/1666

[2022-10-30 05:19] peterschutt opened #1673 "[Support Lambda Powertools]: TopSport"
### Organization Name

TopSport.com.au

### Your Name

Peter Schutt

### Your current position

Engineer

### (Optional) Company logo

https://www.topsport.com.au/assets/images/logo_pulse.svg

### (Optional) Use case

_No response_

### Also using other Lambda Powertools languages?

- [ ] Java
- [ ] TypeScript
- [ ] .NET

[2022-10-31 09:49] #1660 closed, assigned to heitorlessa

[2022-10-31 10:04] heitorlessa commented on #1668
Confirming that we'll be working on this for this Friday's release. In that thread (Discord), we weren't able to find a better class name. Based on what we know, the most suitable candidate would be a flag in the existing `Metrics` class.

* **Example**: `Metrics(singleton=False)`

At a first glance, the only "side effect" is that `set_default_dimensions` method would have the same effect as `add_

[2022-10-31 10:52] heitorlessa commented on #1646
@BastianZim - let us know if this didn't fix it for some reason! and thank you again!

[2022-10-31 15:52] Dilski opened #1675 "Docs: Explain the use of AWS X-Ray SDK over the OpenTelemetry/ADOT for tracing instrumentation"
### What were you searching in the docs?

At time of writing, the [AWS X-Ray SDK for Python](https://github.com/aws/aws-xray-sdk-python) project recommends the following:

However the AWS Lambda Powertools, whose aim is to "..to ease adopting best practices such as tracing...", uses the X-Ray SDK. This could be confusing for folks looking for AWS's recommended best practices regarding how to trace

[2022-11-01 11:50] heitorlessa commented on #1668
Just merged the new class `EphemeralMetrics` to address this and similar use cases. I've also updated the docs to go in detail on the different metric ingestion mechanisms in CloudWatch that led us to have the default `Metrics` "singleton/borg" design.

As promised, here's the full answer to your original comments: why a new class is needed, why not making `Metrics` a non-"singleton" by default (b

[2022-11-01 13:30] heitorlessa commented on #1675
Thanks for opening the issue @Dilski :) Quick update: We spoke to the X-Ray SDK team and they'll update the repository and Docs to better reflect **when** OTel/ADOT is recommended.

From our side, we should have this by Friday EOD

[2022-11-01 17:34] Dilski commented on #1675
@heitorlessa thanks a bunch!

[2022-11-01 18:51] kPOWz opened #1677 "Feature request: Parser (Pydantic) re-export more of Pydantic for model building"
### Use case

The LPT Documentation for Parser "Advanced use cases" suggests the library [datamodel-code-generator](https://github.com/koxudaxi/datamodel-code-generator)

I'm using this suggested library for auto generating Pydantic models from my Open API specs that are in turn used by `Parser`. It's great.

As of the amazing package size improvements in LPT v2,  we need `aws_lambda_powertools.ut

[2022-11-01 19:01] heitorlessa commented on #1677
Hey! Thanks for flagging this - we have an escape hatch where we export
everything from Pydantic under .pydantic module. It’s at the bottom of the
Parser docs in the FAQ section.

Could you try that please and let me know?

from aws_lambda_powertools.utilities.parser.pydantic import <anything>

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/utilities/par

[2022-11-01 20:02] kPOWz commented on #1677
Yes, great. That solves it for modeling.

The error classes like `PydanticValueError` don't get exported by __all__ on Pydantic's end which I have in use as well

I can open a separate feature request for `pydantic.errors` for use in data model validation - https://awslabs.github.io/aws-lambda-powertools-python/2.1.0/utilities/parser/#data-model-validation

pydantic __init__.py
[code]

[2022-11-01 20:02] #1677 closed, assigned to nobody

[2022-11-02 09:47] heitorlessa commented on #1040
Hey @hooverdc draft PR is ready for UX review (used a dict to improve UX): https://github.com/awslabs/aws-lambda-powertools-python/pull/1678

I have two questions for you before moving forward:

1. ~~Should we keep `parallel=` parameter when single thread is faster* in this context?~~
2. What should be the error strategy?
    * **(A)** Treat as non-atomic by catching the error, and include each fa

[2022-11-02 16:37] heitorlessa commented on #1040
Pasting here from another customer on the error handling question.

[2022-11-02 17:00] hooverdc commented on #1040
2. I like option B. Usually if one parameter fails my application isn't going to work anyways.
3. From 7 to 10.

Is there a reason for using the GetParameter operation in a loop vs the GetParameters operation? I assumed it would be the latter, but I see how that does limit the granularity of the decrypt option to per API call instead of per parameter.

[2022-11-02 17:06] heitorlessa commented on #1040
Great, this unblocks me, thank you!!

Primarily because of `decrypt` is either all or none, like you pointed out. Happy to test whether the latency is significant with `GetParameters` -- do you happen to have any `SecureString`?

[2022-11-02 17:14] heitorlessa commented on #1040
Quick list of Pros and Cons for using `GetParameters` for this feature:

* **Pros**: It uses a single API call decreasing the risk of hitting throttling. Slightly faster response time (0.15s vs 0.17s with 10 params)
* **Cons**: `decrypt` is either all or nothing. Max of 10 parameters (can easily slice it)

I'll give it a try on using both: `GetParameters` when `decrypt` option isn't set, and `GetP

[2022-11-02 17:32] dmwesterhoff commented on #1663
Sorry for late reply, just seeing this now -- I was unsure of if this was unintended side effect (bug) or a feature :). Thanks for the swift resolution, much appreciated.

[2022-11-02 18:50] 94Sip opened #1680 "Bug: Subsegment ssm discarded due to Lambda worker still initializing"
### Expected Behaviour

The expected behavior would be to not receive this warning message

### Current Behaviour

- Receiving an intermittent warning, stating "Subsegment ssm discarded due to Lambda worker still initializing", followed by another warning stating "No subsegment to end." These appear to be raised by the powertools Parameters utility.
- I am doing the parameter retrieval before the

[2022-11-02 19:07] heitorlessa commented on #1680
Hi @94Sip thanka for flagging this - IIRC this is an issue in X-Ray SDK which hasn't been resolved yet (I'll use this as a basis for a repro).

In the meantime, you can safely add the get_parameter inside the handler, because only the first call will be made to SSM.

We keep that in-memory and it'll only fetch another call if Lambda spins up another container (concurrency), which is also true for

[2022-11-02 19:08] 94Sip commented on #1680
A few more updates:

This lambda is being orchestrated by a Step Function that has x-ray tracing enabled. I have enabled x-ray on the lambda function AND added the appropriate policy, as described here: https://docs.aws.amazon.com/lambda/latest/dg/services-xray.html

Still receiving the intermittent warning.

[2022-11-02 19:19] 94Sip commented on #1680
Thank you for this quick reply - moving the call to the handler appears to have resolved this warning being thrown.

[2022-11-02 19:21] heitorlessa commented on #1680
Thank you, that helps to investigate it later.

From memory, this was an issue that the root segment wasn't available yet for the SDK to pick up at container initialisation (what technically is a cold start). Hence why it shouldn't happen after the handler is called.

What X-Ray SDK was trying was using a DummySegment that later would be converted to account for eventual consistency -- it's a tric

[2022-11-02 19:38] BastianZim commented on #1646
@heitorlessa It worked like a charm, thank you! :)

[2022-11-02 19:40] BastianZim opened #1681 "Bug: Import fails due to missing jmespath"
### Expected Behaviour

Import succeeds

### Current Behaviour

Import fails with

[code]

### Code snippet

[code]

### Possible Solution

Add jmespath as dependency

### Steps to Reproduce

Import aws_lambda_powertools

### AWS Lambda Powertools for Python version

latest

### AWS Lambda function runtime

3.9

### Packaging format used

PyPi

### Debugging logs

[code]

[2022-11-02 19:45] heitorlessa commented on #1681
That's expected in V2 because JMESPath is available in Lambda runtime.

I'm not familiar enough with conda from a lib authorship angle so my question might sound silly -- Is it trying to run the code at build time?

If so, is it possible to add it as a dev dependency?

like in our docs: "aws-lambda-powertools[aws-sdk]"

https://awslabs.github.io/aws-lambda-powertools-python/2.1.0/#local-developmen

[2022-11-02 19:46] heitorlessa commented on #1646
Awesome!!!

[2022-11-02 20:10] BastianZim commented on #1681
Ahh ok I didn't know that, thanks. Then I'll add it manually.

Yes, during the test phase it runs whatever test command I added, which, in this case, is only the import.

Definitely! I'm just debating if I should include a separate _aws-lambda-powertools-dev_ package or add it to the main one. Since the conda package will probably never be used on AWS, I think it is easier adding it to the main pa

[2022-11-02 20:23] heitorlessa commented on #1681
Ahhh! In that case, perhaps add all dependencies then with
aws-lambda-powertools[all]?

That would add AWS SDK, AWS X-Ray SDK, fastjsonschema, and Pydantic. If
your tests ever cover outside Logger, they’ll be covered too.

On Wed, 2 Nov 2022 at 21:11, Bastian Zimmermann ***@***.***>
wrote:

[2022-11-02 20:24] BastianZim commented on #1681
Yes makes sense, will do that then. Thanks for the help!

[2022-11-02 20:24] #1681 closed, assigned to nobody

[2022-11-03 17:20] heitorlessa commented on #1040
Phew, this was challenging due to the flexiblity. [Moved to use both](https://github.com/awslabs/aws-lambda-powertools-python/pull/1678/commits/56df26f5d65d91fcb27ee01311f09ccc1c0c180e) `GetParameters` and `GetParameter` transparently (when you use `decrypt`). UX is kept.

Tested with 10 params as before, and tried with 20 to confirm slicing too - all with 128M.

Depending how much time I'll have

[2022-11-07 11:28] heitorlessa commented on #1040
This is finally done - discovered more bugs as I had to refactor other parts to play nice.

This should be released by EOD and will auto-close when available in both PyPi and Lambda Layer/SAR.

https://github.com/awslabs/aws-lambda-powertools-python/pull/1678

[2022-11-07 16:36] #1675 closed, assigned to heitorlessa

[2022-11-07 17:15] #1040 closed

[2022-11-07 17:15] #1668 closed, assigned to heitorlessa

[2022-11-07 17:25] heitorlessa commented on #1675
hey @Dilski [this is now available](https://awslabs.github.io/aws-lambda-powertools-python/2.2.0/core/tracer/#getting-started) as part of 2.2.0 release - lemme know if that doesn't suffice.

[Lambda docs](https://docs.aws.amazon.com/lambda/latest/dg/python-tracing.html) have also been updated with the following - marked the specific in bold (X-Ray docs is WIP):

<img width="1358" alt="image" src="

[2022-11-07 17:26] heitorlessa commented on #1668
@tibbe this is now available as part of v2.2.0 release (Lambda Layer v13): https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.2.0

Let me know if that doesn't address your original ask.

[2022-11-07 17:27] heitorlessa commented on #1040
hey @hooverdc this is now available as part of v2.2.0 release (Lambda Layer v13): https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v2.2.0

Docs have been updated to show case both `get_parameters` and `get_parameters_by_name`, including the opt-in graceful error handling: https://awslabs.github.io/aws-lambda-powertools-python/2.2.0/utilities/parameters/#fetching-parameters

Let

[2022-11-07 17:55] bnsouza opened #1686 "Docs: Testing your code - API Gateway HTTP API"
### What were you searching in the docs?

I was looking for an example to test my new lambda function that I used API Gateway HTTP API and the exampled provided was not working.

The example in docs is this:

[code]

And this was the result:
[code]

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/2.1.0/core/event_handler/api_gateway

[2022-11-07 17:57] heitorlessa commented on #1686
🤦‍♂️ we forgot to update this section as we’ve moved to V2 - apologies for
the inconveniences.

Would you like to open a quick PR to fix it? I can merge and make any
amendments tomorrow.

Obrigado ;-)

On Mon, 7 Nov 2022 at 18:55, boring-cyborg[bot] ***@***.***>
wrote:

[2022-11-07 18:33] bnsouza commented on #1686
There’s no need to apologize! _Tá tudo certo!_

I will make the PR to fix it!

Thanks!!!

[2022-11-07 20:01] kPOWz opened #1687 "Parser (Pydantic) re-export Pydantic errors for data model validation"
### Use case

When writing validators and root validators it is useful to keep error formats consistent with the Pydantic `TypeError`s and `ValueError`s from the Pydantic errors module

Due to how Pydantic is packaged, these errors are not exported by https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/utilities/parser/pydantic.py#L5

https://awslabs.github.i

[2022-11-08 07:03] tibbe commented on #1668
@heitorlessa thanks! I've now integrated 2.2.0 in our backend and things seem to be working well so far!

[2022-11-08 08:40] rubenfonseca opened #1692 "RFC: S3 Streaming utility"
### Is this related to an existing feature request or issue?

_No response_

### Which AWS Lambda Powertools utility does this relate to?

New utility

### Summary

Implement a S3 Streaming utility so we can process S3 files that are bigger than memory, or temporary storage.

### Use case

As a user processing S3 files inside my Lambda, I would like to be able to consume big S3 files in a streamin

[2022-11-08 10:22] heitorlessa commented on #1686
thank you! I also read it too quickly on my phone yesterday - that section of docs is taking into account REST API flavour only hence the issue -- I misread and somehow linked to our headers breaking change in V2. I'll adjust your PR so it includes both REST, HTTP, and ALB accordingly to prevent confusion.

[2022-11-08 14:27] bnsouza commented on #1686
Ohhh... i get it! I remembered another issue i get to make the PR: the `pyproject.toml` is broken because of Poetry version and the new `group` parameter... so to make the PR I have to do here on Github, because I the pre-commit hooks are getting errors... If you need something, just let me know!

Abraço!

[2022-11-08 17:09] heitorlessa commented on #1686
I **think** we fixed that in the last release, but let me know otherwise. Poetry latest version made a breaking change - TIL about their versioning model. We need to migrate all `dev` deps into the new `group` thing.

As regards to your doc PR, I've just pushed changes and commented asking to double check. It'll look like this now.

<img width="1448" alt="image" src="https://user-images.githubuser

[2022-11-08 17:14] heitorlessa commented on #1686
don't say that twice ;) We're always looking for help, got some challenges stuff in the backlog

[2022-11-08 17:14] dreamorosi opened #1694 "Docs: Update `POWERTOOLS_DEV` default value"
### What were you searching in the docs?

Me and @ijemmy were checking the default value of the newly introduced `POWERTOOLS_DEV` environment variable in the docs.

In doing so we noticed that the current version of the docs says the value is `0` instead of `false`.

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/2.2.0/#environment

[2022-11-08 18:23] harwoodjp opened #1696 "Feature request: APIGatewayRestResolver decorator support for class methods (use case: constructor injection)"
### Use case

I'd like to decorate class methods with APIGatewayRestResolver's router.

Particularly, I want to use constructor injection in my app. [Support dependency injection in lambda parameters](https://github.com/awslabs/aws-lambda-powertools-python/issues/924) is good prerequisite reading.

Here is illustrative code. We have a GET that queries Dynamo with `animal_id` and returns a JSON res

[2022-11-08 19:36] heitorlessa commented on #1696
Hey @harwoodjp if you have the bandwidth, I'd welcome a PR for this.

The issue is that route method was implement as a closure not an actual decorator that could handle both functions and classes (it's different for classes, specially when preserving identity).

It's something I've been wanting to refactor but didn't get the bandwidth yet. Class support decorators is becoming a new ask so we shou

[2022-11-08 21:56] hooverdc commented on #1040
Thank you @heitorlessa!

[2022-11-09 08:03] heitorlessa commented on #1673
Thank you so much Pete!!

[2022-11-09 08:03] heitorlessa commented on #1644
Thank you so so much Ran!

[2022-11-09 09:03] heitorlessa commented on #991
**Update**: haven't forgotten this, but will likely to tackle only next year due to re:Invent and PTOs. We've recently added support for kwargs in all log statements that should make this problem slightly easier: https://awslabs.github.io/aws-lambda-powertools-python/2.2.0/core/logger/#ephemeral-metadata

[code]

[2022-11-09 09:07] heitorlessa commented on #1182
This week, we launched [`get_parameters_by_name`](https://awslabs.github.io/aws-lambda-powertools-python/2.2.0/utilities/parameters/#fetching-parameters) which returns a Dict where the key is the parameters name along with its value.

I should've asked for an example output earlier, but hopefully this might address the original ask IIRC. Please re-open if that's not what you meant along with an ex

[2022-11-09 09:09] #1182 closed

[2022-11-09 15:43] Dilski commented on #1675
@heitorlessa amazing, thank you!

[2022-11-09 17:12] heitorlessa commented on #1056
Done now.

[2022-11-09 17:12] #1056 closed

[2022-11-09 17:13] heitorlessa commented on #1686
Just rebuilt the latest docs - https://awslabs.github.io/aws-lambda-powertools-python/2.2.0/core/event_handler/api_gateway/#testing-your-code

Available now and thank you again for the contribution <3

<img width="1835" alt="image" src="https://user-images.githubusercontent.com/3340292/200896227-ed488665-3ece-489e-bb10-2ea695b10ef2.png">

[2022-11-09 17:13] #1686 closed, assigned to nobody

[2022-11-09 17:14] heitorlessa commented on #1694
Thanks a lot Andrea! Just rebuilt the latest docs with your PR ;)

[2022-11-09 17:14] #1694 closed, assigned to nobody

[2022-11-09 17:15] heitorlessa commented on #1562
Update: no update from the team on completion yet, since re:Invent is taking most of everyone's bandwidth. I'll keep you posted once that changes.

[2022-11-09 19:02] mikelane commented on #1562
Thanks for the update!

[2022-11-10 10:19] sprkem opened #1706 "Bug: APIGatewayRestResolver exception_handler decorator is not stackable"
### Expected Behaviour

I would expect to be able to decorate an exception handler multiple times to reuse handler code.

[code]

### Current Behaviour

The first decorator (immediately above the function header) is handled correctly, however subsequent decorators are assigned `None` in the map and are therefore not handled. In the example above, a `SchemaValidationError` would result in a 502 Int

[2022-11-10 10:19] sprkem commented on #1706
If happy I can raise a PR

[2022-11-10 10:39] heitorlessa commented on #1706
Hey @sprkem, let's extend the signature to accept one or more exceptions (Exception | List[Exception]) instead.

Stacking will impact performance with the increase of stack frames. We should support it to prevent errors, but the intention we need to address is to handle distinct yet related exceptions with a single exception handler.

Yes, please for the PR!! Ping if you need any help

Thank you!

[2022-11-10 12:13] sprkem commented on #1706
I have raised this now: https://github.com/awslabs/aws-lambda-powertools-python/pull/1707

[2022-11-10 13:18] heitorlessa commented on #1488
apologies for the delay @blewinter - Catching up on all messages and the original discussion too. @leandrodamascena is away until mid January so I'm taking over.

[2022-11-10 13:52] heitorlessa commented on #1488
alright, I'm caught up. It's missing a sample event in this discussion, so I'll create the infra, create tests, and ping here when a PR is available.

---

### Payload

[code]

### Infra

[code]

### Lambda

#### Dummy Log generator

[code]

#### Kinesis shard consumer

[code]

[2022-11-10 16:50] heitorlessa commented on #1488
@blewinter (and @leandrodamascena for when you're back) - I've tested both classes and a standalone function, and I settled for the latter to prevent data pollution and coupling where a class instance method returns a completely different entity.

Once I have your confirmation that this solves your use case, I'll create a PR and make sure it's included in the next release. Alternatively, I'll go a

[2022-11-11 02:49] BakasuraRCE opened #1708 "Feature request: Async BatchProcessor (use case: slow processing of each item)"
### Use case

I would like to process asynchronically the messages that reach a BatchProcessor, sometimes process messages from an SQS queue depends on HTTP calls or similar that can take some time, if all are done at the same time, it would not have an accumulated delay.

### Solution/User Experience

I have made a slight hack to allow this, extending the BatchProcessor class:

[code]

and the ma

[2022-11-11 07:01] heitorlessa commented on #1708
This is awesome @BakasuraRCE I was secretly waiting for a customer to ask for async.

Would you be up to contribute as a PR? I can help with docs and improve UX.

~~I wonder if there are any other operations that might block the event loop if we were to have the async part in the same BatchProcessor (iscoroutine...)~~

**UPDATE**: I take it back - this will cause troubles on strict-typing later +

[2022-11-11 16:03] heitorlessa commented on #1636
another useful trick for this feature: Flush buffered debug logs on uncaught exceptions too.

I think I might have bandwidth to have a go at this in 10 days or so.

[2022-11-11 18:22] BakasuraRCE commented on #1708
Great!

I also think that it is best to separate Sync from Async to be clear, however, the logic of idempotence in the BatchProcessor can be reused.

I also thought something more beautiful to use an asynchronous handler, allow me to show you a sketch of the code, tell me what you think:

---
Async main handler decorator:
[code]

aws_lambda_powertools/utilities/batch/base.py

[code]

lambda_functi

[2022-11-14 08:33] #1706 closed, assigned to nobody

[2022-11-14 08:49] heitorlessa commented on #1708
That's quite interesting!!!! Back then, I had issues with async lambda handler as I noticed most customers had issues with remembering the order of decorators -- some tests could help it as I don't yet have advanced knowledge on asyncio.

At a first glance, the only challenge I see here is the use of Mixins - [multiple inheritance doesn't work nicely with compilation](https://mypyc.readthedocs.io/

[2022-11-14 08:55] heitorlessa commented on #1554
Finishing leftover tasks today and blocked tomorrow morning to start catch up on the history @leandrodamascena and you discussed, and do a proper review/contribute this week

[2022-11-14 13:01] heitorlessa commented on #1488
Implementation, tests, and documentation ready: https://github.com/awslabs/aws-lambda-powertools-python/pull/1710

I'll merge this on Wed to ensure it's available in the next release in case I don't hear back from OP

[2022-11-14 13:28] heitorlessa opened #1711 "Maintenance: Implement PEP 612 (ParamSpec) for Logger"
### Summary

With `typing_extension` being now a runtime dependency, we can more accurately type decorators to allow signature change.

Quick blog on UX: https://sobolevn.me/2021/12/paramspec-guide

### Why is this needed?

Customers using Pydantic or Event Source Data Class decorators to override Event type fail Mypy when using with `logger.inject_lambda_context` decorator, since it expects a `Di

[2022-11-14 15:22] #1711 closed, assigned to nobody

[2022-11-14 15:25] heitorlessa opened #1712 "Maintenance: Discrepancy between ApiGatewayResolver and Router for route decorator"
### Summary

`Router` doesn't return decorated function compared to `ApiGatewayResolver`.

### Why is this needed?

This means it doesn't allow stacking decorators whether that for multiple route registration for the same function or additional powertools features.

### Which area does this relate to?

Event Handler - REST API

### Solution

_No response_

### Acknowledgment

- [X] This request me

[2022-11-14 16:16] #1712 closed, assigned to nobody

[2022-11-14 16:24] heitorlessa commented on #1667
@pcolazurdo you have tons of experience with Config - are there any known gotchas with [events from Config](https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_develop-rules_example-events.html)? e.g., structure changes slightly when X is configured

@ctacka thank you for the feature request! Besides the data class, are there any repetitive task that we could make it easier as

[2022-11-14 16:26] heitorlessa commented on #1656
@robert-malai  thank you for the feature request! Besides the data class, are there any repetitive task that we could make it easier as part of this new data class?

Added the correct labels to watch for +1 to help us prioritize. We'd welcome a PR to fast track this too!

Thanks a lot!

[2022-11-14 19:36] mangyau opened #1713 "Bug: Cannot fetch binary secrets"
### Expected Behaviour

`parameters.get_secret` should fetch the secret and return it as a base64 decoded string.

### Current Behaviour

Throws `GetParameterError`. It seems it is trying to get the "SecretString" key instead of "SecretBinary" when passing `transform="binary"`

[code]

### Code snippet

[code]

Try to fetch the secret in Python

[code]

### Possible Solution

_No response_

### St

[2022-11-14 19:50] heitorlessa commented on #1713
Thank you so much for flagging this @mangoes-git - our fault here for only accounting for String secrets, not Binary, as the response is different.

What "transform='binary'" does is taking the value and decoding from base64 to bytes.

If you'd like to contribute a bugfix, I can review and make any necessary amendments tomorrow morning (Amsterdam time).

Otherwise I can read the docs tomorrow and

[2022-11-14 22:34] dispyfree opened #1718 "[Thread-safety] Concurrent instantiation of Boto3 clients"
### Expected Behaviour

The decorator `idempotent_function` should be thread-safe. In particular, consumers of the library should not have to worry about threading issues in the underlying library.

In particular, the code snippet provided below should run without errors.

### Current Behaviour

AWS Powertools instantiates boto3 client objects concurrently. While boto3 client objects are thread-sa

[2022-11-15 07:13] walmsles commented on #1169
This is needed and very useful.  Almost need a separate project that harvests Lambda events from real AWS infrastructure and uses these "events" to generate data classes - this sounds so simple as I type it 😬.

Also need to split out much of the test components within the main repo - it is reusable.  Would save people from taking parts and adapting them to their needs (like I have done [here](http

[2022-11-15 08:31] #1713 closed, assigned to nobody

[2022-11-15 11:01] davideicardi commented on #1636
I agree on this feature, it can be very useful.

Just a question:
Assuming to use `log_uncaught_exceptions=True`, every kind of exceptions will be logged, also for example the one derived from `ServiceError` (`NotFoundError`, ...)?
I mean what is the meaning of "uncaught"? Uncaught by user code or uncaught by powertools, because I suspect that powertools already catch `ServiceError` in some way. R

[2022-11-15 15:24] heitorlessa commented on #1636
Great to hear @davideicardi !

As to your question, this is a hook for any exception that was either raised intentionally OR unforeseen. For the `ServiceError` case, Powertools will catch it and convert into a successful exit ({"statusCode": 500, ...}).

For the flexibility, we could still have a method where you provide your own function to handle any uncaught exception, like `set_exception_hook`

[2022-11-15 16:30] heitorlessa commented on #1718
hey @dispyfree thanks a lot for flagging this, agree, our oversight (not sure why we did this way) -- if you have the bandwidth, I'd appreciate a PR on this while I deal with unrelated issues, so I can make it part of this week's release on time (fine to make a patch release next week too if we can't).

[2022-11-15 18:05] pcolazurdo commented on #1667
As mentioned by @ctacka there are tree types of Config Rules events: Evaluations Triggered by Configuration Changes, Evaluations Triggered by Oversized Configuration Changes and Evaluations Triggered by Periodic Frequency. The three events have a lot of common fields, and they are around 10 (as of today) in total.

Two of these fields encode most of the important information about the rule evaluat

[2022-11-15 22:13] blewinter commented on #1488
Hey, this looks great, thank you! Looking forward to using it!

[2022-11-16 06:23] heitorlessa commented on #1718
Just remembered why that was done - lazy initialisation to ease testing. If it was an existing session it could've even thread-safe.

[2022-11-16 07:58] #1488 closed, assigned to heitorlessa

[2022-11-16 10:07] heitorlessa opened #1725 "Feature request: Extract CloudWatch Logs from Kinesis in Parser"
### Use case

As defined in https://github.com/awslabs/aws-lambda-powertools-python/issues/1488

### Solution/User Experience

Same as https://github.com/awslabs/aws-lambda-powertools-python/issues/1488, but returning Parser's equivalent to CloudWatch Logs Model (`CloudWatchLogsDecode`).

### Alternative solutions

_No response_

### Acknowledgment

- [X] This feature request meets [Lambda Powerto

[2022-11-16 10:26] #1725 closed, assigned to nobody

[2022-11-16 11:02] heitorlessa commented on #1636
hmmm turns out it's "impossible" to test this thing. Using it locally works just fine, so I'll ignore test coverage for now, schedule it for this week's release.

I would love to hear from you @lorengordon or @davideicardi  if you have ideas on how to test this properly, as I ran out of immediate options.

**Working example**

[code]

**Results**

[code]

---

Testing attempts only to confirm exce

[2022-11-16 13:12] #1636 closed, assigned to heitorlessa

[2022-11-16 13:28] heitorlessa commented on #1636
This should be available by EOW. I spent some time explaining what `uncaught exception` is to make sure everyone is on the same page - staged docs: https://awslabs.github.io/aws-lambda-powertools-python/develop/core/logger/#uncaught-exceptions

[2022-11-16 13:44] heitorlessa commented on #1680
Did some investigation here and [X-Ray team reverted their decision to fail](https://github.com/aws/aws-xray-sdk-python/issues/129) fast IF a trace is still not available to attach an application subsegment yet. Instead, it [logs the warning you see in your code](https://github.com/aws/aws-xray-sdk-python/blob/7ec8c59e2d61d13cb223f50f6a4973c51f8c5da5/aws_xray_sdk/core/lambda_launcher.py#L75) to pr

[2022-11-16 13:44] #1680 closed, assigned to nobody

[2022-11-16 14:02] heitorlessa commented on #1687
Hey @kPOWz, would this work?

<img width="1132" alt="image" src="https://user-images.githubusercontent.com/3340292/202200785-bde7d9bc-4a9a-4eb8-9250-110196def765.png">

Looking at Pydantic exported symbols, there doesn't seem to be any clash so I can export them directly too.

https://github.com/awslabs/aws-lambda-powertools-python/pull/1728/files#diff-802361d017af63e8fc18b5df568bbdfc17800ab8b90ef

[2022-11-16 14:45] lorengordon commented on #1636
I imagine you could use `subprocess` with `pytest` to run a small script that sets up the logger and raises an exception, capture the output, assert that the output contains the expected error?

[2022-11-17 08:55] heitorlessa commented on #1687
[Just read Pydantic V2 plan](https://pydantic-docs.helpmanual.io/blog/pydantic-v2/#removed-features-limitations) and the only breaking change it seems to apply here is `parse_raw` that we use in Parser. I couldn't find a specific mention on errors packaging.

I'll go ahead and merge the errors exposing, since `parser.pydantic.errors` wouldn't work as it's not a package and doesn't seem to need to

[2022-11-17 08:56] #1687 closed, assigned to nobody

[2022-11-17 09:30] heitorlessa commented on #1708
Thank you so much for the PR @BakasuraRCE <3. I've changed the status to `Next iteration` to make sure we prioritize after this week's release - we'll only prioritize Feature Flags, this feature, and an upcoming S3 Streaming one.

 I'll make some suggestions and contribute code as soon as I'm able!

[2022-11-17 11:25] heitorlessa commented on #1718
Had a quick look into this and it needs a deeper investigation - Boto3 client is thread-safe, when using a Session, **however** we use the higher level client called `Resource` [which is not thread-safe, requiring one per thread](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/resources.html?highlight=multithreading#multithreading-or-multiprocessing-with-resources).

For now:

* **Si

[2022-11-18 06:18] ran-isenberg commented on #1667
+1 for Parser support too. Once there's a dataclass example, the parser can be implemented easily

[2022-11-18 09:13] #1443 closed, assigned to nobody

[2022-11-21 09:57] baraksalomon opened #1736 "Bug: equal sign in path breaks lambda dynamic URL paths"
### Expected Behaviour

When having an path like: /token/bXl0b2tlbg==
And a decorator like:
@app_rest.post("/token/<token>")
def post_token(token: str):
..

The resolve should find this function and token parameter should be populated with "bXl0b2tlbg=="

### Current Behaviour

When having an path like: /token/bXl0b2tlbg==
And a decorator like:
@app_rest.post("/token/<token>")
def post_token(token

[2022-11-21 10:11] heitorlessa commented on #1736
@baraksalomon thank you for flagging it - I've just tested an exact route and works (API GW decodes the `=`) but fails as a dynamic argument.

Creating a test and a fix shortly.

Thanks!

[2022-11-21 10:29] heitorlessa commented on #1736
Done - triple tested with an endpoint deployed with the fix just in case. Waiting CI to complete and will kick off a patch release to unblock you and prevent others from failures.

**Endpoint - GET**: https://p7bquief72.execute-api.eu-west-1.amazonaws.com/Prod/token/bXl0b2tlbg==

**Snippet**

[code]

[2022-11-21 10:45] baraksalomon commented on #1736
Wow, that was super fast.
Thanks you!

[2022-11-21 10:45] heitorlessa commented on #1736
Fix available as 2.3.1 in PyPi - Compiling Lambda Layer and deploying the next version (15) across all regions.

[2022-11-21 11:04] #1736 closed, assigned to heitorlessa

[2022-11-21 11:06] heitorlessa commented on #1736
All complete now (PyPi+Layers+Docs) - let us know if this somehow doesn't fix it for you @baraksalomon.

Thank you for the great bug report one more time ;)

[2022-11-23 08:07] heitorlessa commented on #1708
Made comments in the PR. With your permission @BakasuraRCE, I can help expedite by pushing changes to your fork

[2022-11-23 13:57] kmkhr opened #1745 "Docs: Correction of code sample using idempotent_function in combination with Batch utility"
### What were you searching in the docs?

I was looking into ways to combine Idempotency utility and Batch utility.

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/2.3.1/utilities/idempotency/#idempotent_function-decorator

### How can we improve?

The code sample using `batch_processor` decorator has the following calling order, w

[2022-11-23 23:26] BakasuraRCE commented on #1708
Please check my comment in the PR @heitorlessa :)

[2022-11-24 09:21] #1692 closed, assigned to rubenfonseca

[2022-11-24 10:20] heitorlessa commented on #1745
hey @kt-hr great catch on `register_lambda_context` order - fixing that now.

As to your question on context manager, there is no need here **unless** you want to inspect the response or handle when the entire batch fails differently - [see here](https://awslabs.github.io/aws-lambda-powertools-python/2.3.1/utilities/batch/#choosing-between-decorator-and-context-manager).

[2022-11-24 11:09] #1745 closed, assigned to heitorlessa

[2022-11-24 13:51] tonnico opened #1748 "Bug: missing tag for 2.4.0"
### Expected Behaviour

tag 2.4.0 exists

### Current Behaviour

pypi.org has 2.4.0 but latest tag is 2.3.1

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

look into current tags in the repository

### AWS Lambda Powertools for Python version

2.4.0

### AWS Lambda function runtime

3.9

### Packaging format used

PyPi

### Debugging logs

_No response_

[2022-11-24 13:56] heitorlessa commented on #1748
We're affected by a GitHub Pages disruption @Wurstnase - we will publish the release notes along with the tag as soon as that's [resolved](https://github.com/actions/deploy-pages/issues/81).

[2022-11-24 15:42] kmkhr commented on #1745
hi @heitorlessa thanks for the quick correction.

I understood the difference between context manager and decorator in the batch utility. However, `@idempotent_function` is processed before `register_lambda_context` in decorator, which conflicts with the following sentence in the documentation.

Furthermore, when the code sample is run, lambda outputs the following warnings on every cold start.
[c

[2022-11-24 22:58] rubenfonseca commented on #1748
We were finally able to publish the documentation and craft a new release. Thank you for your patience!

[2022-11-24 22:58] #1748 closed, assigned to nobody

[2022-11-28 13:07] rubenfonseca commented on #1173
Question: how does this stand now that CloudWatch gained native data masking functionality? https://aws.amazon.com/blogs/aws/protect-sensitive-data-with-amazon-cloudwatch-logs/