[2021-02-03 08:03] nadobando opened #280 "feat: only install typing-extensions dependency when necessary"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Parser
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes

## Summary
[summary]: #summary

typing-extensions module is a backport for typing hint for old versions of python <= 3.5
in this project many times typing-extensions is imported to use the Literal type hint which is alre

[2021-02-03 16:15] cakepietoast commented on #280
Thanks @nadobando! I'll have a look at the PR shortly.

[2021-02-04 09:17] heitorlessa commented on #280
Now available in 1.10.2! Thank you very much for this

[2021-02-04 09:17] #280 closed

[2021-02-04 09:18] heitorlessa commented on #275
Now available in 1.10.2!! Thanks for reporting and reproducing it @pcolazurdo !! and for @cakepietoast for the fix (As always)

[2021-02-04 09:18] #275 closed

[2021-02-04 09:30] heitorlessa opened #283 "Tracer: "failed to send data to X-Ray daemon""
**What were you trying to accomplish?** Traces not appearing when processing multiple records

This is documented here: https://github.com/aws/aws-xray-sdk-python/issues/201

## Expected Behavior

Use `sqs batch utility` with 10 records and Tracer at the same time without losing traces.

## Current Behavior

@pcolazurdo discovered an issue when using Batch processing utility when you have multiple

[2021-02-04 13:59] nmoutschen commented on #283
Could confirm the issue with a minimal reproduction where the record handler would send back ~100K of data. Changing the `streaming_threshold` to 0 for the xray_recorder solved the issue.

There is a small performance penalty (96ms vs 93ms @ p90, 62ms vs 58ms @ p50) to implement this change. In itself, this is not a big impact, but we need to balance this out with the probability that someone will

[2021-02-06 17:55] zroger opened #285 "Wrong type signature on parser envelopes"
The `model` argument of `BaseEnvelope` and all its subclasses should be of type `Type[Model]`, not just `Model`.
The same issue affects `parse`.

## Expected Behavior

Parsing an event dict using one of the envelope classes expects a `BaseModel` class as a parameter and returns an instance of that class. The type signature should match.

## Current Behavior

mypy complains with the error
[code]

#

[2021-02-09 09:00] heitorlessa commented on #285
@nmoutschen Could you please check this before you release a patch version for Tracer? This seems like a super quick fix to help MyPy customers.

[2021-02-12 14:27] heitorlessa commented on #285
This is now available in 1.10.3 - Closing it. Thank you for reporting another one @zroger, and for the fix @nmoutschen

[2021-02-12 14:27] #285 closed

[2021-02-12 14:27] heitorlessa commented on #283
This is now available in 1.10.3 - Big thanks for reporting it @pcolazurdo and @nmoutschen for fixing it ;)

[2021-02-12 14:27] #283 closed

[2021-02-16 14:57] FredrikMeyer opened #290 "Cannot use the extras lambda layer"
I'm trying to use the extras layer, but I get a error message:
[code]

## Expected Behavior

Be able to import the `parser` module without also installing `pydantic`.

## Current Behavior

Pydantic is not included in the layer.

## Steps to Reproduce (for bugs)
My SAM template:
[code]

## Environment

Deployed via
[code]

I've downloaded the layer to my machine and I double-checked that `pydantic`

[2021-02-16 20:14] cakepietoast commented on #290
Thanks for the report @FredrikMeyer. I can confirm the published layer doesn't contain the correct dependencies. I've fixed an issue in our pipeline that I think was causing this, so future releases of powertools should get all the correct dependencies packaged with the layer. Looking into how/if we can fix this for already deployed layer versions.

[2021-02-17 09:10] cakepietoast commented on #290
I've made a new release (1.10.4) to trigger the fixed pipeline to publish a new layer version. The published versions are immutable so we can't replace those. Should work fine after updating `SemanticVersion` to `1.10.4`.

[2021-02-17 09:10] #290 closed

[2021-02-17 09:26] FredrikMeyer commented on #290
Thank you for the quick answer and solution! I've just confirmed that the new release works.

[2021-02-18 18:09] charlax opened #293 "Streamline integration of SQS Batch Processing with Sentry"
**Is your feature request related to a problem? Please describe.**

The current behavior reraises exception as `SQSBatchProcessingError`, which hides the original exception and prevents it from showing up correctly in Sentry:

[code]

**Describe the solution you'd like**

The best solution would be to be compatible by default with Sentry if it's there (I presume this is one of the most used except

[2021-02-19 00:05] lorengordon opened #294 "Exception on import when AWS_PROFILE is invalid/null"
## Expected Behavior

`import aws_lambda_powertools` should still succeed even if the ENV contains `AWS_PROFILE` with a bad value.

## Current Behavior

It appears that during import, under at least some conditions, aws_lambda_powertools will attempt to setup an aws client session? I'm not sure I understand why. So if the ENV contains an invalid AWS config, in particular `AWS_PROFILE=` or `AWS_PRO

[2021-02-19 09:44] charlax commented on #293
I was actually pretty simple, although it would still be nice to have a no-code integration:

[code]

[2021-02-19 16:26] cakepietoast commented on #218
Merged PR #245. Will release in v1.11.0 next week!

[2021-02-19 16:44] cakepietoast commented on #293
Hi @charlax, thanks for raising an issue! This exception is a bit tricky for 2 reasons:

1. We have to execute `_process_record` multiple times, and multiple exceptions can be raised during a single execution. There's no good way (I'm aware of) to raise from multiple exceptions, so we wrap everything into the `SQSBatchProcessingError`. The "root" exceptions should be logged though since we fixed #

[2021-02-19 17:21] charlax commented on #293
Yes, this was actually very simple with the `failure_handler`, adding this example to the doc would be enough I think! Thanks for your answer!

[2021-02-26 09:13] michaelbrewer commented on #294
@lorengordon this has to do with importing the xray core, which is then picking up the `AWS_PROFILE` being set.

I would either unset `AWS_PROFILE` and have dummy values for the rest

[code]

Or unset it before importing powertools in the tests

[code]

[2021-02-26 14:31] lorengordon commented on #294
@michaelbrewer Of course, that's my workaround. When I first attempted to reproduce, I imported the xray core directly and it worked fine, so I thought it was something in this library. But I must have messed up the env, because now I am reproducing easily on that import. I'll open an issue on the xray sdk. Thanks!

[code]

[2021-02-26 14:35] lorengordon commented on #294
I suppose it could be a feature request here, in the sense that I don't need or want xray right now. I am only using the logger. So it might be nice to gate the import to an explicit call to a powertools class/method...

[2021-02-26 19:09] michaelbrewer commented on #294
@heitorlessa  is looking at lazy loading libraries

[2021-02-26 20:21] heitorlessa commented on #294
100% and thanks @michaelbrewer for helping out.

I'm not sure how I missed this issue in my notifications so apologies @lorengordon for not replying earlier.

I've done some research on backwards compatible solutions that work for 3.6+ (what we support), and am scheduling next Friday to experiment and will keep you posted.

Thanks for reporting it!

[2021-02-26 20:42] lorengordon commented on #294
@heitorlessa All good, the workarounds are viable for now. 3.6+ works for us. Feel free to close this if you have another tracking issue for lazy loading libraries... I opened [another issue on the xray sdk](https://github.com/aws/aws-xray-sdk-python/issues/273) to better understand why it _needs_ to setup the session as a global, and impact imports like this...

[2021-02-26 21:11] heitorlessa commented on #294
Awesome - I'll subscribe to that.

I'll keep this open, and I'll try this method first as it seems clever enough to also prevent PyCharm/VSCode debugger to crash due to increased ref counting in getattr

https://wil.yegelwel.com/lazily-importing-python-modules/

[2021-02-26 21:29] lorengordon commented on #294
Nice, and it's very simple! I've got use cases for that in my own projects! 😂

[2021-02-27 15:34] michaelbrewer commented on #294
As a pure hack, i have disabled the one i don't need during my unit testing

[code]

[2021-03-03 09:25] heitorlessa commented on #294
hey @lorengordon - This will now be available in the next release. If you're not using Tracer, you should see a ~400ms+ perf improvement in cold start depending on your memory setting.

Here's the aftermath using 128M memory.

## Before

![image](https://user-images.githubusercontent.com/3340292/109783759-a124e900-7c0a-11eb-9958-344fe38b3e80.png)

## After

![image](https://user-images.githubuserc

[2021-03-03 10:37] tgip-work opened #303 "Writing EMF metrics significantly increases lambda execution time"
I am using the metrics functionality of the Lambda Powertools for generating custom Cloudwatch metrics (via writing EMF records into Cloudwatch logs).
The overall execution time of our Lambda functions has significantly increased since we are using the Powertools.
With "significantly" I mean approx. 50 to 100ms per metric on a 128 MB lambda function.

## Expected Behavior
Adding metrics should onl

[2021-03-03 12:10] heitorlessa commented on #303
Hey @tgip-work - thanks for the detailed issue.

Question: Do you see the behaviour consistently in non-cold start executions?

Last I remember checking fastjsonschema the cold start validation and serialisation was roughly 25ms, and single digit thereafter (mostly JSON Serialisation).

If that however is happening even after cold start then it's a problem I'd like to prioritise to our next releas

[2021-03-03 12:14] tgip-work commented on #303
Hi @heitorlessa ,

thanks for your quick reply.
This also happens on non-coldstart executions. It does not seem to matter if cold or warm.

[2021-03-03 12:26] heitorlessa commented on #303
Understood, thank you! While I don't think we can get to <1 ms because of how [JSON works in python](https://github.com/python/cpython/blob/b04f1cb9df7ad93366ef0ef7d8088effc576c5ae/Lib/json/__init__.py#L120), uJSON could but that would be another dep.... we can surely decrease this time with a few perf improvements.

I'll post an update this week on how far I get. Meantime, I've also finished this

[2021-03-03 14:18] lorengordon commented on #294
Wow, that's fantastic, thanks @heitorlessa!

[2021-03-03 15:43] michaelbrewer commented on #294
@heitorlessa  @lorengordon  and this also works without any errors ;)

[code]

[2021-03-03 15:52] heitorlessa commented on #303
Initial perf test on my local machine (8 core, 32G RAM):

* **JSON Schema validation** (as-is): 25ms
* **No validation**: 100 microseconds
* **Native python validation**: TBW

Fair to say we might be able reach <1ms indeed @tgip-work !! I'll experiment with native Python validation and keep you posted

---

[code]

[2021-03-03 16:44] tgip-work commented on #303
Hi @heitorlessa : Wow, great work. This looks very promising!  Happily looking forward for the next release :-)

[2021-03-04 14:02] heitorlessa commented on #303
Turns out my test was wrong - I've converted from JSON Schema validation (**~25ms**) to Native Python (**500-700usec**), however, what was missing in the test was JSON Serialization.

Adding JSON Serialization and printing the metrics makes us fail the goal of <1ms as we go from microseconds to ~7ms in total.

IF we add **ujson** we easily reach <1ms, including other utilities that need JSON seria

[2021-03-04 14:18] tgip-work commented on #303
Hi @heitorlessa,
have you tried serializing into compacted JSON: `json.dumps(data, separators=(',', ':'))`
This reduces the length of the generated string and should improve performance a little bit.

I am absolutely fine with reduced execution time if it is also possible to turn of validation as you already implemented as an option in [your changes)[https://github.com/awslabs/aws-lambda-powertool

[2021-03-04 14:18] heitorlessa commented on #303
Actually no, lemme try that ;) thanks @tgip-work

[2021-03-04 14:25] heitorlessa commented on #303
Yep not much, it reduces the len but the hog really is in the str conversion. I'm gonna stop chasing stars, commit what I've got, run in a function with low compute to see how much it actually brings besides perf tests, and swap with `ujson` to measure it loosely, since cProfile will lie here.

[2021-03-04 14:43] heitorlessa commented on #303
hahaha this is getting micro of microoptimization... removing static method calls and dictionary lookup before validation I can get down to 0.9usec-1.08ms now.

I'll seriously stop, and commit this and try on the lowest function memory now :)

[2021-03-04 15:42] heitorlessa commented on #303
Alright, here are the results with the lowest memory using the same 99 metrics -- @tgip-work @nmoutschen @michaelbrewer

I'm pretty happy with it, and will not proceed with **ujson** as the underlying machine Lambda uses doesn't seem to make much use tbh - it could be different in other scenarios perhaps. I'll adjust the test SLA to take into account GitHub CI slower machines but I'd consider it s

[2021-03-04 16:31] heitorlessa commented on #303
Merged :) It'll be available in the next release. Once #306 PR gets merged, we'll start drafting the next release ;)

Thanks a lot for raising this with us @tgip-work and for the tip on json separator, much appreciated!

[2021-03-04 17:31] heitorlessa commented on #293
Hey @charlax Added an example - Could you tell us whether this suffice?

![image](https://user-images.githubusercontent.com/3340292/110004479-c6534d80-7d17-11eb-9d2c-758603fbbb23.png)

We're also refreshing the navigation it should be easier to find it - Full PR: https://github.com/awslabs/aws-lambda-powertools-python/pull/308

[2021-03-04 18:01] charlax commented on #293
Yes, this is great! Thanks a lot!

[2021-03-04 18:24] #258 closed

[2021-03-05 17:17] heitorlessa commented on #218
This is now available in 1.11.0 - Literally just launched ;) 🎉

[2021-03-05 17:17] #218 closed

[2021-03-05 17:17] heitorlessa commented on #303
This is now available in 1.11.0 - Literally just launched ;) 🎉

[2021-03-05 17:17] #303 closed

[2021-03-05 17:18] heitorlessa commented on #294
This is now available in 1.11.0 - Literally just launched ;) 🎉

[2021-03-05 17:18] #294 closed

[2021-03-05 17:18] heitorlessa commented on #293
This is now available in 1.11.0 - Literally just launched ;) 🎉

[2021-03-05 17:18] #293 closed

[2021-03-07 08:22] michaelbrewer commented on #193
I think making it easier for people to getting setup for testing with provided mocks or recommendations on what tools to use for mocking or testing AWS services. (I am a fan of using moto for simplicity)

[2021-03-08 07:12] Dunedan opened #318 "Idempotency: Single DynamoDB table for multiple AWS Lambda functions"
First of all, thanks for another great release. :+1:

I got a feature request for the new idempotency feature: As I understand the documentation, the `key_attr` of the DynamoDB table consists solely of the hashed idempotency key, which is based on the payload. That makes it hard to use a single DynamoDB table for multiple different AWS Lambda functions which expect the same payloads. I guess it'd

[2021-03-08 08:03] heitorlessa commented on #318
Hey @Dunedan - Thanks for raising this feature request, and it's also awesome to hear about the new release.

Could you share an example where different Lambda functions would handle the same payload and idempotence key?

I can see that when you're using an orchestration layer like Step Functions, where the same state could be sent to multiple functions. For example, a booking process where the id

[2021-03-08 08:06] Nr18 commented on #193
@michaelbrewer I always avoided moto to be honest but that was because I tent to use it in unit tests and that slows them down, unit tests should be fast. That being said that does not mean that moto should not be part of the "test framework" that we are discussing here, moto could help a lot with integration tests.

I think proper documentation and good examples would prevent people from using mo

[2021-03-08 08:13] heitorlessa commented on #221
Hey - Sharing an update here that we haven't been able to work on this yet but we will after idempotency utility is GA.

[2021-03-08 08:42] michaelbrewer commented on #193
@Nr18 different things for different people and development styles.

What has worked for me was to initially use moto (over much slower tools like sam local), to build out my lambda and run initial behavioral tests until the basics was done. Then I don't have to know too much about how the the internals of boto3 works. For AWS Powertools specifically, if would be nice to include a test utilities p

[2021-03-08 09:23] huonw commented on #221
Great, thanks for the update!

Coincidentally, I came across this today with `@tracer.capture_method`. If you're looking for priorities, the decorators might be the highest value, because if they're not typed (correctly) then every call of the decorated function will also be untyped.

Unfortunately, typing decorators seems to be quite awkward, and we've introduced a stub to our project along the l

[2021-03-08 10:33] Dunedan commented on #318
The example I had in mind have been multiple AWS Lambda functions triggered by the same SNS topic. However I now believe the payload would be slightly different in this case for each AWS Lambda function, as at least the `EventSubscriptionArn` key should have a different value per invoked AWS Lambda function.

Yes, that'd be a similar situation to the one I had in mind with SNS.

I believe in pract

[2021-03-08 10:53] heitorlessa commented on #221
hmmm it sounds like there's a lot I have to learn from MyPy to get this right -- Would you be up to contribute the types you need the most?

It'd be a great help to us both in terms of learning and for everyone who depends on it -- That way we can include in the next release instead of waiting until we free out time to do the whole thing properly.

Happy to help with any contribution questions you

[2021-03-09 14:54] heitorlessa commented on #318
Perfect, that makes sense - We'll ping you back here once we have an initial implementation to review :)

[2021-03-09 16:05] michaelbrewer commented on #9
Yes, this would be super useful. I will see if i have the headspace for this :)

[2021-03-09 23:18] michaelbrewer commented on #9
I created a demo PR here:
* https://github.com/awslabs/aws-lambda-powertools-python/pull/321

[2021-03-10 03:45] michaelbrewer opened #322 "RFC: Unified Powertools Decorator"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: (i.e. Tracer, Metrics, Logger, etc.)
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): (Yes/no)

## Summary
[summary]: #summary

![carbon-10](https://user-images.githubusercontent.com/5442469/110573289-db611f80-810f-11eb-954c-2ff87ec79f65.png)

## Motivation
[motivation]: #motivati

[2021-03-10 07:54] michaelbrewer commented on #9
FYI @marcioemiranda @patrickwerz @keithrozario  the PR was merged for the first part of this.

[2021-03-10 19:50] mwarkentin commented on #322
Can you clarify what the issue would be? Is it a decorator ordering issue? Or something else?

[2021-03-10 20:04] michaelbrewer commented on #322
@mwarkentin  well for example the `@idenpotent` decorator should always be the inner most one.

The another issue it just that if we want to add more features like for logging or automatic event conversion to the data class, you would need more and more decorators.

[2021-03-10 23:50] michaelbrewer opened #324 "RFC: AppSync Resolver Event Utils [DRAFT]"
## Key information

* RFC PR: https://github.com/awslabs/aws-lambda-powertools-python/pull/323
* Related issue(s), if known:
* Area: Utilities
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets):  Yes

## Summary
[summary]: #summary

## Motivation
[motivation]: #motivation

Make it easier to map multiple AppSync resolvers to a single lambda. Also to have a collection of

[2021-03-10 23:51] michaelbrewer opened #325 "RFC: API Gateway Proxy Event utils"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Utilities
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets):  Yes

## Summary
[summary]: #summary

Add the ability to help map multiple API Gateway Proxy events to a single lambda much like how Chalice or Lambda Proxy does it, but in a very simple and light weight way and still be c

[2021-03-11 06:55] michaelbrewer commented on #318
@heitorlessa  @Dunedan  I drafted a PR for this.

[2021-03-12 17:15] heitorlessa commented on #324
Hey @michaelbrewer - Could you let us know when the RFC body is ready to review? It's missing a few sections like summary, drawbacks, rationale, and any open questions you might have (if any), etc.

[2021-03-12 17:16] heitorlessa commented on #325
Hey @michaelbrewer - Could you let us know when the RFC body is ready to review? It's missing a few sections like  drawbacks, rationale, a more complete proposal besides the link, and any open questions you might have (if any), etc.

[2021-03-12 17:17] heitorlessa commented on #322
Hey @michaelbrewer - Could you let us know when the RFC body is ready to review? Summary almost looks like proposal, and it's missing a few key drawbacks, rationale, and any open questions you might have (if any), etc.

[2021-03-12 17:18] michaelbrewer commented on #193
@heitorlessa  we should bump this up

[2021-03-12 17:18] heitorlessa commented on #322
You can add that in the RFC body so we don't lose it ;)

[2021-03-12 17:30] heitorlessa commented on #318
it's now merged @Dunedan - Set a release date for 1.12 with this and other minor enhancements like correlation_id to be launched next Wed

[2021-03-12 17:32] Dunedan commented on #318
Awesome. Thanks a lot. :+1:

[2021-03-12 17:44] michaelbrewer commented on #318
thanks for bringing it up, it was a good catch

[2021-03-12 17:46] #9 closed

[2021-03-12 17:47] #216 closed

[2021-03-12 17:47] #221 closed

[2021-03-12 17:52] #263 closed

[2021-03-12 17:52] #251 closed

[2021-03-12 17:53] #240 closed

[2021-03-12 17:54] #239 closed

[2021-03-12 17:56] latacora-tomekr opened #334 "Tracer reports caught exceptions"
👋 It looks like powertools will report an exception to X-Ray even if the exception is caught and handled. The use case we're seeing is with calling Secrets Manager. Here we make the following call:

**What were you trying to accomplish?**

[code]

In this case where the secret exists but is empty is totally fine here and although boto3 technically throws an exception, we catch it here and continue

[2021-03-12 17:59] #173 closed

[2021-03-12 17:59] #166 closed

[2021-03-12 18:03] #193 closed

[2021-03-12 18:10] heitorlessa commented on #334
hey @latacora-tomekr, thanks for raising it!

At first glance it looks like AWS X-Ray SDK is identifying an exception as part of the call chain and adding it regardless whether it's handled or not: https://github.com/aws/aws-xray-sdk-python/blob/508f929fee495710656c0c1478f8873a2e9e5666/aws_xray_sdk/core/models/subsegment.py#L70

 Tracer `capture_method` is simply a thin wrapper with super powers f

[2021-03-12 18:14] michaelbrewer commented on #131
@nmoutschen @heitorlessa would this be via some kind of exception handler that picks up when the credentials failed?

[2021-03-12 20:43] latacora-tomekr commented on #334
@heitorlessa thanks for the quick response! Filed an issue upstream https://github.com/aws/aws-xray-sdk-python/issues/274

[2021-03-13 02:12] btorretta opened #338 "Example of multiple dimension data"
**What were you initially searching for in the docs?**
I was looking for an example of writing metrics that are organized beyond name space and service.

**Is this related to an existing part of the documentation? Please share a link**

**Describe how we could make it clearer**

The visual seems to imply that I can write multiple metric values under multiple services but I don't see a clear code e

[2021-03-13 04:57] michaelbrewer commented on #324
@heitorlessa  i guess it is mostly implemented what i wanted to support initially, but i will try to describe it more

[2021-03-14 18:11] michaelbrewer commented on #131
@nmoutschen  a version of this is in this PR : https://github.com/awslabs/aws-lambda-powertools-python/pull/341

UX might be better for a decorator.

[2021-03-15 08:42] #324 closed

[2021-03-15 08:59] heitorlessa commented on #338
Hi @btorretta, thanks for raising it so we can improve our docs. Could you give me a concrete example of what you're trying to achieve?

If I understood what you're after correctly, that visual can be represented in the following code. This demonstrates that every function function emit distinct metrics to the same namespace allowing them to group all metrics to a given application composed of mul

[2021-03-15 15:25] heitorlessa commented on #131
@nmoutschen could you expand on what you meant with this feature request so we can get it added in Wednesday's release?

Do you mean a parameter like what @michaelbrewer implemented on a per `get_parameter` call, or an explicit method to refresh what's already in the cache e.g. `.refresh_parameter(name='/dev/service/parameter')`?

If it's the former, @michaelbrewer I'd suggest a more explicit name

[2021-03-15 15:32] nmoutschen commented on #131
Hey @michaelbrewer & @heitorlessa!

I didn't have a specific implementation in mind and thought of 2 possibilities: pass a flag to the `get_parameter` call, or manually flush a specific cache value. Overall, I think @michaelbrewer's implementation is simpler (same function, with just an additional parameter).

From a name point of view, `ignore_cache` would imply that the parameter wouldn't be sto

[2021-03-15 15:42] heitorlessa commented on #131
Thanks @nmoutschen that makes sense. `force_fetch` in this case makes more sense -- @michaelbrewer could you do a quick refactor on that PR with that and we can merge ahead of Wed's release?

[2021-03-15 18:09] michaelbrewer commented on #131
@heitorlessa  i have made the changes just thinking of a good example for the docs, here it was i have so far:

[code]

[2021-03-17 15:34] heitorlessa commented on #318
Hey @Dunedan this is now available in 1.12.0 ;) Give it a try, and let us know if there's anything else you need before we prepare to go GA in one or two releases: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.12.0

Thanks again for the idea!

[2021-03-17 15:34] #318 closed

[2021-03-17 15:35] heitorlessa commented on #131
This is now available in 1.12.0 :) Thanks @michaelbrewer !

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.12.0

[2021-03-17 15:35] #131 closed

[2021-03-17 16:47] heitorlessa commented on #334
hey @latacora-tomekr, could you share a complete snippet of what's failing on you?

I couldn't replicate it. I also tried step through debugging to see whether X-Ray SDK code was correctly receiving `None` when an exception was handled - That is, `__exit__(exc...)` should be None when handled correctly.

As expected, the context manager arguments only get populated if an exception wasn't handled a

[2021-03-17 17:01] heitorlessa opened #346 "Revamp Data Classes utility docs to surface many unknown features"
**What were you initially searching for in the docs?**

Use cases like fetching HTTP Headers from either API Gateway REST & HTTP API, ALB, AppSync in a case insensitive way is covered by `get_header_value`, but it's nearly hidden in the documentation.

That goes on with S3 unquote plus, multiple SES utilities, encoding/decoding methods, etc.

**Is this related to an existing part of the documentat

[2021-03-17 17:01] heitorlessa opened #1163 "Revamp Data Classes utility docs to surface many unknown features"
**What were you initially searching for in the docs?**

Use cases like fetching HTTP Headers from either API Gateway REST & HTTP API, ALB, AppSync in a case insensitive way is covered by `get_header_value`, but it's nearly hidden in the documentation.

That goes on with S3 unquote plus, multiple SES utilities, encoding/decoding methods, etc.

**Is this related to an existing part of the documentat

[2021-03-17 23:41] pcolazurdo commented on #334
@heitorlessa The issue seems to be specfic about how xray-sdk patches the boto functions. As it is today all exceptions will be [captured in the API response meta_processor](https://github.com/aws/aws-xray-sdk-python/blob/508f929fee495710656c0c1478f8873a2e9e5666/aws_xray_sdk/ext/boto_utils.py#L63)

@latacora-tomekr from a purist point of view, IMHO, xray seems to be doing the expected thing; boto

[2021-03-18 10:36] heitorlessa commented on #334
As @pcolazurdo correctly pointed out, that exception recording isn't coming from the SubsegmentContextManager but from Boto metaprocessor. Because it's part of the patch, the only way to get rid of that is by having X-Ray to create a feature toggle here: https://github.com/aws/aws-xray-sdk-python/blob/508f929fee495710656c0c1478f8873a2e9e5666/aws_xray_sdk/ext/boto_utils.py#L73

That aside, I took t

[2021-03-19 08:51] #338 closed

[2021-03-22 15:26] latacora-tomekr commented on #334
Yea I wonder if this is an issue specifically with the way the secretsmanager calls are handled since boto3 will throw a `botocore.errorfactory.ResourceNotFoundException` exception instead of something like a ClientError. Thanks for opening the issue @pcolazurdo

[2021-03-23 15:13] austoonz opened #355 "Add AWS CDK examples for creating and using a layer from the Serverless Application Repository"
**What were you initially searching for in the docs?**
Using the AWS CDK, I wanted to deploy a Lambda layer from the Powertools Serverless Application Repository ARN for re-use within my CDK application.

The [Lambda Layer](https://awslabs.github.io/aws-lambda-powertools-python/#lambda-layer) documentation does not include how to do this.

**Is this related to an existing part of the documentation

[2021-03-23 17:34] michaelbrewer commented on #355
Possibly a Python CDK example :P

[2021-03-23 17:49] austoonz commented on #355
The example I included was Python CDK. 😁

[2021-03-23 18:30] michaelbrewer opened #356 "RFC: Create an official utility `event_handler` for lightweight event handlers"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Utilities
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes

## Summary
[summary]: #summary

Create an official utility `event_handler` for lightweight event handlers

## Motivation
[motivation]: #motivation

Unofficially we have a very [lightweight resolver for AppSync](https:

[2021-03-23 18:50] heitorlessa commented on #356
Early stages as this need more details in the Proposal like what does UX look like, do we replace the event? should we support a config object like we do in idempotency? how non-AppSync example would look like say Kinesis Data Streams?

As this will be a core utility, bringing in Java and Typescript folks - @saragerion @pankajagrawal16 @alan-churley @msailes @mndeveci --- **Do you agree with this

[2021-03-23 19:02] saragerion commented on #356
This is great idea!

And I agree with @heitorlessa. Before signing off on it, @michaelbrewer are you able to add more info in this issue detailing:
- developer experience
- code snippets and examples
- benefits gained by the developer
- whether this should be ported to other languages (without focusing on implementation detail)

[2021-03-24 02:23] michaelbrewer commented on #356
I think it should be ported to other languages, and should be easier for ones that can already support decorators or aspect orientated programming.

Benefit for the developer is they can implement a single function to handle multiple request types without doing many if/elses or having to understand how to convert an api gateway proxy event into something more like a http request

[2021-03-24 04:49] michaelbrewer commented on #356
Also the only use cases i can think of so far are for ALB, API Gateway V1 and V2 (with the same API) and AppSync.

[2021-03-24 09:54] heitorlessa opened #358 "Feature request: Exception handling for Idempotency utility"
**Is your feature request related to a problem? Please describe.**

As part of #218 RFC, we had a brief discussion about exception handling but didn't implement in the first iteration as we weren't sure - This is to enable a discussion on this before we make Idempotency GA.

**Describe the solution you'd like**

A mechanism to allow an external function to handle individual or all exceptions raise

[2021-03-24 15:42] michaelbrewer commented on #358
Yes, it would get confusing and would remind me of old java code:

[code]

Coz if i wanted exception handling i would it done in one place.

[2021-03-24 18:27] michaelbrewer commented on #356
@heitorlessa @saragerion Initially we would be the plans for the AppSync decorator?

[2021-03-25 06:03] risenberg-cyberark commented on #355
+1 for this, was on my todo list for a long time ;)

[2021-03-25 06:04] risenberg-cyberark commented on #355
is there a way to always get the latest published version?

[2021-03-25 07:40] am29d commented on #355
Hi Andrew,

Thanks for opening the issue and providing the sample code. I will find a good spot in the docs to add it.

[2021-03-25 07:50] am29d commented on #355
sadly no, you would need to run CLI or some custom resource to fetch it and sort by version

[2021-03-25 08:58] heitorlessa commented on #358
I'm thinking here... one of the ways we also solve these in other utilities is to provide a non-decorator option - be that a stand-alone function, context manager, etc.

What do you think?

[code]

[2021-03-25 09:30] heitorlessa commented on #356
I'm happy with AppSync, just not with API Gateway as I need to think more carefully about it -- It can easily sprawl into a big thing e.g., cookies, body parser, etc.

Feel free to make a PR @michaelbrewer

[2021-03-25 12:13] joyofhex opened #360 "mypy fails with @tracer.capture_lambda_handler"
Using mypy to typecheck code decorated with the @tracer.capture_lambda_handler fails since v1.10.

## Expected Behavior

Mypy should not fail with code decorated with the capture_lambda_handler.

## Current Behavior

[code]

## Possible Solution

First of all, thanks for the incredibly useful library. It has been a pleasure to work with it.

It seems that in commit 11ebcf9f216e00a2b2d842154121a569

[2021-03-25 13:22] heitorlessa commented on #360
Thanks a lot for raising it @joyofhex, and it's quite timely because we're working to make MyPy compliant for the next release ;-)

Let us know if you find anything else and we keep you posted!

[2021-03-25 13:36] risenberg-cyberark opened #361 "feat(parser): Add S3 Object Lambda Event"
The pydantic/parser version of https://github.com/awslabs/aws-lambda-powertools-python/pull/353

[2021-03-25 13:54] michaelbrewer commented on #356
@heitorlessa

yes, For all of the http proxy based handlers (ALB and API gateway), it can get very bloated.

So I thought we could set the limit of what it can support. Like just request matching, getting the event as a data classes and return helper. All of the extra features we should point to Chalice.

For AppSync, I will start moving it to the new location :)

[2021-03-25 13:55] michaelbrewer commented on #358
@heitorlessa i guess we need to get more feedback on what people want.

[2021-03-25 14:22] heitorlessa commented on #358
Yes. I'll primarily wait for @cakepietoast or @am29d

[2021-03-25 18:40] michaelbrewer commented on #360
@joyofhex  @heitorlessa  i have a fix in for this on #365

So this example will work via MyPy

[code]

[2021-03-26 10:09] joyofhex commented on #360
Oh, excellent. Thanks for taking the time to address this.

[2021-03-27 18:16] michaelbrewer commented on #325
@heitorlessa  here is a super lightweight implementation:

[code]

And its usage:
[code]

[2021-03-28 18:10] saragerion commented on #356
Thanks for adding more information @michaelbrewer! Very useful.
I like and support your idea of a top-level utitility to handle incoming events and make things easier.

One thing I would add on my side here is a consideration of how this would play out in the TypeScript tool and Lambda Node.js runtime.

In TypeScript, utilities related to a particular AWS service will probably be separated into di

[2021-03-28 19:04] rtrive opened #370 "RFC: Dynamodb endpoint url for local testing"
## Key information

* RFC PR:
* Related issue(s), if known:
* Area: Utilities-Parameters-DynamoDB
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

Add possibility to use this library in AWS lambda with DynamoDB local that run on docker.

## Motivation
[motivation]: #motivation

When you want to

[2021-03-28 19:52] michaelbrewer commented on #356
@saragerion

yes, each language does have it's own ecosystem. That being said there are some common things that should be true.

1. The community should not need to manage the event sources, types and data classes. AWS should be generating this from a single source of truth much like how the AWS SDK is machine generated, so should be the AWS Lambda Event Source Data classes. So we should not have

[2021-03-28 19:54] michaelbrewer commented on #356
FYI, the http proxy event handler is shaping up nicely too:
- https://github.com/awslabs/aws-lambda-powertools-python/pull/369

The idea here is that you should be able to build out a lambda compatible with all http proxy events (ALB, API Gateway and all of its variations)

[2021-03-29 13:37] ricardoinacio opened #371 "APIGatewayEventRequestContext have confusing or wrong behavior on "get" and "raw_event" properties"
I needed access to key `operationName` from `requestContext` from `APIGatewayProxyEvent`. The problem is that `APIGatewayEventRequestContext` doesn't have this property, forcing me to use either the `get` accessor or the `raw_event` property fallback. And the real problem is that when you use any of these to access the original data, but from the `APIGatewayEventRequestContext`, it does in fact gi

[2021-03-29 15:54] heitorlessa commented on #370
Ciao Riccardo!! Definitely on-board with that. There are two things I wanted to do here but might be able to do only next week:

1. Add this - Should be a quick PR, so happy to [guide a contribution](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/CONTRIBUTING.md) if you'd like
2. Also add a Session parameter - This will allow customers to fetch parameters across account, as b

[2021-03-29 15:55] heitorlessa commented on #360
Reopening as we will include this in the next minor release, then we can ping you once it's available :)

[2021-03-29 16:03] heitorlessa commented on #334
hey @latacora-tomekr I'm gonna close this as I believe boto can handle the Exception better, and X-Ray doesn't seem to be at fault here as we agreed - Please let me know otherwise ;-)

[2021-03-29 16:03] #334 closed

[2021-03-29 20:43] michaelbrewer commented on #360
@heitorlessa  I think we need to something else to mark the modules as PEP 561

[2021-03-29 22:24] byron70 opened #372 "parser.models.S3Object should allow size of >= 0"
Attempting to parse a S3 PUT event in an AWS Lambda where the S3 object size is 0 bytes, yields a pydantic.error_wrappers.ValidationError indicating `size` must be greater than 0.

## Expected Behavior

Since 0 byte objects in S3 are allowed, it is expected these types of S3 events would be validated without issue when parsing the Lambda event.

## Current Behavior

Receiving the following error a

[2021-03-30 08:07] michaelbrewer commented on #372
@byron70 Otherwise, is there a feature missing in the data for S3 Object?

- https://awslabs.github.io/aws-lambda-powertools-python/utilities/data_classes/#s3
- https://awslabs.github.io/aws-lambda-powertools-python/api/utilities/data_classes/s3_event.html

[2021-03-30 08:12] michaelbrewer commented on #371
@ricardoinacio  yes this should help fix this:

[code]

Could you do me a favor and include a sample event with `operationName` ?

[2021-03-30 08:16] byron70 commented on #372
Best I can tell everything else seems to be in order.

[2021-03-30 08:20] michaelbrewer commented on #371
@ricardoinacio  @heitorlessa

part of the confusion of `raw_event` is that we added this as a property to get back the original wrapper event dict (eg: https://github.com/awslabs/aws-lambda-powertools-python/pull/340)

However sometimes it helps for the items inside of a data class to be getting a sub node within the main event dict, so then `raw_event` would not match the original.  And when we d

[2021-03-30 09:23] michaelbrewer commented on #371
@ricardoinacio  i added the missing field: https://github.com/awslabs/aws-lambda-powertools-python/pull/373

[2021-03-30 12:25] heitorlessa commented on #371
@ricardoinacio this will be out in our next release in April, hopefully in two weeks time if we manage to include the new event_handler utility on time. I'll ping back here once it's out.

Thank you again for raising this so we can iron the edges out!

[2021-03-30 13:01] ricardoinacio commented on #371
@michaelbrewer @heitorlessa Thank you, guys! I think the solution is great, and should help.

Also, maybe `APIGatewayEventRequestContext` should offer a reference to `APIGatewayProxyEvent` from where we could access `raw_event`. It seemed unnatural to me to be able to get the root of the event from a child object, but to be honest, I've been using this library (which is great) for a little more th

[2021-03-30 13:41] rtrive commented on #370
Ciao @heitorlessa!!

i build a small PR only for `endpoint_url` and i will try to merged it asap :)

[2021-03-30 16:34] heitorlessa commented on #372
Fix is in - @byron70 could you double check in case I've missed anything obvious? Had to upgrade Pydantic to 1.8 as this new type was introduced too.

https://github.com/awslabs/aws-lambda-powertools-python/pull/375

Once merged, this will make to the next release hopefully mid next week

[2021-03-30 16:53] michaelbrewer commented on #371
@ricardoinacio  To be honest, the  `DictWrapper ` usage was out of convenience internally, so  `APIGatewayEventRequestContext` uses it to reference the root dict keys.

`raw_event` was added later to allow for you to access the original event root dict.

[2021-03-30 21:18] michaelbrewer commented on #355
For CDK, I like to load that kind of thing via configuration settings.

[2021-03-31 04:45] weallwegot opened #377 "Idempotency Getting Started Documentation"
**What were you initially searching for in the docs?**
I want to use the idempotency power tool utility to help prevent lambdas from multiple executions

**Is this related to an existing part of the documentation? Please share a link**
https://awslabs.github.io/aws-lambda-powertools-python/utilities/idempotency/

**Describe how we could make it clearer**
Currently there is a template.yml provided

[2021-03-31 05:17] risenberg-cyberark commented on #355
I will need to write a function that takes the powertools version from my pipfile.lock file and set the layer version parameter. annoying, but will work.

[2021-03-31 05:43] michaelbrewer commented on #355
@risenberg-cyberark  for docs i would just use the `cdk.json`  or [runtime context](https://docs.aws.amazon.com/cdk/latest/guide/context.html) to configure the version of powertools.

[2021-03-31 06:45] heitorlessa commented on #370
Merged 🎉 this will be out in the next release hopefully by next EOW

[2021-03-31 06:45] heitorlessa commented on #361
Merged 🎉 this will be out in the next release. Thanks a lot Ran!

[2021-03-31 07:13] #360 closed

[2021-03-31 08:01] michaelbrewer commented on #377
@cakepietoast  @heitorlessa  hopefully a good case for an article / repo for idempotent feature.

[2021-03-31 12:50] ricardoinacio commented on #371
Thank you guys, and great job!

[2021-04-01 18:00] michaelbrewer commented on #358
@heitorlessa  i am not sure if this is needed for 1.14.0 using `lambda_handler_decorator` works for me

[code]

[2021-04-02 02:46] bml1g12 opened #379 "Timezone aware timestamp logging"
**What were you initially searching for in the docs?**
How to log the timezone in a timezone aware format ("2019-02-04T12:23:34Z" ISO 8601 ) e.g. to guarantee UTC time is always logged, even when logging in JST, or to at least indicate the time zone.

**Describe how we could make it clearer**

I can see how with this library we can specify a format string for the datetime, and I think datetime is

[2021-04-02 15:23] heitorlessa commented on #379
Hey @bml1g12 thanks for raising this.

It's spot on Standard lib comment and your research. It can be a new feature for Logger to have a flag to convert to UTC or a given offset.

On an extended weekend now but you can take a peek at the formatter.py as that's where it should go.

Would you mind creating a feature request with a proposed UX for this?

We'd be happy to implement it

[2021-04-03 08:54] heitorlessa commented on #379
Got my laptop and managed to test this to unblock you for now. You can either change the time converter after creating a Logger or monkeypatch Powertools Logging Formatter - I personally find the former cleaner and less error prone, so I'll leave at your discretion.

### Setting GMT time converter at Logger instance

[code]

### Setting GMT time via monkeypatching

[code]

### Results

[code]

[2021-04-03 20:02] michaelbrewer commented on #355
@risenberg-cyberark @austoonz  here is a full working example using Poetry:

Directory structure like below, with `cdk` folder for the AWS CDK code and `hello-world` with the lambda code.
[code]

Source for: `cdk/pyproject.toml`
[code]

Source code for the main stack `cdk/lambda_stack/lambda_stack.py`

[code]

[2021-04-03 20:08] michaelbrewer commented on #355
@heitorlessa  @am29d ☝🏼  what do you think?

[2021-04-04 07:09] bml1g12 commented on #379
That sounds perfect! Thanks for the swift solution.

As you suggested, I'll open up a feature request for a flag for this; given I imagine it would be a common desired use case.

[2021-04-04 07:09] #379 closed

[2021-04-04 07:12] bml1g12 opened #381 "Timezone aware timestamp logging"
**Describe the solution you'd like**

I would like to be able to easily log in a timezone aware manner; a typical use case being to always log in UTC time, regardless of where the code is run. At present, the Powertools Logger() uses localtime for the timestamp field as under the hood it uses the `asctime()` method.

**Describe alternatives you've considered**
I raised this issue as a documentatio

[2021-04-04 18:04] jplock opened #382 "Batch helper methods"
**Is your feature request related to a problem? Please describe.**

Batch operation helper methods for SQS and DynamoDB

**Describe the solution you'd like**

Helper methods that will automatically chunk a list into specific sizes compatible with sqs SendMessageBatch and dynamodb BatchWriteItem

**Describe alternatives you've considered**

I end up rewriting this same functionality in multiple pro

[2021-04-04 18:04] jplock opened #1187 "Batch helper methods - AWS SDK helpers"

[2021-04-04 18:35] heitorlessa commented on #382
Hey @jplock, thanks for the feature request! Could you share an example of what you have at the moment?

That will help clarifying whether this is best placed in the boto3 SDK, or if a helper method as part of [SQS/DynamoDB data classes](https://awslabs.github.io/aws-lambda-powertools-python/utilities/data_classes/#sqs)

Thanks!

[2021-04-05 05:33] michaelbrewer opened #383 "@tracer.capture_method or middleware and xray does not handle errors"
[code]

Without `@tracer.capture_method`

<img width="1396" alt="Screen Shot 2021-04-04 at 10 31 01 PM" src="https://user-images.githubusercontent.com/5442469/113540661-745f4b00-9595-11eb-9186-afb141a297d2.png">

With `@tracer.capture_method`

<img width="1331" alt="Screen Shot 2021-04-04 at 10 32 12 PM" src="https://user-images.githubusercontent.com/5442469/113540735-9d7fdb80-9595-11eb-9d0f-0d313

[2021-04-05 05:48] risenberg-cyberark commented on #355
@michaelbrewer i got the same code in my project but we are using pipenv instead. I'm working on adding a code that will extract the powertools version from the pipenv.lock file and use that for the layer version is the cdk. that way when you upgrade your layer locally, it will also be used automatically for uploaded lambdas layer.

[2021-04-05 06:04] michaelbrewer commented on #355
and for Poetry :)

[2021-04-05 06:05] michaelbrewer commented on #355
Coz Python users use: requirements.txt, setup.py, poetry or pipenv for dependencies.

[2021-04-05 06:41] michaelbrewer commented on #355
@risenberg-cyberark  i guess `self.node.try_get_context("powertools_version")` can be abstracted into various choices to get the powertools version

[2021-04-05 07:29] heitorlessa commented on #355
Hey everyone - two quick updates

1. @am29d is on PTO until next week so this will come after 1.14.0 release this week

2. We've decided to publish a public Lambda Layer from our accounts to ease consumption.

We agreed that there are too many customers having challenges with the SAR App approach. Despite providing semantic versioning, these deployment gymnastics to get sem versions for Lambda Lay

[2021-04-05 07:37] risenberg-cyberark commented on #355
@heitorlessa , arent you already publishing a new layer every version?

[2021-04-05 08:54] heitorlessa commented on #355
Yes, but it's different. We need additional infrastructure, a cadence for removing old versions without breaking anyone (SAR doesn't as it's local to your account), and a public API to fetch the latest Layer and by version(s).

[2021-04-05 13:29] risenberg-cyberark commented on #355
@heitorlessa @michaelbrewer  @am29d
so after i finally got enough dev permissions to use SAR, i came to a realization that you dont need to deploy cdk.CfnResource in the cdk example.

`from aws_cdk import core, aws_sam, aws_lambda

class LambdaLayers(core.Construct):

    POWER_TOOLS_VER = '1.13.0'
    POWER_TOOLS_ARN = 'arn:aws:serverlessrepo:eu-west-1:057560766410:applications/aws-lambda-powerto

[2021-04-05 13:34] jplock commented on #382
[code]

The DynamoDB Batch Write Item call gets more complicated since it can operate across multiple tables, so I'm not sure on the best interface for that, but hopefully this makes sense.  Retry logic would also need to be added into the DynamoDB use-case to handle retrying any items returned in `UnprocessedItems`.

[2021-04-05 14:19] heitorlessa commented on #383
hey @michaelbrewer - I can't reproduce this using the latest version, however I remember X-Ray SDK team changed the serialization from `jsonpickle` to their own, and this line tells there's an issue [with the new implementation](https://github.com/aws/aws-xray-sdk-python/pull/275)

[code]

Could you open up an issue upstream with them?

It's a regression only available in the `develop` branch. Lam

[2021-04-06 00:47] PixelAmp opened #386 "Add Validation Schema Examples"
**What were you initially searching for in the docs?**
I wanted to implement the Validation utility to validate data received by my requests, but was unfamiliar with writing JSONSchema.

**Is this related to an existing part of the documentation? Please share a link**
https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/validation/

There are no working examples of valid `json_s

[2021-04-06 07:11] bml1g12 opened #387 "Appending to entries via extra to structure_logs(append=True) entries"
**Is your feature request related to a problem? Please describe.**
After having set an attribute globally:

e.g.
[code]

I would like to log additional items to the context attribute e.g.
[code]

**Describe the solution you'd like**

LOGGER.info("hello world")  would include a JSON payload with both device_location and device_name in the above example whereas currently it overwrites the context at

[2021-04-06 07:11] bml1g12 opened #1176 "Appending values to existing entries via extra to structure_logs(append=True) entries"
**Is your feature request related to a problem? Please describe.**
After having set an attribute globally:

e.g.
[code]

I would like to log additional items to the context attribute e.g.
[code]

**Describe the solution you'd like**

LOGGER.info("hello world")  would include a JSON payload with both device_location and device_name in the above example whereas currently it overwrites the context at

[2021-04-06 07:28] heitorlessa commented on #386
Hola @PixelAmp - Thanks for helping us improve the documentation! We'll surely do that after this week's release :)

In the meantime, you can find a few within validator's functional tests: https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/tests/functional/validator/conftest.py

**Background**: Historically, it wasn't there because the older documentation system didn't support t

[2021-04-08 16:54] heitorlessa commented on #386
hey @PixelAmp - This is now live in staging: https://awslabs.github.io/aws-lambda-powertools-python/develop/utilities/validation/

I've added a JSON Schema and event for every sample, reformat navigation to use the new Getting started vs Advanced use cases too.

Let me know if that helps :)

[2021-04-08 17:22] PixelAmp commented on #386
That looks great!

Those examples significantly improve the readability of the module and will make it a lot easier to quickly get it up and running.

Thanks!

[2021-04-09 05:58] #386 closed

[2021-04-09 08:02] heitorlessa commented on #377
hey @weallwegot Thanks for helping us make the docs better!

I've added a table explaining the two configuration and their values that we expect if you're not overriding the default behaviour - Thanks to your suggestion, this should help anyone not using Infrastructure as Code to quickly create one in the Console.

I didn't add a Console screenshot as this might change and misguide customers, for

[2021-04-09 08:02] #377 closed

[2021-04-09 08:15] heitorlessa commented on #381
Thanks again for creating the feature request @bml1g12 - In the meantime, I've updated the docs with that fix until we decide on the best way to implement this for everyone ;)

https://awslabs.github.io/aws-lambda-powertools-python/develop/core/logger/#setting-timestamp-to-utc

[2021-04-09 08:52] saragerion commented on #381
@bml1g12 I completely agree with your proposal. Local time is logged based on the context of the current machine and that might be different from the developer local time.
It's important that all logs generate use the same common "timezone".

The TypeScript Powertool is supporting ISO 8601 by default, and the timezone is always zero UTC offset. Developers can choose to customize the format if they

[2021-04-09 11:56] heitorlessa commented on #372
hey @byron70 this is now out as part of the 1.14.0 release

[2021-04-09 11:56] #372 closed

[2021-04-09 11:57] heitorlessa commented on #370
hey @rtrive this is now out as part of 1.14.0 release ;) Thanks a lot for contributing it!

[2021-04-09 11:57] #370 closed

[2021-04-09 11:57] heitorlessa commented on #361
Now out as part of 1.14.0 release ;)

[2021-04-09 11:57] #361 closed

[2021-04-09 14:22] #356 closed

[2021-04-09 19:56] rtrive commented on #370
it's a pleasure ;)

[2021-04-10 02:47] michaelbrewer commented on #325
I have updated the RFC PR include a couple more feature ideas:
- https://github.com/awslabs/aws-lambda-powertools-python/pull/369

While still keeping the code to a minimum

[2021-04-13 11:43] michaelbrewer opened #396 "Default API Reference Link Broken"
### Steps to reproduce:

1. Vist https://awslabs.github.io/aws-lambda-powertools-python/latest/
2. Click on "API Reference"

<img width="578" alt="Screen Shot 2021-04-13 at 4 42 27 AM" src="https://user-images.githubusercontent.com/5442469/114546982-a9614280-9c12-11eb-8922-21552b82c961.png">

## NOTE

- https://awslabs.github.io/aws-lambda-powertools-python/develop/ does work

[2021-04-13 15:52] heitorlessa commented on #396
Fix that for now, will permanently fix in GitHub Actions when I'm back from PTO

[2021-04-13 17:13] Fahadmo opened #397 "Access defined runtime environment variables from powertools"
**Is your feature request related to a problem? Please describe.**

AWS Lambda has defined runtime environment variables as shown here: https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime

In order to get the name of the variable we often need to go back to the documentation which can be frustrating.

**Describe the solution you'd like**

I would l

[2021-04-13 17:13] Fahadmo opened #1172 "Access defined runtime environment variables from powertools"

[2021-04-13 19:07] michaelbrewer commented on #397
@heitorlessa :)

I would like this by like this: https://www.starlette.io/config/

[2021-04-16 07:49] am29d commented on #358
I agree on both options tbh: dedicated exception handler and context manager. While it is really useful to have an option for handling all exceptions in one method, I think it might be an overload for simple cases.

[2021-04-17 21:11] michaelbrewer opened #401 "docs/typing: `validate` method should support `event` as Any type"
## Problem

In some cases you want to use `validate` for something internal, like a downstream api call with returns a list of data:

<img width="821" alt="Screen Shot 2021-04-17 at 2 52 47 PM" src="https://user-images.githubusercontent.com/5442469/115127612-a062cf00-9f8c-11eb-8dbf-9e637bb78d65.png">

Currently `validate` type hints `event` as only a `Dict`, but it might be a `List` or `Tuple` etc

[2021-04-18 11:58] risenberg-cyberark opened #402 "Feature request: Add parser API GW v1 proxy schema & envelope"
This schema exists in the validator but not in the parser. It was requested in the webinar audience.
This feature will also provide an envelope class which will parse the string body parameter as a pydantic Model.

Also added new identity parameters as defined at https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html

[2021-04-19 19:59] heitorlessa commented on #401
will be merged once checks pass - one of those that MyPy/Pyright will catch once in CI. Thanks again!!!

[2021-04-21 01:28] bml1g12 opened #406 "Metrics not appearing at 1 minute resolution as expected"
I am publishing metrics like this

[code]

Where my lambda handler top level function has been decorated like this:
[code]
I expect to see cloudwatch metrics here being logged every few minutes; but instead, I see them every 40 minutes or so; or at least at erratic times with a much larger interval than they are being logged.

e.g.
I have checked my cloudwatch logs and found the following two entr

[2021-04-21 03:25] #401 closed

[2021-04-21 04:50] heitorlessa commented on #406
Hey @bml1g12 - thanks for raising this.

As the metric timestamp is in the logs, there seems to be an issue with CloudWatch EMF backend processing them, or 1s resolution isn't supported (can't find in the docs) -- if the latter is correct, you can try switching to 1 minute to confirm if data points appear correctly in the console, as the Console will fallback to aggregate metrics that don't suppor

[2021-04-21 06:10] bml1g12 commented on #406
Setting 1-minute aggregation gives same result

![image](https://user-images.githubusercontent.com/2605767/115504806-758db900-a2b3-11eb-8b6b-3b153ee8c67b.png)

OK, by a support case, you mean with AWS Support directly as opposed to a github issue right?

[2021-04-21 06:13] bml1g12 commented on #406
The AWS account that I experienced this issue within does not have a support plan sufficient for me to create a technical support case; but I could make one using a different account I have access to which does have this plan if you think that would be wise?

[2021-04-21 11:45] heitorlessa commented on #406
If you can create in another account, you'd need to reproduce this issue there too as Support cannot provide cross-account support (unless it's Enterprise Support).

I pinged the CloudWatch team in the meantime :)

[2021-04-21 12:27] bml1g12 commented on #406
That's a shame; I tried to reproduce this on a dummy lambda function but could not manage to reproduce the same issue so not confident I will be able to reproduce it in a separate account (as it would require running the whole end to end system), yet it persists in our production system so I think there is a genuine issue somewhere.

Thanks for pinging the cloudwatch team, I appreciate any help on

[2021-04-21 16:13] jaredcnance commented on #406
We do not support 1 second aggregations. What is the reported sample count for the metric in question?

[2021-04-21 16:52] heitorlessa commented on #406
I'm trying to figure out whether that is still the case or if it was a transient issue, since I too can't reproduce it on my end.

If it is consistent, could you [shoot me an email](mailto:lessa@amazon.nl) with the following info?

I'll create a ticket with CloudWatch directly as an exception here, as this seems like a transient issue on CloudWatch side (EMF blob is being generated correctly by th

[2021-04-21 17:17] heitorlessa commented on #383
I've subscribed to the upstream issue pending PR merge so I can revert the dependency pinning to the working version of X-Ray SDK. For now, I am closing this issue as 1.14.0 uses a previous working version.

[2021-04-21 17:29] mh-love opened #407 "Appending additional keys state kept between Lambda invocations"
From the "Appending additional keys" docs:

"Persist new keys across all future log messages via structure_logs method" could be read as either:
1) "new keys will be added to all future logs _across all Lambda invocations_ "
1) "new keys will be added to all future logs _for the duration of a Lambda invocation_".

I chose the latter because of your example, which I think implies that an _order_id_

[2021-04-21 18:08] heitorlessa commented on #396
Resolving this now as it'll be merged as soon as checks pass.

[2021-04-21 18:08] #396 closed

[2021-04-21 18:13] heitorlessa commented on #407
Hi @mh-love thanks a lot for raising this - It's indeed confusing and we can do better in the docs.

Explanation: Your state assertion is correct. As the Logger instance is created outside the handler, the structured log is kept in memory so the first log statement you had will use the previous value, then update it, then log with the new value.

I'm finishing a refactor of the logger to make this

[2021-04-21 18:36] mh-love commented on #407
@heitorlessa Thank you!

[2021-04-22 07:10] bml1g12 opened #409 "Ability to swap out the logger with default python logger during local testing"
**Is your feature request related to a problem? Please describe.**

When working locally, we often wish to visualise the "message" of logs without structured logging as it is more readable and we have no intention of searching the logs. We also wish to log to file often when testing locally.

Is there any way we can hot-swap the default Python logger or replace the logger universally across a code

[2021-04-22 07:43] heitorlessa commented on #409
hey @bml1g12 would the addition of a custom formatter (structured, not structured) and handler (file, stdout, etc.) as per #404 help?

If so, I can easily add an option to pass in a custom logging handler that writes to a file as that was going to be my last piece before merging that PR.

[code]

[2021-04-22 08:39] heitorlessa commented on #409
Also @bml1g12, if you're not on the [AWS Developers Slack channel](https://join.slack.com/t/awsdevelopers/shared_invite/zt-gu30gquv-EhwIYq3kHhhysaZ2aIX7ew) to chat directly on `#lambda-powertools`.. I'm happy to jump on a call to learn more about your use of Logger as I believe we can get this UX right for everyone :) You have my email

[2021-04-22 09:42] bml1g12 commented on #406
It is indeed consistent; I will send an email, thank you.

[2021-04-22 09:58] StianHanssen commented on #409
Hi @heitorlessa!

I am from the same team as @bml1g12, to explain a little further:
We have a serverless application running in lambda that performs some work we would like to evaluate locally in a program that wraps around it. So we would like to have to such that when we run out serverless application locally, the logging calls that would normally be JSON formatted and written to console, would

[2021-04-22 10:26] heitorlessa commented on #409
Perfect, thanks for the additional context.

I haven’t pushed the handler changes as I had them staged. I’ll merge that
on develop branch by tomorrow EOD and ping here so you can take it for a
spin.

On Thu, 22 Apr 2021 at 11:58, Stian Hanssen ***@***.***>
wrote:

[2021-04-22 12:17] heitorlessa commented on #406
Thanks a lot for sending that info over - we now know this is happening because of that Metric Dimension `environment` being added outside the Lambda Handler which only gets executed during cold starts.

@pcolazurdo and I looked over all metric data points and we can clearly see it creating two metrics.

Here's what you can do to fix now and what we'll do to make it less error prone:

**Before**

[2021-04-22 13:18] bml1g12 commented on #406
Oh wow, thanks for the clear explanation and for helping me debug this one.

It is quite surprising behaviour to me; as in the non-cold start runs; I would have thought this data would persist between invocations in the same way that the Metrics() instance itself persists between cold starts.

[code]

I presume this should work too?

[2021-04-22 13:27] heitorlessa commented on #406
Yes @bml1g12 it works too. Anything inside the `def main(event, context)` will always be called for every Lambda invocation.

What happens here is that Lambda web service **1**/ `imports` your code, then **2/** call your handler function (`main` here)` with the event and Lambda context. Subsequent Lambda invocations it simply performs **2** if there is a "container" (known as Lambda Execution Cont

[2021-04-22 13:35] heitorlessa commented on #409
@StianHanssen this is now available in the `develop` branch - You can pip install directly against.

This is the UX to log directly to a file

[code]

For functional testing, you can also instruct Logger to a custom stream (will document in the next PR):

[code]

[2021-04-22 13:41] heitorlessa commented on #406
What happens from a data persisting point of view is that when using `log_metrics` decorator, we need to do the following at the end of each invocation:

1. Serialize metrics and dimensions in memory from Python dictionary to EMF Specification
2. Clear out all existing metrics and dimensions from memory
3. Print a JSON string of the EMF specification into standard output so CloudWatch can pick it

[2021-04-22 15:56] heitorlessa commented on #406
I've added the new `set_default_dimensions` to do this properly, updated the docs with examples, updated `Testing` section in docs to be more explicit to catch these earlier, and updated all examples to use a Lambda Handler to ensure no one accidentally copies examples and hit this.

I'll add one extra banner to make even more explicit, but would be grateful if you believe this resolves this confu

[2021-04-22 23:27] bml1g12 commented on #406
Yup LGTM, I'm happy to close this topic, but haven't had a chance to test the fix yet

[2021-04-23 06:41] heitorlessa commented on #406
Great. Let's leave it open until we hear from you. No rush

On Fri, 23 Apr 2021 at 01:27, Benjamin Lowe ***@***.***>
wrote:

[2021-04-23 08:52] StianHanssen commented on #409
Hey sorry for late reply! My info was slightly incorrect earlier, the output should go to txt files in a regular logging format like you would have with python's native logging library. I assume it would still just be a case of setting the formater and provide a txt file to the FileHandler.

 What do you mean by "develop branch - You can pip install directly against"?
I can't find what version to

[2021-04-23 09:25] heitorlessa commented on #409
Hey @StianHanssen, no problem, here's how you can do it - and yes you can use a custom formatter.

[code]

NOTE: While you can use any `logging.Formatter` to test this out and log into a file, it'll fail if you're using Logger decorator `inject_lambda_context` and `structure_logs` method, because `logging.Formatter` won't have `append_keys`, `remove_keys`. Checkout the PR readme on the how to do t

[2021-04-25 08:27] risenberg-cyberark commented on #402
@heitorlessa i think we can close this issue.

[2021-04-25 10:06] heitorlessa commented on #402
I'm leaving them opened and tagged as staged next release ;-)

I'll close it on 1.15.0 release next week

[2021-04-27 04:26] marcioemiranda opened #411 "REST API middleware"
**Is your feature request related to a problem? Please describe.**
In previous projects working with API Proxy and Lambda I found myself reusing a lot of repetitive code by copy and pasting. Tasks such as:
- routing different paths to functions
- validating a body against a model
- HTTP status code handling, like 4XX for validation errors, 5XX for generic errors, 2XX for success
- CORS handling
-

[2021-04-27 04:26] marcioemiranda opened #1175 "REST API middleware"
**Is your feature request related to a problem? Please describe.**
In previous projects working with API Proxy and Lambda I found myself reusing a lot of repetitive code by copy and pasting. Tasks such as:
- routing different paths to functions
- validating a body against a model
- HTTP status code handling, like 4XX for validation errors, 5XX for generic errors, 2XX for success
- CORS handling
-

[2021-04-27 07:56] bml1g12 commented on #406
Moving to inside the handler resolved this issue; thanks for the support!

[2021-04-27 07:56] #406 closed

[2021-04-27 08:49] heitorlessa commented on #406
Awesome to hear! This is the new docs with the new feature to make this process less error prone, all examples were updated to be inside the handler to reflect this discussion, and I added a warning banner just above this section as promised

https://awslabs.github.io/aws-lambda-powertools-python/develop/core/metrics/#adding-default-dimensions

[2021-04-28 16:51] michaelbrewer commented on #411
Some of these have been covered in a recent PR:
- https://github.com/awslabs/aws-lambda-powertools-python/pull/369

[2021-04-28 23:13] marcioemiranda commented on #411
Hello Michael.

Thanks for the great work on the other PR.
We would be happy to take the development of the missing pieces with your guidance. Let me know if that works.  Cheers.

[2021-04-29 02:25] michaelbrewer commented on #411
@marcioemiranda - sure. I think we need to stabilize the api  and UX for it, and then we can see how easy it would be to add the missing features. :)

[2021-05-01 10:58] heitorlessa commented on #387
Hey @bml1g12, have you considered adding these context keys as root keys instead?

For example:

LOGGER.append_keys(device_name="mydevice")

LOGGER.append_keys(device_location="UK")

{
    "message": "hello",
    "device_name": "mydevice",
    "device_location": "",
    ...
}

These could happen anywhere in the codebase and whenever you'd run "LOGGER.info()", they'd appear - no need for extra.

Th

[2021-05-02 15:02] jplock opened #414 "Feature request: CodePipeline Lambda Event"
**Is your feature request related to a problem? Please describe.**

A CodePipeline data class for Lambda events with helper methods to use the embedded credentials to download an artifact from S3.

https://docs.aws.amazon.com/codepipeline/latest/userguide/actions-invoke-lambda-function.html#actions-invoke-lambda-function-json-event-example

**Describe the solution you'd like**

see above

**Descri

[2021-05-02 15:50] michaelbrewer commented on #414
Cool, i will have a look. Is there any additional docs on the schema for this? I would assume their would some utils needed for this as well.

[2021-05-02 16:04] jplock commented on #414
@michaelbrewer i haven’t seen any other docs beyond that page. There is sample python code on there as well.

[2021-05-04 01:56] michaelbrewer commented on #414
@jplock  tracked down more docs :)

- https://docs.aws.amazon.com/lambda/latest/dg/services-codepipeline.html

[2021-05-04 03:16] michaelbrewer commented on #414
@jplock  init PR: https://github.com/awslabs/aws-lambda-powertools-python/pull/416

[2021-05-04 03:38] michaelbrewer commented on #414
@jplock  @heitorlessa  any insights to what kind of utility short cuts (like setting up the S3 session) to add to the event type :)

[2021-05-04 10:14] bml1g12 commented on #409
I tried this but it does not log to file?

[code]

[code]

[code]

[2021-05-04 11:21] heitorlessa commented on #409
The direct install didn't seem to work as you shouldn't be seeing `"logger_handler"` as a logging key nor the output in the console.

It's working on a fresh new environment - I'm uploading a build from `develop` branch. Also, we're releasing 1.15.0 as soon as #418 PR gets merged.

[aws_lambda_powertools-1.14.0b.tar.gz](https://github.com/awslabs/aws-lambda-powertools-python/files/6420695/aws_lamb

[2021-05-04 13:49] jplock commented on #414
@michaelbrewer how about something like:

[code]

[2021-05-04 16:42] bml1g12 commented on #409
Great thanks, indeed a fresh environment sorted me out and this seems to work nicely:

[code]

[2021-05-04 17:26] bml1g12 commented on #409
Ah but apologies if the answer is obvious - but I not entirely sure how we could apply this in our context. The context here we are trying to hot-swap out our production code when testing locally with a logger that is human readable - particularly for stack traces, and as it is local, we need a way to record logs to file (no cloudwatch). To do this, we cannot edit the production source code direct

[2021-05-04 17:34] michaelbrewer commented on #414
@jplock zip.read returns bytes and  Cloudformation `create_stack` and `update_stack` expects a string for the TemplateBody.

So i might have to add a decode("UTF-8") to this.

[2021-05-04 18:00] heitorlessa commented on #409
No problem, I'll give you a working sample this week as soon as I get 1.15.0 out so you don't need to have a hacky install.

As you're trying to patch, there's a better way to intercept the serialisation and create less code by overriding the serialize method (new).

A flag like an environment variable to switch between structured and non-structured would work best here - no patch necessary. You c

[2021-05-06 07:49] heitorlessa commented on #407
Just released 1.15.0 with LOTS of goodies including a banner in the docs to cautious people on this, and a more explicit way to append **and remove** keys at runtime: https://github.com/awslabs/aws-lambda-powertools-python/discussions/423

Thanks again for reporting and helping us improve this for everyone :)

[2021-05-06 07:49] #407 closed

[2021-05-06 07:51] heitorlessa commented on #409
All of this is now out in 1.15.0 release: https://github.com/awslabs/aws-lambda-powertools-python/discussions/423.

I'll work on a sample solution to switch handlers and a custom formatter that relies on a flag for that. In the meantime, the Pytest Live Log feature might be helpful to quickly visualize logging statements during the tests without having to hack or patch any code: https://awslabs.gi

[2021-05-06 07:52] heitorlessa commented on #402
This is now out as part of 1.15.0!!! Thanks a lot again for the contribution ;)

https://github.com/awslabs/aws-lambda-powertools-python/discussions/423

[2021-05-06 07:52] #402 closed

[2021-05-06 07:52] heitorlessa commented on #381
This is now out in 1.15.0: https://github.com/awslabs/aws-lambda-powertools-python/discussions/423.

```logger = Logger(service="example", utc=True)``` ;)

[2021-05-06 07:52] #381 closed

[2021-05-06 07:53] heitorlessa commented on #325
This is now OUT, thanks a lot for the gigantic help here @michaelbrewer -- https://github.com/awslabs/aws-lambda-powertools-python/discussions/423

[2021-05-06 07:53] #325 closed

[2021-05-07 05:22] michaelbrewer commented on #411
@marcioemiranda v1.15.0 is out now, maybe play with this and see what is missing. From my initial discussions we might want to add:

- A standard set of exceptions (InternalServerError)
- A standard set of responses (NotFoundResponse)

[2021-05-07 08:07] heitorlessa opened #427 "Update list of features to reflect API GW event handler"
**What were you initially searching for in the docs?**

List of updated features in the homepage.

**Is this related to an existing part of the documentation? Please share a link**

https://awslabs.github.io/aws-lambda-powertools-python/latest/#features

**Describe how we could make it clearer**

Add a new row pointing to the newly launched API Gateway event handler here: https://github.com/awslab

[2021-05-08 05:38] michaelbrewer opened #428 "Add DEBUG mode to the API Gateway Event Handler"
**Is your feature request related to a problem? Please describe.**

When there was an error while developing my initial lambda, i would like to be able to see more information when debug mode is turned on.

**Describe the solution you'd like**

Add a DEBUG mode or feature flag, that should never used in production, which can do the following:

1. Pretty print the json responses
2. Get more context

[2021-05-08 05:40] michaelbrewer commented on #322
Some to think about for V2

[2021-05-08 14:43] heitorlessa commented on #427
Closing as per: https://github.com/awslabs/aws-lambda-powertools-python/commit/e08e7f91bcceb95aedfdfc00fac4371ff323e583

[2021-05-08 14:43] #427 closed

[2021-05-08 15:29] heitorlessa commented on #409
Here's two examples - 1/ Using Pytest Live Log feature w/ no code change, 2/ Conditionally adding a plain text formatter and logging to a file when a flag is set

https://gist.github.com/heitorlessa/cc36ca86c26ce83eec855b9c250b9e1c

One limitation which I can fix in the next version is the lack of `extras` keys. I'll update the signature of the public `serialize` method to include the raw log reco

[2021-05-09 12:13] ItayGoren opened #429 "multi threaded xray support"
**Is your feature request related to a problem? Please describe.**
Looking at xray documentation, to work with multi-threads i need to do the following:
1. pass xray_recorder.get_trace_entity() to each thread as parameter
2. call xray_recorder.set_trace_entity(trace_entity) at the start of each thread
3. call xray_recorder.clear_trace_entities() at the end at the end of each thread
There is no suc

[2021-05-09 12:44] heitorlessa commented on #429
Hey @ItayGoren - thanks for raising this.

This is supported through our escape hatch mechanism:

https://awslabs.github.io/aws-lambda-powertools-python/1.15.0/core/tracer/#escape-hatch-mechanism

We essentially expose xray_recorded via the "provider" property.

Happy to add a more specific example in the docs for threading later this week

[2021-05-10 10:13] eduardomourar opened #430 "Integrate with AWS Distro for OpenTelemetry"
* Why [AWS Distro for OpenTelemetry](https://aws.amazon.com/otel/)?

Because there is a few overlap between the lambda power tools and OpenTelemetry, it would be nice to see how the layer provided can be reused or merged:
https://github.com/open-telemetry/opentelemetry-lambda/tree/main/python

Another important aspect, although it has not been fully finalized yet, is to follow the [Log Data Model]

[2021-05-13 09:57] bml1g12 commented on #409
Will need to test in more detail later but it seems some part of the above changes means that we string substitution into the structured logging is not working.

i.e. is_human_readable_enabled = False (structured logging enabled)

LOGGER.info("Hello %s", 1)

Shows in CloudWatch "hello %s" rather than "hello 1"

[2021-05-13 10:09] heitorlessa commented on #409
It’s merged in develop. I’ll make a release tomorrow to include it

On Thu, 13 May 2021 at 11:57, Benjamin Lowe ***@***.***>
wrote:

[2021-05-13 11:03] MicheledG opened #431 "v1.15.0 does not support string formatting "%s" anymore"
Hi all,

our team has recently noticed that logs produced by lambda functions using this `aws_lambda_powertools.Logger` report the operator "%s" instead of the actual value of the variable/string provided as a parameter to the logger function (such as `debug|info|etc...`).

Since the issue suddenly showed up after 2021-05-07, we have the doubt the library update (v1.15.0) introduced the problem.

[2021-05-13 11:26] heitorlessa commented on #431
Hi @MicheledG - we've merged the fix in develop, and will be releasing a patch either today or tomorrow the latest.

Thanks for reporting it

[2021-05-13 11:38] heitorlessa commented on #431
@MicheledG 1.15.1 is now out with the fix -- could you please triple check that this works now?

[2021-05-13 11:39] heitorlessa commented on #409
@bml1g12 the regression fix is now out as part of 1.15.1 - would you mind triple check that for us?

[2021-05-13 11:49] MicheledG commented on #431
I confirm that now the string formatting is correctly executed, thank you very much for the quick support!

[2021-05-13 11:49] #431 closed

[2021-05-13 12:48] bml1g12 commented on #409
I can confirm it fixes this issue for me

[2021-05-13 13:22] heitorlessa commented on #358
Thinking a bit more on this... I believe we could change `idempotency` to offer a standalone function so customers can make any other function within their code idempotent not only the Lambda handler.

This would also be an opportunity to make `@idempotent` decorator to accept any other function/method.

[2021-05-13 13:58] heitorlessa opened #1173 "Sensitive data masking utility"
**Runtime e.g. Python, Java, all of them.** Python

**Is your feature request related to a problem? Please describe.**

As a customer, I'd like to obfuscate incoming data for known fields that contain PII, so that they're not passed downstream or accidentally logged.

**Describe the solution you'd like**

It could be any of these ideas or something better if anyone wants to chime in:

* Similar to

[2021-05-13 14:18] bml1g12 commented on #409
When running your GIST example
[code]
The stacktrace is not logged by a logger.exception call - how does one provide a nicely formatted stack trace?

[2021-05-13 17:08] heitorlessa commented on #409
I'd do what you basically did - Extract `exception_name` and `exception` and use it just like you did.

I've updated the gist to include the exception and the traceback. The stack trace is formatted in an earlier step of the `LambdaPowertoolsFormatter` named `format()`, so all you need to do within `serialize` is to decide how the final output should be.

If you want, you could use a `if` bloc to

[2021-05-14 13:23] heitorlessa opened #1167 "Logger to support arbitrary key=value style arguments in log statements"
**Runtime:** Python

**Is your feature request related to a problem? Please describe**

As per [discussion](https://github.com/awslabs/aws-lambda-powertools-python/discussions/399) originally posted on Python repo, this feature request is related to Logger being able to use key value arguments in log statements e.g. `logger.info("my message", my_key="value", request_id="123d023f0-alk322f")`.

**De

[2021-05-14 14:03] heitorlessa opened #1169 "New testing utility"
**Runtime:** Python

**Is your feature request related to a problem? Please describe**

As per this [discussion](https://github.com/awslabs/aws-lambda-powertools-python/discussions/337), creating test events for Lambda event sources is a laborious process.

Finding the correct event with default values tend to be **1/** invoking a Lambda function, **2/** logging the event, **3/** extracting the lo

[2021-05-18 04:47] michaelbrewer opened #433 "Docs: Add link to the Powertools roadmap from the readme"
New Powertools users won't know to look for the Roadmap before logging new issues.

[2021-05-18 04:48] michaelbrewer commented on #355
@heitorlessa should we be adding CDK examples along side the AWS Sam instructions?

[2021-05-18 06:35] heitorlessa commented on #433
🤐 I was waiting for us to reach the first 1M downloads by the end of the
week before spreading the word more widely ;-)

I’ll update the docs this week and add a few other things I missed on the
repo

On Tue, 18 May 2021 at 06:47, Michael Brewer ***@***.***>
wrote:

[2021-05-18 14:17] xpayn opened #434 "Add APIGateway*EventModelV2 to parser"
I think that being able to use the parser module with APIGatewayV2 would be a nice little ergonomic improvement.
today my code looks like:
[code]

It's not a big diffence but I think it looks better like this
[code]

If you accept PR and I have some spare time, I'll try to make something.
Thx

[2021-05-18 15:45] heitorlessa commented on #434
Hey @xpayn - Absolutely, I'd love to help with any guidance if you can make a PR.

[2021-05-18 16:43] #429 closed

[2021-05-18 17:57] heitorlessa commented on #429
Hey Itay - could you share if that worked for you?

On Tue, 18 May 2021 at 18:44, ItayGoren ***@***.***> wrote:

[2021-05-19 07:36] heitorlessa opened #435 "Host a Powertools office hours session"
### Discussed in https://github.com/awslabs/aws-lambda-powertools-python/discussions/343

<div type='discussions-op-text'>

<sup>Originally posted by **michaelbrewer** March 15, 2021</sup>
I think it would be great to have an office hours session on Twitch or Youtube, where contributors and customers of the Powertools can bring up questions and we can talk about new ideas and roadmap.</div>

[2021-05-20 04:36] #433 closed

[2021-05-20 16:14] rickyaws opened #460 "Leveraging Lambda Powertools Logger for querying in Athena or other AWS services"
**Runtime:**
Python

**Is your feature request related to a problem? Please describe**
IHAC who was looking into the benefits of the logger formatting but was having a hard time getting Athena to ingest the logs from Cloudwatch and create a schema out of them and was wondering if there was any consideration on the logger format to be  more friendly to data ingestion by other services outside of Cl

[2021-05-21 09:36] heitorlessa commented on #409
Hey @bml1g12 checking in to see if you still need any help here :)

[2021-05-21 09:38] heitorlessa commented on #434
Sure, it'd need an additional check if it's a Pyndantic Model, then you can call `.json()` to do the serialization of all of their custom types and such: https://pydantic-docs.helpmanual.io/usage/exporting_models/#modeljson

[2021-05-21 17:13] bml1g12 commented on #409
Ah all good thanks; working nicely and thanks for your assistance with this one.

[2021-05-21 17:13] #409 closed

[2021-05-23 08:46] risenberg-cyberark commented on #434
@xpayn @heitorlessa  if you havent started it yet, i can do it this week.

[2021-05-23 08:50] risenberg-cyberark opened #436 "Security issue in Pydanic"
Upgrade Pydantic to 1.8.2 to resolve the security issue.
See
https://pydantic-docs.helpmanual.io/changelog/
and
https://github.com/samuelcolvin/pydantic/security/advisories/GHSA-5jqp-qgf6-3pvh

[2021-05-23 15:53] heitorlessa commented on #436
Released as part of 1.16.1

[2021-05-23 15:53] #436 closed

[2021-05-23 18:54] heitorlessa opened #439 "[Maintenance] Include instructions for git-chglog"
[git-chglog](https://github.com/git-chglog/git-chglog) allows us to pre-generate a changelog that matches Keep A Changelog format we use.

This will help speed up releases while keeping the human readable element of rewording PR titles to that might have exceeded char limits, etc.

[2021-05-23 18:56] heitorlessa opened #440 "[Maintenance] Enable dependabot package updates"
Expand `dependabot` scope to also keep upstream dependencies up-to-date: https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/enabling-and-disabling-version-updates

[2021-05-24 06:17] risenberg-cyberark commented on #434
see https://github.com/awslabs/aws-lambda-powertools-python/pull/441

[2021-05-24 08:10] xpayn commented on #434
I was planning to make the PR today, I just wanted to review my code before, but i'll read yours instead

[2021-05-25 22:00] michaelbrewer commented on #434
Seems like we are mixing things here. I think @xpayn  is referring to the Event Source Data Classes.

[2021-05-25 22:01] michaelbrewer commented on #434
Note, @xpayn  there is also https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/

[2021-05-25 22:30] michaelbrewer commented on #434
@xpayn @risenberg-cyberark

Below is what i mean as an equivalent implementation for event source data classes (all of the in fact), and you would also
benefit from the utility methods like  `get_header_value`

[code]

Usage wise, it would look like this

[code]

To test:

[code]

[2021-05-26 02:53] michaelbrewer commented on #434
@heitorlessa  @xpayn @risenberg-cyberark  created then equivalent for the event source data classes see PR  #442 .

[2021-05-28 13:49] #439 closed

[2021-05-28 19:37] michaelbrewer commented on #434
note that the `event_parser` has to be currently placed after the idempotent handler (and not before) otherwise you will get the following error:

[code]

[2021-05-29 17:07] #440 closed

[2021-06-02 07:54] aquisx opened #457 "Event validation error with SNS Event"
I'm facing currently a validation error using the Lambda Powertools Python libary in a lambda function.
The validation command is:
[code]

For me everything seems right but I'm getting the following error:

[code]

That doesn't make any sense for me, because why is validate expecting a string, usually event is a dict object and I can't find any information is the documentation.

The event for test

[2021-06-02 10:51] heitorlessa commented on #457
Hey @aquisx - Thanks for raising this!

How did you create the testing event?

By looking at the event, I'd guess you have `EventBridge -> SNS -> Lambda`. In that case, EventBridge will serialize the EC2 event and pass a Payload to SNS - hence why it's failing because SNS doesn't send the payload message as a dictionary but as a JSON string.

I've just re-created that to double check in case SNS c

[2021-06-03 12:10] LironEr commented on #407
Hey @heitorlessa

So currently, is there a way to remove all keys at the start of the lambda?
I couldn't find anything in the docs / code

I dont want keys from old lambda invocations to pass to a new lambda invocation, so I must remove keys everytime at the start of the lambda.

[code]

Thanks!

[2021-06-03 14:54] heitorlessa commented on #407
Hey @LironEr - nope, is that because you want a clean slate and you’re not
sure what keys were added along the code execution?

There is one way today (structure_logs method, no args), but that will also
remove Lambda injected context.

if you don’t mind, open up a feature request and we can easily do a flag at
the inject lambda context to clean up the state before injecting the
context, or someth

[2021-06-04 10:03] heitorlessa commented on #355
@michaelbrewer I'd like to wait for more customers to raise before we do. Terraform is more widely used, so I'd like to add all of them as soon as we get our next biggest chunk of work done - Public Lambda Layers ARN by @am29d

[2021-06-05 06:12] michaelbrewer commented on #346
@heitorlessa - is there any pieces of this you would want me to help look into?

I could provide links to underlying api dates for each of the data classes from the docs?

[2021-06-05 13:51] gwlester opened #461 "Add method to DynamoDB Stream Event AttribubuteValue to return the proper type for that AttribubuteValue"
**Is your feature request related to a problem? Please describe.**

When attempting to transverse a **DynamoDB Stream Event**, it would be nice to know the datatype of an **AttributeValue** so the correct call to get the value could be made.  I.E. string vs list vs map.

**Describe the solution you'd like**

Add an **AtributeValue** method that would return the type of value for that attribute.  I

[2021-06-05 13:54] gwlester commented on #346
I agree, we had to go diving in the code to see what methods the **DynamoDb Stream Event** (and the classes it uses) had.

I may have even missed some that caused me to open a **Feature Request** here.

[2021-06-05 15:48] heitorlessa commented on #346
@gwlester I'm sorry to hear you had to resort to that, that's not the experience we want to provide.

This is the direct link to the API docs: https://awslabs.github.io/aws-lambda-powertools-python/develop/api/utilities/data_classes/dynamo_db_stream_event.html

After 1.17.0 release this coming week during business hours, I'll drop all else to revamp this doc.

@michaelbrewer for now, a table of al

[2021-06-05 16:06] gwlester commented on #346
FYI I started from https://awslabs.github.io/aws-lambda-powertools-python/latest/ -- no rush.

BTW, we _**LOVE**_ this package!!!!

[2021-06-06 06:28] michaelbrewer commented on #461
@gwlester I have a PR for this https://github.com/awslabs/aws-lambda-powertools-python/pull/462.

Can you check if this is what you want.

[2021-06-06 06:36] michaelbrewer commented on #346
Maybe there is a better way to integrate the docs and the api docs?

[2021-06-07 19:17] zlalvani opened #465 "Tracer.capture_method decorator does not preserve function type hints"
**What were you trying to accomplish?**
I want to use the `@tracer.capture_method` decorator for detailed function level tracing however it's currently unusable because it disables all errors when linting with `mypy`.

## Expected Behavior
See code example below

## Current Behavior
Function signatures (argument and return types) are not preserved when decorated with `@tracer.capture_method` and l

[2021-06-08 16:49] gwlester commented on #461
Since the PR got merged -- should this issue be closed now?

Just asking,

[2021-06-08 16:55] michaelbrewer commented on #461
@gwlester kind of, us to you ;-). Once it is deployed, maybe you can help validate that it works for you.

[2021-06-08 18:02] gwlester commented on #461
@michaelbrewer -- let me know when 1.17.0 is available to deploy!  Thanks again!!!

[2021-06-08 18:28] heitorlessa commented on #434
hey @xpayn - this is now available as part of 1.17.0 🎉 - I've added an example using both Model and Envelope for HTTP API: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.17.0

Big thanks to @risenberg-cyberark on the implementation

[2021-06-08 18:28] #434 closed

[2021-06-08 18:30] heitorlessa commented on #461
hey @gwlester this is now available! Added an example in the release notes as well as the docs: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.17.0

Closing this now as it's already available in PyPi too :)

Thanks a lot @michaelbrewer for the implementation

[2021-06-08 18:30] #461 closed

[2021-06-08 18:32] JonHolman opened #469 "UnitTests result in `AttributeError: 'NoneType' object has no attribute 'function_name'`"
I have added AWS lambda powertools to one of my projects and now I am having trouble getting the unit tests working again.  Initially I was getting an error:
`aws_xray_sdk.core.exceptions.exceptions.SegmentNotFoundException: cannot find the current segment/subsegment, please make sure you have a segment open`

so I added the following to my tests/__init__.py file:
`import os

os.environ["POWERTOOL

[2021-06-08 18:37] heitorlessa commented on #465
Hey @zlalvani thanks a lot for raising this. While we've had numerous MyPy issues fixed we don't yet have full support for it -- Roadmap item that you can help us +1 to prioritize: https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/3

I'm unsure how to fix this atm as I had thought `functools.wraps` would ensure some level of correctness here (not at wrapt level, tho) -- This is that

[2021-06-08 18:43] heitorlessa commented on #469
Hey @JonHolman, thanks for opening your first issue ;) Could you share a snippet of your test?

By looking at the stack trace, it seems that your unit test doesn't pass a fake Lambda Context, and therefore `@logger.inject_lambda_context` fails to get `function_name` property as part of your unit test.

We have a section in our documentation with sample code you can use to solve this: https://awsla

[2021-06-08 18:46] JonHolman commented on #469
Thanks @heitorlessa .  I'll try adding this stuff.  FYI, this full test file is currently just this:

`import unittest
import warnings
import mock
from src.version import version

class TestVersion(unittest.TestCase):
    def setUp(self):
        warnings.filterwarnings("ignore", category=ResourceWarning, message="unclosed.*<ssl.SSLSocket.*>")

    def test_response(self):
        print()

[2021-06-08 18:49] heitorlessa commented on #469
Great, that’s exactly it — None as the context argument will cause that
issue you bumped into. That LambdaContext sample in the Logger docs will
fix it ;)

Lemme know otherwise and I can send you a sample tomorrow morning (I’m
based in the Netherlands)

On Tue, 8 Jun 2021 at 20:47, Jon Holman ***@***.***> wrote:

[2021-06-08 18:59] JonHolman commented on #469
It's fixed.  Thank you so much @heitorlessa .

[2021-06-08 18:59] #469 closed

[2021-06-08 19:35] risenberg-cyberark opened #470 "RFC: Feature toggles rule engine - make AWS AppConfig great again"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Utilities - AppConfig
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): (Yes/no)
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]:  Simplify the usage of feature toggles with AppConfig. Take it to the next level with a rule engine that provides calculated values of feature

[2021-06-11 16:34] ShengHow95 opened #476 "Failed to send data to X-Ray daemon. OSError: [Errno 90] Message too long"
I am trying to use aws-lambda-powertools in my lambda function and when I run my lambda function, it came out with this error but my lambda function still able to run and complete. I suppose version 1.17.0 has already included `streaming_threshold=0` but I would still get the same error with `Message too long`.

**What were you trying to accomplish?**
I would like to know if there is anyway to fix

[2021-06-11 17:03] heitorlessa commented on #476
Hey @ShengHow95 thanks for raising it!

We indeed fixed it with that setting after X-Ray SDK logic their logic -- I couldn't reproduce it :/

If you were to remove sensitive information, could you share the code you're using so we can try reproducing it?

If you could also share what event source you're using that would be great -- we originally saw this happening with SQS before the fix.

Thank y

[2021-06-11 21:11] thomasklinger1234 opened #477 "Add utility for handling temporary boto sessions"
**Is your feature request related to a problem? Please describe.**

When using the STS `AssumeRole` API to perform tasks in the context of another IAM role, there is usually a lot of boilerplate code to write:

[code]

This feature request is about adding a new small helper utility for switching roles during Lambda invocations easier.

**Describe the solution you'd like**
A contextmanager for assu

[2021-06-11 21:11] thomasklinger1234 opened #1174 "Add utility for handling temporary boto sessions"
**Is your feature request related to a problem? Please describe.**

When using the STS `AssumeRole` API to perform tasks in the context of another IAM role, there is usually a lot of boilerplate code to write:

[code]

This feature request is about adding a new small helper utility for switching roles during Lambda invocations easier.

**Describe the solution you'd like**
A contextmanager for assu

[2021-06-14 14:28] LouisAmon opened #481 "Dataclasses are not... actual dataclasses (?!)"
**What were you initially searching for in the docs?**

I'm using the @event_source decorator and I was looking for a way to print my event in my Cloudwatch logs.

When I simply `print(event)`, I just get a class instance, but I want to be able to see the actual keys and values :)

Being used to working with Python dataclasses, I naturally tried [asdict](https://docs.python.org/3/library/dataclass

[2021-06-14 14:28] LouisAmon opened #1177 "Support Python native dataclass APIs in Event Source Data Classes utility"
**What were you initially searching for in the docs?**

I'm using the @event_source decorator and I was looking for a way to print my event in my Cloudwatch logs.

When I simply `print(event)`, I just get a class instance, but I want to be able to see the actual keys and values :)

Being used to working with Python dataclasses, I naturally tried [asdict](https://docs.python.org/3/library/dataclass

[2021-06-14 16:13] heitorlessa commented on #481
Hey @LouisAmon thanks for raising this. We have created #346 to rewrite the entire documentation on dataclass utility - naming is hard. This next release is 80% dedicated to that doc.

This Friday, I'll start revamping that doc and lay down ambitions for v2 - that includes changing `dataclasses` to <something> more prescriptive so we don't break anyone in v1.

If you have ideas for naming I'd love

[2021-06-14 16:18] heitorlessa commented on #476
I was thinking this over the weekend and one possibility is that the response returned by the handler or decorated function is bigger than 64K it reproduces this issue - that's because we automatically serialize and capture response and exceptions from decorated functions.

If that's the case, could you try disabling this feature to see if that solves it?

Docs: https://awslabs.github.io/aws-lambd

[2021-06-14 16:20] heitorlessa commented on #346
I'm gonna give [mkdocstrings](https://github.com/mkdocstrings/mkdocstrings) another try. This would include API docs with native anchors and structure - last time I tried I didn't have enough time to tune settings and docstrings to better fit in the current structure we have.

[2021-06-15 01:25] ShengHow95 commented on #476
@heitorlessa, I have just tried to include `capture_response=False` in my code and it works. However, I would like to understand a little bit further about what would be the impact of having `capture_response=False` if I include them in all methods and lambda_handler? Will it stop the tracing for all my code?

[2021-06-15 05:24] heitorlessa commented on #476
That's awesome to hear @ShengHow95!

Your code will continue to be traced with this flag. What changes is that we will not capture the entire response as tracing metadata from your handler or method when this is set.

I'm on mobile now, but if you open X-Ray, pick any trace ID, and you should see a Metadata tab -- capture_response=True (default) instructs Tracer to serialize the entire return of y

[2021-06-15 08:30] LouisAmon commented on #481
Well to be honest I think `dataclasses` are indeed a best practice in Python, especially when it comes to data modeling and typing

May I ask why the project didn't go into actually using the `@dataclass` decorator ?

I guess now that a huge amount of code is in place, you can't just add `@dataclass` on top of `DictWrapper`... but still, have you tried ?

I know some projects have encountered limi

[2021-06-15 13:33] ShengHow95 commented on #476
Alright cool. Thanks alot for your assistance @heitorlessa!

[2021-06-16 05:52] michaelbrewer commented on #481
@LouisAmon i added this original as a helper for the event classes, and over time it started to include more features like handling decoding and then decorators for specific use cases.

The objective was to work with Python 3.6 and not have any additional dependencies. So `@dataclasses` is not available in Python 3.6 without a backport. I am sure once we deprecate Python 3.6 support, we can strip

[2021-06-17 01:47] michaelbrewer commented on #481
We (@heitorlessa  and @cakepietoast) did discuss the naming of this in the original PR (https://github.com/awslabs/aws-lambda-powertools-python/pull/159#issuecomment-694342213). I am not sure any name would have worked :). But we tried our best.

Maybe a warning note or something docs could help reduce any potential confusion, and then adding `asdict()` method, could be another alias of `raw_event

[2021-06-17 10:35] LouisAmon commented on #481
Don't get me wrong: you guys did an outstanding job overall, thanks for that !

Maybe, but it feels to me like a half-measure : either you're working with a `dataclass` with the full API or you're simply working on a data `model` (which is very fine, many SQLA / Django users are familiar with that term and what it means)

For example instead of:
[code]

I'd rather see:
[code]

That's my opinion an

[2021-06-17 10:43] LouisAmon commented on #481
Overall, if your concern is to stick with concepts that exist in Python 3.6 then maybe it's best to avoid the `dataclasses` terminology altogether no ?

My personal suggestion would be to be technically compatible with Python 3.6, yet bring them one step into the future (so to speak) by using a [dataclasses backport](https://github.com/ericvsmith/dataclasses)

With the backport in place, you can a

[2021-06-18 05:13] michaelbrewer commented on #481
Which part is different? If we make changes now it would have breaking changes for existing people.

[2021-06-18 05:17] michaelbrewer commented on #481
Yep, it was originally `event sources`, and it could be `models`, but it is `data_classes` so not exactly `dataclasses` ;-)

It is quick too refactor, but it would involve breaking changes for all the library users.

So maybe for V2 when Python 3.6 is deprecated, and whatever this is call moves up a level.

[2021-06-18 05:23] michaelbrewer commented on #481
@heitorlessa - I would propose we switch back to what I had originally suggested as `event_sources` and frame it as classes, utilities and helpers for the AWS standard events. And we can target this for V2 (and when Python 3.6 lambdas are deprecated), and then we can potentially minimize the amount of code.

[2021-06-18 06:32] LouisAmon commented on #481
I agree with you both that making a breaking change just for syntactic changes is not worth it.

I would also propose to make the big change in v2, but at this point : why not consider actually using Python dataclasses ? I mean, since 3.6 is gonna be dropped an all...

By the way, you can even keep the 3.6 support with the backport and the old syntax with a `DeprecationWarning` for a few versions.

[2021-06-18 08:02] michaelbrewer commented on #481
@LouisAmon this library is supposed to run on Python 3.6 and higher, but you are welcome to make a PR with your proposed changes

[2021-06-18 09:43] heitorlessa commented on #481
@LouisAmon - Thank you for your strong opinions and suggestions, we appreciate your enthusiasm to help us make everyone's experience better.

I'd like to clarify a few things as I turn this issue into a feature request and move forward with other higher priorities tasks.

**Dataclasses not being added in day one**. Back then, VSCode and PyCharm didn't have intellisense support for them resulting i

[2021-06-19 05:06] michaelbrewer commented on #481
Good suggestions @heitorlessa.

Just as a note, `raw_event` is just returning the wrapped dictionary object (`self._data`), so when changing this to `asdict()` method people may think we are generating a new dictionary object? Also having both could be confusing too.

Another note about the “event_sources” implementation, if it was implemented as just a wrapper to the original event dict, making i

[2021-06-26 10:47] #476 closed

[2021-06-26 10:48] heitorlessa commented on #457
Closing this as we haven't heard from you - feel free to reopen otherwise.

Thank you

[2021-06-26 10:48] #457 closed

[2021-06-30 06:51] risenberg-cyberark commented on #470
@heitorlessa  After our chat in slack, I thought i'd advance this by providing a working poc with most of the tests. It's pure python, no pydantic!

https://github.com/awslabs/aws-lambda-powertools-python/pull/494

[2021-07-01 15:42] heitorlessa commented on #477
hey @thomasklinger1234 thanks for raising this - I believe this solidifies the idea of having a SDK Helper utility with these and other functions.

What do you think @jplock?

Example: https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/6

[2021-07-01 15:46] lorengordon commented on #477
Fyi, I've been using and love @benkehoe's utility https://github.com/benkehoe/aws-assume-role-lib for this kind of assume-role functionality. Lot of good lessons there.

[2021-07-01 16:09] j2clerck opened #496 "Validator: Date-time format fails validation"
**What were you trying to accomplish?**
I am trying to validate an event against a json schema using the validate function.
```validate(event=json_payload, schema=INPUT)```

## Expected Behavior

I expected the schema to be validated correctly.

## Current Behavior

The validate function is raising the following error:
```Error: argument of type 'NoneType' is not iterable```

## Possible Solution

[2021-07-01 19:15] benkehoe commented on #477
Huh, I have never though about a context manager for role assumption, though I don't see much value as there's nothing for it to do for cleanup or exception handling. The other thing that you want to avoid is doing it on a per-client (e.g., EC2) basis, this is what boto3 sessions are for (and I would suggest guiding people towards sessions rather than hiding them).
You could just import `aws_assum

[2021-07-01 19:45] heitorlessa commented on #477
First time seeing - yet another good SDK goodie - from Ben. Glancing at the
code it’s more elaborate than I suspected, this made me question v2 more
broadly to better accommodate this

A) Move into implicit namespace packages utilities that can be installed
separately along with their deps, or as a whole suite of utilities like we
do today

B) Make all dependencies optional and allow bringing grea

[2021-07-02 06:43] heitorlessa commented on #496
Hey @j2clerck Thanks for raising this - I've just managed to reproduce by re-adding the `date-time` format in the schema.

**Full snippet to reproduce**

[code]

[2021-07-02 07:11] heitorlessa commented on #496
PR created - will merge as soon as CI checks pass. I took a look upstream to further investigate `None`, and what happened there was that despite `string` being the type, it looks up for `format` keyword in the schema, and if it find anything it first tries to use a custom `format` input (None in this case), then fallback to lookup for built-in custom formats introduced in later drafts.

[2021-07-02 07:36] #496 closed

[2021-07-02 07:37] heitorlessa commented on #496
Staging this for the next release - As there's a workaround (`format={}`) for now, I'm gonna finish other changes instead of making an emergency release I normally would -- Let me know otherwise!

[2021-07-02 12:11] heitorlessa commented on #355
Added both CDK and Serverless framework examples - This will be available in the next release. Closing this now and tagging to share when it's released.

[2021-07-02 12:11] #355 closed

[2021-07-02 12:22] heitorlessa commented on #460
Just added to docs and will be available in the next docs release (hopefully next week). Tagging to share once it's available.

[2021-07-02 12:22] #460 closed

[2021-07-02 16:56] michaelbrewer opened #503 "bug: aws scalar type for AWSDateTime should include milliseconds"
**What were you trying to accomplish?**

## Expected Behavior

AWSDateTime - An extended ISO 8601 date and time string in the format YYYY-MM-DDThh:mm:ss.sssZ.

## Current Behavior

AWSDateTime is not including the millisecond part `sss`.

## Possible Solution

Generate timestamps to include the milliseconds

## Steps to Reproduce (for bugs)

[code]

## Environment

* **Powertools version used**: 1

[2021-07-06 06:15] #503 closed

[2021-07-06 06:17] heitorlessa opened #509 "Maintenance: Break down event_source_data_classes tests"
Issue: #504

Functional tests for event source data classes utility are now 1.3K LOC in a single file. This issue tracks resolving them into a test per event source to ease maintenance and contrib

[2021-07-06 06:25] heitorlessa opened #510 "Maintenance: Create API and infrastructure for docs anonymous page views"
As of now, docs use Amplify Analytics module to send anonymous page views to Kinesis Firehose async. This means Amplify JS has to be loaded for it to work and might degrade customers experience in low bandwidth scenarios.

This issue tracks the resolution of creating an API for tracking page views anonymously, and all related infrastructure that should be thought out.

[2021-07-09 08:20] heitorlessa commented on #346
Giving mkdocstrings a try today, will post the results here later

[2021-07-10 07:05] Nr18 opened #518 "RFC: Update, view and remove the correlation id"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Logger
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

When using the correlation feature in conjunction with the SQS you may want to update the correlation id for each message in the incoming batch. This al

[2021-07-10 23:10] marcioemiranda opened #519 "Add support for serializing Enum values automatically in API Gateway Event Handler"
If a route function returns a dict containing an Enum, the json encoder will fail.

## Expected Behavior

Since the Response was not returned, API Gateway event handler will create one. It calls json.dumps to serialize the dict using its own encoder.
The expected json output would transform the Enum in its value.

## Current Behavior

The current behavior is that the encoder throws a TypeError say

[2021-07-11 18:40] marcioemiranda opened #520 "Error resolving path in Api Gateway event handler"
Suppose one has two routes to delete resources like the following:

Use Case 1:

Route in handler

[code]

Request

[code]

Use Case 2:

[code]

Request

[code]

## Expected Behavior

Expected behavior is that account_id equals 123 in both use cases

## Current Behavior

For use case 1 resolver calls the right function and sets account_id = 123
For use case 2, resolver calls the function of use ca

[2021-07-16 15:43] heitorlessa commented on #520
Hey @marcioemiranda , thanks for raising it! Could you share how you're configuring API Gateway?

At a first glance this looks like API GW route matching, so I've created this additional test for use case 2 and it works as expected --- I'm creating an API Gateway with the same path to be on the safe side and report back with a repro repo.

[code]

[2021-07-16 15:50] heitorlessa commented on #520
Yup, confirmed, it's a bug --- I can replicate that locally with SAM CLI too: https://github.com/heitorlessa/pt-issue-520

[2021-07-16 17:50] heitorlessa commented on #520
@michaelbrewer could you look into it as discussed?

@marcioemiranda as a workaround until we fix it, you could change the order of the function definition for the longest/nested being the first one.

For example:

[code]

[2021-07-16 18:26] marcioemiranda commented on #520
@heitorlessa thanks for the workaround.
API gateway was provisioned by CDK => construct LambdaRestApi in '@aws-cdk/aws-apigateway'
BTW, on a different subject, I wonder when #506 will be released.

[2021-07-16 19:08] heitorlessa commented on #520
We're working on some MyPy fixes and as soon as I complete #517 we'll release it OR the documentation for the new Feature Toggles utility #https://github.com/awslabs/aws-lambda-powertools-python/pull/494

ETA next Friday if all goes well

[2021-07-16 19:28] heitorlessa commented on #519
Hey @marcioemiranda, thanks for raising the issue.

This is not a bug though but expected behaviour as Enum are not serialized - I'm changing it to a feature request instead and wait for other customers to chime in with 👍.

You'd have the same behaviour when using other web frameworks like Flask for example:

[code]

[code]

[2021-07-16 19:43] heitorlessa commented on #465
Updating here to let you know the fix will be available in the next release

[2021-07-16 19:52] marcioemiranda commented on #519
@heitorlessa correct, it's a feature request. Meanwhile I am using a custom encoder. It would be nice though to have types such as Enum and set handled by LPT json encoder.

[2021-07-17 07:39] walmsles opened #531 "Using parser with envelopes.ApiGatewayEnvelope"
Using parser() to parse Event for API Gateway Lambda.
APIGatewayProxyEventModel has **version** as mandatory attribute
APIGatewayEventRequestContext has **authorizer** as mandatory attribute

These are not present in ALL Lambda events from API Gateway via Lambda Proxy integration.

**What were you trying to accomplish?**
Trying to parse payload as a Model according to documentation on parser

## E

[2021-07-17 09:06] heitorlessa commented on #531
Hey @walmsles, thanks for flagging it!

Could you give an example of an event that this isn't true so we can flag the official aws docs too?

Happy to accept a PR to make this optional, or work on this right after a Mypy fix I'm working

[2021-07-17 10:28] walmsles commented on #531
Hey have submitted a PR for this (just now :-)).

My PR is consistent with sample events [here](https://github.com/awsdocs/aws-lambda-developer-guide/blob/main/sample-apps/nodejs-apig/event.json)

The event samples (above and below) are also consistent with output from: sam local generate-event apigateway aws-proxy

Event from API GW:

[code]

[2021-07-17 11:13] heitorlessa commented on #531
Staged for next week's release - Friday the latest. Let me know if this is impacting production and I can bring it forward

[2021-07-17 11:18] walmsles commented on #531
All good, not urgent at all.   Thanks 👍

[2021-07-17 12:48] heitorlessa commented on #465
Just merged the fix for synchronous functions - Async however requires the new ParamSpec only available in 3.10, so I'll wait for more customers using mypy + async fn as it'll increase the package size by 240K.

This will be available in next week's release (1.18.0) -- I'll ping back here once it's released.

Thank you again for flagging it @zlalvani

[2021-07-18 17:20] heitorlessa commented on #520
We've got a fix and will ping back once released this week @marcioemiranda ;)

If you're curious: #533

[2021-07-18 18:08] risenberg-cyberark commented on #519
Enums are great but when you return a value for the handler to return back to the user, it must be a json-able value. Instead of Color.RED, write Color.RED.value or str(Color.red). Not sure what kind of feature is required here.

[2021-07-18 18:12] risenberg-cyberark commented on #477
@heitorlessa When we package our lambdas, we explicitly remove boto from the zip file as it's already present in the container image of Lambda. It reduced our zipped by a lot.

[2021-07-18 18:16] lorengordon commented on #477
I wish the lambda runtimes would update their boto3/botocore libraries more often, and make it less necessary to include these in the package. Unfortunately, the versions are often quite out-of-date.

* https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html
* https://github.com/boto/boto3/releases/tag/1.17.42
* https://github.com/boto/botocore/releases/tag/1.20.42

[2021-07-18 18:17] lorengordon commented on #477
But another good reason to package them anyway is to ensure we are using the same versions we test against...

[2021-07-18 18:18] risenberg-cyberark commented on #477
how do you know what version is merged and actually working? there's also the regular boto there.

[2021-07-18 19:20] lorengordon commented on #477
We don't use the original `boto` v1. The version we use is a requirement of our lambda code, not this library. The packaging logic just needs to support some mechanism of specifying exact versions. We use a requirements.txt file, with Dependabot incrementing the version periodically, and CI/CD exercising the change in our test suite. Pretty straightforward.

[2021-07-18 20:30] heitorlessa commented on #518
Thanks a lot for creating the RFC @Nr18 -- I'll re-read it and review the convo on Slack more carefully this week.

I'm happy with the getter but I'm on the fence on the remove method. If I'm reading this right at night, I think there are two things going on here:

**1/** SQS correlation ID
message attribute might not be exist, and it's correctly warning you it might not be what you want to set. I

[2021-07-19 14:43] heitorlessa commented on #518
**Update July 19th**: I've read the thread on Slack, here's my answer as well as both original samples revisited with comments.

I'm happy with the getter and there is no need for a specific method to remove `correlation_id` key, since we already have `remove_keys["correlation_id"]`. I'm also happy with changing the type to `Optional[str]`, this would trigger Logger to remove `correlation_id` key

[2021-07-19 16:52] heitorlessa commented on #518
Moving it to the official Roadmap repo now that's been approved, so we can keep track for other runtimes.

[2021-07-19 20:10] gwlester opened #538 "Please document what "extras dependencies" are included in the Extra layer"
**What were you initially searching for in the docs?**

What additional packages are included in the Extras Layer.

**Is this related to an existing part of the documentation? Please share a link**
Does not appear to be.

**Describe how we could make it clearer**
List the extra packages included in the Extra Layer.

**If you have a proposed update, please share it here**

[2021-07-19 22:27] gwlester opened #543 "Add Support for API Gateway Lambda authorizer"
**Is your feature request related to a problem? Please describe.**

The API Gateway Resolver does not (appear) to support the ability to dispatch to a function as a Lambda authorizer.

**Describe the solution you'd like**

Add support to be able to dispatch to a function that is a Lambda authorizer.

**Describe alternatives you've considered**

**Additional context**

[2021-07-20 07:24] whardier opened #544 "BaseProxyEvent: This should draw from self.decoded_body()"
It seems as though .json_body() would also attempt to decode the body of a proxyevent if the body is marked as base64 encoded.

https://github.com/awslabs/aws-lambda-powertools-python/blob/cb0d54bc36513961422fdebd5953bc11453b4651/aws_lambda_powertools/utilities/data_classes/common.py#L68

[2021-07-20 15:23] heitorlessa commented on #520
Opa @marcioemiranda - This is now available in 1.18.0

More details in the release notes: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.18.0

[2021-07-20 15:23] #520 closed

[2021-07-20 15:24] heitorlessa commented on #465
Hi @zlalvani - This is now fixed in 1.18.0

More details in the release notes: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.18.0

[2021-07-20 15:24] #465 closed

[2021-07-20 15:24] heitorlessa commented on #531
hey @walmsles - This is now fixed in 1.18.0

More details in the release notes: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.18.0

[2021-07-20 15:24] #531 closed

[2021-07-20 22:16] moretension opened #550 "Regression in route match regex in 1.18.0"
The 1.18.0 release resolves the path regex greedy match problem in #520, but introduces a regression in the new regex pattern. To resolve the greedy match issue, #520 matches on the `\w` character set and on the non-word boundary (`\b`) to ensure trailing path components following the match aren't captured. Unfortunately, this change also prevents match of path values containing non-word character

[2021-07-21 02:40] marcioemiranda commented on #519
@risenberg-cyberark, thanks for the comment.

I was thinking something similar to this JSON encoder
https://pypi.org/project/orjson/

It handles types such as Dataclass, Enum, datetime, Decimal, UUID and others. Other cool features in the roadmap, such as filtering attributes of a Dataclass in the encoding process.

The ApiGatewayResolver can wrap the value returned by a handler in a Response obje

[2021-07-21 16:35] moretension commented on #550
I'm hoping someone will be able to take a look at this soon. We need the greedy pattern fix, but can't use 1.18.0 because of the regression preventing use of path parameters containing non-word characters.

[2021-07-23 00:56] zlalvani commented on #465
Awesome thanks for the fix! @heitorlessa

[2021-07-23 05:57] am29d commented on #538
Hi @gwlester, just to clarify: do you want to know what powertools functionality you will have by using the extras layer or are you interested in the python modules that are inside the extras layer?

I can see that the former is not clearly explained in the docs. The latter is part of the dependency definition in [pyproject.toml]([tool.poetry.extras])

[2021-07-23 14:44] gwlester commented on #538
FormerSent from my T-Mobile 4G LTE Device
-------- Original message --------From: Alex ***@***.***> Date: 7/23/21  00:57  (GMT-06:00) To: awslabs/aws-lambda-powertools-python ***@***.***> Cc: Gerald Leter ***@***.***>, Mention ***@***.***> Subject: Re: [awslabs/aws-lambda-powertools-python] Please document what "extras dependencies" are included in the Extra layer (#538)
Hi @gwlester, just to clar

[2021-07-23 18:02] heitorlessa commented on #550
Looking into this now, missed it somehow

[2021-07-23 18:20] heitorlessa commented on #550
PR created - re-reading the RFC for other chars we might be missing and will improve tests with it to be triple sure on it.

Thanks again for providing a quick fix @moretension!

[2021-07-23 19:22] heitorlessa commented on #550
Found other edge cases too, waiting for checks to complete then I'll release a patch version

[2021-07-23 19:41] heitorlessa commented on #550
This is now available in PyPi and on Serverless Application Repository - 1.18.1 --- Could you double check this now works as expected for you @moretension?

Thank you

[2021-07-23 19:52] heitorlessa opened #557 "[Maintenance] GH Actions - build docs only on release and when docs/ change"
Due to the nature of mike's implementation and API docs not being integrated yet, we can't have concurrent docs build (git push state). Atm, docs are being built on push/pr, we need a path filter

[2021-07-23 21:16] moretension commented on #550
Fix confirmed in our unit tests, thanks! And thanks for going the extra mile to make sure you covered all the characters properly.

[2021-07-23 23:48] michaelbrewer commented on #544
@whardier  i have a patch for that. Going to add an example test case to

[2021-07-23 23:58] michaelbrewer commented on #543
@gwlester Do you have an example json event for this?

[2021-07-23 23:58] michaelbrewer commented on #509
@heitorlessa - i don't mind splitting this up :)

[2021-07-24 00:02] michaelbrewer commented on #519
@marcioemiranda  should be easy to implement, but i would agree with @heitorlessa about see what the consensus should be on this.  I can put up a draft PR to see what the impact would be

Otherwise alternative option 1, but be a good solution to allow for more flexibility.

[2021-07-24 04:26] michaelbrewer commented on #519
@marcioemiranda you can also use [IntEnum](https://docs.python.org/3.6/library/enum.html#intenum):

[code]

[2021-07-24 04:32] risenberg-cyberark commented on #519
What we usually do it to define a schema for input validation and output validation in a lambda. We define it using Pydantic.
We return the main handler an output object, so all it needs to is to call the object's json() or dict() function which does the serialisation for it. This way I know that i'm returning a valid output back the api gw.

see https://pydantic-docs.helpmanual.io/usage/exporting

[2021-07-24 04:34] michaelbrewer commented on #519
@risenberg-cyberark haha, but this is not for Pydantic.

This works from for me:

[code]

[2021-07-24 04:41] michaelbrewer commented on #519
A full examples:

[code]

[2021-07-24 04:45] michaelbrewer commented on #519
@marcioemiranda

Alternatively, if you want a custom one now you can always do:

[code]

[2021-07-24 07:19] #550 closed

[2021-07-24 08:24] heitorlessa opened #561 "[Maintenance] Parameters: max_age and other provider settings not discoverable in high level methods"
Get_secret for example doesn't expose max_age parameter which makes customers believe they have to use SecretsProvider adding a few more lined in the UX.

We do propagate the parameters if they use them, so we must improve their experience

[2021-07-24 08:44] heitorlessa commented on #509
I don’t mind at all the extra hand helping out ;-)

On Sat, 24 Jul 2021 at 01:58, Michael Brewer ***@***.***>
wrote:

[2021-07-24 09:49] dreamorosi opened #562 "[Maintenance] Parameters: transform: auto"
**What were you initially searching for in the docs?**

Studying the Parameters BaseClass implementation I noticed that the `get_multiple()` method accepts also a value equal to `auto`.

This value is documented only in the docstring of the method but not on the actual documentation.

**Is this related to an existing part of the documentation? Please share a link**

https://awslabs.github.io/aws-l

[2021-07-24 10:49] heitorlessa commented on #562
Ciao Andrea - yes, please! I could use any help I could get :)

 I’ve noticed other inconsistencies too that’s missing in the docs and
params.

Running the docs locally: make docs-local-docker

On Sat, 24 Jul 2021 at 11:49, boring-cyborg[bot] ***@***.***>
wrote:

[2021-07-26 06:41] heitorlessa commented on #544
Thanks @michaelbrewer and thanks @whardier for raising it.

@whardier we'd appreciate if you use the issue templates we have available next time you open an issue.

Tagging this for 1.19.0 in early August

[2021-07-26 06:46] heitorlessa commented on #477
Thanks a lot everyone - I'm moving this to the official Roadmap to give other customers visibility, as Typescript and C# Powertools are also ramping up quickly to public beta.

Short-term plan is to create a RFC to support SDK high level utilities and gather ideas on what to include. Mid-term, we're working to document the new dynamic feature toggles utility, integrate API reference into the docs,

[2021-07-26 13:08] marcioemiranda commented on #519
@michaelbrewer this is exactly what I am doing now since Enum is not the only type that is not supported.
The feature request was about not having to create the Response object and let ApiGatewayResolver create it for me. This is currently supported, but then I get the problem with JSON encoder.
Creating a Response for each handler generates some boilerplate code. I could define my custom JSON enc

[2021-07-26 14:59] walmsles opened #564 "ApiGatewayResolver dynamic path route misbehaves when "." (dot) character in dynamic part"
Have defined a dynamic API path for the ApiGatewayResolver that is required to contain a "." (dot) character.  When the resolver is called the route does not match and resolver returns a 404 Not Found error message to the caller even though it is actually valid and correct.

Would seem the "." (dot) char is affecting the regex matching in some way.  I have changed my API to use a query parameter i

[2021-07-26 16:03] michaelbrewer commented on #519
sure @marcioemiranda  i am just putting out short term solutions that can work:

1. Using IntEnum
2. Using Response and use your own JSON encoder

I will defer the decision on how we implement a solution for the handler to @heitorlessa

[2021-07-26 19:00] heitorlessa commented on #519
Happy with accepting a custom JSON Encoder in the constructor.

we do that in Logger today in a simpler fashion to support orjson etc.

https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#bring-your-own-json-serializer

That way, if you end up using something else afterwards you can bring the
encoder with you too and it’ll just work (tm)

On Mon, 26 Jul 2021 at 18:03, Michae

[2021-07-26 19:08] heitorlessa commented on #519
Yep I’d say not. Best to support a custom encoder so they can not only
bring support for what they’d like to deserialize/serialize - Enums,
dataclasses, Classes, binary data - but also faster implementations like
orjson if they must.

That would be a conscious choice and something they can reuse elsewhere in
the future too

On Mon, 26 Jul 2021 at 21:03, Michael Brewer ***@***.***>
wrote:

[2021-07-26 19:38] heitorlessa commented on #564
Hey @walmsles, thanks again for spotting another one.

I believe this was fixed on 1.18.1 since we added support for safe and unsafe chars in the route - could you try with the latest version?

I'll check tomorrow morning, but as you're 8 hours ahead, you might find it sooner.

Thanks again!

[2021-07-26 20:22] heitorlessa commented on #564
Added an additional functional test and it works on 1.18.1 as expected, not on 1.18.0 due to regex previously not taking into account other non-word chars -- [this fix is in 1.18.1](https://github.com/awslabs/aws-lambda-powertools-python/pull/556/files#diff-bdb4b43087f89fdf398381f3d88048f6182562ca67e8907259d5c56d658465c1R24)

Let me know if 1.18.1 behaves differently for you and I can dig deeper.

[2021-07-26 22:23] walmsles commented on #564
Hi @heitorlessa - correct!  Fixed as part of 1.18.1 - sorry for not updating and checking first.  Thanks so much for all your work

[2021-07-26 22:24] walmsles commented on #564
Hi @heitorlessa - correct!  Fixed as part of 1.18.1 - sorry for not updating and checking first.  Thanks so much for all your work

[2021-07-26 22:24] #564 closed

[2021-07-27 03:33] heitorlessa commented on #564
Awesome to hear! No worries, that's why we're here for ;)

[2021-07-27 04:00] michaelbrewer commented on #519
Ok @heitorlessa @marcioemiranda i will have a look at this next.

@marcioemiranda  would you be able to have a review of this when it is up as a PR.

[2021-07-27 04:02] michaelbrewer commented on #561
@heitorlessa  Sounds like a small patch. Depending on the planned release schedule i can fit this in

[2021-07-27 12:53] marcioemiranda commented on #519
@michaelbrewer , sure.

[2021-07-27 21:07] michaelbrewer commented on #562
@dreamorosi  - it is worth looking at the test cases. I worked on this feature, but definitely missed out on clear docs for it

[2021-07-28 18:21] whardier opened #570 "RFC: Adding appconfig lambda layer support as appconfig backend."
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known: None
* Area: Parameters
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

Utilize the AWS provided AppConfig Lambda Layer.  This layer is used to provide a proxy request to AppConfig configurations.  The layer has bui

[2021-07-28 18:21] whardier opened #1185 "RFC: Adding appconfig lambda layer support as appconfig backend."
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known: None
* Area: Parameters
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

Utilize the AWS provided AppConfig Lambda Layer.  This layer is used to provide a proxy request to AppConfig configurations.  The layer has bui

[2021-07-29 05:13] Dunedan opened #572 "Enable tracing only when running on AWS Lambda"
**Is your feature request related to a problem? Please describe.**

When running code related to an AWS Lambda function outside of AWS Lambda (e.g. when running unit tests or when re-using a function for something else like a CLI script),  `Tracer` with its default configuration fails, as it expects an open X-Ray segment, which usually isn't available in these cases.

That default behavior require

[2021-07-29 05:15] heitorlessa commented on #572
Thanks a lot Daniel! We’ll work on it

On Thu, 29 Jul 2021 at 07:13, Daniel Roschka ***@***.***>
wrote:

[2021-07-29 14:14] am29d commented on #538
Hey @gwlester , I think something went wrong in your last answer 😅 I can't really see the content of the message.

[2021-07-30 08:38] heitorlessa commented on #570
Hi @whardier thanks for creating a RFC, much appreciated!

We do this today in the Parameters utility - by default we cache any parameter(s) for 5s: https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parameters/#adjusting-cache-ttl

This ensures we cache a given parameter(s) in memory and only make a call to AppConfig in the next invocation if the TTL has expired. There are al

[2021-07-30 13:26] walmsles opened #576 "Allow APIGatewayResolver to handle Custom Domain with Mapping and still work"
**Is your feature request related to a problem? Please describe.**
Have opened as a feature request as I believe this is not exactly a bug, perhaps an oversight in the ApiGatewayResolver design (happy to discuss more).
A couple of months ago I developed an API for a project whose API gateway was associated with a custom domain.
This week I built a new API extension (new gateway) using AWS Lambda P

[2021-07-30 14:03] gwlester commented on #538
what powertools functionality you will have by using the extras layer

[2021-07-30 14:05] gwlester commented on #543
The type is "token"  the exact format of the rest will vary depending on if it is a SAML, OpernID, or some other type of authentication token .

[2021-07-30 15:58] whardier commented on #570
Actually I do utilize the underlaying caching (and am leveraging it in a tool @ work).  The RFC is meant to support the direct use of the AWS AppConfig Lambda Layer in order to pre-load and let it handle the client related aspects of that interface.

From AWS docs:

Powertools addresses the caching aspect for most use cases.  There are some differences between the layer and powertools in this resp

[2021-07-30 17:37] heitorlessa commented on #570
Understood - that's helpful, thank you!

My initial concern was supporting Extensions as part of the project as it's not trivial to debug and maintain yet.

I'll come back to this the week after next, so I concentrate on the next release with an important feature.

[2021-07-31 15:05] michaelbrewer commented on #576
True, i never really thought about this use case, i have come across something similar for my old java lambdas. So might be useful is a way to either set a prefix to allow for this custom mappings.

Would you be able to post some test cases / failing examples. So it is easier to validate we have a good fix for this.

[2021-08-01 00:37] michaelbrewer commented on #543
@gwlester  we have an example event for a lambda authorizer, `tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json` and you see if this looks correct, because then we already support it.

[2021-08-01 01:03] walmsles commented on #576
Hi @michaelbrewer here is an event which is from a custom domain mapping from my actual use case (modified to remove project specific data and sensitive data).

The existing implementation uses the **path** to match to routes which will always include the Custom Domain Mapping value.  If instead the **resource** is used it will always represent what I would naturally put into my route definition u

[2021-08-01 01:16] walmsles commented on #576
Okay - have looked at the other Event Type in test folder to see formats.  My statements are very particular to APi GW so thanks for highlighting ALL the use cases.

I feel the Path Mapping idea you have prototyped is useful - is there a way to use the  **resource** if it exists to work out the mapping based on string difference?  This would allow full use of the PAI GW custom domain mapping,

Als

[2021-08-01 04:16] michaelbrewer commented on #576
If you switch to http api gateways v2 the path is same regardless of how you remap it. So this might be a better option when you can do this.

[2021-08-01 05:49] michaelbrewer commented on #576
@walmsles So for api gateway there are 3 variations (and ALB is similar to the Http API V1), so it is a little complicated
but possible.

## Summary (TLDR)

It might be possible for `{proxy+}` mappings for Rest api and Http api v1 to use the `resource` part of the
event to help autodetect the custom mappings, and then have a flag to auto strip it?

For Http api v2, nothing needs to be done.

## Ba

[2021-08-01 16:23] michaelbrewer commented on #576
@heitorlessa @walmsles  - what do you think is a good solution for this? (and i guess there can be more than one solutions):

1. Docs - Recommending the API Gateway Http API V2 integration, which does not run into this kind of issues?
2. Code - Add an option parameter to to strip by a prefix, but does not support more than one mapping at a time unless the lambda used environment variables. (#579)

[2021-08-01 17:04] heitorlessa commented on #576
Thanks a lot for raising this @walmsles -- this is a known problem in API Gateway that only got fixed in HTTP API as @michaelbrewer pointed out.

As far as I remember this also impacted validation in other frameworks.

I'll think this through with @michaelbrewer this week

Thanks again

[2021-08-02 04:07] michaelbrewer opened #580 "Expand on the Projects `Readme.md`"
**What were you initially searching for in the docs?**

A quick start guide on the GitHub main page for [AWS Lambda Powertools](https://github.com/awslabs/aws-lambda-powertools-python)

**Is this related to an existing part of the documentation? Please share a link**

- [README.md](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/README.md)

**Describe how we could make it clea

[2021-08-04 08:08] am29d commented on #538
Hi @gwlester ,

thanks for the follow up. The extra layer is only required for the parser utility function, from the docs:

I will make it more crispy in the docs that this heavy 75mb dependencies on top will only be necessary for the `parser` feature.

[2021-08-04 14:05] sudhirpandey opened #586 "Ignore tracing for certain Urls /hostname"
**Is your feature request related to a problem? Please describe.**
We are using a capture lambda handler decorations, but unfortunately our lambda is making a large amount of api calls to ec2.amazon.com, which we dont want any trace(segements) for.  Since a large amount of  trace subsegment is generate due to this api call( that happens in loop), we run out of xray limit for  a signel trace which

[2021-08-04 16:30] heitorlessa commented on #586
Hey @sudhirpandey thanks a lot for using Lambda Powertools and for this feature I didn't know ;-)

As this is part of X-Ray extensions, perhaps we could simply export them directly here, then you have full control to follow X-Ray docs as they suggest

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/tracing/extensions.py

If you'd like to take a stab at it

[2021-08-04 17:59] heitorlessa commented on #586
Forgot to share that in the meantime you can disable Tracer auto-capturing your method's response: https://awslabs.github.io/aws-lambda-powertools-python/latest/core/tracer/#disabling-response-auto-capture

[code]

[2021-08-06 03:27] michaelbrewer opened #593 "Utility for paginating through a BOTO3 dynamodb result for resource/tables"
**Is your feature request related to a problem? Please describe.**

When fetching a record set that requires pagination you have to implement something quite awkward.
And if don't naively, you could run into memory issues.

[code]

or use [DynamoDB.Paginator.Query.paginate](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html?highlight=paginate#DynamoDB.Paginato

[2021-08-06 20:25] heitorlessa commented on #593
Thanks for opening that.

That's been an old request asking boto to port the pagination that boto3 DynamoDB client has onto the resource

https://github.com/boto/boto3/issues/2039

This is one among other suboptimal UX issues that makes Pynamodb be a better solution

https://pynamodb.readthedocs.io/en/latest/

[2021-08-06 23:40] michaelbrewer commented on #593
@heitorlessa thanks. PynamoDB looks pretty cool. I was thinking along the same last lines is how they do pagination too.

Weird that JavaScript and Java have a nice unified pagination, but not Python SDK.

[2021-08-08 06:11] risenberg-cyberark commented on #593
@michaelbrewer  I've been using PynamoDB for the past year and can confirm it's awesome and makes life much easier with DynamdoDB.

[2021-08-08 07:49] michaelbrewer commented on #593
@risenberg-cyberark  i am sure anything is better ;-).

For our project we had a very simple 100 line utility iterator which did the same thing to support pagination. So i am just weighting it up.

[2021-08-10 18:01] michaelbrewer commented on #572
@Dunedan - might be fixed in this PR (https://github.com/awslabs/aws-lambda-powertools-python/pull/598)

[2021-08-10 19:20] heitorlessa commented on #519
This is coming up tomorrow morning (EMEA timezone) in 1.19.0

[2021-08-10 19:20] #557 closed

[2021-08-11 08:48] heitorlessa commented on #562
Now released as part of 1.19.0: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.19.0

[2021-08-11 08:48] #562 closed

[2021-08-11 08:48] heitorlessa commented on #519
Now released as part of 1.19.0: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.19.0

[2021-08-11 08:48] #519 closed

[2021-08-11 08:48] heitorlessa commented on #572
Now released as part of 1.19.0: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.19.0

[2021-08-11 08:48] heitorlessa commented on #544
Now released as part of 1.19.0: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.19.0

[2021-08-11 08:48] #544 closed

[2021-08-12 00:54] whardier commented on #544
YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY

[2021-08-12 04:46] michaelbrewer commented on #543
@gwlester @heitorlessa

Ok I see the docs for this is in various places:

- There is a old [blog post on lambda authorizer support](https://aws.amazon.com/blogs/compute/introducing-custom-authorizers-in-amazon-api-gateway/), but it only covers the `TOKEN` type, which is like the example you gave. eg:

[code]

- The [official docs on lambda authorizer](https://docs.aws.amazon.com/apigateway/latest/

[2021-08-12 04:49] michaelbrewer commented on #561
@heitorlessa - I think we can close this now :)

[2021-08-13 07:58] #561 closed

[2021-08-14 06:04] michaelbrewer commented on #576
@heitorlessa - based on our last discussion. One solution was to rebuild against the “resource” path, vs just using the “path” (which will include any custom mappings).

To be able to rebuild the resource path we need to replace the “resource” with “pathParameters”. As this might be a breaking change, we can add this as a flag which is turned of by default (like `use_resource_path`)

[2021-08-14 06:06] michaelbrewer commented on #543
@heitorlessa based on our last discussion, we agreed to tackle this for the most common event types and also cover AppSync lambda authorizor.

@heitorlessa could you help supply a list of real world fixtures for all of the possible variations for requests. And examples for the responses.

[2021-08-15 01:29] michaelbrewer commented on #543
@gwlester  - i added an example implementation for AppSync. See this PR for the usage:

- https://github.com/awslabs/aws-lambda-powertools-python/pull/610

@heitorlessa once we are happy with the api, i can look at the API Gateway Authorizer.

[2021-08-15 15:42] heitorlessa commented on #593
Closing this as PynamoDB offers a much improved experience on this and many other fronts.

[2021-08-15 15:42] #593 closed

[2021-08-15 15:46] heitorlessa commented on #543
Moving this to the Roadmap to improve visibility of what's being worked on.

[2021-08-15 15:48] heitorlessa commented on #576
Transferring this to Roadmap to improve visibility on what's being worked on.

I'm pondering that we should be treating this as a bug for REST API v1 (sub-optimal event), since that will only break unit tests for folks not the actual experience - please correct me if I'm wrong.

[2021-08-15 15:50] heitorlessa commented on #586
Transferring to Roadmap to improve visibility of what's being worked on.

[2021-08-15 18:59] michaelbrewer opened #611 "`make docs-api-local` fails for the utilities docs"
When running `make docs-api-local` I get the following error when browsing the docs for the utilities

[code]

**What were you trying to accomplish?**

Local testing of the API Docs

## Expected Behavior

No errors

## Current Behavior

Errors

## Possible Solution

Add `allow_reuse=True` as suggested. (Or some other better fix @risenberg-cyberark ?)

## Steps to Reproduce (for bugs)
1. run `make

[2021-08-15 19:03] michaelbrewer commented on #611
@heitorlessa  @risenberg-cyberark I am not sure why this suddenly started, and I am sure my fix it not right. But it does at least render the docs

[2021-08-17 05:19] hjurong opened #617 "adding data_as_bytes to KinesisStreamRecordPayload"
**Is your feature request related to a problem? Please describe.**

currently the `KinesisStreamRecordPayload` has `data_as_text` and `data_as_json` helpers which are useful for deserialising text/json payload; however, we can have gzipped payload (e.g., from cloudwatch logs) which we don't want to convert to `str` but still want to leverage the dataclass to do the base64 decode

**Describe the so

[2021-08-19 04:11] michaelbrewer commented on #611
@heitorlessa i need some help confirming the fix for this.

[2021-08-19 05:19] heitorlessa commented on #611
I need time to dig into that — I tried running the API Docs locally on
develop branch and it worked for me. I’ll try creating a fresh virtual env
to see if it’s a dependency issue perhaps.

That error typically suggests we did something wrong in the code which is
why I’m puzzled

On Thu, 19 Aug 2021 at 06:11, Michael Brewer ***@***.***>
wrote:

[2021-08-19 05:29] michaelbrewer commented on #611
@heitorlessa  - if it is not happening it might be my setup running Python 3.9.6 on MacArm. :P

[2021-08-19 08:28] heitorlessa opened #621 "HTTP API non-$default stage includes stage in rawPath as a prefix"
**What were you trying to accomplish?**

Configure a resource (/payment) with method in HTTP API to work with Event Handler utility.

## Expected Behavior

Route to match

## Current Behavior

API Gateway event handler returns 404

## Possible Solution

Strip the stage out in the event path if available.

## Steps to Reproduce (for bugs)

1. Create a HTTP API
2. Create an integration with Lambda u

[2021-08-19 08:30] heitorlessa commented on #621
@michaelbrewer created the issue so we don't forget

[2021-08-19 11:34] #611 closed

[2021-08-19 12:21] heitorlessa commented on #621
actually I'm wrong here, `routeKey` has the METHOD + <path>, not `rawPath`.

https://github.com/awslabs/aws-lambda-powertools-python/pull/579#issuecomment-901137849

[2021-08-19 12:24] heitorlessa commented on #621
HTTP API v2 does seem to add the stage as part of `rawPath` tho according to the dumps above - I renamed the default stage from $default to `default` and it appears in the event, which it'll also lead to 404.

Need to test with additional stages and once again with $default.

[code]

[2021-08-19 12:46] heitorlessa commented on #621
Yep, that's another piece we need to work on to strip the stage IF not $default in HTTP API payload, or else it'll fail routing too.

**Brand new HTTP API using $default stage**

[code]

[2021-08-19 15:16] heitorlessa commented on #621
@michaelbrewer
I've exposed endpoints that you could use to more easily generate these events, so it only generates the exact format I've used in these dumps:

**v2 payload**

* **HTTP API w/ default stage ($default)**: https://api.serverlessa.dev/v4/payment
* **HTTP API w/ custom stage (default)**: https://api.serverlessa.dev/v3/payment

**v1 payload**

* **HTTP API w/ v1 payload**: https://api.s

[2021-08-20 03:49] marcioemiranda opened #624 "API Gateway proxy integration to api gateway"
**Is your feature request related to a problem? Please describe.**
Use case:
Serverless microservices are deployed as API Gateway + Lambda Proxy Integration. Authentication is IAM based.
Other API gateways are used to expose these services. They can act as proxy to microservices or as a composer. In this scenario, the job of API gateway is not only to authenticate requests (Cognito, Custom) and do

[2021-08-20 04:48] michaelbrewer commented on #624
@marcioemiranda  - we do already route on `path` and not the `resource`, so it is actually more gears for `proxy` and `proxy+` type of integration.

[2021-08-21 02:37] whardier opened #629 "Add support for MemoryDB as Idemopotency backend"
https://aws.amazon.com/about-aws/whats-new/2021/08/amazon-memorydb-redis/

[2021-08-21 02:37] whardier opened #1181 "Add support for MemoryDB/ElasticCache/Redis as Idempotency backend"
Updated topic to mention ElasticCache and general Redis as well.

https://aws.amazon.com/about-aws/whats-new/2021/08/amazon-memorydb-redis/

[2021-08-21 11:50] heitorlessa commented on #621
Coming in today's release.

[2021-08-21 11:50] #621 closed

[2021-08-21 11:57] heitorlessa commented on #617
Coming in today's release!

[2021-08-21 11:57] #617 closed

[2021-08-21 13:10] heitorlessa opened #631 "Document how to unit test idempotency"
**What were you initially searching for in the docs?**

How to unit test code when using [idempotency utility](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/)

**Is this related to an existing part of the documentation? Please share a link**

**Describe how we could make it clearer**

Like other utilities, create a section `Testing your code` with an example t

[2021-08-21 16:27] BastianZim opened #634 "Include THIRD-PARTY-LICENSES in PyPI tarball"
**Is your feature request related to a problem? Please describe.**

Currently, THIRD-PARTY-LICENSES is not included in the PyPI tarball: https://pypi.org/project/aws-lambda-powertools/#files

**Describe the solution you'd like**

It would be great, if the THIRD-PARTY-LICENSES file is also included.

**Describe alternatives you've considered**

**Additional context**

I am the maintainer of the [co

[2021-08-21 16:36] BastianZim commented on #634
Happy to put in a PR if this is something that's acceptable.

[2021-08-21 17:01] heitorlessa commented on #634
Hey Bastian - absolutely, feel free to open a PR and we can merge it;
sounds like it was an oversight on my part

On Sat, 21 Aug 2021 at 18:36, Bastian Zimmermann ***@***.***>
wrote:

[2021-08-21 17:06] BastianZim commented on #634
Hi Heitor, awesome, have added the PR (At least that's where I think it's included). Thanks!

[2021-08-21 17:32] #634 closed

[2021-08-21 19:52] heitorlessa commented on #634
Thanks a lot @BastianZim foe the PR - merged it earlier. I'll ping here once we make a release in the coming weeks - we've got some new enhancements we want to work on first.

Also, first time I hear about conde feedstock, so thanks a lot for including us :-)

[2021-08-21 19:56] BastianZim commented on #634
My pleasure, thanks for merging @heitorlessa! Of course, nothing urgent on my side. I'm following the releases so no ping needed for me, just FYI. :)

Of course! Let me know if anyone here wants to be a maintainer there as well at some point.

[2021-08-22 05:42] walmsles opened #638 "Idempotent utility should consider json attribute ordering when creating HASH keys"
I was curious about the idempotent implementation and the general property of REST API bodies being un-ordered lists of JSON attributes. A REST API should be resilient to consumers and pragmatic in its approach to reading data supplied by clients calling them.

I created a simple JSON REST API using serverless and Powertools and implemented the Idempotency utility as follows:

[code]

I deployed t

[2021-08-22 05:54] heitorlessa commented on #638
Great catch, indeed an oversight. Would you mind sending this fix ;)?

I was planning to include - bring your own serializer - as part of this
release but ran out of time

On Sun, 22 Aug 2021 at 07:42, walmsles ***@***.***> wrote:

[2021-08-22 06:06] walmsles commented on #638
@heitorlessa  Let me have a go - The test for this one are slightly scary but let me take a look :-)

[2021-08-22 06:26] heitorlessa commented on #638
Not to worry, I know it can be intimidating as it's the most complex part of Powertools - Just got a test for that while I wait for my flight ;) Fix coming soon

[2021-08-22 06:30] heitorlessa commented on #638
Waiting for CI checks then releasing it ;)

That's how a test for that looks like

[code]

[2021-08-22 06:35] walmsles commented on #638
@heitorlessa all the MockPersistenceLayer setups need to include 'sort_keys=True' for all the existing tests as well.  I had progressed to making the existing tests fail Will wait for your fix to come through

[2021-08-22 06:47] heitorlessa commented on #638
Fixed it - it was actually needed in conftest too as there were plenty of `json.dumps` for dummy hash idempotency keys. Turns out I forgot how long I had to walk to find my gate ;D

For the MockPersistenceLayer, I didn't include the sort_keys up there deliberately, so I can pass `payload=data_two` down there to ensure they're sorted in the implementation

[2021-08-22 06:55] heitorlessa commented on #638
Available in PyPi now as 1.20.1 - Lambda Layers might take up to 5 minutes to complete ;)

Thank you so so much again @walmsles !

[2021-08-22 06:55] #638 closed

[2021-08-22 06:55] heitorlessa commented on #634
Available now in PyPi as 1.20.1 ;)

[2021-08-22 07:02] BastianZim commented on #634
Thank you!

[2021-08-22 08:20] BastianZim commented on #634
@heitorlessa Would you mind opening the issue again? Unfortunately, the license is still not included: https://pypi.org/project/aws-lambda-powertools/#files
Not entirely sure why as I thought this is done through the Manifest but I have to admit that I'm not the greatest expert on python packaging so I'll try but am probably the wrong person to investigate this further.

[2021-08-22 12:30] mkamioner opened #642 "RFC: Including the Typing returns in Metrics"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Metrics
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): (Yes/no)
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

The Metrics library does not include the return types of the functions, causing MyPy to complain.

## Motivation
[motivation]: #motivation

Adding

[2021-08-22 13:31] heitorlessa commented on #642
Hey @mkamioner, we absolutely agree and if you could help us make MyPy compliant we'd appreciate it immensely!

We've fixed roughly 600 of the initial MyPy findings[1].... there's still 35+ from my last count to be fixed (Metrics included).

[1] https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/3

[2021-08-22 23:50] BVMiko opened #644 "Extend ApiGatewayResolver functionality to support splitting routes into multiple files"
**Is your feature request related to a problem? Please describe.**
I've been trying out the functionality of ApiGatewayResolver and it's working great for my needs; however it doesn't support splitting the individual routes into different files.

**Describe the solution you'd like**
Mirroring the style of Flask, I'd like to use a proxy object which can replicate the original `@app.route` decorator

[2021-08-23 00:47] michaelbrewer commented on #644
@BVMiko - this is a cool idea.  But i can see where splitting things up makes things flexible.

I have kind of done the opposite myself.  Kept all of the routes on the main lambda and then reference imported services.

eg:

[code]

[2021-08-23 05:34] BVMiko opened #646 "ApiGatewayResolver root routes and strip_prefixes"
I ran into an issue when using a route with the rule `"/"` along with `strip_prefixes` feature.  This rule is unable to trigger due to the `path` variable being reduced down to an empty string instead of a forward slash.

[code]

## Expected Behavior
Accessing `domain.com/some-path` would execute `my_func()`.

## Current Behavior
Accessing `domain.com/some-path` returns a 404.  Of note though, acc

[2021-08-23 06:04] michaelbrewer commented on #646
Nice one @BVMiko , i put in a review comment for adding a test case.

Otherwise, i was thinking whether it should be `""` instead of `"/"`? Then this would work when the request is `/some-path`

[code]

As the original request path of `/some-path` does different from `/some-path/`. Although `@app.get("")` does like strange.

[2021-08-24 09:05] KiaraGrouwstra opened #649 "native logger integration / dep loglevel config?"
Python comes with some logging niceties [built-in](https://docs.python.org/3/howto/logging.html), among which the ability to use yaml-based configuration for logging. this facilitates e.g. the configuration of logging levels of dependencies.
this sounds nice, but i'm not sure how to achieve something similar with powertools's logger. is this something that is currently possible, or might this be d

[2021-08-25 04:07] BVMiko commented on #646
I believe that the common standard among other routing frameworks is that all paths should have a leading slash, so `@api.get("/")` is usually the root path. Unfortunately the [Flask](https://flask.palletsprojects.com/en/2.0.x/api/#url-route-registrations) and [FastAPI](https://fastapi.tiangolo.com/tutorial/path-params/) docs don't explicitly state this, though all examples are written this way.

[2021-08-25 07:15] rakcy opened #652 "Extend AppSyncResolver functionality to support splitting resolvers into multiple files"
**Is your feature request related to a problem? Please describe.**
Similar to https://github.com/awslabs/aws-lambda-powertools-python/issues/644,  I was trying to find a way to split the resolvers into different files as our resolvers are too cluttered in one file currently.

**Describe the solution you'd like**
An appsync version like `app.register_blueprint(my_type_resolvers)` would be nice. Ano

[2021-08-25 15:11] michaelbrewer commented on #646
@BVMiko - agreed. But strip_prefix is supposed to remove the matching prefix from the request.

And that this is on the context of "strip_prefixes" is "/custom-mapping", and the actual request is without a trailing "/" and would look like "/custom-mapping". So naturally I would except the resulting path to be "".

Internally this was not happening due to the addition of a "/" for the starts with c

[2021-08-25 18:11] risenberg-cyberark opened #653 "Feature flags: unable to get configuration for non feature flags related configurations"
In the first draft of the feature, it was possible to use the AppConfigStore class to get a JSOM configuration that included non feature flsgs configuration.
However, when using an envelope parameter to contain the feature flags parts of the configuration, it is impossible to get the full schema back due to an 'if' in the code. I'm unable to use the AppConfigStore and FeatureFlags as a way to comb

[2021-08-27 05:10] walmsles opened #657 "Idempotent documentation examples could be misleading"
**What were you initially searching for in the docs?**
How to use the Idempotent utility

**Is this related to an existing part of the documentation? Please share a link**
[Link to documentation section](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/#choosing-a-payload-subset-for-idempotency)

**Describe how we could make it clearer**

The example uses the fol

[2021-08-27 08:52] xpayn opened #1182 "Allow get_parameters to return a tree of parameters instead of Dict<str,str> with flatten keys"
When using get_parameters to get a parameter tree, it returns keys looking like "foo/bar", which is not convenient.

It would nice if get_parameters allow key parsing to restore the tree by setting an option to True (ie. `tree=True`)

Right now we have to do that by hand, or construct the key by joining with '/'

[2021-08-27 18:13] bml1g12 opened #659 "Sending messages via SQS with X-Ray Tracing headers"
**Is your feature request related to a problem? Please describe.**
I have tested the following lambda function

[code]

[code]

**Describe the solution you'd like**
I was expecting the output to message header to include `X-Amzn-Trace-Id` because here

 https://docs.aws.amazon.com/xray/latest/devguide/xray-services-sqs.html

And I thought that the Tracing() powertool class enables botocore X-Ray S

[2021-08-27 23:46] walmsles commented on #659
Including the AWS Xray SDK means when you activate X-Ray tracing on the Lambda at the infrastructure level it will send data to the X-Ray Service.

Is XRay tracing enabled on your lambda?

[2021-08-28 19:23] bml1g12 commented on #659
I'm using the serverless framework to enable it, but I am fairly sure it is enabled as I see the X-Ray traceId is logged

It has
[code]
For IAM, and the GUI shows the following

![image](https://user-images.githubusercontent.com/2605767/131228673-822c1e3d-2e64-40b7-a69d-d22296da22fb.png)

[2021-08-31 13:50] BVMiko commented on #646
@michaelbrewer - I updated the testcase and the docs to reflect the new explicit change; let me know if you'd like the wording modified.

[2021-08-31 15:49] BVMiko commented on #652
@rakcy, I modified my PR #645 to match the naming of of `app.register_blueprint(blueprint)`, which I agree is superior.  It still doesn't directly accept classes though; as I feel that may reduce flexibility.  Not sure if this would help you, but I wanted to mention it just in case.

[2021-09-02 01:14] gmcrocetti commented on #629
I'm putting myself available to tackle this issue.

[2021-09-04 10:43] heitorlessa commented on #629
That would be awesome! I think vanilla Redis makes more sense than MemoryDB
as it’s still early to know how many customers would want it.

FYI - I’m back on Sep 27th and will review the PR by then.

Muito obrigado Guilherme ;-)

On Wed, 1 Sep 2021 at 22:15, Guilherme Martins Crocetti <
***@***.***> wrote:

[2021-09-04 10:45] danielloader commented on #629
Isn't it meant to be the same client implementation for both?

[2021-09-04 10:52] heitorlessa commented on #629
Yep, though I haven’t had a chance to look into it yet for any caveats.

On Sat, 4 Sep 2021 at 07:46, Daniel Loader ***@***.***> wrote:

[2021-09-04 13:30] heitorlessa commented on #629
Just read the docs, you’re right Daniel, it’s fully compatible — we could
use redis-py-cluster as an optional dependency. Depending on the
implementation, it’d be easy to also provide Redis support for Parameters
and Feature Flag.

https://github.com/Grokzen/redis-py-cluster

On Sat, 4 Sep 2021 at 07:51, Heitor Lessa ***@***.***> wrote:

[2021-09-04 19:32] whardier commented on #629
Redis in general would be fairly rad to have available via an extra requirement.  I wasn't entirely sure if a broad implementation in aws-lambda-powertools for redis support would ultimately support both ElasticCache and MemoryDB.

[2021-09-06 20:08] bml1g12 commented on #659
Would be grateful for any thoughts on this one

[2021-09-08 06:06] walmsles commented on #659
Apologies for the lack of response.  I have put together a small reference project available [here](https://github.com/walmsles/aws-serverless-api-sqs) which has API Gateway --> Lambda --> SQS --> Lambda.  This example when I deploy has the header value for X-Ray passed through.

The passing of the header value through the SQS interaction is a feature of the SDK itself and not a feature of the Pyt

[2021-09-08 07:30] walmsles commented on #659
Updated my repo to include patching just "boto3" and still get the same behaviour.

Here is the Event from SQS - note the "AWSTraceHeader" in the "attributes" - this is with X-Ray tracing turned OFF in the console and via the serverless framework.

@bml1g12 are you able to share an example that is not working for you?

[code]

[2021-09-08 12:33] bml1g12 commented on #659
I see so you can't reproduce the issue I am having. I'll set up a repo to reproduce the issue exactly.

[2021-09-08 16:53] bml1g12 commented on #659
That's odd, I made a [minimal example repo](https://github.com/bml1g12/PowertoolsTracingExample), and it works fine (AWSTraceHeader appears) suggesting that as you say, that the normal behaviour of the library works as expected. Which is great...!

But I can use serverless to remove a stack and re-deploy a fresh stack reproducibly which has the issue. This stack that exhibits the issue has a more

[2021-09-08 21:50] walmsles commented on #659
Thanks so much for your efforts.  Perhaps @marekq  or @heitorlessa may have some insights?

I am still curious about the outcome tbh, the only way I could get this to happen was to remove the Tracer altogether.

Are you packaging python dependencies with serverless-python-requirements?

My only theory is conflicting library versions - perhaps compare boto3 versions between the projects or remove a

[2021-09-09 01:58] gmcrocetti commented on #629
@heitorlessa . Things have changed, won't have bandwidth to tackle this issue :/. I hope someone else will volunteer. Enjoy your time ! Obrigado :+1:

[2021-09-10 11:47] bml1g12 commented on #659
I created a separate repo with identical code as the failing lambda but a different serverless "service name", and that one worked fine.

I downloaded the lambda deployment folder for the not working lambda and the working lambda and everything seems the same, so I am completely stumped by what causes one deployment to have this issue. I am going to write it off an obscure edge case that cannot be

[2021-09-10 11:47] #659 closed

[2021-09-10 11:51] cakepietoast commented on #646
Fixed in [v1.20.2](https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.20.2).

[2021-09-10 11:51] #646 closed

[2021-09-10 19:17] lucasam commented on #631
We are facing issues with UT as well.

Our main issue is that, as DynamoDBPersistenceLayer is eager to create table. Every python script that we use this annotation needs have mocks in place in advance. Even to test non annotated methods at the same python file.

My question is:
- Am i missing something?
- Can i cut a ticket and raise a PR to make `DynamoDBPersistenceLayer` to lazy create boto res

[2021-09-10 21:07] heitorlessa commented on #631
Hey @lucasam if you could contribute that would be awesome, as I'm on vacation for two more weeks.

[2021-09-21 12:16] nsandar opened #683 "Provide Default Values for .add_metric(unit=) and .add_metric(value=)"
**Is your feature request related to a problem? Please describe.**
Approximately 2/3rd of my metrics are just posting singletons to a given metric, where `unit=MetricUnit.Count` and `value=1`. This results in repeating myself frequently.

**Describe the solution you'd like**
Provide default values for `unit` and `value`, such that I can `.add_metric()` by providing just a `name=` value.

**Describ

[2021-09-21 12:16] nsandar opened #1180 "Provide Default Values for .add_metric(unit=) and .add_metric(value=)"
**Is your feature request related to a problem? Please describe.**
Approximately 2/3rd of my metrics are just posting singletons to a given metric, where `unit=MetricUnit.Count` and `value=1`. This results in repeating myself frequently.

**Describe the solution you'd like**
Provide default values for `unit` and `value`, such that I can `.add_metric()` by providing just a `name=` value.

**Describ

[2021-09-21 16:38] DanyC97 commented on #538
@am29d  i think the documentation was [updated](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/) for it no ?

[2021-09-21 16:44] DanyC97 opened #684 "Docs - add TF deployment snippet"
**What were you initially searching for in the docs?**

I was looking for an example of how to deploy the layer using terraform.  In case the library was published as a public layer (in addition to SAR app) - see more mentioned [here](https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/2#issuecomment-883452330) would have been perfect as then it was trivial as per the TF [docs](https:/

[2021-09-21 19:57] lucasam opened #685 "Lazy load DynamoDB Table call at idempotency wrapper"
With current implementation if my python script has declared `@idempotency` associated with `DynamoDBPersistenceLayer` there is a side effect of have to be able to connect with DynamoDB to import or test anything under that python script.

This is an unnecessary side effect and, IMHO, undesired one.

We should have DynamoDBPersistenceLayer to postpone the connection to DynamoDB as long as it can.

[2021-09-22 03:11] lucasam commented on #685
There is something wrong with my analysis. Actually `self._ddb_resource.Table(self.table_name)` does not trigger ddb. Will reopen once get to the root cause

[2021-09-22 03:11] #685 closed

[2021-09-22 19:02] whardier opened #688 "Support optional YAML per AppConfigStore instance for feature_flags"
**Is your feature request related to a problem? Please describe.**

Alter feature_flags to use default transform JSON but allow for YAML as well.  Currently need to alter global in order to utilize YAML.

**Describe the solution you'd like**

https://github.com/awslabs/aws-lambda-powertools-python/blob/79414c8164e839cdfe1839c2c9f0d590df33f4b2/aws_lambda_powertools/utilities/feature_flags/appconfig

[2021-09-22 19:02] whardier opened #1179 "Support optional YAML per AppConfigStore instance for feature_flags"
**Is your feature request related to a problem? Please describe.**

Alter feature_flags to use default transform JSON but allow for YAML as well.  Currently need to alter global in order to utilize YAML.

**Describe the solution you'd like**

https://github.com/awslabs/aws-lambda-powertools-python/blob/79414c8164e839cdfe1839c2c9f0d590df33f4b2/aws_lambda_powertools/utilities/feature_flags/appconfig

[2021-09-23 11:03] am29d commented on #538
Hey @DanyC97 thanks for the info. Yes, I double checked and it is actually already in the docs. 👍

[2021-09-23 11:03] #538 closed

[2021-09-23 18:10] whardier opened #690 "Add in RE_* support as feature_flag action"
**Is your feature request related to a problem? Please describe.**

Just a feature request

**Describe the solution you'd like**

Add in extra actions to test for regular expression matches/searches.

**Describe alternatives you've considered**

I actually think in many cases the current actions are sufficient.  There are always cases where using a regular expression fills the gap and I've already

[2021-09-23 18:10] whardier opened #1178 "Add in RE_* support as feature_flag action"
**Is your feature request related to a problem? Please describe.**

Just a feature request

**Describe the solution you'd like**

Add in extra actions to test for regular expression matches/searches.

**Describe alternatives you've considered**

I actually think in many cases the current actions are sufficient.  There are always cases where using a regular expression fills the gap and I've already

[2021-09-23 18:30] Tankanow opened #693 "DynamoDBPersistenceLayer should use ExpressionAttributeNames in _put_record"
**What were you trying to accomplish?**

## Expected Behavior
I should be able to use DynamoDB reserved words as Item attributes. For example, `ttl` is a common DynamoDB Item Time to Live attribute name. A consumer should be able to specify reserved word attribute names for any of the `*_attr` values when configuring `DynamoDBPersistenceLayer`.

## Current Behavior
`_put_record` currently throws a

[2021-09-23 18:36] Tankanow commented on #693
I'm happy to submit a PR for this. I have it locally.

[2021-09-23 18:46] Tankanow opened #694 "DynamoDBPersistenceLayer should support Tables with Range Keys"
**Is your feature request related to a problem? Please describe.**

I cannot use the `DynamoDBPersistenceLayer` class when my table has HASH and RANGE keys. I do not want to create a separate table for tracking lambda idempotence. [channeling my inner Houlihan] One table to rule them all!

**Describe the solution you'd like**

I would like the `DynamoDBPersistenceLayer` to accept a configuration s

[2021-09-23 18:47] Tankanow commented on #694
I'm happy to submit a PR for this upon API agreement.

[2021-09-23 20:17] heitorlessa commented on #694
Hey Adam, thanks a lot for raising this! It was definitely an oversight on
our part not supporting a range key — I’m happy with the first design by
creating a new constructor attribute in the Persistence layer.

I’m returning from vacation next week and can help review and provide any
guidance if you need, if that’s okay.

Your PR is super super appreciated ;-)

On Thu, 23 Sep 2021 at 15:47, Adam

[2021-09-23 20:18] heitorlessa commented on #693
Hey @Tankanow, same as the other one -- another oversight from our part, I'd love a PR as it's a quick one.

[2021-09-25 04:33] gwlester opened #699 "Feature Flags -- IN does not appear to work"
**We were attempting to enable a feature if a user was in a given group?**
**Configuration**:

[code]

**Context:**
[code]

[code]

## Expected Behavior

We expected the variable **all_features** to be a list with one element as follows:

- unhidden

## Current Behavior

**all_features** is an empty list.

## Possible Solution

## Steps to Reproduce (for bugs)

1. see details above.

## Environmen

[2021-09-25 04:44] gwlester opened #700 "What is the proper decoration for a {proxy+}"
**What were you trying to accomplish?**
We want to have a function handle proxying to an ELB.

[code]

[code]

## Expected Behavior

Documentation containing the correct decoration for a proxy handler.

## Current Behavior

No documentation containing the correct decoration for a proxy handler.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Environment

* **Powertools ver

[2021-09-25 10:45] heitorlessa commented on #700
Hey @gwlester, could you try the following and let us know if it works for you?

[code]

We made a conscious decision not to support "proxy+" to prevent customers into having a single Lambda function for everything.

That said, we understand there are edge cases and we support regex in the route definition, so "/proxy/.+" should match the greedy pattern you defined up there.

[2021-09-25 13:21] gwlester commented on #700
@heitorlessa, thanks for the fast reply!

We will try first thing Monday morning.

Any chance of documenting this in the docs?

[2021-09-25 13:49] gwlester opened #701 "Add Inequality Comparisons to Rules"
**Is your feature request related to a problem? Please describe.**

It would be helpful to be able to compare if something is **GREATER_THAN** or **GREATER_THAN_OR_EQUAL** to a value, e.g. if the current timestamp is greater a particular timestamp.

**Describe the solution you'd like**

Add the following to the comparison operators:

- **GREATER_THAN**
- **GREATER_THAN_OR_EQUAL**
- **LESS_THAN**
-

[2021-09-25 16:43] heitorlessa commented on #700
Absolutely - I'd love to hear from you first before we add in. In fact, I'll be jet lagged by Monday, so I highly appreciate a PR if you could help.

PS: You can run docs locally by using `make docs-local-docker`.

[2021-09-25 17:03] heitorlessa commented on #683
Hey @nsandar That's a great idea for `unit`, not for `value` as this can trip people both when reading the code later and on testing. As for the details, they are super crispy, so thank you for a high quality request ;)

This could be similar to [how we've done default dimensions](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/metrics/#adding-default-dimensions).

I'm currently

[2021-09-25 17:14] heitorlessa commented on #699
Hey @gwlester thanks for flagging it! That's odd, we basically call `__contains__` as part of the `IN` [rule action](https://github.com/awslabs/aws-lambda-powertools-python/blob/b4737a8b139aed01d36a7768d7946777041ce4e3/aws_lambda_powertools/utilities/feature_flags/feature_flags.py#L49)

Could you try running this locally with debug mode enabled and paste logs here?

cc @risenberg-cyberark in case

[2021-09-25 17:31] gwlester commented on #700
I will take a crack at it.

It would have been assume if

[code]

would have worked to get everything pass **/proxy/** passed into **proxy_service**.

[2021-09-25 17:38] heitorlessa commented on #700
Yep. I know it works for API GW so it should also work for ALB. Lemme know
;-)

On Sat, 25 Sep 2021 at 14:31, Gerald Leter ***@***.***> wrote:

[2021-09-25 18:15] heitorlessa commented on #701
Hey @gwlester - Thanks a lot for another feature request ;)

I think a user supplied would be great here - it can unlock many other use cases customers might want.

cc @risenberg-cyberark @whardier

[2021-09-25 18:33] whardier commented on #701
I agree.  I may attempt to patch that in.  It would allow for some useful pre optimization as well (re.compile)

[2021-09-25 20:14] gwlester commented on #701
It would also be nice if the _init_ took a logger and o ly created one if None was passed.Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: "Shane R. Spencer" ***@***.***> Date: 9/25/21  13:33  (GMT-06:00) To: awslabs/aws-lambda-powertools-python ***@***.***> Cc: Gerald Leter ***@***.***>, Mention ***@***.***> Subject: Re: [awslabs/aws-lambda-powertools-python] Add Inequa

[2021-09-25 22:13] gwlester commented on #701
It would also be nice if the **_init_** took a **logger** and only created one if None was passed.

[2021-09-25 22:16] gwlester commented on #701
Maybe this could be combined with [feat(feature_flags): add in feature_flags RE_* actions and update tests/docs #692
](https://github.com/awslabs/aws-lambda-powertools-python/pull/692/files)?

[2021-09-25 22:25] heitorlessa commented on #701
Let’s crate a separate one so it’s easier to know this is a thing for
customers reading Changelog/Release notes.

I want to accept a Logger instance everywhere in 2.0

On Sat, 25 Sep 2021 at 19:16, Gerald Leter ***@***.***> wrote:

[2021-09-25 22:45] gwlester commented on #701
Ok, do you want a separate ticket to track "accept a Logger instance everywhere in 2.0"??

**Note** -- that should not need a major revision roll since if the code looks like the following it is compatiable:

[code]

Is equivalent.

[2021-09-26 05:40] risenberg-cyberark commented on #701
@heitorlessa  @gwlester  When I created the feature, I didnt want to add too many actions right at the begining but to start with sometihng that covers my basic needs. It's great that people are using it and we should add more actions.
The only concern i have is regarding schema validation here for condition value, should we keep it as it is today - just check that it's not empty, or perhaps enfor

[2021-09-26 05:41] risenberg-cyberark commented on #701
and bring your own logger should definitely be supported.

[2021-09-26 10:46] heitorlessa commented on #701
Only one separate ticket for supporting Logger in the feature flags
utility. Feature flags is also beta so I’m not worried in genera as we’ve
been waiting for customer feedback to improve it overall

On Sun, 26 Sep 2021 at 00:45, Gerald Leter ***@***.***> wrote:

[2021-09-26 13:17] gwlester opened #702 "Allow bring your own logger to Feature Flags"
**Is your feature request related to a problem? Please describe.**

Users would like to use a customized logger.

**Describe the solution you'd like**

Add the ability to pass a _logger_ instance, defaulted to **None** into the object creation of the following classes:

- **AppConfigStore**
- **FeatureFlags**
- **SchemaValidator**
- **FeaturesValidator**
- **RulesValidator**
- **ConditionsValidato

[2021-09-26 13:18] gwlester commented on #701
@heitorlessa, done see [Allow bring your own logger to Feature Flags #702](https://github.com/awslabs/aws-lambda-powertools-python/issues/702)

[2021-09-26 13:39] gwlester commented on #702
I attempted to push an implementation of this up to then create a push request, but it seems I'm not authorized.

Can I get added to the contributors list?

[2021-09-27 01:09] gwlester commented on #699
I finally looked at the test cases and I see what is wrong.  The current code is expecting the **key** to contain a single value in the contect object and the **value** to be a list that is checked to see if the key's value is in it.

That is totally the opposite of what I expected and was attempting to do -- I was giving **value** as a single value and attempting to see if it was in the list give

[2021-09-27 01:19] gwlester commented on #699
Since I can't push up to a new branch to create a Push Request (or need instruction on how to do so), here is some suggested fixes:
### In schema.py, change the definition of RuleAction to:
[code]
### In feature_flags.py, change the definition of mapping_by_action in _match_by_action to:
[code]

[2021-09-27 01:27] gwlester commented on #699
Actually, for clarity sake, I'd suggest the following conditions:

- **KEY_IN_VALUE** _(this is the current IN, which I guess should be kept)_
- **KEY_NOT_IN_VALUE** _(this is the current NOT_IN, which I guess should be kept)_
- **VALUE_IN_KEY**
- **VALUE_NOT_IN_KEY**

[2021-09-27 09:18] cakepietoast commented on #657
Thanks @walmsles - I added some small feedback on your PR

[2021-09-27 09:19] cakepietoast commented on #657
Thanks @walmsles! I've had a look at the PR and requested a few small changes there.

[2021-09-27 12:52] heitorlessa commented on #649
hey @KiaraGrouwstra thank you for creating it - apologies for the delay, just got back from a long vacation.

For setting the log level, you can use either `Logger(level="DEBUG")` or simply the environment variable `LOG_LEVEL` as per our docs: https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#getting-started

Child loggers (`Logger(child=true)`) have bi-directional sync, w

[2021-09-27 12:58] heitorlessa commented on #700
hey @gwlester just tested and `@app.get("/.+")` works as a greedy pattern. You do lose the named parameters as you can't use `<.+>` though.

I'm gonna send a PR updating the docs

[2021-09-27 15:08] KiaraGrouwstra commented on #649
hi,
this issue i'm concerned about is about dependencies.
i know that for my own code i can control which logging level of messages will be printed.
the issue is, i'm consuming other pip packages that log things as well, and in some cases turn out buggy.
in such cases, i would like to be able to print debug-level info for such a broken package.
that is something that by default python logging can

[2021-09-27 18:16] heitorlessa commented on #649
Ah! I totally misunderstood, sorry.

You can get the namespace logger and set the level as you normally would
with any logging that used std logging, or set the level at the root logger
and it will be propagated.

Could you share the workflow you have in mind so I can share a snippet with
you?

I don’t wanna assume you want to propagate down, upwards, or in another way
I might not be thinking.

On

[2021-09-28 07:35] adhorn opened #704 "Replacing the default boto3 session with a custom one"
**Is your feature request related to a problem? Please describe.**

I would like to replace the default boto3 powertools client and provide my own boto3 session to record local calls using [Placebo](https://github.com/garnaat/placebo)

**Describe the solution you'd like**

For example, here's how you could inject a Placebo client for local tests:
[code]

something like this...?

[2021-09-28 07:37] cakepietoast commented on #702
@gwlester you'll need to fork this repository then push your changes to a branch in your own fork. You can then create a PR from your own fork against this repo. If you're having issues, come ping us in #lambda-powertools on the AWS Developer Slack ([invite if you need one](https://join.slack.com/t/awsdevelopers/shared_invite/zt-gu30gquv-EhwIYq3kHhhysaZ2aIX7ew)) and we'll help.

[2021-09-28 08:07] heitorlessa commented on #700
This is now available in the stage docs: https://awslabs.github.io/aws-lambda-powertools-python/develop/core/event_handler/api_gateway/#catch-all-routes

I'm gonna resolve this for now as the feature is already available but was undocumented in the latest doc.

[2021-09-28 08:07] #700 closed

[2021-09-28 08:58] heitorlessa commented on #657
Closing this now as it's available in the staged docs: https://awslabs.github.io/aws-lambda-powertools-python/develop/utilities/idempotency/

We'll work on exposing JMESPath Functions to all customers along with our handy functions, so they can use them like we do anywhere in their code.

Thank you so much for the help again @walmsles !

[2021-09-28 08:58] #657 closed

[2021-09-28 09:02] heitorlessa opened #706 "Maintenance: Ensure all docs have guidance on how to unit test"
We've discovered recently that Idempotency and Batch utilities don't have mechanisms to ease testing for customers - they can't use `boto stubber` since we don't expose the client easily, nor create our clients lazily.

Today, we've discovered that we weren't accepting a boto3 session in Parameters to ease integration with placebo for testing as well as fetch parameters cross-account.

This issue

[2021-09-28 14:04] Tankanow commented on #694
@heitorlessa, wanted to keep you in the loop. I'll have a PR this week.

[2021-09-28 19:59] mccauleyp opened #707 "Logger extra fields appended to end of log message instead of beginning"
**Is your feature request related to a problem? Please describe.**

I think it would be nice if by default, keys appended to the structure log messages with the `extra=fields` parameter appeared at the end of the log message rather than the beginning. That's actually the behavior shown in the sample CloudWatch logs in the documentation (https://awslabs.github.io/aws-lambda-powertools-python/latest

[2021-09-29 18:53] michaelbrewer opened #711 "Add build instructions and workflows for arm64"
**Is your feature request related to a problem? Please describe.**

Now that arm64 architecture is official for lambdas, we should ensure Powertools works perfectly well and have a guide on how to take advantage of this feature via SAM and CDK.

**Describe the solution you'd like**

Update docs and test automation to include arm64

**Describe alternatives you've considered**

**Additional context*

[2021-09-29 18:53] michaelbrewer opened #979 "docs: Add support and build instructions and workflows for arm64"
**Is your feature request related to a problem? Please describe.**

Now that arm64 architecture is official for lambdas, we should ensure Powertools works perfectly well and have a guide on how to take advantage of this feature via SAM and CDK.

**Describe the solution you'd like**

Update docs and test automation to include arm64

**Describe alternatives you've considered**

**Additional context*

[2021-09-30 16:38] gwlester opened #714 "Feature Flag only evaluates first rule in a feature"
**What were you trying to accomplish?**
Having a feature flag with multiple rules.

## Expected Behavior

Rules should be evaluated for a feature until one is true or all rules have been evaluated.  It appears that test test_flags_conditions_rule_match_multiple_actions_multiple_rules_multiple_conditions does not work as expected.

## Current Behavior

The default is returned if the first rule is f

[2021-09-30 21:23] DanyC97 commented on #684
@am29d  👋  i hope you don't mind i went and pushed a PR to fix the current issue raised.

[2021-09-30 22:03] gwlester commented on #653
**Work around:**
Create two configurations:

1. **features**
2. **MyOtherConfigurationInfomation**

Works great, that is what we do.

[2021-09-30 22:11] gwlester commented on #701
I'd not add any additional checking.  An exception today causes a failed condition and that is enough.

[2021-09-30 22:13] gwlester commented on #701
I think the conditions need to be named clearer than I suggeted:

- KEY_GREATER_THAN_VALUE
- KEY_GREATER_THAN_OR_EQUAL_VALUE
- KEY_LESS_THAN_VALUE
- KEY_LESS_THAN_OR_EQUAL_VALUE
- KEY_NOT_EQUAL_VALUE

I will attempt to do a Pull Request for the above on 2021.10.01

[2021-09-30 22:42] whardier commented on #701
I personally don't like how the exception is handled in the case where matching the value of False (which results in True) would match an exception.  Not sure if this is intended to allow for exceptions to act this way by design and not disrupt the process.

[2021-10-01 03:40] risenberg-cyberark commented on #699
It used to be contains but some people found it confusing so it was renamed so IN, and yes, the value is supposed to be a list.
I think having all 4 actions are a bit confusing.

[2021-10-01 04:08] risenberg-cyberark commented on #653
yeah, but it's an extra conf to deploy and then use an extra conf store instead of one. It's an easy fix.

[2021-10-01 06:26] heitorlessa commented on #653
I agree with Ran here - we can do better. We’re gonna tackle this in our
maintainers hackathon today (we’ll do an external one if we succeed in
cleaning up some bugs and enhancements).

I think we could have a property where you can have access to the full
configuration - we’ll experiment today ;-)

On Fri, 1 Oct 2021 at 06:08, Ran Isenberg ***@***.***> wrote:

[2021-10-01 07:24] heitorlessa commented on #580
Agreed that Michal would be looking at it

[2021-10-01 07:41] michaelbrewer commented on #580
As an example Chalice has quite a nice readme https://github.com/aws/chalice

[2021-10-01 11:36] #684 closed

[2021-10-01 13:16] heitorlessa commented on #642
hey @mkamioner - While I couldn't reproduce that particular error with Metrics (a snippet would be great), I've gone ahead and added return types `-> None, really` to all of them, and fixed other pending areas.

In the overall project we've now got 13 mypy issues to fix but that should in theory address your problem in the next release.

Thanks!

[2021-10-01 14:41] heitorlessa commented on #653
Pending final tests and merging shortly - this will be available in the next release (as early next week as I can)

**UX for accessing the raw configuration fetched by the Store**

[code]

[2021-10-01 15:06] heitorlessa commented on #631
Thanks a lot @cakepietoast !!!

[2021-10-01 15:06] #631 closed

[2021-10-01 15:45] heitorlessa commented on #706
Closing in favour of the new boto3 session

[2021-10-01 15:45] #706 closed

[2021-10-01 16:29] heitorlessa commented on #701
Thanks a lot for that - I've just made the necessary changes and merged it.

[2021-10-01 16:35] heitorlessa commented on #707
Hey @mccauleyp thank you for raising this - it's definitely something we should fix it. It's a rather quick one so I'll work on that now to make it available for next week's release ;)

[2021-10-01 16:42] heitorlessa commented on #707
Done - should be available next week as we complete other critical areas before releasing 1.21 ;)

https://github.com/awslabs/aws-lambda-powertools-python/pull/722

Thanks again for flagging it!

[2021-10-01 17:32] gwlester commented on #701
@heitorlessa, will this one make next week's release?

[2021-10-01 17:37] heitorlessa commented on #701
If anyone could help getting the tests and merge conflicts in place by Monday EOD, yep it will ;-)

[2021-10-01 18:39] stephenbawks opened #725 "EventBridge"
**Is your feature request related to a problem? Please describe.**
What do you guys think of possibly adding some extra library type stuff for Eventbridge?  Was thinking of a couple of super useful tools.  One for calculating the size of an event:

[code]

Was also thinking about adding some additional functionality for if a message size is above the 256k mark you can have it auto-truncate and hav

[2021-10-01 18:39] stephenbawks opened #1168 "EventBridge utility"
**Is your feature request related to a problem? Please describe.**
What do you guys think of possibly adding some extra library type stuff for Eventbridge?  Was thinking of a couple of super useful tools.  One for calculating the size of an event:

[code]

Was also thinking about adding some additional functionality for if a message size is above the 256k mark you can have it auto-truncate and hav

[2021-10-03 02:42] robdobtob opened #728 "Resolving wildcard http proxy paths with event handler"
We have are building a lambda 'proxy' to intercept and re-route requests through API gateway to another external service. The lambda's are used to perform data transformations on all requests coming in under a specific path
API Gateway path uses the greedy path capture `{proxy+}` and we do not want to have to implement explicit handlers for all the possible greedy path matches

## Expected Behavio

[2021-10-03 15:21] heitorlessa commented on #728
Hi @robdobtob thanks for raising an issue.

I believe this newly documented catch-all/greedy path can solve your issue: https://awslabs.github.io/aws-lambda-powertools-python/develop/core/event_handler/api_gateway/#catch-all-routes

It's in the stages docs until our next release this week but the functionality is already available.

Let us know if this helps.

Thank you

[2021-10-04 13:13] gwlester commented on #714
@heitorlessa -- I think this should have the label: **status/staged-next-release**

[2021-10-04 13:14] gwlester commented on #701
Tests and conflicts are done.

[2021-10-04 13:14] gwlester commented on #701
@heitorlessa -- I think this should have the label: **status/staged-next-release**

[2021-10-04 14:43] nsandar opened #729 "Utilities -> Parser -> Validating Entire Model -> Typo in "Example""
**What were you initially searching for in the docs?**
I was trying to understand how to implement the input model parser with validations.

**Is this related to an existing part of the documentation? Please share a link**
https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#validating-entire-model

**Describe how we could make it clearer**
The example provided uses the

[2021-10-04 17:08] heitorlessa commented on #701
Yes! Added earlier but was offline - all good to be released either
tomorrow or Wed the latest

On Mon, 4 Oct 2021 at 15:14, Gerald Leter ***@***.***> wrote:

[2021-10-04 17:32] mccauleyp commented on #707
Awesome, thanks! I'll close this ticket now and reopen if it seems like it's not working after I switch to 1.21 after it's released.

[2021-10-04 17:32] #707 closed

[2021-10-05 08:10] heitorlessa commented on #649
Checking in to see if this helped, and whether we could have more details on the issue report about the workflow to address this properly

[2021-10-05 09:09] heitorlessa commented on #729
Thanks a lot @nsandar for flagging this - I've just merged and it's available in the staging docs --- it'll be available in the latest today as part of the next release

https://awslabs.github.io/aws-lambda-powertools-python/develop/utilities/parser/#validating-entire-model

[2021-10-05 09:09] #729 closed

[2021-10-05 11:14] heitorlessa commented on #725
Hey @stephenbawks - I'll take a proper read at this next week and come back to you. For 2.0, I'd like us to make it easier to include small utilities like these and rename `utilities` to more sub-packages like we have right now.

cc @cakepietoast @michaelbrewer in case you have immediate thoughts