[2022-05-16 18:25] michaelbrewer commented on #1203
I fully understand the risk of putting my unpaid time into this.

In this case, this is a bug and not a feature, so out of respect for my fellow Powertools users i submitted a fix PR for the one offending line

_Feel free to drop these PRs or ignore until August 2022_

[2022-05-17 07:02] heitorlessa commented on #1203
hey @peterschutt thank you for flagging another piece we can improve :pray:. We'll look into it after some major changes in exposing the roadmap, list of maintainers, and our new end-to-end testing framework (internal, but we might explore ways to expose to customers).

If you however ran into an issue with Batch without explicitly calling `format_exceptions`, please do let us know and either of t

[2022-05-17 07:26] michaelbrewer commented on #1203
At Fiserv, our developers run into this kind of misleading typing and error handling within the library all of the time. Hopefully some stability comes through.

[2022-05-17 07:54] michaelbrewer commented on #1203
A typing based via would actually have to be a breaking change:

As `msg` becomes a required parameter to allow for `child_exceptions` to be an none-optional list

patch below:

[code]

[2022-05-17 17:19] michaelbrewer commented on #1067
A fix for is documentation bug is at #1113 which resolved when you try to use the provided example

[2022-05-17 17:31] michaelbrewer opened #1206 "Bug: Fix syntax errors in SAR CDK example"
### Expected Behaviour

Code examples should have valid python syntax, line highlights should be correct and Powertools version should be current.

### Current Behaviour

When copying the code example for [SAR - CDK](https://awslabs.github.io/aws-lambda-powertools-python/latest/#sar) you will get the following error:

<img width="503" alt="Screen Shot 2022-05-17 at 10 24 29 AM" src="https://user-i

[2022-05-17 17:42] michaelbrewer opened #1207 "Bug: Least-privileged IAM permissions to deploy Layer has syntax errors"
### Expected Behaviour

Examples SAM templates should be valid and pass `cfn-lint` and `sam validate`.

### Current Behaviour

When coping `Example: Least-privileged IAM permissions to deploy Layer` from the [SAR Docs](https://awslabs.github.io/aws-lambda-powertools-python/latest/#sar), `cfn-lint` and `sam validate` produces the following errors

<img width="492" alt="Screen Shot 2022-05-17 at 10

[2022-05-17 17:47] michaelbrewer commented on #1064
@sthulb i have adding all of the missing bug reports for syntax errors identified from this task.

[2022-05-17 18:49] michaelbrewer opened #1208 "Bug: Pydantic integration examples in Batch"
### Expected Behaviour

Code examples for [Pydantic integration](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/batch/#pydantic-integration) should be validate an not have missing imports or reference undefined class.

### Current Behaviour

All of the code examples have missing imports or reference class that one exist

`Kinesis Data Streams` example

<img width="1082" al

[2022-05-17 19:02] michaelbrewer opened #1209 "Bug: Creating a custom batch processor example"
### Expected Behaviour

Example for [Creating a custom batch processor](https://gyft.github.io/aws-lambda-powertools-python/latest/utilities/batch/#create-your-own-partial-processor) should be validate and compile

### Current Behaviour

`success_handler` is missing `result`

<img width="720" alt="Screen Shot 2022-05-17 at 11 57 34 AM" src="https://user-images.githubusercontent.com/5442469/1688898

[2022-05-17 21:52] michaelbrewer opened #1211 "Bug: Batch Testing your code examples"
### Expected Behaviour

[Batch -Testing your code ](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/batch/#testing-your-code) examples should not contain python syntax errors

### Current Behaviour

`Missing closing quote ["]` present in the code examples

<img width="802" alt="Screen Shot 2022-05-17 at 2 48 49 PM" src="https://user-images.githubusercontent.com/5442469/1689

[2022-05-17 23:44] peterschutt commented on #1203
Quite possible that somewhere downstream people are relying on `self.child_exceptions` being `None` if not passed in. If you accept that, then my original suggestion of `child_exceptions or []` in `__init__()` isn't really a safe change either.

The safest change would be to address it right at the point of iteration in `format_exceptions()`, e.g., :

[code]

... then could use warnings and deprec

[2022-05-17 23:55] michaelbrewer commented on #1203
If you rely on "self.child_exceptions" being None, then you are likely running into the same bug and have a runtime error. Either runtime fix makes sense. My PR is for the simplest one.

[2022-05-18 01:10] michaelbrewer opened #1212 "Bug: Assert multiple EMF blobs with pytest has invalid python syntax"
### Expected Behaviour

[Metrics - Assert multiple EMF blobs with pytest](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/metrics/#functional-testing) example should be valid python syntax

### Current Behaviour

Current example has a python syntax error of `',' or ')' expected`

<img width="919" alt="Screen Shot 2022-05-17 at 6 02 25 PM" src="https://user-images.githubuserconte

[2022-05-18 01:26] michaelbrewer opened #1213 "Bug: TITLE"
### Expected Behaviour

[AWS Serverless Application Model (SAM)](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/metrics/#getting-started) template.yaml should be valid without errors

### Current Behaviour

Current example has missing attributes and generates the following errors.

<img width="941" alt="Screen Shot 2022-05-17 at 6 23 19 PM" src="https://user-images.githubuserco

[2022-05-18 02:31] michaelbrewer opened #1214 "Bug: JMESPath, python syntax error in `custom_jmespath_function.py`"
### Expected Behaviour

Code example in [`custom_jmespath_function.py
`](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/jmespath_functions/#bring-your-own-jmespath-function) should be valid python

### Current Behaviour

Python example has a syntax error `Expression expected`

<img width="616" alt="Screen Shot 2022-05-17 at 7 29 32 PM" src="https://user-images.githubuserco

[2022-05-18 02:38] peterschutt commented on #1203
... if the way you use the exception results in it getting serialized via `__str__()`, sure.

If I was lodging the same bug again I'd definitely make the change in `format_exceptions()` and not in the constructor. It maintains the existing interface, ensures the class at least honors the existing interface, and eliminates any issues arising from the surface area of the change.

In any case, the im

[2022-05-18 03:40] michaelbrewer opened #1215 "Bug: Logger, `Cloning Logger config to all other registered standard loggers` example has errors"
### Expected Behaviour

[`Cloning Logger config to all other registered standard loggers` - example in FAQ](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#faq) should not have any errors

### Current Behaviour

Running the provided snippet results in the following error

<img width="412" alt="Screen Shot 2022-05-17 at 8 38 16 PM" src="https://user-images.githubuserconte

[2022-05-18 03:48] heitorlessa commented on #1203
That’s correct Peter, we’d want to change format_exceptions instead— we’d
be more than happy to take your PR as a fix instead.

Thanks a lot!

On Wed, 18 May 2022 at 04:38, Peter Schutt ***@***.***> wrote:

[2022-05-18 03:57] michaelbrewer commented on #1203
PR is already up

<img width="2551" alt="Screen Shot 2022-05-17 at 8 56 52 PM" src="https://user-images.githubusercontent.com/5442469/168954107-99334797-0c2b-4175-8dfd-ae841f26d6aa.png">

[2022-05-18 04:00] michaelbrewer commented on #1203
@peterschutt sure, i update the PR to match all of the feedback. As we use powertools in production at Fiserv, this will likely help us there too.

[2022-05-18 04:32] michaelbrewer opened #1216 "Bug: Idempotency - Idempotency - `Exception not affecting idempotency record sample` example has python syntax errors"
### Expected Behaviour

[Handling exceptions - `Exception not affecting idempotency record sample`]() example should not have python syntax errors or missing imports.

### Current Behaviour

This example have python syntax errors and missing imports

<img width="972" alt="Screen Shot 2022-05-17 at 9 27 47 PM" src="https://user-images.githubusercontent.com/5442469/168957418-ee2d3479-0419-442e-b5aa-

[2022-05-18 08:55] peterschutt commented on #1203
@heitorlessa I was curious why this wasn't already picked up by mypy - as you prob. know it is because that method itself is untyped so mypy is ignoring. Is more complete typing the sort of thing that you are working on?

I've been developing in python for quite a number of years now, we static check everything strict here and I'm using lambda and this library significantly for the first time. If

[2022-05-18 09:01] heitorlessa commented on #1203
Exactly my thought too - it'd be great to hear from you on strategies to do that (strict mode) without increasing the bar to contribution too high for those inexperienced.

Mind shooting us an email and we can arrange a call?

aws-lambda-powertools-feedback@amazon.com

Strict typing is new to us, we experimented with Cython, Mypyc, and MyPy in strict mode but far from experts. We introduced mypy l

[2022-05-18 09:36] peterschutt commented on #1203
Sure, I'm in UTC + 10, so I'll email when I'm in the office tomorrow.

It would be good to hear more about what you were trying to optimize with cython/mypyc. I've got a cython module in prod that I built well before typing was popular and have an upcoming opportunity to refactor it. I'm looking forward to experiment with those tools again and see how they look now.

Hopefully I can make some mean

[2022-05-18 14:08] michaelbrewer commented on #1203
@peterschutt @heitorlessa Pylance picks this up fine. However we can't add it as part of the project as the library still supports Python 3.6. Also MyPy has not been upgraded for a while.

<img width="1217" alt="Screen Shot 2022-05-18 at 7 06 40 AM" src="https://user-images.githubusercontent.com/5442469/169061363-cac1685e-a630-4a61-9964-062d0db855c0.png">

With the fix applied

<img width="1033" a

[2022-05-19 06:43] michaelbrewer commented on #1038
@n2N8Z - i have deployed and tested the PR which fixes this issue. If you would like to have a look to see if it fits what you where expecting.

[2022-05-19 16:28] #1079 closed

[2022-05-19 16:29] heitorlessa commented on #1079
Releasing it first thing tomorrow morning @gshpychka

[2022-05-19 17:07] michaelbrewer opened #1217 "Bug: Idempotency - Syntax error in `Reusing a DynamoDB table that uses a composite primary key` example"
### Expected Behaviour

[`Reusing a DynamoDB table that uses a composite primary key` example](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/#using-a-dynamodb-table-with-a-composite-primary-key) should be valid python syntax

### Current Behaviour

Current code example has syntax errors

<img width="1325" alt="Screen Shot 2022-05-19 at 10 04 10 AM" src="https:

[2022-05-19 17:53] michaelbrewer commented on #1203
I did some work after adding the initial MyPy updates (#357 , #365 , #508 etc..), i started looking at the fixes recommended by Pylance and found that some of our code is just to make work around for MyPy

And example being this code in `aws_lambda_powertools/utilities/parameters/appconfig.py`

<img width="1233" alt="Screen Shot 2022-05-19 at 10 52 13 AM" src="https://user-images.githubusercontent

[2022-05-19 23:22] peterschutt commented on #1203
Hey @michaelbrewer. I haven't spent any time looking deeper at the typing yet, but appreciate the extra context. As per @heitorlessa's earlier message I've emailed to arrange a chat, just waiting on that as I don't really want to put the time into it until I understand what the objectives/constraints are and how the work would fit into their roadmap.

I assume this library just has to track the la

[2022-05-20 05:13] heitorlessa commented on #1200
Closing due to inactivity, but please do feel free to reopen if you can reproduce in the latest version.

[2022-05-20 05:13] #1200 closed

[2022-05-20 07:57] heitorlessa commented on #1076
We would like to share some of the progress we've made around Roadmap and Contributions outlined above.

* **Roadmap**. We began our [central roadmap](https://github.com/awslabs/aws-lambda-powertools-roadmap) migration to a new [dedicated board of activities](https://github.com/orgs/awslabs/projects/51/views/1?query=is%3Aopen+sort%3Aupdated-desc). This board aims to more accurately represents our

[2022-05-20 09:23] heitorlessa commented on #1079
@gshpychka this is available on PyPi and SAR already - a new Lambda Layer will be available in a few hours. Docs are here: https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parameters/#bring-your-own-boto-client

Please do feel free to reopen if this has not solved your problem. We took liberty to add for others to address a related testing challenge with Parameters too.

[2022-05-20 10:09] ran-isenberg commented on #995
feature flags and configuration utility:
https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-part-6-feature-flags-configuration-best-practices

[2022-05-20 20:16] michaelbrewer opened #1223 "Docs: TITLE"
### Expected Behaviour

`response.json` should be correctly formatted at https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#fine-grained-responses

### Current Behaviour

<img width="1079" alt="Screen Shot 2022-05-20 at 1 10 32 PM" src="https://user-images.githubusercontent.com/5442469/169604221-1fecadde-fe60-46ba-8267-f533678af7e2.png">

### Code snippet

[2022-05-26 11:00] mploski opened #1226 "RFC: Mechanism for end2end testing"
### Is this related to an existing feature request or issue?

_No response_

### Which AWS Lambda Powertools utility does this relate to?

Other

### Summary

Build mechanism to run end to end tests on Lambda Powertools library using real AWS Services (Lambda, DynamoDB)
Initially tests can be run manually by maintainers on specific branch/commit_id to ensure expected feature works.
Tests should be

[2022-05-26 17:44] offbyone opened #1227 "Allow log_metrics to be used as a context manager for testing subset functions"
### Use case

I am attempting to write a unit test for a piece of functionality that isn't in the top of the lambda function call stack, but _is_ emitting metrics. Moreover, the functionality is an async coroutine, so it's not amenable to being wrapped directly with the `@metrics.log_metrics()` decorator.

What I want is to be able to do this:

[code]

### Solution/User Experience

Provide a conte

[2022-05-30 15:34] heitorlessa commented on #1226
Hey @mploski, thanks a lot for pulling that together. I liked it!! I have some ideas on how we can improve the RFC before you ship the PR you have staged:

* **Focus on mechanics over fine-grained details**. In the `details` section, you could provide a high-level overview then zoom in each area with your rationale without going in fixture line of code as that will likely change. For example, **1/

[2022-06-01 19:18] heitorlessa commented on #1169
Hey Noah, could you give an example of the experience you’re after?

Tracer automatically disabled I/O during unit testing, so no changes
needed. Logger needs a fake Lambda context (we have on our docs). Metrics
only needs a fake Lambda context when capturing cold start.

While we document how to test each feature, I’m super keen to hear how we
can make that easier.

Thank you ;-)

On Wed, 1 Jun 2

[2022-06-03 15:48] gwlester opened #1236 "Feature request: Add support for API doc auto-gen (SwaggerUI/OpenAPI Specification) from routes"
### Use case

It would be useful to allow the code to self-document the API.

In particular, it would be helpful to be able to:

1. Autogenerate a SwaggerUI
2. Be able to generate (this could be a separate utility) the Swagger definition file of the API to import into the API Gateway

### Solution/User Experience

Something like [flasgger](https://github.com/flasgger/flasgger) but for Powertools.

[2022-06-03 21:48] michaelbrewer commented on #1236
@gwlester - this was also raised in a discussion thread. It should not be hard to add, but it might increase the overall size of the library.

[2022-06-03 21:53] michaelbrewer commented on #1236
Here is an example closer to what Powertools does https://github.com/vincentsarago/lambda-proxy

[2022-06-03 22:26] gwlester commented on #1236
Maybe this should be in a "sister" library to powertool with powertools providing only a stub implementation?

That way the library size would be kept down.

[2022-06-03 22:36] gwlester commented on #1236
Modular would be nice.

[2022-06-04 07:19] michaelbrewer commented on #1012
@heitorlessa  this will allow for more flexible use cases when the batch processor does not work ie:

- https://github.com/awslabs/aws-lambda-powertools-python/discussions/1238

[2022-06-06 08:49] mploski commented on #1226
Hey @heitorlessa, thanks for your feedback. I restructured this RFC based on your suggestion. Can you take a look one more time?

[2022-06-06 14:15] dnlopes opened #1239 "Bug: publishing a metric with 9 dimensions doesn't work"
### Expected Behaviour

Publishing a CW metric with 9 dimensions should work without problems.

### Current Behaviour

When trying to publish a CW metric with 9 dimensions of my own, it seems the metrics never reach CloudWatch, although I can't see errors anywhere.

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

* Try to publish a CW metric with 9 dimension

[2022-06-06 14:40] heitorlessa commented on #1239
Hey @dnlopes thanks a lot for raising this with us.

I've got two questions before I try reproducing it tomorrow morning:

- Does this only happen with 9 dimensions?
- Does this happen with the latest version? We're in 1.26 now

At a first glance we're serialising correctly and CloudWatch EMF should pick it up - CloudWatch has a limit of 10 dimensions, we add "service", hence 9+service should be f

[2022-06-06 14:46] dnlopes commented on #1239
Yes. After facing this issue I simply removed one of the dimensions and everything went back to normal.

I will bump my dependency and try again layer.

Btw, the last log record I pasted is from a wrong execution, but I think you already have everything you need to try to replicate it. I will try again with the latest version of powertools later and report back.

[2022-06-06 16:44] heitorlessa commented on #1239
Great, thank you @dnlopes; this helps a lot. I gave the CloudWatch team a heads up, and will try to reproduce it tomorrow with and without powertools to rule out an issue with EMF async processor in CloudWatch Logs Engine.

[2022-06-07 07:24] heitorlessa commented on #1239
Hey @dnlopes I wasn't able to reproduce it with 9 dimensions: https://github.com/heitorlessa/pt-1239

I initially suspected it was the value length of one of those dimensions but nope. I've used the exact same values as dimensions you shared.

I wonder if it's one of those common issues: console cache, wrong region, viewing wrong namespace (doubt it), etc.

Let me know if what I tried to reproduce

[2022-06-07 11:49] dnlopes commented on #1239
I noticed now that the sample code in the OP also has 8 dimensions, maybe that's the confusion here.

Rephrasing for clarity: publishing a CW metric with a **total** of 10 dimensions doesn't seem to work (9 custom dimensions + 1 from powertools)

[2022-06-07 12:26] heitorlessa commented on #1239
Ah! Sorry I understood that 9 dimensions in total doesn't work. Let me add a dummy one, make some load, and come back with the results

[2022-06-07 12:42] dnlopes commented on #1239
Great, everything makes sense now then 😅

Thanks.

[2022-06-07 14:53] #1239 closed

[2022-06-07 16:55] am29d commented on #1239
New layer for version powertools 1.26.1 released. As Heitor mentioned current layer version is *20*:

```arn:aws:lambda:{region}:017000801446:layer:AWSLambdaPowertoolsPython:20```

The PR for the docs in on the way.

[2022-06-08 00:20] mew1033 opened #1242 "Feature request: Add the ability to access the LambdaContext when using batch processing"
### Use case

I'm looking to use the get_remaining_time_in_millis function specifically. In this case, the reason is that my batch size sometimes includes very large items that might time out if they are at the end of the batch. I want to add something to the top of the record_handler that checks the remaining time, and if it's below a threshold it just raises an exception for that record. Then th

[2022-06-08 18:20] gwlester commented on #1236
@heitorlessa ,

This came up when onboarding a new whose previous experience was with Flask.  The person asked how to do this with Powertools -- and it seemed like a missing feature to so I wrote it up,

I've actually not thought about the questions you bring up.

[2022-06-09 09:11] mploski commented on #1226
Added small adjustments around infrastructure class re-usage. It looks much more concise @heitorlessa, thx! Will issue PR shortly (within this week)

[2022-06-10 15:44] heitorlessa commented on #1076
New updates:

* **Refresh contribution guidelines**. We've published our first iteration of the [Maintainers playbook](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/MAINTAINERS.md). This formalizes the process maintainers follow to triage issues, PRs, governance in general, who they are, and the label strategy used throughout this project.
* **Operational Excellence**. @mplo

[2022-06-13 08:10] heitorlessa commented on #1236
thanks for the additional background @gwlester :) I suspected it was the case but didn't want to assume anything. I've added it to our Ideas backlog so we can explore those answers as we hear more from customers.

As of now, we try to separate what API GW/AppSync offers natively vs what you can do better at runtime. This helps with operational excellence along with common security concerns in the

[2022-06-13 08:12] heitorlessa commented on #1142
Hey @gwlester we'll be looking in implementing official support for Lambda Function URL as soon as our pause ends.

[2022-06-13 08:12] heitorlessa commented on #1141
Hey @gwlester we'll be looking in implementing official support for Lambda Function URL as soon as our pause ends.

[2022-06-13 08:29] heitorlessa commented on #1242
hey @mew1033 thank you so much for creating the feature request we asked. Until we implement it, you can use `functools.partial` to create a new Callable with `lambda_context` populated, and instead of using the decorator you can use the [Context Manager we provide](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/batch/#accessing-processed-messages) for situations like thes

[2022-06-13 21:15] mploski commented on #1226
@heitorlessa FYI Still working on a PR, found some issues I want to solve first ( too-fat generated powertools layer or AWS API throttling causing tests errors if we run our tests from Github Actions with runtime matrix).

[2022-06-15 14:45] francispeabody opened #1248 "Event Handler: ALB returns 502 for CORS Preflight configuration in ALBResolver"
### What were you searching in the docs?

This is either a bug or a documentation issue. I am looking at [this section](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#pre-flight) of the documentation. The way I read the documentation is that if cors_config is provided, powertools will automatically handle preflight 'OPTIONS' requests. In other words,

[2022-06-15 14:58] heitorlessa commented on #1248
hey @francispeabody, thanks for helping us improve our docs! I've just created a test and we're returning the CORS headers as expected - could you provide a sample or something we could try to reproduce?

We can deploy an ALB + Function to try later once we have more details.

Thank you!

![image](https://user-images.githubusercontent.com/3340292/173859203-3f6527cd-fc05-4877-835e-b803b9d3f5f0.png)

[2022-06-15 20:12] kmcquade commented on #1236
@heitorlessa - I'd also love to have a way to get Swagger docs automatically from Powertools. It's one of the downsides of Powertools - I absolutely love Powertools compared to FastAPI for example for usage in Lambda functions, but FastAPI automatically generates Swagger docs. See example: https://fastapi.tiangolo.com/#interactive-api-docs

Some brainstorming:

In the case of FastAPI, they use Pyd

[2022-06-16 09:29] heitorlessa commented on #1248
Reproduced! @francispeabody, it's our bug. Changing the labels to bug - repro here: https://github.com/heitorlessa/pt-1248

[2022-06-16 09:42] heitorlessa commented on #1248
@francispeabody here's a workaround for now while I find which header is causing ALB to panic: https://github.com/heitorlessa/pt-1248/commit/67cc63e2d86c6b11400338a885332f1cfe649af9

[2022-06-16 09:50] heitorlessa commented on #1248
Found the issue - ALB apparently faults if the `body` is `null`. I'm gonna raise a ticket to the ALB team but in the meantime, we'll make a bug fix release. I just wanna make sure API Gateway doesn't have side effects with a empty bull (not null) before making this change.

[2022-06-16 13:30] heitorlessa commented on #1248
Confirmed, it's just ALB. [CORS Specification](https://fetch.spec.whatwg.org/#http-responses) also doesn't dictate whether the response body should be present, so it's more of a serialization issue in ALB - we'll change on our side for now and inform the ALB team internally.

Thank you so much @francispeabody .

---

**ALB**

[code]

**API Gateway**

[code]

[2022-06-16 14:29] #1248 closed

[2022-06-16 14:33] heitorlessa commented on #1248
hey @francispeabody the fix is now out within 1.26.2 version in PyPi/SAR. I've started the release for Lambda Layer version 21 - might take a few hours to hit all commercial regions we support.

[2022-06-16 15:45] heitorlessa commented on #1236
hey @kmcquade great to hear from you again, and thanks a lot for sharing you're interested in this feature! I left some [questions above](https://github.com/awslabs/aws-lambda-powertools-python/issues/1236#issuecomment-1149592578) to help think this through more carefully.

I do see the value of integrated swagger in a traditional web framework but when it comes to Lambda and API Gateway the bound

[2022-06-17 15:46] heitorlessa opened #1251 "RFC: Integration tests mechanism"
### Is this related to an existing feature request or issue?

https://github.com/awslabs/aws-lambda-powertools-python/issues/1009

### Which AWS Lambda Powertools utility does this relate to?

Other

### Summary

This RFC formalizes our thought process on integration tests (integ test). It also clarifies when functional, integration, and end-to-end tests are best suited.

**Requirements**

* Setup

[2022-06-17 18:54] pcolazurdo commented on #1251
Should we really have a different provisioning model between E2E and integration tests? I think having to support two different models will he harder for maintainers and difficult to maintain in-sync.

[2022-06-17 18:55] pcolazurdo commented on #1251
Suggestion: Creation/Tearing down of resources should be configurable for local tests. I can see how annoying it can be to have to run everything for a small changes that the developer knows don't have dependency on existing data (i.e. when running only specific tests in debugging a particular problem)

[2022-06-17 18:58] pcolazurdo commented on #1251
Recommendation so we don't forget: The generated cloudformation should go through  a cfn-lint/cfn-guard process before executing it.

[2022-06-17 19:39] heitorlessa commented on #1251
That's factored in. The only trade off we're making is to not have a different stack per utility -- this will slow down deployment/tear down considerably.

They're both CloudFormation. The differences are that E2E will use CDK to synthesise the various combinations of stacks, and use CFN to deploy; they create wildly different stacks, need a building process, packaging, permissions set and more.

[2022-06-18 07:27] heitorlessa commented on #1251
Note to self for Monday before I forget: Experiment with stack per feature via conftest, it'll be easier to swap to CDK if we need to AND give us full test vs per feature step through debugging when we needed -- slower but more practical

[2022-06-19 12:02] alexpulver commented on #1226
Hey! Left some comments on the PR itself. Regarding [CF Stack vs CDK Hotswap vs Direct API Hotswap](https://github.com/awslabs/aws-lambda-powertools-python/files/8833059/CF.stack.vs.hotswap.using.pdf) - what about using CDK Hotswap AND multiple Lambda functions?

[2022-06-19 18:44] mploski commented on #1251
@heitorlessa This RFC looks pretty good! Few remarks from my side:
1. In test classification It would be great to provide specific example along with use case (as another column) - this will allow reader to visualise it and clarify some typical confusion around testing: 1/ For example functional testing may be understood as extension to integration testing. 2/ Also e2e tests might be understood as

[2022-06-19 19:15] heitorlessa commented on #1251
That’s stellar feedback - thank you! I’ll update the RFC this week and hold
any implementation until E2E settles the CDK approach.

One misconception though about verbose YAML. For Integ test, it’s easier to
maintain as the resources don’t have Config permutations and IAM
permissions. That said, context switching and cognitive load matters, so
I’ll revert to whatever E2E settles on.

On Sun, 19 Ju

[2022-06-22 20:41] yaronbenezra opened #1257 "unable to sing the lambda with aws signer"
### Expected Behaviour

be able to sing the lambda and also using powertools

### Current Behaviour

Fail to sing the lambda
can you give me your singing profile arn version?

### Code snippet

[code]

### Possible Solution

can you give me your singing profile arn version?

### Steps to Reproduce

N/A

### AWS Lambda Powertools for Python version

10

### AWS Lambda function runtime

3.9

### Pac

[2022-06-24 12:43] heitorlessa opened #1263 "Bug: Logger custom formatters not receiving standard keys"
### Expected Behaviour

As per documentation, using a [custom logging formatter](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#bring-your-own-formatter) should bring standard keys like `service`. Lambda context keys and custom keys are working just fine.

Example provided demonstrates that `service` key no longer appears in the first output.

### Current Behaviour

Whe

[2022-06-24 13:01] heitorlessa commented on #1263
This was introduced here when fixing `clear_state`: https://github.com/awslabs/aws-lambda-powertools-python/issues/1042

[2022-06-24 14:12] heitorlessa commented on #1263
Fix is up. I'll wait to hear from two customers familiar with the original change until next week before merging.

[2022-06-27 22:22] Nogginboink opened #1265 "Docs: location parameter goes in the formatter constructor, not the logger constructor"
### What were you searching in the docs?

Overriding log record format

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#overriding-log-records

### How can we improve?

[code]

### Got a suggestion in mind?

_No response_

### Acknowledgment

- [X] I understand the final update might be different from my proposed

[2022-06-28 17:56] heitorlessa commented on #1265
Hey @Nogginboink, thanks a lot for helping us improve the documentation! `Logger` [propagates these to the formatter](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#lambdapowertoolsformatter) for convenience, hence why the docs show that.

Perhaps we can bring that earlier OR alternatively also show case the longer version by instantiating a Formatter and passing that v

[2022-06-28 18:13] heitorlessa commented on #1265
No problem. I've tested and it worked. We're also in the process of moving all doc code snippets as runnable code so we can verify them continuously - appreciate the feedback either way.

Closing.

![image](https://user-images.githubusercontent.com/3340292/176253161-49ce1fe8-79e6-4651-b336-2e22a26c7be4.png)

[2022-06-28 18:13] #1265 closed

[2022-06-29 14:22] kbakk opened #1267 "Feature request: Include name of standard library loggers"
### Use case

In order to locate the source of a log message, the name of the standard library logger often gives a hint of where it's coming from, as it's a convention to use `logging.getLogger(__name__)` to name the logger (see https://docs.python.org/3/howto/logging-cookbook.html#using-logging-in-multiple-modules for an example).

When following the [FAQ](https://awslabs.github.io/aws-lambda-po

[2022-06-29 15:00] Nogginboink opened #1268 "Feature request: Parse exceptions into structured logs"
### Use case

When using the logger and logging an exception, the exception traceback appears as a single string that includes the stack trace, each frame of which has a file, a line number, a function name, and the statement on that line. Parsing that line, either with the Mk I eyeball or with code, is difficult

### Solution/User Experience

Because logger is all about structured logging, it wou

[2022-06-29 15:01] heitorlessa commented on #1267
hey @kbakk thank you for flagging this, and we appreciate even more for finding that `logging.logger` typo too!

You can include the logger name by ensuring your Powertools Logger has that attribute, this will ensure any registered standard library logger that receive a copy of your Powertools Logger config also has it.

Here's an example:

**app.py**

[code]

**sample output**

[code]

The reason

[2022-06-30 05:55] heitorlessa commented on #1236
Sharing an article that @kmcquade sent me about FastAPI + Lambda Powertools. It uses API Gateway mainly as a proxy,  [mangum](https://github.com/jordaneremieff/mangum) library as a ASGI Lambda adaptor, and it show cases FastAPI auto documentation with SwaggerUI and redoc (fancier).

https://www.eliasbrange.dev/posts/observability-with-fastapi-aws-lambda-powertools/

[2022-06-30 13:09] kbakk commented on #1267
Thank you, that did the trick!

Is this behavior documented somewhere (I couldn't find it mentioned here https://awslabs.github.io/aws-lambda-powertools-python/latest/api/logging/index.html) or would I be using an undocumented feature?  Should I leave this open until it's documented?

[2022-06-30 13:23] kbakk commented on #1267
Side-note: Reason I asked was that the `pending-close-response-required` label was added - I see now that the stale-bot removed it as I responded. Thought it meant I should close it if I was happy with the answer (which I was, but felt that an improvement could be made 😃).

[2022-06-30 13:38] heitorlessa commented on #1267
Perfect - thank you <3!! We can figure out the best naming and such afterwards. We can start by making sure everyone is aware all of the standard logging attributes can be added at any point - Logger & Powertools Formatter constructor, and `append_keys/remove_keys`.

https://docs.python.org/3/library/logging.html#logrecord-attributes

[2022-06-30 14:33] leandrodamascena commented on #1181
Hi all!

I was looking at some issues and opportunities to start contributing to Lambda PowerTools and came across this issue. This implementation looks very interesting and adding a new backend to persist Idempotency data seems like a great idea. Even DynamoDB is a great lightweight option, not everyone wants to create a new table and/or manage a new resource on AWS.

I'll try to summarize some i

[2022-07-01 07:44] kbakk commented on #1267
PR created 🙂

[2022-07-01 08:20] heitorlessa commented on #1267
PR reviewed ;) We can merge as soon as those suggestions are added/amended. Thank you!!!

[2022-07-01 13:53] heitorlessa commented on #1267
Merged. We'll revisit the addition of the `logger_name` field when using `copy_config_to_registered_logger` function after our pause ends :-)

Thank you one more time @kbakk and congrats on your first contrib!!

[2022-07-01 21:38] macdrorepo opened #1275 "Bug: Logger is not defined"
### Expected Behaviour

Logger to be used as always have been (same usagee as in below code snippet done in dozens of other lambdas)

### Current Behaviour

Error from Lambda logs:
`[ERROR] NameError: name 'Logger' is not defined Traceback (most recent call last):   File "/var/lang/lib/python3.9/importlib/__init__.py", line 127, in import_module     return _bootstrap._gcd_import(name[level:], pack

[2022-07-02 09:58] heitorlessa commented on #1275
Hey @macdrorepo, could you share your build and deployment process?

Are you building your own Lambda Layer? Or are you using our public layers?

The error suggests that the package is empty, as in no packages inside aws_lambda_powertools.

I've just used the latest Lambda Layer (21) and it worked as expected. I've also created my own Lambda Layer using SAM CLI and it worked - tho I used the lates

[2022-07-02 19:01] macdrorepo commented on #1275
Hi,

So I am using cdk pipelines to deploy everything. Have this code to build layer with tools:

[code]

This is invoking part:

[code]

Cdk asset being created, and during pipeline execution invoking requirements.txt required libs (including lambda tools) suppose to be installed into layer which is attached to lambda. Same process done many many times before was working like a charm, no idea wha

[2022-07-02 23:29] leandrodamascena commented on #1275
Hi @macdrorepo, how are you?

I'm also working on a side project where I deploy the infrastructure with CDK and I'm using Lambda Powertools as a layer. If I understand correctly, you are building your own Lambda Powertools layer, right? I imagine you are including other things in this layer as well. In that case, my question is, since the Lambda Powertools project maintains a public and up-to-date

[2022-07-04 08:26] RonRademaker opened #1277 "Bug: Unable to inject lambda context in handler with additional arguments"
### Expected Behaviour

Possible to decorate a lambda handler with additional arguments with `@logger.inject_lambda_context`

### Current Behaviour

`TypeError: decorate() takes 2 positional arguments but 3 were given`

### Code snippet

[code]
[code]

[2022-07-04 09:15] heitorlessa commented on #1277
Thank you @RonRademaker ! This should be out by EOD, aiming at releasing in the afternoon after another fix is done

[2022-07-04 10:24] macdrorepo commented on #1275
@leandrodamascena Thank you. Yes I;m using custom layer. Again it was working for dozen of other projects so had no idea what happened this time. I'll try to redeploy and or use this official layer.

[2022-07-04 10:29] heitorlessa commented on #1275
@macdrorepo try downloading a copy of the immutable Lambda Layer assets you built, it might shed some light on the differences. Here's an example of how to get a S3 Signed URL to fetch the last version of our official Lambda Layer:

[code]

[2022-07-04 10:39] macdrorepo commented on #1275
@heitorlessa here screenshot, if something more would be needed please let me know.

![image](https://user-images.githubusercontent.com/33083934/177138443-0c6b8f39-6e78-49a4-930a-c2d658c05b51.png)

[2022-07-04 10:43] heitorlessa commented on #1275
could you expand the `logging` module, please? `aws_lambda_powertools/logging`

Also, please share the contents of `aws_lambda_powertools/__init__.py` and `aws_lambda_powertools/logging/__init__.py`.

if it's any easier, feel free to create a zip and attach here as GitHub will automatically upload any file you copy/paste as a gist

[2022-07-04 10:45] macdrorepo commented on #1275
Here you are whole powertools lib content :)

[aws_lambda_powertools.zip](https://github.com/awslabs/aws-lambda-powertools-python/files/9038738/aws_lambda_powertools.zip)

[2022-07-04 10:52] heitorlessa commented on #1275
I admit I have no idea what's going on - I've downloaded your ZIP, modified init to be triple sure it'd execute that code, and it just works as expected. If it wasn't consistent, I'd have guessed that Lambda downloaded a corrupted Layer content - even there I know Lambda has a good checksum mechanism.

How would you like to proceed as we can't reproduce it @macdrorepo?

We also have a CDK Lambda L

[2022-07-04 10:58] macdrorepo commented on #1275
Yes i suspect again AWS, as for past few months in their various services we hit some strange errors and issues like this one.
Since lib authors confirmed the code is ok, I'll try to redeploy my own layer or use your "official" one.
Lets close / freeze this for now i think ?

[2022-07-04 11:02] heitorlessa commented on #1275
Yeah let's close it. If you hit the same issue again, please feel free to reopen it.

Thank you for your patience on all this too!

[2022-07-04 11:02] #1275 closed

[2022-07-04 11:50] macdrorepo commented on #1275
Can confirm my custom layer is working, AWS lately is mehhh.
Thx to all for reaching out!

[2022-07-04 12:10] #1263 closed, assigned to nobody

[2022-07-04 12:10] #1277 closed

[2022-07-04 12:34] heitorlessa commented on #1277
hey @RonRademaker it's now on PyPi. Lambda Layers should be out in a few hours for all AWS commercial regions. Thank you again ;-)

[2022-07-04 13:21] heitorlessa commented on #1268
That's a great idea @Nogginboink! Are you thinking of including `traceback` field in addition to `exception_name` and `exception`? Or an opt-in like `POWERTOOLS_LOGGER_ENHANCED_TRACEBACK` behaviour that replaces the value of `exception` with that list?

We should definitely look into making this a thing after our pause ends (end of the month). We could ping back here after the pause to ask whether

[2022-07-04 13:25] heitorlessa commented on #1109
Closing due to the lack of response. Please feel free to reopen if that still persists.

[2022-07-04 13:25] #1109 closed

[2022-07-04 13:31] heitorlessa commented on #1257
closing as duplicate for #1108 -- @am29d is on it. Once we finish the Lambda Layers pipeline we will create a Signer for everyone to use.

[2022-07-04 13:34] heitorlessa commented on #901
Closing due to the lack of response. Please feel free to reopen it if you have more info

[2022-07-06 01:52] ammar-khan-cultureamp commented on #1173
I have implemented this before in Java and my thoughts are not to mention path because it will be very messy for larger projects, just mentioned the fields which needs masking, my idea is:

[code]

[2022-07-07 09:43] heitorlessa commented on #1226
Small update to clarify that we will run E2E tests on every merge to `develop` (trunk). We can run it manually (already implemented) and maintainers will exercise judgement on whether to do it before releasing it. As we add more E2E tests, and find ways to simplify CDK, we can eventually add E2E as a step in the release process - there's a ton of other work to do so we don't need to prioritize it

[2022-07-07 22:53] peterschutt opened #1285 "Docs: change module name in shared logger example to match import"
### What were you searching in the docs?

Reading example.

### Is this related to an existing documentation section?

https://github.com/awslabs/aws-lambda-powertools-python/blob/2ded8a6481836da7bdccf7a005fbe31bdf9dbd68/docs/core/logger.md?plain=1#L301-L305

### How can we improve?

[code]

### Got a suggestion in mind?

Possibly this should change to `=== "logger_reuse_payment.py"` so that the t

[2022-07-08 13:30] heitorlessa commented on #1285
I'm glad you brought it up, as I thought it would've been too much of an OCD from my side :D Changing all snippets to match their filenames so it's easier for anyone to go and explore.

[2022-07-08 14:54] heitorlessa commented on #1285
Now live ;) Closing and thanks again for flagging it

![image](https://user-images.githubusercontent.com/3340292/178017181-e2a807f7-ad79-4b19-820b-fc286cafa4e8.png)

[2022-07-08 14:54] #1285 closed, assigned to nobody

[2022-07-11 07:03] mploski commented on #1226
Based on the discussion with @alexpulver I analysed the code of cdk-assets npm package and also design for it: https://github.com/aws/aws-cdk-rfcs/blob/master/text/0092-asset-publishing.md. Currently I'm updating the PR to rely on this design for my custom asset generation and later this week I will compare it with npm cdk-assets direct usage for assets upload.

[2022-07-11 12:50] bauer-jan opened #1288 "Feature request: APIGatewayRestResolver local server"
### Use case

When developing an API in Lambda which is interacting over boto3 with the AWS environment a local server would speed up the devlopment. I would like to be able to use uvicorn to spin up the local development server to test it with Postman. So i dont need to re-deploy my stack to aws whenever i make some changes. As a reference the FastAPI documentation can be used (see: https://fasta

[2022-07-11 13:27] leandrodamascena commented on #1288
Hello @bauerjan93. Hope you are doing well.

Well, I understand the motivation for asking for an environment where you can write and test your APIs quickly, but I don't think that's one of the responsibilities of this project. I mean this project is a suite to help everyone with a set of utilities for AWS Lambda functions such tracking, logging, metrics, batching and others.

In your case, why don

[2022-07-12 14:24] bauer-jan commented on #1288
Thanks for pointing SAM and Serverless Framework out! This just came up since i have currently a Terraform project where i face the challenge described above. So far i always used FastAPI with Mangum (https://github.com/jordaneremieff/mangum) for running ASGI applications in AWS Lambda to handle Function URL, API Gateway. This seeded up development by several factors and i wanted to highlight an i

[2022-07-12 14:49] heitorlessa commented on #1288
thank you @leandrodamascena!

hey @bauerjan93, the SAM CLI team is [looking for feedback on the upcoming integration with Terraform](https://github.com/aws/aws-sam-cli/issues/3154). Once released, it'll help you start a local API Gateway (both REST and HTTP API), a local Lambda API, among other features like hot-reloading etc. - @praneetap (Product Manager) would love to hear your feedback on what

[2022-07-12 14:49] #1288 closed, assigned to nobody

[2022-07-12 22:49] praneetap commented on #1288
@bauerjan93  happy to chat! Feel free to DM me on Twitter to set some time up twitter.com/praneetaprakash

[2022-07-14 09:59] heitorlessa commented on #1226
This is now merged :) We'll be communicating more details as part of the release. Additional enhancements and E2E tests for other utilities will be dealt separately.

HUGE thank you @mploski for going through this length - intense review process, benchmarking multiple options, documentation, etc - and thanks for all reviewers, truly; it takes a village!

[2022-07-15 10:16] cponfick opened #1303 "Feature request: support BatchInvoke when using AppSyncResolver"
### Use case

Currently, an event is expected to be of type ```Dict[str,Any]```. When using 'BatchInvoke' in a direct lambda resolver, the event becomes type ```List[Dict[str,Any]]```. Hence, it is not possible to route the event to the expected resolver.

A use case is given by the  [official dev guide](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-lambda-resolvers.html). Without t

[2022-07-15 14:03] connelldave opened #1304 "Feature request: Clearing ephemeral storage on startup"
### Use case

When utilizing /tmp/, storage is available between invocations per Lambda environment until it is terminated (through arbitary timeout or func redeploy).

This means that good housekeeping is required when using /tmp, for example pulling files from S3 and pushing transforms elsewhere in an ETL fashion: if an environment isn't cleared up, it has the potential to fail with difficult to

[2022-07-15 17:02] amrabed opened #1305 "Feature request: Allow for removing CloudWatch metrics field from logged metrics"
### Use case

This [line](https://github.com/awslabs/aws-lambda-powertools-python/blob/b28c7a9aff0d17ffdb3c740214c2bcfd3b38356e/aws_lambda_powertools/metrics/base.py#L206) forces the addition of the `CloudWatchMetrics` field to all logs of the metrics when the `log_metrics` decorator is used. That can at least double the log cost compared to what is actually necessary when logging the metrics (bas

[2022-07-18 02:18] jplock commented on #1187
Here's a more flushed out example of a DynamoDB `batch_write_item` helper:

[code]

[2022-07-18 09:33] heitorlessa commented on #1305
Hi @amrabed thank you for opening an issue. We're following [CloudWatch Embedded Metric Format Specification](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Embedded_Metric_Format_Specification.html) and that field is [mandatory](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Embedded_Metric_Format_Specification.html#CloudWatch_Embedded_Metric_

[2022-07-18 09:41] heitorlessa commented on #1303
hey @cponfick-bhs thank you for raising this, it makes sense. We'd need to do some digging and experiment with a few UX - would you be able to share a sample event with batch resolver?

That will help speed this up as we'd need to create some tests, find most optimal type definitions, check whether we need some additional fields/methods, and then refactor in a non-breaking change fashion.

Thanks

[2022-07-18 10:40] sliedig opened #1310 "Docs: Security.md missing"
### What were you searching in the docs?

I was reading [MAINTAINERS.md](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/MAINTAINERS.md) and came upon a missing reference to [SECURITY.md](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/SECURITY.md)

Security is your number one priority. Maintainer's Github keys must be password protected securely and any r

[2022-07-18 14:40] cponfick commented on #1303
Sure, I can construct an example.
Assume the following GraphQl-Schema:

[code]
The resolvers are attached as follows:

- `ParentTypeName: Query` and `FieldName: getProducts`
- `ParentTypeName: Product` and `FieldName: comments`

When using the usual Invoke, Appsync creates one event for the ```Query```:

[code]
and  for every product, an additional event and lambda invocation for the comments:
[co

[2022-07-18 17:37] amrabed commented on #1305
@heitorlessa I see. Thanks for the clarification. I am only now seeing that the `log_metrics` decorator is actually required to "flush" the metrics to CloudWatch not just optionally "log" the metrics object

Here is what I had in mind when I mentioned impacting the CloudWatch Logs cost. Let's say we have 3 count metrics. The actual necessary information in the log record (i.e., what we would actua

[2022-07-18 17:37] #1305 closed, assigned to nobody

[2022-07-19 04:24] sliedig opened #1314 "ci: PULL_REQUEST_TEMPLATE.md checklist wording"
### What were you searching in the docs?

[PULL_REQUEST_TEMPLATE](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/PULL_REQUEST_TEMPLATE.md)

### Is this related to an existing documentation section?

_No response_

### How can we improve?

[code]

### Got a suggestion in mind?

## Checklist

Please leave checklist items unchecked if they do not apply to your change.

*

[2022-07-19 14:22] heitorlessa commented on #1310
Fixed by https://github.com/awslabs/aws-lambda-powertools-python/commit/182531d57857a57d2e9e15807ebd2cc30a8237e6

[2022-07-19 14:22] #1310 closed, assigned to heitorlessa

[2022-07-19 14:25] #1314 closed, assigned to heitorlessa

[2022-07-20 06:02] tb102122 opened #1321 "Bug: regression in pip release that included mypy-boto3-* dev dependencies"
### Is this related to an existing feature request or issue?

_No response_

### Which AWS Lambda Powertools utility does this relate to?

Other

### Summary

Why do we need the dependency in the final release build?

mypy-boto3-cloudwatch = "^1.24.0"
mypy-boto3-lambda = "^1.24.0"
mypy-boto3-xray = "^1.24.0"

### Use case

reduce package size

### Proposal

remove dependency

### Out of scope

n/a

[2022-07-20 06:41] heitorlessa commented on #1321
hey @tb102122 that's a bug, this should have been a dev dependency like other mypy types we have; an oversight from our part when merging @mploski E2E testing PR: https://github.com/awslabs/aws-lambda-powertools-python/blame/develop/pyproject.toml#L29

We'll make a patch release in the next 2 hours to address it

[2022-07-20 06:56] tb102122 commented on #1321
Great thanks!

[2022-07-20 06:56] #1321 closed, assigned to nobody

[2022-07-20 07:16] heitorlessa commented on #1321
@tb102122 now live on PyPi and SAR (v1.26.5) -- Lambda Layer might take a few hours to update across regions.

Huge thanks again @tb102122

[2022-07-20 08:53] heitorlessa commented on #1183
We're almost there @rubenesp87 - we've just finished migrated Lambda Layer pipeline to GitHub Actions, and we're now going to test the rollout to all AWS regions. Once that's done, the only thing we'll need is automation to ensure Docs are always up to date with all version we're going to have.

From there, we can expand additional Layers like ARM or Extra dependencies, etc.

[2022-07-20 10:11] tbuatois opened #1327 "Bug: Event handler does not accept null header for compression"
### Expected Behaviour

As the documentation stated:
`The client must send the Accept-Encoding header, otherwise a normal response will be sent.`

When testing my API Gateway integration with lambda from the AWS Console, without specifying header, this send a null header.

### Current Behaviour

Throw an error for a request with empty/null headers to a method with `compress=True`:
`'NoneType' obje

[2022-07-20 11:03] heitorlessa commented on #1327
hey @tbuatois thank you for flagging this and even for taking the time to solve it, much appreciated! Question for you: can this wait until our next release this Friday or is that impacting you now?

I suspect it's the former

[2022-07-20 11:45] tbuatois commented on #1327
Hey @heitorlessa,

It can surely wait for the next release ! Thanks for asking.

[2022-07-20 12:54] heitorlessa opened #1328 "Maintenance: Deploy new Lambda Layers in existing Layer account"
### Technical debt

We've migrated from Lambda Layers internal pipeline to GitHub Actions and created new accounts.

### Why is this needed?

Organizations that added our account in their org allow list will have trouble in adopting the new Layer.

### Which area does this relate to?

Automation

### Solution

_No response_

### Acknowledgment

- [X] This request meets [Lambda Powertools Tenets](h

[2022-07-21 11:52] dispyfree opened #1330 "Computation of idempotency hash key using unqualified name"
### Expected Behaviour

The idempotency layer should be using the fully qualified name of the input function to compute the hash key.
Using unqualified names may result in two distinct functions and/or methods contending for the same set of idempotency items.

### Current Behaviour

In [IdempotencyHandler](https://github.com/awslabs/aws-lambda-powertools-python/blob/a320dddf495b0f83f9bf074075aa0f4

[2022-07-21 12:13] heitorlessa commented on #1330
Thanks for flagging this @dispyfree - we indeed use qualified name [elsewhere in the code](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/middleware_factory/factory.py#L122) but not in the idempotency. According to the [PEP 3155](https://peps.python.org/pep-3155/), it excludes the module name so the result would be the same regardless of how it was impor

[2022-07-21 12:34] heitorlessa opened #1331 "Maintenance: Suggest large PRs to split"
### Summary

Task to create a GitHub Action Workflow to suggest authors to split large PRs - that is, any PR labeled with `size/XL` or `size/XXL`. There'll always be exceptions like code+docs, etc. Reacting to these labels being added is a good signal to whether we're dropping quality in detriment to very large PRs.

### Why is this needed?

Huge PRs makes it difficult to spot potential bugs that

[2022-07-21 12:41] heitorlessa opened #1332 "Maintenance: Lint GitHub Actions workflow"
### Summary

GitHub provides linting for Actions in the editor console only. We could automate linting as a pre-commit hook and/or an action to validate workflows: https://github.com/rhysd/actionlint

In the first attempt there were some false positives due to shellcheck integration but may be easy to disable as we move most of our logic to Github-script.

### Why is this needed?

We've had severa

[2022-07-21 12:46] heitorlessa opened #1333 "Maintenance: Make user guide and api docs workflow reusable"
### Summary

We've de-duplicated most of the workflow logic to build or rebuild user guide and API docs. This could be made reusable with the new `workflow_call` as we have with PR Export and Layer deployment: https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/workflows/reusable_export_pr_details.yml

Docs logic:

* https://github.com/awslabs/aws-lambda-powertools-python/

[2022-07-21 12:52] heitorlessa opened #1334 "Maintenance: Enforce PR Acknowledgement is present"
### Summary

When creating new PRs, authors follow our template which includes an acknowledgement section: https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/PULL_REQUEST_TEMPLATE.md#acknowledgment

We should extend our [`on PR opened` workflow](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/workflows/on_opened_pr.yml) to also validate whethe

[2022-07-21 12:56] heitorlessa opened #1335 "Maintenance: Remove PR labels if title changes"
### Summary

As of now, we [label PRs based on semantic title and areas](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/scripts/label_pr_based_on_title.js). When a title change occurs, a new label is added (correctly) but the previous label remains.

We need to extend this logic by keeping state (GH Artifacts?).

### Why is this needed?

Keeps PR labels synchronized w

[2022-07-21 12:59] heitorlessa opened #1336 "Maintenance: Create GitHub App to automate new GitHub Projects v2"
### Summary

GitHub Projects v2 (as seen on our [board](https://github.com/orgs/awslabs/projects/51/views/11)) requires an org-level token (`awslabs` that is). This means we will need a GitHub App to automate project management with the new board.

### Why is this needed?

Reduces manual effort in keeping the board up to date.

### Which area does this relate to?

Automation, Governance

### Solut

[2022-07-21 13:23] heitorlessa opened #1337 "Maintenance: Automatically move Coming Soon tasks to Shipped upon release"
### Summary

When we make a release, we automatically close all issues labeled `pending-release`. We could extend that automation to automatically move tasks to `Shipped` status - this is done manually today.

Coming soon view: https://github.com/orgs/awslabs/projects/51/views/12

### Why is this needed?

Reduce manual effort, less error-prone.

### Which area does this relate to?

Automation, Gov

[2022-07-21 13:25] heitorlessa opened #1338 "Maintenance: Automatically move merged PRs to Coming Soon"
### Summary

We should extend our [`on PR merge` workflow](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/workflows/on_merged_pr.yml) to automatically move PRs to Coming Soon Status.

### Why is this needed?

Reduces manual effort, less error-prone, and provide more visibility to customers on additional changes coming in the next release.

### Which area does this rel

[2022-07-21 13:33] heitorlessa opened #1339 "Maintenance: Deprecate Python 3.6"
### Summary

AWS Lambda runtime will fully deprecate [Python 3.6 on August 17th](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html#runtime-support-policy). This means, 3.6 functions will be unable to be updated.

This also means we will need to cut a major version (v2). We've decided to not pursue breaking changes in v2 besides 3.6 as there are tons of operational excellence work t

[2022-07-21 13:35] heitorlessa opened #1340 "Maintenance: Remove boto3 from final Lambda Layers"
### Summary

When we complete E2E coverage started by @mploski, we should test whether we can fully remove `boto3` from the final Lambda Layer to cut down ~90% in package size.

Alternatively, we could investigate a process to automatically vend the latest boto3 version without services we don't use.

### Why is this needed?

Cut down package size by 98% and improve cold starts.

### Which area do

[2022-07-21 20:00] heitorlessa commented on #1330
Assigning to me so I can push a fix and make a patch release tomorrow

[2022-07-21 21:47] dispyfree commented on #1330
That's an interesting bit @heitorlessa.
So using `__qualname__` will fix it with respect to nesting inside of
- functions
- classes

By excluding the module, however, we can - in theory - still have two _distinct_ functions contest for the same idempotency items. They just bear the same name, have the same parameters and sit in two modules.
Would it make sense to explicitly include `__module__` as

[2022-07-22 00:24] leandrodamascena commented on #1330
Hello @dispyfree ! Reading your last message, I think it makes a lot of sense to add `__module__` in addition to `__qualname__`.

I reproduced here and if we replace `__name__` with `__qualname__` and don't add the function module name, we run the risk of having two functions with the same name, same parameters and that are defined in different modules. In this case, the hash will be calculated fo

[2022-07-22 05:34] heitorlessa commented on #1330
Thank you both, that's super helpful. I agree in including the module as that will cover cases where people use the new typing.Protocol as well as traditional ABC interfaces.

@dispyfree would you like to do the honour and contribute the fix today?

We want to make a release today with this fix.

PS: @dispyfree I'm stoked you're an avid customer. I'd love to hear more from you one of these days ❤️

[2022-07-22 10:50] mploski opened #1345 "Maintenance: optimize End to End tests mechanism to create powertools Layer once"
### Summary

Currently we create new powertools layer for every test group in our e2e tests. It means we create 3 layers per test execution. If we multiply it by number of Python runtime we run tests in parallel (python 3.7,3.8, 3.9) we have 9 layers built for every github action executed.
It consumes resources (CPU, IOPS, Network Bandwidth) and can slow down overall test execution on constraint e

[2022-07-22 10:54] mploski opened #1346 "Maintenance: Run end to end tests automatically on merge request"
### Summary

We should automate end to end tests execution on every merge to master branch. This will help us discover potential problems before we release new package

### Why is this needed?

To automate manual steps, simplifying maintainer effort and to discover potential problems before new layer pypi package is released

### Which area does this relate to?

_No response_

### Solution

_No re

[2022-07-22 10:56] mploski opened #1347 "Maintenance: Define E2E tests needed"
### Summary

Currently, we developed only example end2end tests - just to validate our new mechanism. We should consider what functionalities we want to test and implement tests

### Why is this needed?

To start using newly integrated mechanism and start benefiting from it

### Which area does this relate to?

_No response_

### Solution

_No response_

### Acknowledgment

- [X] This request meet

[2022-07-22 11:22] mploski opened #1348 "Maintenance: Shrink size of Powertools Layer"
### Summary

Our overall, current size of pypi package is 74MB:
➜  test du -h -d1 | sort -h
8.0K	./bin
 24K	./six-1.16.0.dist-info
 28K	./__pycache__
 28K	./fastjsonschema-2.16.1.dist-info
 28K	./jmespath-1.0.1.dist-info
 28K	./wrapt-1.14.1.dist-info
 36K	./python_dateutil-2.8.2.dist-info
 36K	./s3transfer-0.6.0.dist-info
 44K	./boto3-1.24.35.dist-info
 48K	./aws_lambda_powertools-1.26.5.dist-info

[2022-07-22 11:33] heitorlessa opened #1349 "Maintenance: Hardening of dependant workflows to run on base repo only"
### Summary

GitHub Actions [`workflow_run` event](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run) allows running workflows in response to other workflows. This makes it easier to secure PR automation where we can split workflows to extract PR details and to act on PR, instead of using `pull_request_target` that would send a `write` token to any fork.

[2022-07-22 11:52] heitorlessa opened #1351 "Maintenance: Create CODEOWNERS"
### Summary

[CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) ensures GitHub automatically requires manual approval to run GitHub Actions from any contribution coming usernames not defined in CODEOWNERS.

More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-featur

[2022-07-22 12:13] heitorlessa opened #1353 "Maintenance: Migrate static keys to github OIDC for SAR pipeline"
### Summary

GitHub Actions introduced OIDC support (as used by E2E tests and Layer pipeline). This task tracks the migration from static keys to temporary credential via federation with OIDC.

### Why is this needed?

Increase security posture by not having to rotate keys, making it also less error-prone.

### Which area does this relate to?

Automation, Governance

### Solution

_No response_

#

[2022-07-22 12:28] heitorlessa opened #1354 "Maintenance: Encrypt GitHub Actions secrets with environments feature"
### Summary

By default, Secrets are only exposed to GitHub Actions workflow that run in the base repo. We could do better and only expose certain secrets - release role ARNs, etc. - to specific workflows only.

More info: https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#environment-secrets

### Why is this needed?

Increases security

[2022-07-22 12:29] heitorlessa commented on #1354
related: #1353

[2022-07-22 12:31] heitorlessa commented on #1354
Forgot to share that this requires Secrets to be recreated as Environment Secrets.

[2022-07-22 12:58] #1353 closed, assigned to nobody

[2022-07-22 12:59] #1354 closed, assigned to nobody

[2022-07-22 13:00] #1351 closed, assigned to nobody

[2022-07-22 13:00] #1349 closed, assigned to nobody

[2022-07-22 14:47] heitorlessa opened #1357 "Maintenance: Loose CODEOWNERS to language owners only"
### Summary

CODEOWNERS automatically assign two PR Reviewers where one of them is from the core team. We should make it specific to the language only to prevent cognitive load in manually one reviewer every time.

### Why is this needed?

Reduce cognitive load

### Which area does this relate to?

Governance

### Solution

_No response_

### Acknowledgment

- [X] This request meets [Lambda Powert

[2022-07-22 14:54] #1357 closed, assigned to nobody

[2022-07-22 15:20] heitorlessa commented on #1340
related: #1348

[2022-07-23 19:06] a3kov opened #1359 "Feature request: query_string_parameters should never be None"
### Use case

When there are no query string params, `app.current_event.query_string_parameters` is `None` which is  unexpected.

### Solution/User Experience

Proper solution is to make it to behave like an empty dict or to be an actual empty dict.
- avoids extra None checks
- removes one point of surprise which was totally unnecessary

### Alternative solutions

_No response_

### Acknowledgment

[2022-07-24 21:04] dispyfree commented on #1330
@heitorlessa I'd be pleased to contribute. Feel free to assign to me; I shall have a go at it in the coming days :)

[2022-07-25 07:15] heitorlessa commented on #1347
Renamed to best suit the description. We should create one issue per utility we want to create E2E test. This Friday, we should reconvene on maintainers sync to discuss areas we want to do E2E test and which ones will be covered by integ test (if at all)

[2022-07-25 07:24] heitorlessa opened #1360 "Maintenance: Refactor Idempotency functional tests with DynamoDB Local"
### Summary

As of now, writing tests for Idempotency is more costly than creating features or addressing bugs. This is largely due to the complex Boto stubber setup required - it's error prone.

[DynamoDB Local official wording](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.UsageNotes.html) also changed to: `Except for the endpoint, applications that run with the

[2022-07-25 07:28] heitorlessa opened #1361 "Maintenance: Introduce GitPod.io for external contributions"
### Summary

As of now, contributors have to setup Python and all dependencies required to contribute to the project. We've tried using Gitpod.io in the past but it didn't work with Poetry due to permissions, similarly with [Pre-commit framework](https://github.com/gitpod-io/gitpod/issues/4886).

It's time we review that as it's been over a year.

### Why is this needed?

We can lower the bar to c

[2022-07-25 07:34] heitorlessa opened #1362 "Maintenance: Verify release version is valid before proceeding"
### Summary

As per [discussion](https://github.com/awslabs/aws-lambda-powertools-python/pull/1297), we can be extra careful with the value of the release tag. While there isn't a scenario where this could be null, it could be a non-semantic value.

### Why is this needed?

Prevent release workflow from failing or having unintended version published.

### Which area does this relate to?

Automatio

[2022-07-25 07:54] heitorlessa opened #1363 "Maintenance: Create test utilities to ease writing tests for batch processor"
### Summary

Batch Processor tests require test data factories with successful and failure data (poison pills). The process to setup,  arrange, and assert can be greatly simplified.

In the future, we should remove tests containing the legacy processor (`PartialSQSProcessor`) too.

### Why is this needed?

Reduce operational overhead and cognitive load in writing tests for Batch Processor involvin

[2022-07-25 08:00] heitorlessa opened #1364 "Maintenance: Refactor and split documentation snippets to standalone python files"
### Summary

We should refactor documentation snippets to improve the value new and existing customers get from them. Code snippets should be run as-is and provide what's necessary to demonstrate an utility's feature value - it might need to make an external API call to a fake API, raise Exceptions, etc.

Example of a recent work part of ~152 doc snippets refactoring: https://awslabs.github.io/aws

[2022-07-25 08:48] heitorlessa commented on #1330
Awesome. I've had a discussion with @rubenfonseca on the impact this breaking change could have given the change of keys. We assessed that it might impact over a million functions, since it'll invalidate an hour worth of transactions (default) or more (custom TTL).

We came to the conclusion that there are two ways we could proceed:

1. **Feature toggle**. We could introduce this fix behind a keyw

[2022-07-25 12:02] heitorlessa opened #1365 "Maintenance: Skip PyPi release on manual dispatch to re-run semi-failed workflows"
### Summary

When deploying the latest version (1.26.6), our workflow failed due to the new environment protection rules. The last failure is for the encrypted secret that is somehow not available to `aws-creds` despite everything else being worked.

![image](https://user-images.githubusercontent.com/3340292/180773257-53860346-bee1-4d9b-a195-b3d7c22c2628.png)

### Why is this needed?

Ability to c

[2022-07-25 12:08] heitorlessa commented on #1365
This will be unnecessary once Poetry 1.2 is released due to the new `--skip-existing` https://github.com/python-poetry/poetry/releases/tag/1.2.0b2

[2022-07-25 12:49] #1183 closed

[2022-07-25 12:49] #1327 closed, assigned to heitorlessa

[2022-07-25 12:49] #1328 closed, assigned to heitorlessa

[2022-07-25 12:49] #1365 closed, assigned to nobody

[2022-07-25 14:11] heitorlessa opened #1367 "Refactor Middleware factory docs code snippets"

[2022-07-25 14:11] heitorlessa opened #1368 "Refactor Parameters docs code snippets"

[2022-07-25 14:11] heitorlessa opened #1369 "Refactor Batch Processing docs code snippets"

[2022-07-25 14:11] heitorlessa opened #1370 "Refactor Validation docs code snippets"

[2022-07-25 14:11] heitorlessa opened #1371 "Refactor Parser docs code snippets"

[2022-07-25 14:11] heitorlessa opened #1372 "Refactor Idempotency code snippets"

[2022-07-25 14:11] heitorlessa opened #1373 "Refactor Feature Flags code snippets"

[2022-07-25 14:11] heitorlessa opened #1374 "Refactor JMESPath Functions code snippets"

[2022-07-25 14:23] heitorlessa opened #1375 "Maintenance: Complete Tracer BaseProvider on subsegment and context manager"
### Summary

As of now, [Tracer Provider](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/tracing/base.py#L8) isn't fully typed and documented. We need to complete subsegment context manager typing, and any critical typing from X-Ray SDK that's worth bringing for a Tracing Provider.

Since these might change in the future due to OTel support, we should fo

[2022-07-25 14:28] heitorlessa commented on #1009
Closing in favour of individual issues now created using the new Maintenance template.

[2022-07-25 14:28] #1009 closed

[2022-07-25 14:40] heitorlessa opened #1376 "Python 3.6 deprecation: Revisit `jmespath` dependency"

[2022-07-25 14:40] heitorlessa opened #1377 "Python 3.6 deprecation: Revisit `boto3` dependency"

[2022-07-25 14:40] heitorlessa opened #1378 "Python 3.6 deprecation: Add `cfn-lint` as a dev dependency and update `python_docs` GH workflow"

[2022-07-25 14:40] heitorlessa opened #1379 "Python 3.6 deprecation: Launch a new Lambda Layer `AWSLambdaPowertoolsPythonV2`"

[2022-07-25 14:40] heitorlessa opened #1380 "Python 3.6 deprecation: Revisit forward references `str` available in 3.7 (import future)"

[2022-07-25 14:40] heitorlessa opened #1381 "Python 3.6 deprecation: Simplify Tracer async code to use `asyncio.run`"

[2022-07-25 14:40] heitorlessa opened #1382 "Expose version function in package root"
With Python 3.6 being dropped in v2, we can use use `importlib` to expose a version function.

Since `importlib` looks up DIST files to gather package information, it'll impact cold start performance. Instead, we should create a version and use lazy import to amortize the overhead.

NOTE: `importlib.metadata` is only available in 3.8. Reducing priority and assigning a `help wanted`.

[2022-07-27 18:24] heitorlessa opened #1389 "Bug: Event Handler REST API missing Response at top-level import"
### Expected Behaviour

Importing `Response` to return fine-grained response should be possible as per documentation

[code]

### Current Behaviour

When importing `Response` from the top-level `event_handler` it yields an `ImportError`

[code]

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

Follow the documentation on returning [fine grained responses](htt

[2022-07-28 10:10] heitorlessa opened #1394 "Python 3.6 deprecation: Drop 3.6 from GitHub Actions workflows"

[2022-07-28 13:11] rubenfonseca commented on #1142
Hi @gwlester! We're looking to start implementing this feature for release at the end of the next week. We would love if you had the change to contribute the necessary changes yourself. Otherwise, we will also be happy to take a look and ask you for a review. What would be the best for you?

[2022-07-28 13:12] rubenfonseca commented on #1141
Hi @gwlester! We're looking to start implementing this feature for release at the end of the next week. We would love if you had the change to contribute the necessary changes yourself. Otherwise, we will also be happy to take a look and ask you for a review. What would be the best for you?

[2022-07-28 14:20] gwlester commented on #1141
To be honest. I can't get my head around how the event class actually does what it does -- so I can review but not implement (if I could have figured out how to implement I would have included that).Sorry Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Ruben Fonseca ***@***.***> Date: 7/28/22  08:12  (GMT-06:00) To: awslabs/aws-lambda-powertools-python ***@***.***> Cc:

[2022-07-29 14:18] #1038 closed

[2022-07-29 14:18] #1389 closed, assigned to heitorlessa

[2022-07-29 14:18] #1394 closed, assigned to nobody

[2022-07-29 14:32] heitorlessa opened #1398 "Maintenance: Split changelog generation in a separate workflow"
### Summary

We should create a new reusable workflow to generate changelog based on merge and upon releases.

### Why is this needed?

[Recent release failed](https://github.com/awslabs/aws-lambda-powertools-python/runs/7580302085?check_suite_focus=true) to push newly generated CHANGELOG due to the new lockdown permissions. GitHub doesn't seem to have all permissions fully documented to know whic

[2022-07-29 15:02] heitorlessa commented on #1398
When fully automated with docs being a separate workflow (changelog included), it should look like

- **On new successful merge** -> call docs workflow -> rebuild latest changelog (UNRELEASED)
- **On successful release** -> call docs workflow -> publish new docs version, rebuild latest changelog (new version)
- **On successful layer** -> call docs workflow -> update Layer Version

[2022-08-01 13:40] heitorlessa commented on #1076
Today marks the end of our pause for new features 🎉. This means that triaged [feature requests and RFCs](https://github.com/orgs/awslabs/projects/51/views/5?query=is%3Aopen+sort%3Aupdated-desc) are now considered - we welcome contributions from the community granted that authors of feature requests/RFCs have the 1st priority.

We deeply appreciate everyone's patience while we worked on a number of

[2022-08-01 13:40] #1076 closed

[2022-08-02 06:16] #1375 closed, assigned to nobody

[2022-08-02 06:31] heitorlessa commented on #1359
Hi @a3kov, thank you for raising this. When you say it's "unexpected", could you expand on that please? I've just tried on both PyCharm and VSCode including Mypy and they flag that `app.current_event.query_string_parameters` could be `None`

![image](https://user-images.githubusercontent.com/3340292/182306808-6d0e26a4-5fc4-46df-88c0-7ae72c8e3032.png)

![image](https://user-images.githubusercontent

[2022-08-02 06:36] heitorlessa commented on #1304
hey @connelldave, thanks for creating this feature request! As we spoke on Slack before creating it, we'd like to hear from more customers and to think where this might fit (need a new utility of sorts).

[2022-08-02 07:56] heitorlessa commented on #1173
Thanks a lot for the suggestion @ammar-khan-cultureamp! That however handles Logging only, we're only for something generic that could be reused by a Logger Filter (like the example above).

The most recent POC I've done for a customer was using [Parser (Pydantic)](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/) with [AWS Encryption SDK using Caching to reduce perf

[2022-08-02 14:31] leandrodamascena opened #1404 "Maintenance: Change the project.toml to restrict Python 3.10 version"
### Summary

The latest version of the Lambda runtime for Python is 3.9 and this project must have the same restriction.
The way project.toml is configured, the package on PyPi adds Python 3.10 as a supported version.

![image](https://user-images.githubusercontent.com/4295173/182399044-036f0e1a-83e5-4d21-b428-eb7237bbe850.png)

### Why is this needed?

Keep the same python versions supported by L

[2022-08-02 18:36] hakanson commented on #1371
This was exactly what I was looking for, and worked great.  Some comments on making the docs better.

In the [Parsing event](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#parsing-events) section, the `event_parser decorator` calls out:

but this has an implication on the Lambda response that could be more explicitly called out.  I mainly noticed this because it ca

[2022-08-03 08:51] peterschutt commented on #1359
Cheers for the ping @heitorlessa!

Is the parallel you are drawing to `get_header_value()` the `case_sensitive` flag? If I get your drift you're talking about an accessor func or method that would always return an empty `dict` in place of `None` if given some sentinel? If so, sure `overload` would do it.

On the overall issue I've got an example event log in front of me and it has `"queryStringPar

[2022-08-03 09:00] heitorlessa commented on #1359
Yes @peterschutt. Like a `get_query_string_parameters`, where you'd have a parameter to define a sentinel value:

[code]

Challenge here is that we can't control what the sentinel value would be, so I suspect we could solve with an `@overload` and a generic type for the sentinel, like `os.getenv` does: https://github.com/python/typeshed/blob/master/stdlib/os/__init__.pyi#L496

In your experience,

[2022-08-03 09:04] heitorlessa commented on #1359
And yes, I also agree that defining a local `or {}` is better in the current case since we are explicit with our return type being  `Optional`.

The only added benefit of having a `get_query_string_parameters` function is saving an "or" for those not used with static typing and the tooling around it - i'm torn, maybe need more customer demand for this, and can update the docs with an `or {}` when

[2022-08-03 09:09] heitorlessa commented on #1164
We found a solution! @mploski will be working on some rigorous tests to ensure we don't break anyone when including a ~500K botocore in the final PyPi asset and Lambda Layer, but I'm super super excited we've made progress here with the help from the AWS Python SDK team <3

[2022-08-03 10:09] a3kov commented on #1359
@heitorlessa I meant unexpected coming from web frameworks. It's just not practical to have it as `None` sometimes

[2022-08-03 12:35] rubenfonseca commented on #1141
Hi @gwlester we've now worked on an implementation of the AWS Lambda Function URL data class and event handler here: https://github.com/awslabs/aws-lambda-powertools-python/pull/1408

We would appreciate if you take a look and review the code. And we're looking forward to any feedback you might have.

[2022-08-03 12:35] rubenfonseca commented on #1142
Hi @gwlester we've now worked on an implementation of the AWS Lambda Function URL data class and event handler here: https://github.com/awslabs/aws-lambda-powertools-python/pull/1408

We would appreciate if you take a look and review the code. And we're looking forward to any feedback you might have.

[2022-08-03 15:31] gwlester commented on #1142
Looks good!

Thanks much!!!!

On 8/3/22 07:35, Ruben Fonseca wrote:

--
+------------------------------------------------------------------------+
| Gerald W. Lester                                                       |
|"The man who fights for his ideals is the man who is alive." - Cervantes|
+------------------------------------------------------------------------+

[2022-08-03 16:42] leandrodamascena opened #1410 "Maintenance: Remove support to devcontainer"
### Summary

Indeed the Visual Studio Code Remote - Containers extension is an excellent tool to help create isolated and customized development environments, but I believe we have a problem using this extension in this project.

1 - Currently the devcontainer configuration doesn't work because the project needs docker to run some operations

![image](https://user-images.githubusercontent.com/4295

[2022-08-03 16:43] heitorlessa commented on #1410
Thanks Leandro! GitPod it is

On Wed, 3 Aug 2022 at 18:42, Leandro Damascena ***@***.***>
wrote:

[2022-08-03 17:52] jplock commented on #1404
Locally I’m running Python 3.10 and I install the powertools via pip. When I deploy through SAM I’m using the layer. I don’t think we should limit being able to install this package when running 3.10.

[2022-08-03 18:46] gshpychka opened #1413 "Maintenance: change the maximum number of user-defined metric dimensions to 29"
### Summary

AWS increased the quotas for CloudWatch today; specifically,  the maximum number of dimensions a metric can have was increased from 10 to 30 (https://aws.amazon.com/about-aws/whats-new/2022/08/amazon-cloudwatch-metrics-increases-throughput)

The validation should take this into account and raise the limit accordingly.

### Why is this needed?

Previously, the limit was 10 dimensions p

[2022-08-03 19:07] leandrodamascena commented on #1404
Hi @jplock, this is really an excellent point for us to debate here. It really works to use Python 3.10 to install via pip or even use the source code of this project, I've done some tests here and it's working "fine". But I think we should pay attention to a few points:

1 - Ok we have Python 3.10 installed and the project working, but we must remember that the highest version allowed by the Lamb

[2022-08-03 20:54] jplock commented on #1404
I understand the points but who is our target audience: people who will be submitting changes to the library or people who want to use the library? I think people using the library will be more common and we shouldn’t limit how it can be installed if they happen to use the latest available Python release on their local machines.  Maybe we could check with the Lambda runtime team on when 3.10 suppo

[2022-08-04 00:15] leandrodamascena commented on #1404
I agree with you that people using the library is the most common situation. But in my opinion even those people shouldn't be affected because the purpose of this project is to help projects using AWS Lambda and those projects must use a Python version below 3.10 because Lambda Runtime doesn't support 3.10+.
But I actually don't have enough data and I don't think I'm the right person to define thi

[2022-08-04 08:15] heitorlessa commented on #1413
Thanks for flagging it @gshpychka! We had a chat with the CloudWatch team before making it public.

@rubenfonseca @leandrodamascena should we treat this as a breaking change or not? We'd have to change the `MAX_DIMENSIONS` and our tests as the ValidationError will no longer occur past 9.

If you think this is not a breaking change, we can bundle it for our release this Friday.

[2022-08-04 08:33] rubenfonseca commented on #1413
I don't see this as a breaking change: the old code should continue to work unchanged (unless customers are triggering the SchemaValidationError on purpose). So an upgrade in the max dimensions should not cause existing code to break.

On Thu Aug 04, 2022 at 01:15:43AM -0700, Heitor Lessa wrote:

[2022-08-04 09:27] leandrodamascena commented on #1413
I don't think this is a breaking change change either. The old code will continue to work with a maximum of 9 dimensions and the new one will be able to use a maximum of 29.

it's a nice improvement to add more metrics/dimensions to Cloudwatch and I'm sure customers will be happy about it.

[2022-08-04 10:17] heitorlessa commented on #1413
Alright then! @gshpychka, would you like to do the honours and make a PR for this change?

We can craft a PR if you don't have the bandwidth

[2022-08-04 10:28] peterschutt commented on #1359
As @a3kov is thinking about it from a web framework perspective, an analogous solution could be a method on the resolver that always returns a `dict`, e.g., `APIGatewayResolver.query_parameters() -> dict`. However, I can't see a precedent for that kind of thing, and it could be a slippery slope of needing to add methods for accessing other things like path params, headers, etc.

Always harder to r

[2022-08-04 19:17] leandrodamascena commented on #1413
Hi @gshpychka. I think I can submit a PR for this issue if you're busy. I think (not sure) that tomorrow there should be a release and it would be interesting to have this improvement.

[2022-08-05 06:45] heitorlessa opened #1416 "Maintenance: Missing test for function url authZ"
### Summary

Function URL latest introduction is missing a test without authorization fields. This will ensure code paths work when a function URL is configured as `NONE` for `AuthType`.

Test: https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/tests/functional/data_classes/test_lambda_function_url.py#L5

### Why is this needed?

Completeness. Functional tests are covering only w

[2022-08-05 12:07] gshpychka commented on #1413
Apologies, couldn't get to it yesterday.

[2022-08-05 12:34] heitorlessa commented on #1404
We'll look into this for next week's release, as we had some funky expressions with Poetry before. I appreciate everyone's point of view. For correctness, and specially given the number of breaking changes in 3.10+, we should update our support to 3.9 only.

Lambda will take some time to provide support for 3.10. When they do, it'll take us some time to address some difficult typing breakage too.

[2022-08-05 12:37] heitorlessa commented on #1413
no problem at all @gshpychka, we only "rushed" a bit because we're releasing this to everyone today ;)

Thanks for checking in (and more importantly for flagging it)

[2022-08-05 13:21] #1142 closed

[2022-08-05 13:21] #1361 closed, assigned to nobody

[2022-08-05 13:21] #1398 closed, assigned to heitorlessa

[2022-08-05 13:21] #1410 closed, assigned to nobody

[2022-08-05 13:21] #1413 closed, assigned to nobody

[2022-08-05 13:21] #1416 closed, assigned to rubenfonseca

[2022-08-06 07:38] ran-isenberg opened #1424 "Feature request: Add CloudMap parameters utility"
### Use case

We use Cloudmap for both deployment and runtime service endpoints. We wrote custom code to properly extract and parse the responses.

### Solution/User Experience

A similar utility to SSM with cache built it.

### Alternative solutions

_No response_

### Acknowledgment

- [X] This feature request meets [Lambda Powertools Tenets](https://awslabs.github.io/aws-lambda-powertools-pytho

[2022-08-06 07:51] ran-isenberg opened #1425 "Feature request: Add Parser official support for Lambda Function URL"
### Use case

Lambda function support was added to event handlers. Parser should also be able to support it out of the box.

### Solution/User Experience

Have parser add an envelope and model for lambda function events.
Let me know when I can add it.

### Alternative solutions

_No response_

### Acknowledgment

- [X] This feature request meets [Lambda Powertools Tenets](https://awslabs.github.io

[2022-08-06 08:57] peterschutt opened #1428 "Docs: Small docs fixes"
### What were you searching in the docs?

General reading

### Is this related to an existing documentation section?

_No response_

### How can we improve?

[code]

### Got a suggestion in mind?

_No response_

### Acknowledgment

- [X] I understand the final update might be different from my proposed suggestion, or refused.

[2022-08-06 23:44] peterschutt commented on #1404
What about those of us running `3.10` in containers via lambda?

Due to the container runtime I could be running `3.11.0b5` as we speak, not that I'd expect this library to support it. But `3.10` has been GA for ~10 months and it is reasonable to expect I wouldn't be the only one running it in a container and depending on this library.

[2022-08-07 06:43] heitorlessa commented on #1404
I didn't see that coming. Sometimes I forget about OCI because our tenets track managed runtimes, and that's a blind spot.

This argument is valid and we shouldn't do it since we don't know how many would be impacted; classic Hyrum's Law.

Here's where I'd like help from everyone - how do we best communicate that we don't make guarantees 3.10+ will work?

This applies for any future Python version

[2022-08-07 11:26] peterschutt commented on #1404
[one of the best](https://xkcd.com/1172/)

If I didn't come across this issue today, I wouldn't have known 3.10 was unsupported.

I've looked at `awslambdaric` as an example, they have pretty much the same classifiers as you, and the same python version specified, but because they use `setuptools` their classifiers are packaged verbatim:

![image](https://user-images.githubusercontent.com/20659309

[2022-08-07 12:28] heitorlessa commented on #1404
That’s super helpful - I’ll read it more carefully this week. For the
breaking changes, I meant Python 3.10 and 3.11 breaking typing and some
other minor I can’t remember by heart now (e.g., Callable typing).

For our breaking changes (v2), the plan is to create an issue and discuss
with the community what cuts should we made as part of dropping 3.6 support
- I want it to be minimal, and strive fo

[2022-08-07 12:40] leandrodamascena commented on #1404
Ohhh :open_mouth:.. I think that's a great argument for not restricting the Python version and I didn't think about this point either. Right now this project could be running on thousands of containers using Python 3.10+ and this could have a big impact.

:clap:

[2022-08-07 18:20] shanab opened #1432 "Feature request: support DynamoDB image values to dict with built-in Python types"
### Use case

When using `DynamoDBRecord` class, the values for `old_image` and `new_image` are represented as `Dict[str, AttributeValue]`. This representation is sufficient when the data parsed is simple and does not contain nested maps/lists.
But when the data parsed contains nested maps/lists, then it becomes hard to get to the data that `AttributeValue` represents.
One would need to recursivel

[2022-08-07 20:16] heitorlessa commented on #1432
Thanks a lot for taking the time to raise it Ahmed. I can’t wait to see
this PR.

On Sun, 7 Aug 2022 at 20:20, boring-cyborg[bot] ***@***.***>
wrote:

[2022-08-08 08:20] heitorlessa commented on #1141
Closing as it was released in [1.27.0](https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.27.0)

[2022-08-08 08:20] #1141 closed

[2022-08-08 11:41] amissSmile-code commented on #1056
/assign

[2022-08-08 19:07] leandrodamascena commented on #1371
Hey @hakanson! Hope you are well.

Now I'm refactoring all the docs, examples and adding more details in general. I'm planning to send a PR tomorrow or Wednesday..
After submitting the PR, can I tag you to help me validate and improve it?

[2022-08-08 19:10] leandrodamascena commented on #1373
Hi @heitorlessa. I'm already working on it and will send a PR.

[2022-08-08 19:10] leandrodamascena commented on #1372
Hi @heitorlessa. I'm already working on it and will send a PR.

[2022-08-08 19:10] leandrodamascena commented on #1370
Hi @heitorlessa. I'm already working on it and will send a PR.

[2022-08-10 03:49] hakanson commented on #1371
Yes, I have some commitments coming but will do my best.

[2022-08-10 07:00] heitorlessa commented on #1424
Thanks a lot Ran for the feature request. I've just added a label to signal we're looking for customer feedback on this.

[2022-08-10 07:01] heitorlessa commented on #1425
Thank you Ran, I've just updated the title and removed triage. Feel free to make a PR, I also added a `help wanted` label for anyone else if you don't have the bandwidth. I also remember you shared there were some validation issues - let us know if we can help.

[2022-08-10 07:02] heitorlessa commented on #1192
Removing `help wanted` as @rubenfonseca will start working on this next week.

[2022-08-10 07:17] ran-isenberg commented on #1425
I'll prepare a PR, no problem, should be easy.

[2022-08-10 09:35] petarlishov opened #1433 "Feature request: Add easy support for Datadog and possibly other observability solutions"
### Use case

I have played around with the Datadog and the AWS Powertools Lambda layers and as one that needs to integrate with Datadog, the Datadog Lambda layer is a good choice for getting that integration set up flawlessly.

But I also really enjoy some of the features that AWS Powertools have incorporated into their Lambda layer and as a developer I find it to be a very useful tool. Last time

[2022-08-11 01:20] mikefiserv opened #1434 "Docs: Syntax errors in the Terraform Lambda Layer example"
### What were you searching in the docs?

Terraform example for using the official Powertools lambda layer

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/latest/#lambda-layer

### How can we improve?

Using `<<EOF` along side MKdocs imports the bottom half of the document twice below is the rendered version:

[code]

Original terr

[2022-08-11 04:17] heitorlessa commented on #1434
Closing as this (and many others) will be dealt in a separate issue #1364

[2022-08-11 04:17] #1434 closed

[2022-08-11 14:40] ran-isenberg commented on #1432
@shanab
did you try using the parser? you can specify models for the images and it all gets parsed nicely.
https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#built-in-envelopes
There's a DynamoDBStreamEnvelope class.

It seems like the data classes features is trying to implement parsing features IMO.

[2022-08-11 15:41] heitorlessa opened #1435 "Maintenance: Refactor E2E mechanism for extensibility, ease test writing, and unblock integ tests"
### Summary

We defined the E2E mechanism on #1226 and recently implemented a POC. This issue tracks the extensibility work required to allow E2E to own infrastructure. This includes making it easier for tests to be able to control the payload each E2E test uses to invoke their respective Lambda function.

Tasks

* [x] #1436
* [x] #1437
* [x] #1438
* [x] #1439
* [x] #1440
* [x] #1441
* [x] #1464

[2022-08-11 15:43] heitorlessa opened #1436 "Refactor E2E: Encapsulate CDK Assets logic"

[2022-08-11 15:43] heitorlessa opened #1437 "Refactor E2E: Allow tests to own Infrastructure and invoke payload"

[2022-08-11 15:43] heitorlessa opened #1438 "Refactor E2E: Safely parallelize tests defined within feature group"

[2022-08-11 15:43] heitorlessa opened #1439 "Refactor E2E: Refactor Metrics test and increase coverage"

[2022-08-11 15:43] heitorlessa opened #1440 "Refactor E2E: Refactor Tracer test and increase coverage"

[2022-08-11 15:43] heitorlessa opened #1441 "Refactor E2E: Refactor Logger test and increase coverage"

[2022-08-11 15:51] heitorlessa commented on #1435
@mploski turns out the PR it's much smaller than I thought - ~800 LOC addition, ~300 deletion. Given that you're mostly familiar with it, I'm inclined to make a single PR instead of 3 smaller ones (more coordination).

I'll create a proper description with the changes and send a PR tomorrow for review before you go on holidays

[2022-08-11 16:21] ran-isenberg opened #1443 "Bug: markdownlint not supported on ARM"
### Expected Behaviour

On a clean fetch from develop branch, make pr should work.

both mypy and markdown-cli linter either fail or raise warning.

### Current Behaviour

First issue:
docker run -v /Users/xxxx/aws-lambda-powertools-python:/markdown 06kellyjac/markdownlint-cli "docs"
WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) an

[2022-08-11 16:35] leandrodamascena commented on #1443
Hi @ran-isenberg.. I'm sending a PR in a few minutes to fix the error in the jmespath examples.
Thanks for sharing this.

[2022-08-11 16:52] ran-isenberg opened #1445 "Bug: adding text to parser docs causes pre commit errors"
### Expected Behaviour

docs-linter passes but pre-commit fails

### Current Behaviour

docs/utilities/parser.md:586 MD043/required-headings/required-headers Required heading structure [Context: "## Getting started"]

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

make pre-commit

### AWS Lambda Powertools for Python version

latest

### AWS Lambda function

[2022-08-11 18:05] heitorlessa commented on #1443
Thanks Ran! None of the maintainers have a M1 Mac so we will delay looking into the first issue - the second is now fixed.

From the logs, it appears that markdownlint doesn't support ARM.

[2022-08-11 18:10] heitorlessa commented on #1445
Thanks Ran for the productiveness in creating an issue but that's a deliberate linting rule to ensure consistency across headings. It'll fail on updates to docs not following it.

Closing as we're tracking Parser doc refactoring on #1371

[2022-08-11 18:10] #1445 closed, assigned to nobody

[2022-08-11 18:21] heitorlessa commented on #1433
It is so rare to receive such a high quality feature request like this that I want us to take time to reply to you accordingly - please bear with us for an answer next week.

Until then, we're laying the ground work in E2E and Integ test framework to give us confidence to offer what you're asking -- either native support or expose the mechanisms we already have for customers to build them.

For an

[2022-08-12 13:39] wayne-folkes opened #1450 "Feature request: Response should support multiValueHeaders"
### Use case

I have a lambda function with an ALB event source, I was attempting to use `Response` `(from aws_lambda_powertools.event_handler import content_types, Response)` instead of constructing the response by hand
[code]
instead of
[code]
the ALB responds with a 502 when using Response I suspect it is because multiValueHeaders is not included in the response.
To get around this, I am doing

[2022-08-14 21:06] mobal opened #1452 "Bug: Add aws-lambda-powertools break my github workflow, "ModuleNotFoundError: No module named 'certifi'""
### Expected Behaviour

If I add `aws-lambda-powertools` to my project (not imported even not used) it does not brea my workflow.

### Current Behaviour

During running `pytest` I got the following error: `ModuleNotFoundError: No module named 'certifi'`

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

Trigger my workflow

### AWS Lambda Powertools for Python

[2022-08-14 21:08] mobal commented on #1452
You can find my workflow logs here:

- the latest successful run: https://github.com/mobal/personal-backend-service/actions/runs/2857014897
- and about faulty running: https://github.com/mobal/personal-backend-service/actions/runs/2857006544

Thanks in advance!

[2022-08-15 08:02] heitorlessa commented on #1452
Thanks for reporting it @mobal. That looks like a dependency resolution issue as we don't use that dependency, but `httpx` at a quick glance.

For a quick test, I've just deployed a quick Lambda using the same pinned runtime dependencies you have, including `aws-lambda-powertools` - no issue here. I suspect your `pytest-httpx` is causing some issues. I'm gonna remove the bug label for now, and lea

[2022-08-15 08:05] #1438 closed, assigned to heitorlessa

[2022-08-15 08:35] #1437 closed, assigned to heitorlessa

[2022-08-15 08:36] #1436 closed, assigned to heitorlessa

[2022-08-15 11:56] leandrodamascena opened #1453 "Refactor Typing factory docs code snippets"
### What were you searching in the docs?

Adding more description and examples can make it easier to use.

#1364

### Is this related to an existing documentation section?

_No response_

### How can we improve?

[code]

### Got a suggestion in mind?

_No response_

### Acknowledgment

- [X] I understand the final update might be different from my proposed suggestion, or refused.

[2022-08-15 11:57] leandrodamascena commented on #1364
Hi @heitorlessa. Please add this issue #1453 to the task list.

[2022-08-15 13:56] petarlishov opened #1454 "Feature request: Span operation names to include class name"
### Use case

Currently if you add a span to a function with the provided annotation `tracer.capture_method`, the created span only uses the function's name. So if it is a function within a class, say for example some implementation of an abstract class, it is hard to realise which particular method was called as there are multiple classes with the same method.

### Solution/User Experience

If we

[2022-08-16 06:43] mobal commented on #1452
Thanks for your help @heitorlessa, you were right. Removing `pytest-httpx` solves the problem. We are not talking about any bug here, I will continue to investigate the solution.

Thanks for your help once more!

[2022-08-16 06:43] #1452 closed, assigned to nobody

[2022-08-16 06:47] heitorlessa commented on #1452
Awesome to hear, these things are tricky! Glad you're unblocked either way @mobal :)

[2022-08-16 08:16] shanab commented on #1432
@ran-isenberg the problem in our case was that the service was not using Pydantic, and we did not want to introduce it only to parse the DynamoDB record.
I agree that there is an overlap between data classes and Parser, but IMO data classes should still allow traversing the fields of a record.
Also looking at the [data classes docs](https://github.com/awslabs/aws-lambda-powertools-python/blob/deve

[2022-08-18 10:00] rubenfonseca opened #1459 "RFC: Lambda Powertools for Python v2"
### Is this related to an existing feature request or issue?

_No response_

### Which AWS Lambda Powertools utility does this relate to?

Powertools itself

### Summary

The [Python 3.6 Lambda Runtime was deprecated](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html#runtime-support-policy) as of Aug 17th 2022. This follows Python 3.6 End-Of-Life (EOL) reached on December 23, 2021.

[2022-08-18 12:37] heitorlessa commented on #1459
Thank you @rubenfonseca! Let's make Event Handler Headers part of v2 as this will impact our ability to support cookies and multi-value headers without a maintenance hit -- https://github.com/awslabs/aws-lambda-powertools-python/pull/1455

We should also add that we're going to make minimal breaking changes due to not having ample time to discuss and run experiments with customers - we shall leave

[2022-08-18 12:45] rubenfonseca commented on #1459
@heitorlessa thanks, updated! Do you know if an existing issue about removing the first batch processing implementation?

[2022-08-18 12:48] heitorlessa commented on #1459
Nope, haven't created yet. We'd need to make a PR to add a deprecation warning too.

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/utilities/batch/sqs.py#L24

[2022-08-19 08:17] sthuber90 opened #1461 "Feature request: Event source mapping for custom CloudWatch dashboard widgets"
### Use case

When invoking a Lambda function to create a custom widget in a CloudWatch dashboard, a event source mapping class for the incoming event can help to ensure type safety and make the event attributes easier accessible than going through [the documentation](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/add_custom_widget_dashboard_about.html)

### Solution/User Experienc

[2022-08-19 09:47] rubenfonseca commented on #1461
Hi @sthuber90 thank you for opening this feature! Since python 3.6 runtime was just removed from Lambda, [we are focusing our efforts on a new major release of Powertools.](https://github.com/awslabs/aws-lambda-powertools-python/issues/1459)

Do you have the bandwidth the implement this feature?

[2022-08-19 11:35] rubenfonseca commented on #1330
Hi @dispyfree we're actively prioritizing on this so we could include it as a [breaking change for our v2 release](https://github.com/awslabs/aws-lambda-powertools-python/issues/1459). Do you still have the bandwidth to finish it?

[2022-08-19 11:42] rubenfonseca commented on #1454
Hi @petarlishov thanks for opening this. We're actively trying to prioritize this issue for our v2 release in the next couple of weeks. We will also apply a [similar fix to the idempotency utility](https://github.com/awslabs/aws-lambda-powertools-python/issues/1330). Stay tuned :)

[2022-08-19 12:16] rubenfonseca opened #1462 "Maintenance: remove legacy SQS Batch Processor"
### Summary

We kept the first implementation of the SQS Batch Processor for historical reasons. As of November 2021, it was no longer needed because native support was added to the services.

### Why is this needed?

We've been recommending the native solution since we launched it. It's not worth to maintain two code paths to achieve the same functionality.

### Which area does this relate to?

B

[2022-08-19 13:27] sthuber90 commented on #1359
I understand it would be a nicer experience if you could always do `app.current_event.query_string_parameters.get("id")` and not experience his error:

However, I see the `or {}` as a good enough solution. Alternatively, you can also use `get_query_string_value`. Even if no query parameters have been provided this call will not fail and you can set a default value to return if the value would be `

[2022-08-19 14:09] #1441 closed, assigned to nobody

[2022-08-19 14:10] #1440 closed, assigned to nobody

[2022-08-19 14:10] #1439 closed, assigned to nobody

[2022-08-19 14:10] heitorlessa opened #1464 "Refactor E2E: Build Lambda Layer once and expose to children stacks"

[2022-08-22 14:47] #1464 closed, assigned to nobody

[2022-08-22 15:17] heitorlessa commented on #1435
Final result with the new parallelization and Lambda Layer being built once. Last step is to enable at CI level and measure whether retry/jitter numbers are sufficient for the random hardware we might get.

[code]

[2022-08-22 15:19] heitorlessa commented on #1425
We'll release it by EOW the latest. Got an announcement to make tomorrow before we schedule the best date for the release.

[2022-08-22 15:25] heitorlessa commented on #1345
Implemented by #1466

[2022-08-22 15:26] heitorlessa commented on #1360
This won't be necessary anymore. We completed E2E refactor and will move Idempotency to the new stack to use the real service to reduce maintenance burden with arrange/act

[2022-08-22 15:26] #1360 closed, assigned to nobody

[2022-08-22 15:27] heitorlessa commented on #1362
We've moved towards a two-person release as all activities are automated now. This gives us enough safety and ensures our messaging is adequate to what we're releasing from more than one point of view.

[2022-08-22 15:27] #1362 closed, assigned to nobody

[2022-08-22 15:41] heitorlessa commented on #1177
Closing as we will only be able to rename it completely in v3. Data classes confirmed to be too slow. We're following Pydantic v2 closely for a faster and closer API model. As there isn't a date, `raw_event` property does the job.

[2022-08-22 15:41] #1177 closed

[2022-08-22 15:46] heitorlessa commented on #1185
Added labels to express we'd like to hear customer feedback before considering it. We had the same discussion on other Powertools and we didn't get much traction from other customers wanting AppConfig Extension support -- we're experiencing the other way around (start with Extension then move to Powertools/Custom code etc.)

[2022-08-22 15:48] heitorlessa commented on #1172
related: #1172

We're following closely Pydantic v2 ([~17x faster and much smaller package](https://talkpython.fm/episodes/show/376/pydantic-v2-the-plan))  which could address this in a better way as defined in #1172.

[2022-08-22 15:50] heitorlessa commented on #1164
We're enabling E2E at the merge level and will be able to test this more confidently as we increase coverage. Meantime, @mploski is finishing another project in his day-to-day role and will resume exploratory tests on the new squashed boto to see whether we accidentally cause any conflict with the Lambda's boto runtime dep

[2022-08-22 15:52] heitorlessa commented on #1267
Adding `triage` label so we can prioritize this for next month (or this week's release depending on bandwidth)

[2022-08-22 15:54] heitorlessa commented on #1175
Closing in favour of #953 as we'll resume design discussion there

[2022-08-22 15:54] #1175 closed

[2022-08-22 15:55] ran-isenberg commented on #1172
@heitorlessa  FYI: https://github.com/ran-isenberg/aws-lambda-handler-cookbook/blob/main/service/handlers/utils/env_vars_parser.py

[2022-08-23 09:14] #1345 closed, assigned to nobody

[2022-08-23 11:59] sthuber90 commented on #1461
I will try to create a PR for it 👍

[2022-08-23 12:45] heitorlessa opened #1469 "Maintenance: Add new Discord invite"
### Summary

We're moving away from Slack and onto Discord. We should update our main README and Docs homepage (docs/index.md) to inform customers how to join the community: https://discord.gg/B8zZKbbyET.

### Why is this needed?

AWS Developers Slack channel `lambda-powertools` will be archived in favour of our new home on Discord.

### Which area does this relate to?

Governance

### Solution

_

[2022-08-23 15:19] heitorlessa commented on #1251
Finally finished the E2E refactoring work. We can now use Integ tests with the same framework. Test definitions have been updated too - I'll update the RFC body as soon as I get a chance:

| Test              | When to write                                                                                         | Notes

[2022-08-23 15:19] #1469 closed, assigned to nobody

[2022-08-23 18:10] dreamorosi opened #1472 "Maintenance: Add Discord invite link to the `firstPRMergeComment` automation"
### Summary

At the moment every time a first-time contributor merges a PR, there's an automation [that posts a congratulation message](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/.github/boring-cyborg.yml#L99-L100). We could use this opportunity to encourage those contributors to join the Discord server and request the "GitHub Contributor" role.

### Why is this needed?

[2022-08-23 20:26] dispyfree commented on #1330
Hi @rubenfonseca
I really wanted to do this, but I just don't find the time :(  I'm afraid I'll have to pass on this one

[2022-08-24 10:39] leandrodamascena commented on #1330
Hi @dispyfree, don't worry! We know that everyone is very busy and sometimes 24 hours a day is not enough. I'll finish this and ping you to take a look before we merge, ok?

[2022-08-25 07:14] heitorlessa opened #1477 "Maintenance: Fix concurrent git update breaking changelog generation"
### Summary

We need to ensure GH Actions git client can pull and rebase before pushing any changes to reduce the off chances a concurrent update prevents a push.

### Why is this needed?

We [auto-merge](https://github.com/awslabs/aws-lambda-powertools-python/actions/workflows/auto-merge.yml) safe dependencies from dependabot. In rare incidents, this caused the release to fail as the Git tip was

[2022-08-25 08:10] #1367 closed, assigned to rubenfonseca

[2022-08-25 09:14] rubenfonseca commented on #1459
We started creating an "Upgrade guide" with detailed upgrade steps for each breaking change, together with before/after examples. This will help everyone go faster through each major version changes.

[2022-08-25 09:44] #1374 closed, assigned to nobody

[2022-08-25 09:44] #1425 closed, assigned to nobody

[2022-08-25 09:44] #1428 closed, assigned to nobody

[2022-08-25 09:44] #1435 closed, assigned to nobody

[2022-08-25 09:44] #1453 closed, assigned to nobody

[2022-08-25 09:44] #1477 closed, assigned to heitorlessa

[2022-08-26 10:25] eldritchideen commented on #1443
Just testing this out on my M1 Mac. I'm not sure the issue with markdownlint is what is initially seems.

[code]
The container runs okay, Docker on M1 will emulate linux/amd64, it just warns that it is not running an Arm container. The warning can be suppressed by adding `--platform linux/amd64` to the `docker run` command. Eg:

`docker run --platform linux/amd64 -v /Users/awscook/projects/py/aws-

[2022-08-26 16:44] leandrodamascena commented on #1370
This is now released under [1.28.0](https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.28.0) version!

[2022-08-26 16:44] #1370 closed, assigned to nobody

[2022-08-26 19:56] heitorlessa commented on #1459
I'd like to propose we make all dependencies optional until we modularise in V3.

Although we managed to reduce >90% of AWS SDK, keeping AWS X-Ray SDK as a main dependency brings the full AWS SDK - this won't benefit customers using pip install.

This would be a boost for customers not using X-Ray, those with sensitive startup time, and reduce build/deployment times.

**Compressed**

[code]

**Unc

[2022-08-29 11:31] heitorlessa commented on #1443
Thank you so much @eldritchideen for digging into this. Yes, we should consider changing it.

I vaguely remember using that as a first option and having issues with GH Container Registry image pull due to token or being flaky - I'd appreciate the help if you have the bandwidth.

I'm rewriting the Integration Test RFC and some admin work this week.

[2022-08-29 12:01] heitorlessa commented on #1251
@mploski updated the RFC body and took the entire `Approach` section that now points to the E2E framework. I'd need your approval before we can work on Parameters as a first set of integ test.

Looking at the docs, we'd highly likely only have Parameters, and maybe Feature Flags (uses Parameters Stores either way), since everything else is well covered in functional and E2E tests.

[2022-08-29 12:03] heitorlessa commented on #1251
I fixed that as part of the E2E refactoring work. Stacks are auto-deleted upon failures, you can use step through debugging without worrying about stack deletion, and you can also run the entire E2E suite in parallel locally w/o the need for CI.

[2022-08-29 16:23] heitorlessa commented on #1459
Early days but we started documenting the breaking changes in v2: https://awslabs.github.io/aws-lambda-powertools-python/v2/upgrade/

@rubenfonseca one thing we missed is adding another bullet point on `multiValueHeaders` for REST v1 payload

[2022-08-29 20:59] mploski commented on #1251
Thank you @heitorlessa. Whole doc looks great, no more remarks from my side :-)

[2022-08-29 23:46] mew1033 commented on #1459
I'd love to see strict typing supported in v2. As an example: https://github.com/awslabs/aws-lambda-powertools-python/issues/1089

[2022-08-29 23:49] mew1033 commented on #1242
Cool, this should work pretty well. Thank you! And thanks for looking into the feature request.

[2022-08-30 07:53] heitorlessa commented on #1377
Won't be necessary anymore. We're considering removing `boto3` as a dependency and relying on Lambda Runtime to cut >90% in package size instead.

[2022-08-30 07:53] #1377 closed, assigned to nobody

[2022-08-30 07:53] heitorlessa commented on #1376
Won't be necessary anymore as we'll rely on Lambda runtime's boto3 dependency which includes `jmespath`.

[2022-08-30 07:53] #1376 closed, assigned to nobody

[2022-08-30 16:11] lyoung-confluent opened #1484 "Feature request: Kafka Event Data Class"
### Use case

When using a Kafka event source either from [self-managed Apache Kafka](https://docs.aws.amazon.com/lambda/latest/dg/with-kafka.html) or [Amazon MSK](https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html) there should be a relevant data class for easy iteration/decoding.

Such functionality [is implemented already in aws-lambda-go](https://github.com/aws/aws-lambda-go/blob/main/

[2022-08-30 16:39] leandrodamascena commented on #1454
Hi @petarlishov, how are you? I'm working on it and fixing some issues in the tests before opening a PR. This feature will be included in [v2](https://github.com/awslabs/aws-lambda-powertools-python/issues/1459) and it will take a few weeks for us to release this new version.

I was wondering if this feature is blocking something you need to work with, if so we can find a solution (as a feature fl

[2022-08-31 15:26] blewinter opened #1488 "Feature request: Data Class for Cloudwatch Logs passed through Kinesis Stream"
### Use case

We are currently passing Cloudwatch logs to a Kinesis stream to be subsequently processed by a Lambda. We'd like to use the [cloud_watch_logs_event data class](https://awslabs.github.io/aws-lambda-powertools-python/latest/api/utilities/data_classes/cloud_watch_logs_event.html) but it only works when the source is Cloudwatch directly, not Kinesis. It seems when Cloudwatch targets Lamb

[2022-08-31 16:16] heitorlessa commented on #1433
Hey @petarlishov, our new (internal) E2E framework took a lot longer than I expected to refactor, so I'm replying tomorrow morning to address your questions and a few asks as we started v2 in parallel.

[2022-08-31 18:36] rubenfonseca commented on #1484
Thank you so much for the feature request @lyoung-confluent! It makes a lot of sense to cover Kafka events too. We're looking forward to review your PR tomorrow!

[2022-09-01 14:03] heitorlessa commented on #1433
I'll break down my answer in categories to make it easier to parse later.

## Making Lambda Powertools more lightweight

I bet you'll be excited to hear that we've started working on v2 (minor breaking changes) to [**cut down the final package size to ~464K (compressed)**](https://github.com/awslabs/aws-lambda-powertools-python/issues/1459#issuecomment-1228878181) :tada:

In v2, we are making all

[2022-09-01 14:14] heitorlessa commented on #1404
I couldn't carve bandwidth to look into suggestions by @peterschutt but I've just closed the PR to signal our intent to **not** go ahead with the change given the customer impact.

I'm inclined to close on the basis that any customer using OCI could use a newer Python version that **might** work, and sometimes it could be a minor change to allow customers benefit from faster versions. Our [first t

[2022-09-01 14:41] heitorlessa commented on #1267
@leandrodamascena wanna take this?

[2022-09-01 14:42] heitorlessa commented on #1331
fully working now.

[2022-09-01 14:42] #1331 closed, assigned to nobody

[2022-09-01 14:42] heitorlessa commented on #1332
fully working now

[2022-09-01 14:42] #1332 closed, assigned to nobody

[2022-09-01 23:35] peterschutt commented on #1404
Many thanks from those of us living on the edge:) One month till 3.11!

[2022-09-02 08:31] ran-isenberg commented on #1484
@rubenfonseca  i think we should also create a similar parser event for this one. what do you think?

[2022-09-02 16:46] leandrodamascena commented on #1488
Hey @blewinter thanks for following up with a feature request on this - would you have the bandwidth to contribute it? We can offer guidance sync or async on our Discord channel.

If you don't, we can ping you to review a PR once we clear other activities.

:rocket:

[2022-09-04 14:02] ran-isenberg opened #1498 "Feature request: Kafka Parser support"
### Use case

see https://github.com/awslabs/aws-lambda-powertools-python/issues/1484

When using a Kafka event source either from [self-managed Apache Kafka](https://docs.aws.amazon.com/lambda/latest/dg/with-kafka.html) or [Amazon MSK](https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html) there should be a relevant data class for easy iteration/decoding.

Such functionality [is implemented

[2022-09-04 14:12] ran-isenberg commented on #1484
see also  https://github.com/awslabs/aws-lambda-powertools-python/pull/1499

[2022-09-05 09:11] heitorlessa opened #1500 "Maintenance: Migrate to CDK CLI and off Docker for E2E tests"
### Summary

This tracks the work necessary to use CDK CLI for synthesizing and deploying E2E stacks in parallel. It also tracks our initial move away from Docker to build Lambda Layer, as it slows down E2E authoring significantly (~1.3m) for every individual run.

### Why is this needed?

For v2, @rubenfonseca needed to use the default VPC for Event Handler E2E test. We were caught by surprise th

[2022-09-06 09:01] mploski commented on #1348
with botocore models compressed fully and pydantic not included, here is the overall size of unzipped packages
➜  python git:(master) ✗ du -h  -d 1 | sort -h
 12K    ./bin
 24K    ./six-1.16.0.dist-info
 28K    ./fastjsonschema-2.16.1.dist-info
 28K    ./jmespath-1.0.1.dist-info
 28K    ./wrapt-1.14.1.dist-info
 32K    ./idna-3.3.dist-info
 36K    ./python_dateutil-2.8.2.dist-info
 36K    ./s3tran

[2022-09-06 10:17] heitorlessa commented on #1348
What’s the cold start overhead with models compressed? They’ll need to be
unzipped at runtime by boto loader.

Don’t remove the dist file from Powertools package as that will raise a
runtime error when we expose a version variable to customers

On Tue, 6 Sep 2022 at 11:01, mploski ***@***.***> wrote:

[2022-09-06 20:06] Tankanow opened #1503 "Bug: DictWrapper should fully implement Mapping interface"
### Expected Behaviour

`DictWrapper` and all of its subclasses should fully implement the Mapping interface so that it can be used interchangeably with code that expects the `event` to be a dictionary. This helps Powertools Middleware play nicely with existing middleware.

### Current Behaviour

`DictWrapper` does not implement the abstract `__iter__` and `__len__` methods from the `Mapping` inte

[2022-09-07 13:40] blewinter commented on #1488
Hi! Apologies, I wasn't receiving notifications on this thread. I'd love to contribute! Will just need a bit of time to get set up. Do you have thoughts on what the best approach might be, or should I post on Discord?

[2022-09-07 21:50] leandrodamascena commented on #1488
Hi @blewinter! We think this is the best and safest way to implement this. A new class to handle events coming from Kinesis is a great idea.

We look forward to your contribution. If you have any questions or want help testing something, please let me know and I'll be available for that. :robot:

[2022-09-08 19:48] ran-isenberg opened #1506 "Maintenance: Change parameters appconfig utility API due to GetConfiguration deprecation"
### Summary

The current API will be deprecated in the near future according to AWS AppConfig team.
See [this](https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/API_GetConfiguration.html)
See https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/utilities/parameters/appconfig.py

### Why is this needed?

GetConfiguration - this API action has been d

[2022-09-08 19:49] ran-isenberg commented on #1506
@leandrodamascena  FYI, opened as you requested.

[2022-09-09 07:38] heitorlessa commented on #1506
Thank you @ran-isenberg. @leandrodamascena @rubenfonseca this should be noted in V2 because we will have to warn customers that they'll have to bring their own AWS SDK for this to work --- these APIs **fail** today when using AWS Lambda provided SDKs.

Let's give a ping to the Lambda team in the meantime

[2022-09-09 16:37] heitorlessa commented on #1226
Updating here for future correctness, as we moved to CDK CLI due to context methods `from_lookup` only works with the CLI. We also implemented Lambda Layer caching and moved away from Docker.

Pasting the section in the maintainers playbook about the framework.

----

## E2E framework

### Structure

Our E2E framework relies on [Pytest fixtures](https://docs.pytest.org/en/6.2.x/fixture.html) to co

[2022-09-09 16:38] ran-isenberg commented on #1506
@heitorlessa  this APIs will fail only on news accounts that didnt use the old API before. For existing accounts that already use it, they will continue to work (told me by AppConfig team).

[2022-09-12 05:41] ran-isenberg commented on #1506
@heitorlessa All we need to do is fix the API call here, which should be a transparent fix. Since the AppConfig said it's going to affect new accounts very soon, i think we should solve this ASAP

[2022-09-12 08:18] kmkhr opened #1511 "Static typing: Errors when importing top-level modules such as Logger"
### Static type checker used

pyright/pylance

### AWS Lambda function runtime

3.9

### AWS Lambda Powertools for Python version

latest

### Static type checker info

"Logger" is not exported from module "aws_lambda_powertools"
  Import from "aws_lambda_powertools.logging" instead Pylance [reportPrivateImportUsage](https://github.com/microsoft/pylance-release/blob/main/DIAGNOSTIC_SEVERITY_RULES.

[2022-09-12 11:41] rubenfonseca commented on #1503
Hi @Tankanow thank you for the very clear explanation! Would you mind opening a PR with the changes, together with a couple of tests? We will be thrilled to review it and include it in our next release.

[2022-09-12 14:23] leandrodamascena commented on #1506
Hi @ran-isenberg! We've done some research and created some example code to simulate various scenarios and we have a few points to discuss before we start coding this.

Can confirm that the old accounts still work with the [GetConfiguration API](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/appconfig.html#AppConfig.Client.get_configuration), but the new accounts do not

[2022-09-12 16:44] Tankanow commented on #1503
@rubenfonseca, happy to do so. I'll get to it this week. 👍🏽

[2022-09-12 17:15] ran-isenberg commented on #1506
@leandrodamascena  thank you for advancing the research. Did you guys ask the appconfig team? I'll try to contact them too and point them to this thread.

[2022-09-12 17:26] ran-isenberg commented on #1506
Did you try a second run? in the second run, you are not supposed to call the start configuration API but use the token from the get latest configuration. Did you notice the performance hit in that instance too?

i think you need to store the token in the cache, if it's None, use the start config API, if not use the get latest conf API, set the new token from the response and return the config bac

[2022-09-12 18:47] ran-isenberg commented on #1506
@leandrodamascena  I think the top priority here should be to get this new API working for new accounts and research the 100ms later on with the AppConfig team.

[2022-09-12 21:21] leandrodamascena commented on #1506
Hi @ran-isenberg! Thanks for the feedback. We’re gonna discuss this internally and come back with an update as soon as we can.
We want to talk to the Lambda team on the foreseeable impact and communication to existing customers - anyone relying on runtime SDK will be impacted too.

[2022-09-13 09:30] dverheijden commented on #1348
Something you're probably already aware of:  The Python 3.8 runtime for Lambda already ships with `boto3` (see also [here](https://docs.aws.amazon.com/lambda/latest/dg/python-package.html)).

Since layers can only be used with lambda functions, you may want to consider making a layer with Python 3.8+ compatibility without `boto3` included.

[2022-09-13 09:35] #1461 closed, assigned to leandrodamascena

[2022-09-13 09:35] #1472 closed, assigned to rubenfonseca

[2022-09-13 09:35] #1333 closed, assigned to nobody

[2022-09-13 09:35] #1484 closed, assigned to leandrodamascena

[2022-09-13 09:35] #1498 closed, assigned to nobody

[2022-09-15 13:09] rubenfonseca commented on #1506
Hi @ran-isenberg, thank you so much for opening this and collecting information about the problem.

We want to move forward with a change in the implementation that uses `StartConfigurationSession` on the cold start, and `GetLatestConfiguration` for subsequent calls. At the moment, we identified two problems with this:

- doing this change requires the user to update IAM permissions (to support th

[2022-09-15 13:10] rubenfonseca commented on #1459
Added #1506 to v2

[2022-09-15 13:15] ran-isenberg commented on #1506
@rubenfonseca  Thanks for doing the research.
I want to stress out the fact that it IS a breaking change and there's no getting around it.
In addition, to my understanding, the old API will stop working for new accounts try to use it very soon, so it's important this gets solved ASAP.

140ms performance hit is negligible when the entire utility is broken.

[2022-09-15 16:28] heitorlessa commented on #1506
We hear you, Ran. This deprecation is unusual from AWS standards, so we’re
investigating internally before we set on a direction.

We appreciate your patience and bias for action nevertheless.

On Thu, 15 Sep 2022 at 14:15, Ran Isenberg ***@***.***> wrote:

[2022-09-15 16:33] ran-isenberg commented on #1506
@heitorlessa  Thank you!

[2022-09-15 16:48] nleipi opened #1518 "Bug: APIGatewayProxyEventV2Model not deserializing str to custom model"
### Expected Behaviour

It should be possible to use own model classes for body in APIGatewayProxyEventV2Model

### Current Behaviour

When I extend APIGatewayProxyEventV2Model model to include my own model for the body following exception is raised `1 validation error for Event\nbody\n  value is not a valid dict (type=type_error.dict)`. I suppose the reason for that is that body of apigw v2 event

[2022-09-15 18:09] ran-isenberg commented on #1518
hey @nleipi ,
There's no bug,  i got it working. There's a slight gotcha here.
The body is defined as a string, and since you extend the model to be a dataclass and dont use the envelope, you need to transform the string into a dict yourself. That's what the envelope does for you.

Here's a sample code that will get it working for you:

[code]

@leandrodamascena  maybe we should include this examp

[2022-09-15 18:30] lhendrick-t10 opened #1519 "Bug: Serverless Application Repository Extra Layer Does not Contain Pydantic"
### Expected Behaviour

Attaching the extras layer to a Lambda Function should enable it to use pydantic functionality for the Parser.

### Current Behaviour

Attempting to invoke the Lambda returns the following error:

[code]

Downloading the layer provides me with a 10.1 MB zip file, where the docs say to expect a 22MB compressed file

Attached Code Snippet is a minimal example

### Code snippe

[2022-09-15 18:35] lhendrick-t10 commented on #1519
Similar to [this](https://github.com/awslabs/aws-lambda-powertools-python/issues/290) issue

[2022-09-16 08:16] nleipi commented on #1518
I think the correct way to handle this is to use pydantics own Json type as a wrapper for the model.
[code]
That should be definitely highlighted in the documentation.

[2022-09-16 08:21] ran-isenberg commented on #1518
Nice! even prettier

[2022-09-16 10:15] rubenfonseca commented on #1518
Hi @nleipi, thanks for opening this! As @ran-isenberg mentioned, [parser envelopes](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#envelopes) were created exactly with this use case in mind.

In your case, the code would look something like this:

[code]

What do you think of giving this a try?

[2022-09-16 10:23] nleipi commented on #1518
I would have used envelope approach, but I need access to pathParamters. Can I access them in other way than through event model?

[2022-09-16 10:43] ran-isenberg commented on #1518
In order to get the path params, you must extend the model like you did and not use the envelope.
The APIGatewayProxyEventV2Model defines path params too. You can even change them from dict to a custom class and get even stronger validation.

[code]

[2022-09-16 10:49] nleipi commented on #1518
Stronger validation of pathParameters is a really good point, thanks!

[2022-09-16 11:36] rubenfonseca commented on #1518
Thanks! We already have some documentation about [extending built-in modules](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#extending-built-in-models). Do you think people could benefit from [this example too](https://github.com/awslabs/aws-lambda-powertools-python/issues/1518#issuecomment-1249061010)?

[2022-09-16 11:54] ran-isenberg commented on #1518
The example describes a simple use case where the business payload param is a dict.
Here, it's a string and requires an extra trick.
It makes to sense to add it.

[2022-09-16 11:55] rubenfonseca commented on #1378
@heitorlessa what would we use `cfn-lint` for in the repository?

[2022-09-16 12:54] heitorlessa commented on #1378
We use it to lint SAM templates available in examples/ folder as part of pre-commit hooks.

I wanted to add as part of docs build workflow too but py 3.6 was an issue - we now can!

[2022-09-19 09:21] rubenfonseca opened #1523 "Maintenance: update mako to fix CVE"
### Summary

We should update `mako` dependency to at least `1.2.2`.

### Why is this needed?

CVE on mako <https://nvd.nist.gov/vuln/detail/CVE-2022-40023>.

This only affects documentation generation (poetry dev environment). It doesn't impact users of the library.

### Which area does this relate to?

_No response_

### Solution

Mako 1.2.2 only supports python >= 3.7. So we should pin mako as

[2022-09-19 10:22] heitorlessa commented on #1519
@am29d could you help us on this?

[2022-09-19 12:55] am29d commented on #1519
Another mystery with the layers appears.

Due to [recent](https://github.com/awslabs/aws-lambda-powertools-python/commit/d344c794e3e3bcdfd448fe18cda2ca60cdedf1cf) revert of `poetry.lock` we have a version mismatch between the poetry configuration file and release tag. Our SAR pipeline assumes the version in this file is correct, which means equals to the git tag we use. So if we checkout the repo

[2022-09-19 13:18] rubenfonseca commented on #1519
@lhendrick-t10 thanks for reporting this! @am29d found and fixed the underlying issue, and we'll release 1.29.2 in the next hour to fix the SAR layer

[2022-09-19 13:38] #1523 closed, assigned to nobody

[2022-09-19 13:54] lhendrick-t10 commented on #1519
Awesome! Thanks @am29d and @rubenfonseca, really appreciate all the help!

[2022-09-19 18:40] am29d commented on #1519
Hey @lhendrick-t10 , sorry for the release delay, but the new version 1.29.2 is now deployed to SAR and the issue has been fixed.

[2022-09-19 18:40] #1519 closed, assigned to am29d

[2022-09-19 18:55] leandrodamascena commented on #1506
Hi @ran-isenberg! We appreciate your patience as we investigated this deprecation with the AppConfig team.

We've come to an agreement that the AppConfig documentation will be updated to clarify the confusion as to when `GetConfiguration` API will return an error. Additionally, the team will communicate directly to all impacted and future customers.

Until the docs are updated, the `GetConfigurati

[2022-09-20 05:22] ran-isenberg commented on #1506
Thanks everybody, too bad it' still a breaking change in the end. Internally we use a wrapper library that adds pyadnatic parsing to the feature flags so I can increase the major version there and prevent the breakage in production.

Do you have any confirmation/insights as to the performance degradation?

[2022-09-20 07:01] heitorlessa commented on #1506
On perf, it's slower and consistent with what @rubenfonseca and @leandrodamascena shared. There's a cold start penalty and an increase of ~40ms for each call made compared to `GetConfiguration`. Nothing shared beyond the reasoning as of now.

@leandrodamascena will crack on the change for the feature flags unless you have any other red flags. After released, it might be a good time to revisit Feat

[2022-09-20 13:43] kbakk opened #1525 "Static typing: aws_lambda_powertools.logging.utils.copy_config_to_registered_loggers argument log_level should accept int"
### Static type checker used

mypy (project's standard)

### AWS Lambda function runtime

3.9

### AWS Lambda Powertools for Python version

latest

### Static type checker info

[code]

[code]

### Code snippet

[code]

### Possible Solution

Update signature to accept `Union[str, int]`

[2022-09-20 14:36] rubenfonseca commented on #1379
Notes from internal meeting:

- we will publish one layer with powertools + extras, without boto3
- layer will be published in two flavours: x86_64, and arm64
- naming as follows: `AWSLambdaPowertoolsV2`, `AWSLambdaPowertoolsV2-Arm64`

[2022-09-20 14:40] rubenfonseca commented on #1518
Thank you so much for your input! I've opened a PR now to add this use case to our parser docs :)

[2022-09-20 14:54] pmarko1711 opened #1527 "Feature request: Simplified logger formatter when in AWS SAM Local"
### Use case

I use `aws_lambda_powertools.Logger` which works very nicely when looking at logs in Cloudwatch.
Nevertheless, when testing/debugging lambda functions using AWS SAM local invoke, I find the json representation difficult to read and cluttering the console too much.

I know I can swap the logger, or use a custom formatter. But would it not be meaningful to include a simple formatter (i

[2022-09-20 17:27] ran-isenberg commented on #1506
Sounds good to me!

[2022-09-21 04:34] heitorlessa commented on #1525
Agreed, wanna send a quick PR for this @kbakk?

And thank you for flagging that!

[2022-09-21 07:39] #1525 closed, assigned to nobody

[2022-09-21 07:50] rubenfonseca commented on #1518
Hi @nleipi @ran-isenberg I was trying out this snippet, but I still got a mypy error on the body field:

`error: "str" expects no type arguments, but 1 given  [type-arg]`

Can you check if it's the same, or if I'm missing something? I'm starting to feel that the only way around this is to use the validator route.

[2022-09-21 13:00] ran-isenberg commented on #1518
Sorry, I dont use mypy that extensively.
If memory serves right, mypy and pydantic work fine only when you do a union of str, BaseModel etc. I  still think the example should be just Json. maybe add a mypy ignore?

[2022-09-23 06:27] ryandeivert opened #1539 "Feature request: Kinesis Data Firehose event data class"
### Use case

Kinesis Firehose supports data transformation via Lambda. The event is a standard format, documented [here](https://docs.aws.amazon.com/lambda/latest/dg/services-kinesisfirehose.html).

Ref: [Kinesis Data Transformation](https://docs.aws.amazon.com/firehose/latest/dev/data-transformation.html)
Example event from [aws-lambda-go sdk](https://github.com/aws/aws-lambda-go/blob/v1.34.1/ev

[2022-09-23 15:41] rubenfonseca commented on #1539
Thank yo so much for opening this! We will be reviewing your PR very soon :)

[2022-09-23 17:04] heitorlessa commented on #1506
@ran-isenberg Sadly, there will be delays here. @leandrodamascena tried implementing the two new APIs and found edge cases that could lead to production issues[1].

Leandro is cutting a ticket to the AppConfig team with proof of concepts to confirm that's the new customers' expectation.

---

[1] These are the immediate scenarios that @leandrodamascena ran into today.

## Scenario A: Fetch an exis

[2022-09-24 10:18] ran-isenberg commented on #1506
Thanks @heitorlessa  and @leandrodamascena  for the hard work and the amazing documentation!
Issues A & B are problematic indeed but seem solvable indeed.
I think they can be solved inside the app config parameters utility so the feature flags utility doesnt change other than using the new store.
And this way you have a new version of the app config parameters utility in ready to become the defaul

[2022-09-24 13:44] leandrodamascena commented on #1330
Hi @dispyfree. We are about to merge this PR, do you want to take a look before merging this? In fact, this is a huge improvement (and bug fix) that we will be releasing in v2.

PR link: #1535

Thank you

[2022-09-24 13:53] leandrodamascena commented on #1488
Hi @blewinter! I hope things are going well there.

We are planning to include this change in the next release, which I think will be in 2 or 3 weeks. But it's okay to move this change to another release if you need more time to implement this or we can even implement this and ping it for you to review before the merge. We'd love to hear the best option for you :ear:.

Thank you

[2022-09-24 23:36] blewinter commented on #1488
Hey, I had to put it aside for a bit but I might be able to have it by the end of next week! I will keep you posted

[2022-09-25 13:02] heitorlessa commented on #1527
Hey @pmarko1711, thanks a lot for taking the time to help us improve! Would you have the output handy to make it easier to reason the next steps?

I need to spin up a project to test. I can't remember if it's an one line JSON (cost optimization), or indented -- would it be more helpful to have indented JSON when running locally if that's not the case yet?

My initial concern: transparently swappin

[2022-09-26 09:04] heitorlessa commented on #1527
### Example

Demonstrating how it could look like without any code change.

#### Before

[code]

#### After

[code]

[2022-09-26 09:41] rubenfonseca opened #1543 "Maintenance: Deprecate SAR extras for v2"
### Summary

When v2 is released, we will only have a [single layer that will include](https://github.com/awslabs/aws-lambda-powertools-python/issues/1379) all the extra dependencies.

This means we won't need to have a "SAR extras" for v2. Hence we should deprecate it.

### Why is this needed?

To reduce the maintenance efforts.

### Which area does this relate to?

Governance

### Solution

_No

[2022-09-26 09:53] pmarko1711 commented on #1527
Thanks for coming back to be, @heitorlessa .

Right now the output is in this format:
[code]
In here it looks quite OK, but imagine these messages to be quite longer and auto-wrapped into multiple rows. It's then not that easy to find and read the actual messages while debugging.

When I submitted the ticket I thought of simply outputting (when in AWS SAM Local) something more condensed, where mes

[2022-09-27 13:08] heitorlessa commented on #1527
For JSON multi-line, stdlib "json" has an indent param which is what I used for this POC -  it's a no brainer to enable it for local dev ;-)

pprint however could skew results as you have nested objects (plus multiple conversions).

My main worry about plain text is setting the expectations to customers who would see different results in CloudWatch Logs (or elsewhere) -- we have a distinct set of

[2022-09-27 13:09] #1500 closed, assigned to heitorlessa

[2022-09-27 13:10] heitorlessa commented on #1450
@rubenfonseca when you can, could you share the update here as this was implemented for v2?

[2022-09-27 16:15] pmarko1711 commented on #1527
Thanks. Ok, and happy to do add it myself so that I get familiar with your contribute process (and can contribute with sthg else in the future)

[2022-09-27 16:17] pmarko1711 commented on #1527
should it get activated automatically (looking at AWS_SAM_LOCAL) or via a parameter / or a new envvar?

[2022-09-27 16:40] heitorlessa commented on #1527
Awesome! Let’s use AWS_SAM_LOCAL - if it’s present use a different
indentation (4) otherwise None

On Tue, 27 Sep 2022 at 18:17, Peter Marko ***@***.***> wrote:

[2022-09-27 17:16] MaartenUreel opened #1547 "RFC: Pass custom context dict to resolve method"
### Is this related to an existing feature request or issue?

https://github.com/awslabs/aws-lambda-powertools-python/discussions/1546

### Which AWS Lambda Powertools utility does this relate to?

Event Handler - REST API

### Summary

It would be useful if you could provide an optional dict to the `app.resolve()` method, that would then be available in the handlers themselves.
This would contain

[2022-09-28 09:50] rubenfonseca opened #1549 "Maintenance: create mechanism to auto publish the layer version for every release"
### Summary

Right now, everytime we craft a new release, we have to wait for the Layer Pipeline to finish and manually update/re-generate the documentation to update the Layer ARN version.

We should automate this as part of our release pipeline.

### Why is this needed?

In order to reduce maintenance overhead.

### Which area does this relate to?

Automation

### Solution

The CDK Layer Pipelin

[2022-09-28 11:51] heitorlessa commented on #1506
**Update**

We've just heard from AppConfig team and they shared that `RequiredMinimumPollIntervalInSeconds` is actually not required despite the name and the response from `StartConfigurationSession`. This invalidates Scenario A as we won't have to handle `RequestTooEarly` case anymore.

We have one last sync this week to hear whether we can have a single roundtrip to fetch config from AppConfig

[2022-09-28 14:56] heitorlessa commented on #1547
Hey @MaartenUreel thanks a lot for this! I like this idea more than an actual [Dependency Injection mechanism ala FastAPI](https://fastapi.tiangolo.com/tutorial/dependencies/), since that would increase the bar to entry and over-complicate things.

Question: How are you envisioning `route_context` cleanup to prevent stale objects? Destroy `route_context` at the end of every request resolved?

If y

[2022-09-28 15:08] heitorlessa commented on #1547
@walmsles @gwlester @benbridts - I'd be interested in your thoughts here.

[2022-09-28 15:54] benbridts commented on #1547
Would getting access to the original event (new feature, I think) also solve this (you could also add middelware instead of doing it in the handler?

I don't think this is necessarily better than the original proposal (as it's a bit more of a hack), but might be used for other things too.

[code]

My first reaction was "I might want this as a decorator instead of something in the handler - potenti

[2022-09-28 16:03] gwlester commented on #1547
My read is this is a request to add "user data" object to pass around with some application-specific (not event-specific) information.

Seems reasonable.

The workaround I've seen is to create a singleton class that has the "user data" in it and get the instance every place you need it.

Of course, I could be off in left feel and missing what is being asked for.

[2022-09-28 16:05] heitorlessa commented on #1547
What @gwlester said. This opens the door for a newer future we couldn't make progress yet (middleware support), so you could add additional context (user data) on a before/after request basis.. typically used in AuthZ, validation, etc.

@benbridts for event access, we provide that feature since launch ;)

[2022-09-28 16:06] gwlester commented on #1547
From the router we have access to the resolver.  From the resolver don't we already have access to the event and context??

[2022-09-28 16:09] heitorlessa commented on #1547
Yes, you do. Both resolver and router inherit from BaseRouter, allowing you to access both `app.current_event`, `app.lambda_context`: https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/event_handler/api_gateway.py#L238. This RFC would implement a third class attribute to access "user data" (route_context, whatever naming we end up with)

[2022-09-28 16:10] MaartenUreel commented on #1547
I was aiming at event-specific data, e.g. in my use case a dataclass.

[2022-09-28 16:12] heitorlessa commented on #1547
@MaartenUreel from the initial discussion you had, @gwlester is saying the same thing.. it's just the word "event-specific" that is confusing the intent.

One thing is to mutate the incoming event a Lambda receives (available at `app.current_event`). Another is to pass your `CallContext` you shared earlier within `route_context` -- technically, that would be "user data", not mutating the event.

[2022-09-29 05:24] walmsles commented on #1547
@heitorlessa, have been thinking about this and agree with @benbridts with the middleware/decorator approach rather than polluting the resolver.resolve() method with additional overhead.  This feels like a custom use-case and today it's a dict, tomorrow it could be something different - middleware kind of resolves the ambiguity without opening that maintenance doorway.

Providing an easy mechanism

[2022-09-29 05:48] heitorlessa commented on #1547
Thank you as always @walmsles

Question: How would you access request information in the route_decorator as it's unaware of the "app" object?

I think we have two non-mutually exclusive use cases here:

- **Middleware**. Define logic to run before/after request and/or per route specific. Cross-cutting concern that we want to enable but need a separate RFC to achieve minimal boilerplate.

- **Share

[2022-09-29 07:15] walmsles commented on #1547
The actual resolver is instantiated as a global var, so will be in scope for the route_decorator to reference in the same way it is used by the function routes.

Middleware for routes is a nice feature - agree needs to be designed well to minimise setup and make it easily digestible and to also expose the inner event data easily.

Question: With Share data - How does this help with heavy compute i

[2022-09-29 07:22] walmsles commented on #1547
Timezones Uh-Oh (I am on the wrong continent still 😁)

[2022-09-29 08:07] walmsles opened #1552 "Bug: APIGatewayRestResolver fails to route when "/" appears at end of route name"
### Expected Behaviour

Given I am using APIGatewayRestResolver and I define a route as follows:
[code]

I expect the following 2 GET request URLs:

1. https://myapigwid.execute-api.ap-southeast-2.amazonaws.com/Prod/hello/
1. https://myapigwid.execute-api.ap-southeast-2.amazonaws.com/Prod/hello

to return the same response:

[code]

### Current Behaviour

Given I am using APIGatewayRestResolver an

[2022-09-29 08:52] heitorlessa commented on #1552
Hey @walmsles, thanks for flagging this.

API Gateway actually doesn't resolve trailing slash (unless that changed). It does work when you have a greedy path - /{proxy+}.

Would you like to send a fix so we can support both? Tests should be able to catch any breaking change

[2022-09-29 08:58] walmsles commented on #1552
hmmm ... In my test project Lambda was executed for both trailing slash and not trailing slash.

Let me clarify the behaviour - its been working this way from memory for a while now

Will look at testing across the various resolvers as well.
Let me confirm the behaviours everywhere and come back - happy to put a pull-request together for this one.

[2022-09-29 09:30] heitorlessa commented on #1547
You'd do the computation in the global scope (cold start) because compute resources are allocated without slicing. For Middleware, customers will typically do that at middleware level for completeness, where we sliced compute resources (once Handler is called).

As I write this, I could equally make the case that a middleware author could do the same (global scope computation). In practicality, it

[2022-09-29 10:33] heitorlessa commented on #1552
No at all. I changed the labels accordingly.

The reason that API GW (ALB too IIRC) shouldn't work is because they are technically two distinct URIs - although we both know they are pointing to the same resource ("hello").

From memory, this is as old as Apache HTTPD (prolly even before). The closest authoritative source I can find is [RFC 3986 on Path](https://www.rfc-editor.org/rfc/rfc3986#secti

[2022-09-29 12:05] walmsles commented on #1552
Have read the RFC which is not exactly clear but looking at how URLs work from Apache HTTPD days  - it is correct that /hello !== /hello/ so this is definitely not a bug.

I did discover that both API Gateway REST and HTTPV2 route both /hello and /hello/ to the Lambda regardless of configuration of:

- Path: /hello
- Path: /hello/
- Path: /{proxy+}

of course /{proxy+} will cause Lambda to be invo

[2022-09-29 12:05] benbridts commented on #1547
Apologies, I usually use external routing ;). I assumed current_event only have the unwrapped fields available.

I agree with @walmsles, but we should make sure that this solves @MaartenUreel's problem

[2022-09-29 12:59] leandrodamascena commented on #1506
Hi @heitorlessa and @ran-isenberg we have good news! As of now, we can start working on the PR review to merge this feature into v2.

Thank you both for all the discussions and handling this issue in the best way! :pray:

[2022-09-29 15:57] ran-isenberg opened #1554 "Feature request: Time based feature flags actions"
### Use case

I've got a few use cases for feature flags rule actions. It's possible to due that today but its really finicky.

1. I'd like to turn on/enable a feature flags rule only during a certain time of the day (between 10:00-23:00 24 hours clock)
2. i'd like to turn on/enable a feature flags rule during a certain date range (UTC time)
3. i'd like to turn on/enable a feature flags rule only

[2022-09-29 16:25] ran-isenberg opened #1555 "Feature request: Kinesis Data Firehose event envelope and parser model"
### Use case

Similar to https://github.com/awslabs/aws-lambda-powertools-python/issues/1539 but for the parser utility
Kinesis Firehose supports data transformation via Lambda. The event is a standard format, documented [here](https://docs.aws.amazon.com/lambda/latest/dg/services-kinesisfirehose.html).

Ref: [Kinesis Data Transformation](https://docs.aws.amazon.com/firehose/latest/dev/data-transf

[2022-09-29 16:27] ran-isenberg commented on #1555
see https://github.com/awslabs/aws-lambda-powertools-python/pull/1556

[2022-09-29 16:58] heitorlessa commented on #1506
Had one last call with the AppConfig team and we can now construct a timeline of events and clarify what went wrong.

I'll start crafting that tomorrow, but until that's available know this: AppConfig **did not enforce the deprecation**.

AppConfig Engineering team clarified that the **`GetConfiguration` API never worked when the `ConfigurationProfile` type is ` AWS.AppConfig.FeatureFlags`**. That

[2022-09-30 08:56] walmsles commented on #1552
Tested further on HTTP Api - unable to register a definite route ending in trailing slash is ignored by the API gateway, and the route is simply not registered - unsure if this is documented behaviour, but that's how ap-southeast-2 is behaving today 🤷

Function URL has no routing applied to it, so the current behaviour makes sense.

@heitorlessa wanted to get your thoughts on this one before I go

[2022-09-30 11:26] heitorlessa commented on #1552
Apologies for the delay, handling a sensitive issue in the last 24 hours. Back now.

This is surprising. I vividly remember REST API failing with authorization token when the route had a trailing slash.

I agree with you, we should match the experience on API Gateway. We should also have an E2E test to be sure this won't bite us in the future. It could be easier to test with ALB too via E2E as we

[2022-09-30 12:16] #1404 closed, assigned to nobody

[2022-09-30 12:16] heitorlessa commented on #1432
hey @shanab Ahmed, checking in to see if you still have the bandwidth to contribute as you already had the code working.

Thank you!

[2022-09-30 12:17] heitorlessa commented on #1443
following up @eldritchideen if you still have some bandwidth to make this contribution :-).

[2022-09-30 13:21] heitorlessa opened #1559 "Bug: Response class does not honour docstrings on optional parameters"
### Expected Behaviour

According to [docstrings](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/event_handler/api_gateway.py#L160), I should be able to only provide `status_code` as a parameter and have a valid response -- e.g., `return Response(status_code=204)`

### Current Behaviour

`Response` signature has `content_type` and `body` as positional ar

[2022-09-30 15:08] heitorlessa commented on #1242
Long delay but we've finally managed to prioritize this now - WIP PR if you're interested in the details: https://github.com/awslabs/aws-lambda-powertools-python/pull/1561

Once this is merged, all you'd need to do is to update your `record_handler` to include a new optional parameter `lambda_context`. When using the decorator `@batch_processor`, we'll know we can automatically inject the Lambda c

[2022-09-30 15:41] hooverdc commented on #1040
Hey @heitorlessa. I usually take that approach and create an aggregate SSM parameter. You can shove a lot into a single SSM parameter with base64 encoded gzip! Ultimately this isn't an issue for me. I was just hoping that Powertools supported GetParameters alongside GetParameter and GetParametersByPath out of the box.

[2022-09-30 18:59] heitorlessa commented on #1040
We're in a much better position to reconsider this than we were 7 months ago - I'd love to see a POC if you have the bandwidth.

Back then we had to be more strict due to package size, but next month in V2, we'll reduce ~95-97% by making all dependencies optional and using boto3 available at Lambda runtime.

If you do have bandwidth, please reopen and I'd appreciate a draft PR to get this going

[2022-09-30 19:02] #1559 closed, assigned to heitorlessa

[2022-09-30 20:25] mikelane opened #1562 "Bug: API Gateway Console Test button fails validation with @event_parser because requestContext -> identity -> sourceIp value is not a valid IPv4 or IPv6 network"
### Expected Behaviour

We should be able to generate a test form the API Gateway console that allows the `ApiGatewayProxyEventModel` to be validated and parsed by Pydantic.

### Current Behaviour

When generating a test from the API Gateway console, the value for the `sourceIp` in requestContext -> identity is `"test-invoke-source-ip"`. Since this value is defined to be `IPvAnyNetwork` [here](htt

[2022-09-30 21:06] heitorlessa commented on #1562
Thank you @mikelane for flagging this issue in the API Gateway service.

Would you be able to create a support case to suggest API Gateway team to use an actual IP Address in the test event?

We'll cut an internal ticket to them next week.

I'm removing the bug label as Parser is behaving as expected. That said, we should fix this at the source, otherwise this will happen again next time this chan

[2022-10-03 11:36] eldritchideen commented on #1443
@heitorlessa Yes, I have some time in the coming week to take a look at this further.

[2022-10-03 13:51] heitorlessa commented on #1562
Quick update: We pinged the API Gateway team asking to fix the event in the Console; we'll revert once we hear back from them.

[2022-10-03 13:59] mikelane commented on #1562
I heard back from the API Gateway support team. They said this:

My recommendation would be to add a line of code in your Lambda as the event comes in, and then check for \"test-invoke-source-ip\" and then change it to a valid source IP before the validation is done.

Someone needs to budge here 😅

[2022-10-03 14:22] heitorlessa commented on #1348
Yes @dverheijden ; - ) We're following that + other optimizations to drop the final Lambda Layer to ~1M including Pydantic.

Upstream work: https://github.com/awslabs/cdk-aws-lambda-powertools-layer/pull/4

[2022-10-03 14:28] ran-isenberg commented on #1554
@heitorlessa  I think I can create a PR if we agree about necessity/basic user experience, i.e how the rule will look like in the JSON. The actions and their tests should be simple enough to create.

[2022-10-03 14:54] heitorlessa commented on #1547
That's great feedback, Ben! We can do a better job in calling out customers can also use external routing (most do!) while still benefiting from the DX, and more importantly that `app.current_event` is an instance of an event source data class with handy methods.

[2022-10-03 15:19] heitorlessa commented on #1547
Had more thoughts on this, discussed with @rubenfonseca and @leandrodamascena too. I'd like @MaartenUreel (main customer) and @walmsles final weight in here, before we decide Go/No Go.

**Proposal**: Add a new method called `append_context` in App/Router. This would be a `Dict` available under `app.context` and `router.context`. It's similar to `Logger.append_keys` to ease cognitive load. It's fle

[2022-10-03 15:23] MaartenUreel commented on #1547
Sounds like a perfect solution to me!

[2022-10-03 16:54] heitorlessa commented on #1562
Leave with us @mikelane. We reached out to the engineering team and will revert with an actionable plan from either side to get this resolved.

This can be changed on API Gateway side. Question here is whether they have the bandwidth to do it.

Worst case we disable all ip validation if that can't be honoured by the product team.

Early to tell but issues like these make me reconsider our thoughts

[2022-10-03 17:05] mikelane commented on #1562
The fix I've suggested will work (it does work, this is what I've done to work around the issue) and would, I think, be a better solution than disabling all ip validation.

[2022-10-03 18:59] heitorlessa commented on #1562
I hear you. I truly do. My concern here is that we're dealing with data validation - it works with an actual event. Because there is no official event source schema, there is no guarantee that tomorrow `test-invoke-source-ip` will turn into `test`.

I'll wait to hear back from the API Gateway engineering team.

[2022-10-03 19:10] #1242 closed

[2022-10-03 19:29] shanab commented on #1432
@heitorlessa yes, I should have time this week to have a first draft. Sorry for leaving this open until now!

[2022-10-03 20:48] walmsles commented on #1547
LGTM too!  Love the clarity of thinking in the writeup, always impressed.

[2022-10-04 01:46] blewinter commented on #1488
Hi,

So I had played around with the idea of a separate class for this feature, but I think a simple conversion function might be preferable? Of course can wrap in a class. Lots of ways to implement this. What do you think of this approach?

https://github.com/blewinter/aws-lambda-powertools-python/blob/feat/cloudwatch-kinesis-log/aws_lambda_powertools/utilities/data_classes/cloud_watch_kinesis_lo

[2022-10-04 01:51] walmsles opened #1566 "RFC: Provide a middleware factory method for event_handler components"
### Is this related to an existing feature request or issue?

https://github.com/awslabs/aws-lambda-powertools-python/issues/1547

### Which AWS Lambda Powertools utility does this relate to?

Event Handler - REST API

### Summary

AWS Lambda Powertools provides the Middleware factory which is great for creating middleware for Lambda Event handlers which has been the focus of middleware since ince

[2022-10-04 07:56] heitorlessa commented on #1547
Fantastic. @MaartenUreel, would you like to do the honours and contribute it so we can credit you appropriately?

If you don't have the bandwidth, I can do that and tag you in the release notes regardless. Hoping we can incorporate this feature in this week's release (Friday the latest)

[2022-10-04 08:38] MaartenUreel commented on #1547
The challenge is that I would have to look into the structure of the project etc, it might be faster if you guys handle it.
I'm not here for the credits 😬

[2022-10-04 08:41] heitorlessa commented on #1547
Leave with me then.

I understand. I'd like to emphasize that all [maintainers should always give the authors priority in the implementation regardless](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/MAINTAINERS.md#triage-new-issues) :)

Every contribution is valid. Every little help helps - from docs, feature requests, bug reporting, discussions, etc. We should always credit

[2022-10-04 09:15] heitorlessa commented on #1506
As promised, here are all details about this deprecation and why it took us this long to get to the bottom of it.

Thank you @ran-isenberg for the patience while we ironed out the details and address multiple misunderstandings on this matter.

---

# AWS AppConfig API Deprecation

## What happened

[**On November 18th 2021**, AWS AppConfig team released a new Data Plane endpoint](https://docs.aws.

[2022-10-04 09:27] rubenfonseca commented on #1506
Done!

[2022-10-04 09:34] ran-isenberg commented on #1506
@heitorlessa  Thank you for the clear summary!

I do wonder if the cost reduction for getting back an empty config is mitigated with the increased cost of extra lambda runtime. I guess it depends on the actual lambda usage overall.

[2022-10-04 09:38] heitorlessa commented on #1554
Assigning to myself so I can read it fully tomorrow

[2022-10-04 12:50] heitorlessa commented on #1547
Doing the implementation now, you can follow the PR if you're interested in the details: https://github.com/awslabs/aws-lambda-powertools-python/pull/1567

[2022-10-04 14:08] heitorlessa commented on #1547
Done, just need a review from any of the maintainers (or a community member). I've also made sure to future proof for middlewares, so you can also call `append_context` at any point in your code, not just inside the `lambda_handler`.

**NOTE.** The same experience will work for ALB, API Gateway REST, API Gateway HTTP, and AppSync resolvers.

---

Docs preview

<img width="1070" alt="image" src="ht

[2022-10-04 14:15] heitorlessa commented on #1562
**Update**. I have good news to share @mikelane. API Gateway Engineering team will fix the source by the end of the month - no more `test-invoke-source-ip` value.

We'll update here when it's done and confirmed.

[2022-10-04 14:24] mikelane commented on #1562
Wow that's awesome! Thank you.

[2022-10-04 14:36] heitorlessa commented on #946
hey @kishaningithub following up to confirm you still have the bandwidth to make this contribution - if you do, please do not hesitate to ask for help (here or on our [discord](https://discord.gg/B8zZKbbyET))

[2022-10-04 14:40] heitorlessa commented on #1267
Looking into adding the `logger_name` now @kbakk in time for this week's release ;)

[2022-10-04 15:20] heitorlessa commented on #1267
Done, pending review https://github.com/awslabs/aws-lambda-powertools-python/pull/1568

In the next release, when you use `copy_config_to_registered_loggers()`, we will include the attribute the `name` attribute in both Source and all registered loggers you want us to copy the config to.

This ensures it's an opt-in feature and we don't include `name` for customers not using this feature, thus kee

[2022-10-04 15:43] kbakk commented on #1267
Sounds like a good improvement, thanks for adding this! 😀

[2022-10-04 19:37] #1547 closed, assigned to heitorlessa

[2022-10-05 07:03] heitorlessa commented on #1554
It sounds sensible to me, thanks for pulling this together as a user story format! I have three immediate concerns:

1. This may not be precise due to clock differences so messaging must set the right expectations.
	- **[Suggestion]** Any maintainer can help with that.
3. Depending on how the data is in the schema, we need to be careful with the algorithm to avoid a performance bottleneck (`type c

[2022-10-05 10:28] #1267 closed

[2022-10-05 10:51] heitorlessa commented on #1459
@kapilt and everyone else interested in smaller package size - @rubenfonseca just made a breakthrough for V2.

Our new Lambda Layer (v2) will be just ~~1M~~ 2M with **all dependencies** installed (using AWS SDK available at Lambda runtime, of course).

For V2 launch this month, @rubenfonseca is also completing the work for an ARM Lambda Layer.

[2022-10-05 12:25] ran-isenberg commented on #1554
@heitorlessa  take a look at this branch:
https://github.com/awslabs/aws-lambda-powertools-python/commit/992371f3de478427d0e6b78e65d9e2eeb0717bbf

I think the UX is nice. Note that you dont need to supply any key to the context.
I think we can optimize the current date/time calculation at the start of the evaluate if we know we have date conditions and also store the string based full date into un

[2022-10-05 12:29] ran-isenberg commented on #1554
btw, if we used pydantic to store & parse the conf, this feature could have even simpler :)
maybe sometime in the future ;)

[2022-10-05 13:05] #1518 closed, assigned to rubenfonseca

[2022-10-05 13:05] #1527 closed, assigned to heitorlessa

[2022-10-05 13:05] #1503 closed, assigned to heitorlessa

[2022-10-05 19:01] leandrodamascena commented on #1488
Hi @blewinter! Tomorrow I'll check it out. But at first glance it looks good, I just check more details if nothing is missing.

Thank you

[2022-10-06 18:36] leandrodamascena commented on #1488
Hi @blewinter, I really like the idea of reusing existing code and just wrapping the payload, it's very clever. I don't think we need to use KinesisStreamRecordPayload to. Look at this code that I created and please let me know what do you think about.

**cloud_watch_kinesis_log.py**
[code]

**lambda_handler.py**
[code]

**output**
![image](https://user-images.githubusercontent.com/4295173/1943918

[2022-10-06 22:02] mew1033 commented on #1242
Awesome, thanks for this!!

[2022-10-07 11:38] blewinter commented on #1488
Yeah I considered the tradeoff of adding the KinesisEvent dependency. In this case I thought the clarity provided by specifying it as the input class was worth it, but totally see the other side of it. This looks great! Thank you!

[2022-10-07 11:46] leandrodamascena commented on #1488
That's amazing to hear. Do you have the bandwidth to send this PR using this approach? If you have any kind of questions, you can ping me on Discord or even check out this very similar PR #1485.

Thank you!

[2022-10-07 11:54] rubenfonseca opened #1573 "Maintenance: Update docs for v2"
### Summary

As part of our Powertools v2 release, we need to revisit the documentation.

### Why is this needed?

There are some small changes with the way Powertools v2 works. This issue tracks all the necessary tasks to document those changes.

### Which area does this relate to?

Governance

### Solution

List of docs to revisit:
- [x] list of optional dependencies for v2
- [x] Parser
- [x] Va

[2022-10-07 12:06] rubenfonseca commented on #1164
We ran some [load testing to measure the impact of the layer size in the coldstart](https://github.com/awslabs/cdk-aws-lambda-powertools-layer/pull/10). Findings:

**1/** Layer size doesn't seems to have a meaningful impact on the coldstart time (at least when the layer doubles in size and it's < 5M)
**2/** Using native compiled code ([cython](https://pypi.org/project/Cython/)) reduces coldstart t

[2022-10-07 12:12] heitorlessa commented on #1164
@mccauleyp it took us a while but you'll be please to see V2 results this month ;) we now have E2E framework in place to detect regressions in case Lambda runtime changes a dependency ahead of a release.

Thank you for sticking with us all this time!

[2022-10-09 04:40] walmsles commented on #1566
Oh - can probably close this in favour of #953 😁, did not realise it was already in dev.

[2022-10-10 08:42] cfchou opened #1579 "Bug: Metric.add_dimension doesn't aggregate"
### Expected Behaviour

https://awslabs.github.io/aws-lambda-powertools-python/latest/core/metrics/#getting-started

I may be wrong but I think this behavior should also apply to add_dimension. I expect to be able to add_dimension or add_metrics to any `Metrics` instance. When serializing any one of the instances, an EMF blob is created and it has all metrics and dimensions.

### Current Behaviour

[2022-10-10 15:37] jplock commented on #1432
What about using boto3's [TypeDeserializer](https://github.com/boto/boto3/blob/develop/boto3/dynamodb/types.py#L242) ?

[2022-10-10 15:45] heitorlessa commented on #1579
Thank you @cfchou for raising this - this is a bug. Investigating and once we have a fix we'll make a patch release ASAP

[2022-10-10 15:53] heitorlessa commented on #1579
Got a fix (thanks to your quick tests too!). Triple checking if I haven't missed anything else before we make a release

[2022-10-10 16:00] #1579 closed, assigned to heitorlessa

[2022-10-10 16:02] heitorlessa commented on #1579
Making a patch release and will share more info soon.

[2022-10-10 16:16] #1555 closed, assigned to nobody

[2022-10-10 16:16] #1573 closed, assigned to heitorlessa

[2022-10-10 16:20] heitorlessa commented on #1579
Publishing Lambda Layer across 22 AWS regions, should be live in ~10m. Will post here when done.

[2022-10-10 16:30] heitorlessa commented on #1579
Lambda Layer deployment complete - new version is 38 across all regions.

e.g., `arn:aws:lambda:eu-west-1:017000801446:layer:AWSLambdaPowertoolsPython:38`.

Please let us know if this somehow doesn't solve your end @cfchou. Thank you one more time for this great bug report!

[2022-10-10 22:28] eldritchideen commented on #1443
Looking at the alternate markdown-lint it reports the following issues:
[code]
Of these, only the issue reported in `docs/utilities/idempotency.md` is a real problem.

Happy to submit PR to fix this minor issue. I'm not sure it's worth changing the container image used, they both seem to work. @heitorlessa At the moment I'm leaning towards just fixing the one real MD issue and closing this out. Pr

[2022-10-11 08:00] heitorlessa commented on #1305
Yes exactly, it’s EMF who requires this format.

If you could you share your AWS Account ID via email, we can pass +1 a
feature request for a leaner specification to the CloudWatch team -
***@***.***

On Mon, 18 Jul 2022 at 19:37, github-actions[bot] ***@***.***>
wrote:

[2022-10-11 09:05] heitorlessa commented on #1443
ah great! I forgot to share that I've just recently got a M1 myself (last week) and it's been smooth sailing so far as regards to this issue.

Please do send that small fix and we can keep the container image as-is.

Thank you @eldritchideen !!!

[2022-10-11 11:51] shanab commented on #1432
That can be an option, but to my knowledge then one would not be able to do the following:

[code]
because you'd need the raw Python dictionary for `NewImage` and `OldImage` to be able to use `TypeDeserializer`, and the event won't expose that.

[2022-10-11 18:25] heitorlessa commented on #1450
re-assigning @rubenfonseca for visibility as this is already done in V2 and ready to go by Friday or next week (in case we spot anything wrong in V2 final tests)

[2022-10-11 20:16] digitalisx opened #1586 "Docs: typo for `core/logger`."
### What were you searching in the docs?

Hello, everyone in the community.
I found a minor typo in `docs/core/logger.md`. :)

### Is this related to an existing documentation section?

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/docs/core/logger.md

### How can we improve?

[code]

### Got a suggestion in mind?

I would like to propose this as a separate PR.

### Acknowle

[2022-10-11 21:50] #1586 closed, assigned to leandrodamascena

[2022-10-12 18:47] blewinter commented on #1488
I don't have bandwidth for a full pr, but would essentially be like this
[code]
So the usage would be essentially identical, except a KinesisStreamRecordPayload is passed when initalized. I think that explicitness is useful in this case, but it does also add a dependency, so I think it's just a preference thing which approach is better. (Btw I'd think in real-world usage, someone would write a han

[2022-10-12 23:42] plondino opened #1590 "SnsSqsEnvelope/SnsNotificationModel - Missing fields for FIFO SNS -> FIFO SQS -> Lambda"
### Expected Behaviour

I have a lambda triggered by a FIFO SQS which is subscribed to a FIFO SNS (see https://docs.aws.amazon.com/sns/latest/dg/fifo-message-delivery.html for this format).

The payload I receive is:
[code]

When I unwrap the SNS message I get:

[code]

I would expect the parser.envelopes.SnsSqsEnvelope or the SnsNotificationModel to be able to validate and unwrap this.

### Curre

[2022-10-13 12:32] rubenfonseca opened #1591 "Maintenance: Convert deprecated `set-output` command on Github Actions workflows"
### Summary

We need to convert all the calls to `set-output` commands to the new format: https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-output-parameter

### Why is this needed?

GH is deprecating set-output (no ETA yet): https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

### Which area does

[2022-10-13 12:34] rubenfonseca opened #1592 "Maintenance: Extract inline script from SAR GH action"
### Summary

We should extract the inline scripts from the `reusable_deploy_v2_sar` GH action workflow into scripts into a `scripts/` folder.

### Why is this needed?

To prevent error-prone updates and make it easier to test.

### Which area does this relate to?

Automation

### Solution

_No response_

### Acknowledgment

- [X] This request meets [Lambda Powertools Tenets](https://awslabs.github

[2022-10-14 06:46] senmm opened #1595 "Docs: typo of `utilities/idempotency`"
### What were you searching in the docs?

I found a typo in `utilities/idempotency`.

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/#bring-your-own-persistent-store

### How can we improve?

[code]

### Got a suggestion in mind?

Yes. I'd like to create Pull Requests.

### Acknowledgment

- [X] I under

[2022-10-14 07:39] heitorlessa commented on #1595
Hey @senmm! Thank you so much for helping us improve the documentation <3

[2022-10-14 09:05] heitorlessa commented on #1078
assigning to @rubenfonseca as we've managed to make a HUGE improvement for V2, getting down to Pydantic fully optimized with Cython, yet ~2MB final Lambda Layer with ALL deps installed!

[2022-10-14 09:07] heitorlessa commented on #1171
assigning to @rubenfonseca as we've managed to solve this beautifully for V2

[2022-10-14 09:18] ran-isenberg opened #1597 "Python Serverless GitHub Template Project"
### Link to your material

https://github.com/ran-isenberg/aws-lambda-handler-cookbook

### Description

This repository provides a working, deployable, open source based, AWS Lambda handler and CDK Python code.
This handler embodies Serverless best practices and has all the bells and whistles for a proper production ready handler.
It uses many of the AWS Lambda Powertools utilities for Python.

#

[2022-10-14 09:20] ran-isenberg opened #1598 "Video: Build a resilient input handling with AWS Lambda Parser"
### Link to your material

https://www.twitch.tv/videos/1034744364?t=0h0m1s

### Description

When building applications with AWS Lambda it is critical to verify the data structure and validate the input due to the multiple different sources that can trigger them. In this session Ran Isenberg (CyberArk) will present one of the interesting features of AWS Lambda Powertools for python: the parser.

[2022-10-14 09:24] ran-isenberg opened #1599 "Talk DEV to me | Feature Flags with AWS Lambda Powertools"
### Link to your material

https://www.twitch.tv/videos/1174133534?t=0h0m1s

### Description

Feature Flags with AWS Lambda Powertools deep dive.

### Preferred contact

devex team

### (Optional) Social Network

_No response_

### (Optional) Additional notes

_No response_

### Acknowledgment

- [X] I understand this content may be removed from Powertools documentation if it doesn't conform with

[2022-10-14 09:27] ran-isenberg opened #1600 "AWS Lambda Cookbook — Logging Best Practices"
### Link to your material

https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-elevate-your-handler-s-code-part-1-logging

### Description

This blog is the first blog in the series, and it focuses on AWS Lambda Powertools logging.

### Preferred contact

ran.isenberg@ranthebuilder.cloud

### (Optional) Social Network

https://twitter.com/IsenbergRan

### (Optional) Additional notes

_No resp

[2022-10-14 09:28] ran-isenberg opened #1601 "AWS Lambda Cookbook — Part 2 — Observability Best Practices"
### Link to your material

https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-elevate-your-handler-s-code-part-2-observability

### Description

This blog focuses on observability and discusses the following topics: Monitoring metrics, Tracing with AWS Lambda powertools and AWS Cloudwatch.

### Preferred contact

ran.isenberg@ranthebuilder.cloud

### (Optional) Social Network

https://twitte

[2022-10-14 09:29] ran-isenberg opened #1602 "AWS Lambda Cookbook — Business Domain Observability Best Practices"
### Link to your material

https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-elevate-your-handler-s-code-part-3-business-domain-observability

### Description

This blog focuses on observability, but this time from the business domain perspective:  Metrics and Business KPIs by using AWS Lambda powertools Metrics utility.

### Preferred contact

ran.isenberg@ranthebuilder.cloud

### (Optiona

[2022-10-14 09:31] ran-isenberg opened #1603 "AWS Lambda Cookbook  -   Input Validation Best Practices"
### Link to your material

https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-elevate-your-handler-s-code-part-5-input-validation

### Description

This blog focuses on input validation and parsing best practices by using the AWS Lambda Powertools Parser utility.

### Preferred contact

ran.isenberg@ranthebuilder.cloud

### (Optional) Social Network

https://twitter.com/IsenbergRan

### (Opt

[2022-10-14 09:32] ran-isenberg opened #1604 "AWS Lambda Cookbook  -   Configuration & Feature Flags Best Practices"
### Link to your material

https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-part-6-feature-flags-configuration-best-practices

### Description

This blog focuses on feature flags and configuration best practices by using AWS Lambda Powertools feature flags utility.

### Preferred contact

ran.isenberg@ranthebuilder.cloud

### (Optional) Social Network

https://twitter.com/IsenbergRan

###

[2022-10-14 13:20] heitorlessa commented on #1590
thanks for raising that to us @plondino! That's because SNS FIFO changed their contract from non-FIFO thus the breakage. I'll create a PR marking these fields as `Optional`, make a patch release to unblock you ASAP, and create an issue to create two FIFO Models (SNS/SQS) to do this properly in the future.

cc @ran-isenberg for FYI

[2022-10-14 13:26] heitorlessa commented on #1590
Until this is released, you can also optionally set `Raw Message Delivery` in SNS subscription to SQS. That will configure SNS to only send the body payload to SQS with no metadata - from here you only need to use SQS Model

[2022-10-14 13:50] jcesarcpqi opened #1605 "[Support Lambda Powertools]: CPQi (Exadel financial services)"
### Organization Name

CPQi (Exadel Financial Services)

### Your Name

JULIO C CAMPOS NETO

### Your current position

LATAM Chief Architect

### (Optional) Company logo

https://cpqi.com/wp-content/uploads/MicrosoftTeams-image-59.png

### (Optional) Use case

_No response_

### Also using other Lambda Powertools languages?

- [X] Java
- [ ] TypeScript
- [ ] .NET

[2022-10-14 14:36] heitorlessa commented on #1590
@plondino we're making a release now (v1.31.1) to include this fix. We've also recreated SNS FIFO + SQS FIFO + Lambda to ensure there wasn't anything else missing for the validation.

Lambda Layer v39 should be available in all regions in approximately 15m

[2022-10-14 14:37] #1590 closed, assigned to heitorlessa

[2022-10-14 16:37] heitorlessa commented on #995
reopening as I'll create the new docs section **We Made This (community)** next week. We now have an issue template as intake to feature community content ;)

https://github.com/awslabs/aws-lambda-powertools-python/issues/new?assignees=&labels=community-content&template=share_your_work.yml&title=%5BI+Made+This%5D%3A+%3CTITLE%3E

[2022-10-14 19:01] rubenfonseca opened #1607 "Maintenance: Remove email-validator dependency for v2"
### Summary

We should remove the `email-validator` dependency from the v2 Lambda Layer and SAR.

### Why is this needed?

As we try to reduce the size of our v2 layer, we noticed that the [email-validator](https://pypi.org/project/email-validator/) is only needed if you use the [pydantic's  `EmailStr` validator](https://pydantic-docs.helpmanual.io/usage/types/#pydantic-types).

Currently, adding

[2022-10-15 18:44] leandrodamascena commented on #1488
Hi @blewinter! Let me open a PR for this feature and if you have bandwidth you can do a review with me.

Thank you very much for all the interaction so far and we'll be happy to mention you in the credits for this new feature. :1st_place_medal:

[2022-10-16 07:29] ran-isenberg commented on #1607
@rubenfonseca i think this removal will break the parser SES model that expect this depedancy during import.

from pydantic.networks import EmailStr

is 400KB really that big of a deal?

[2022-10-17 08:33] heitorlessa commented on #1605
Hey @jcesarcpqi **THANK YOU** <3. Thank you for allowing us to list CPQi in our docs - I'll create the docs by EOW.

[2022-10-17 08:44] rubenfonseca commented on #1078
We are now close to release the v2 layer with all the optimizations mentioned on this issue, thank you so much for your great tips! You can check the current implementation on our CDK Layer construct: https://github.com/awslabs/cdk-aws-lambda-powertools-layer/blob/main/layer/Python/Dockerfile#L31-L47

[2022-10-17 13:30] rubenfonseca commented on #1607
Hi @ran-isenberg! Thanks for your feedback! We thought about the cost-benefit of adding an extra dependency to validate something that is sent by AWS, and that the user (AFAIK) has little to no control. We believe it's not worth it and we could use a simple string validation instead.

400KB might not seem a very big deal, but currently is twice the size of Powertools :) We could do a lot more with

[2022-10-17 15:30] polamayster commented on #1173
any ETA for this feature considering it was opened over 1 year ago?

[2022-10-17 15:37] heitorlessa commented on #1173
We'll be looking at it in Q1 next year. We need a foundational work to be complete and stable first (V2). Completing that, and past re:Invent, we can more easily recommend customers to bring optional dependencies to make this feature easier to maintain -- this will depend on the AWS Encryption SDK (got a working POC already).

We'd welcome any RFC on this topic too

---

POC looks more or less lik

[2022-10-17 17:30] #1539 closed, assigned to leandrodamascena

[2022-10-18 08:53] heitorlessa commented on #998
@huonw we're prepping for V2 this week and removed email-validator dependency, as part of other package size optimizations we've made -- For PyPi, we're now down to ~200K, and for Layers with all dependencies + compiled Pydantic down to ~2M.

Thank you for the prolonged patience here!

[2022-10-18 08:59] rubenfonseca commented on #1164
For reference here are the benchmark results we did to measure cold start impact of loading the different libraries:

arm64, 128mb

Baseline (empty handler, no powertools):
-------------------------------------------------------------
| coldStart | count |   p50   |   p90   |   p99   |   max   |
|-----------|-------|---------|---------|---------|---------|
| 1         | 16    | 114.55  | 133.96  |

[2022-10-18 09:07] heitorlessa commented on #1607
linking the original issue by @huonw https://github.com/awslabs/aws-lambda-powertools-python/issues/998

and linking Pydantic ~330ms overhead at cold start (largely due to reflection; it's expected to get a lot better in Pydantic V2): https://github.com/awslabs/aws-lambda-powertools-python/issues/1164#issuecomment-1282049432

[2022-10-18 09:10] heitorlessa commented on #1164
Changing it to Coming soon as we expect to launch V2 with these optimizations by EOW.

Updates: https://github.com/awslabs/aws-lambda-powertools-python/issues/1459#issuecomment-1283807471

[2022-10-18 10:04] #1379 closed, assigned to rubenfonseca

[2022-10-18 10:08] heitorlessa commented on #1381
not needed, my fuzzy memory thought we were relying on the now deprecated `loop` but that was for another library.

[2022-10-18 10:08] #1381 closed, assigned to heitorlessa

[2022-10-18 10:17] heitorlessa commented on #1380
No longer necessary, as we'll do a major work on strict typing and we might bring typing_extensions at runtime.

[2022-10-18 10:17] #1380 closed, assigned to heitorlessa

[2022-10-18 10:18] #1378 closed, assigned to heitorlessa

[2022-10-18 10:18] heitorlessa commented on #1339
Now complete in the V2 branch.

[2022-10-18 10:18] #1339 closed, assigned to heitorlessa

[2022-10-18 11:03] reidca opened #1613 "[Support Lambda Powertools]: IMS"
### Organization Name

IMS

### Your Name

Carl Reid

### Your current position

Head of Platform Engineering

### (Optional) Company logo

https://ims.tech/wp-content/uploads/2020/01/cropped-cropped-IMS-Logo.png

### (Optional) Use case

We have used Lamba powertools extensively during the build of DriveSync 6 serverless platform to ensure best practice and improve time to market.

### Also using

[2022-10-18 18:27] rdt712 opened #1614 "[Support Lambda Powertools]: Trek10"
### Organization Name

Trek10

### Your Name

Ryan Toler

### Your current position

Cloud Architect

### (Optional) Company logo

https://drive.google.com/file/d/1--XGseX58-su1R2rn8N_4ir1SIxUB1dU/view?usp=sharing

### (Optional) Use case

_No response_

### Also using other Lambda Powertools languages?

- [ ] Java
- [X] TypeScript
- [ ] .NET

[2022-10-19 05:45] walmsles opened #1615 "Feature request: add support for large message handling (SQS, SNS, EventBridge, etc.)"
### Is this related to an existing feature request or issue?

_No response_

### Which AWS Lambda Powertools utility does this relate to?

Batch processing

### Summary

A common pain and friction point in developing Event-Driven Architectures using AWS Serverless managed services is the existing service limit on message size which generally equates to 256KB for messages passing through any of the

[2022-10-19 07:04] rubenfonseca opened #1616 "Maintenance: remove v1 workflows from v2 before merge"
### Summary

We should remove the v1 workflows from the code before merging the v2 code.

### Why is this needed?

When we started creating specific workflows for v2, we created separate files. We should now remove the v1 workflows, so they won't interfere with the release process of v2.

### Which area does this relate to?

Automation

### Solution

_No response_

### Acknowledgment

- [X] This r

[2022-10-19 09:02] heitorlessa commented on #1454
Closing as we're wrap to launch V2

[2022-10-19 09:02] #1454 closed, assigned to leandrodamascena

[2022-10-19 09:02] heitorlessa commented on #1552
Closing as we're wrap to launch V2

[2022-10-19 09:02] #1552 closed, assigned to heitorlessa

[2022-10-19 09:03] heitorlessa commented on #1511
Closing as we're wrap to launch V2

[2022-10-19 09:03] #1511 closed, assigned to leandrodamascena

[2022-10-19 09:03] heitorlessa commented on #1506
Closing as we're wrap to launch V2

[2022-10-19 09:03] #1506 closed, assigned to leandrodamascena

[2022-10-19 09:03] heitorlessa commented on #1462
Closing as we're wrap to launch V2

[2022-10-19 09:03] #1462 closed, assigned to rubenfonseca

[2022-10-19 09:03] heitorlessa commented on #1450
Closing as we're wrap to launch V2

[2022-10-19 09:04] #1450 closed, assigned to rubenfonseca

[2022-10-19 09:04] heitorlessa commented on #1348
Closing as we're wrap to launch V2

[2022-10-19 09:04] #1348 closed, assigned to rubenfonseca

[2022-10-19 09:04] heitorlessa commented on #1330
Closing as we're wrap to launch V2

[2022-10-19 09:04] #1330 closed, assigned to leandrodamascena

[2022-10-19 09:04] heitorlessa commented on #1192
Closing as we're wrap to launch V2

[2022-10-19 09:04] #1192 closed

[2022-10-19 09:05] heitorlessa commented on #1171
Closing as we're wrap to launch V2.

New Lambda Layer now includes **all dependencies**, no more need for Extras layer, since we've optimised the size with over 95% reduction

[2022-10-19 09:06] heitorlessa commented on #998
Closing as we're wrap to launch V2.

[2022-10-19 09:06] heitorlessa commented on #1078
Closing as we're wrap to launch V2

[2022-10-19 09:06] #1078 closed

[2022-10-19 09:06] heitorlessa commented on #1607
Closing as we're wrap to launch V2

[2022-10-19 09:06] #1607 closed, assigned to heitorlessa

[2022-10-19 10:21] rubenfonseca opened #1618 "Maintenance: Document how to maintain the release process of v1 and v2"
### Summary

We need to make sure that the v1 and v2 release processes can still work after the release of v2.

### Why is this needed?

We want to keep maintaining v1 for bug fixing only for some time, and be able to release new versions of it when necessary.

### Which area does this relate to?

Governance

### Solution

Fork `develop` into `v1` before we merge the `v2` branch.
Use `develop` as

[2022-10-19 10:49] heitorlessa commented on #1459
### Last update before we launch 2.0 this week

We're working on one last change:

* **Event Source Data Classes DynamoDB Stream Event**. Return deserialized `Dict` for `new_image` and `old_image` instead of `AttributeValue`. This will unblock customers accessing nested map objects, simplify access to DynamoDB record data, and near-interoperability with Boto3 TypeDeserializer (exception being `str

[2022-10-19 10:56] #1164 closed

[2022-10-19 10:57] peterschutt commented on #1459
Sounds great! I'll touch base with you after the v2 launch, congrats!

[2022-10-19 15:20] bryantbiggs commented on #1459
ya'll are awesome - great work @heitorlessa / @rubenfonseca 🎉

[2022-10-20 12:56] #1616 closed, assigned to rubenfonseca

[2022-10-20 12:56] #1618 closed, assigned to rubenfonseca

[2022-10-20 13:47] heitorlessa commented on #1459
All Ready! We're gonna publish a pre-release to test all workflows, and then we start writing the official Release Notes for 2.0.

Finally! 🎉

[2022-10-23 14:56] lorengordon opened #1636 "Feature request: Automatically log exceptions using sys.eventhook"
### Use case

I find myself often writing a generic try/except statement in my handler to always log all exceptions. I'm not sure if this is a good pattern, maybe it already does this, so I might just be looking for guidance on current practices. (I didn't see anything in the docs or other issues on this.)

[code]

### Solution/User Experience

What I've done in CLI utilities to capture those exce

[2022-10-23 15:50] barreeeiroo opened #1637 "Bug: S3Model not compatible with ObjectRemoved events"
### Expected Behaviour

After deleting an object from S3, if a Lambda catches this event, they should be able to parse it. This event name from S3 is `ObjectDeleted:*`.

### Current Behaviour

A `ValidationError` is thrown because of the missing `size` and `eTag` attributes.

[code]

The `ObjectDeleted` event does not include those attributes.

### Code snippet

[code]

Payload Example: https://gi

[2022-10-23 17:48] heitorlessa commented on #1637
@barreeeiroo thank you for flagging this - would you be able to send a quick fix PR marking them as Optional, please?

We're launching V2 tomorrow morning and we could include the fix in.

Otherwise we can make a V1 patch release afterwards.

Thank you!!

[2022-10-23 18:07] barreeeiroo commented on #1637
@heitorlessa done, the PR should be available now: [PR#1638](https://github.com/awslabs/aws-lambda-powertools-python/pull/1638). I couldn't really test the change right now, but if strictly needed I can fully test it tomorrow.

[2022-10-23 18:11] heitorlessa commented on #1637
Thank you!! Do you happen to have a copy of the delete event?

If you do, please add to the issue. We can complete the tests before releasing it tomorrow (~10am Amsterdam time)

[2022-10-23 18:22] barreeeiroo commented on #1637
Sure, here it is:

[code]

Seems like the rest of the payload is correct.

[2022-10-23 18:44] ran-isenberg commented on #1637
Thanks @barreeeiroo  for finding and solving this!

@heitorlessa  maybe we can add a validator that checks that they are indeed optional only if the event name is ObjectRemoved:Delete?  For other S3object events, these fields are not optional, right?

[2022-10-23 18:52] ran-isenberg commented on #1637
@heitorlessa  i think it's also a bug for the S3Object dataclass.

[2022-10-23 18:57] barreeeiroo commented on #1637
No problem @ran-isenberg! I also thought about adding a conditional validator like this:

[code]

But wasn't really sure about it as I couldn't find any AWS official documentation stating which attributes are required for each event type. Is there any document which lists all the attributes provided for each event type from S3?

[2022-10-23 18:58] heitorlessa commented on #1637
For now, let’s make them optional - it’s a two-way door (we can always add
the validators back as it’s a non-breaking change).

We need a better strategy for Parser. It’s starting to break customers more
frequently.

Maybe a rule for now could be to only add any additional Parser Models
until we have either E2E or regular runs on its various configurations —
e.g., MSK takes 30m to setup which isn’

[2022-10-23 19:00] ran-isenberg commented on #1637
@heitorlessa  it's not just the parser in this case, also regular data classes are broken too.

[2022-10-23 19:00] ran-isenberg commented on #1637
I didnt find any official docs, otherwise i'd have the even name as a literal of closed event types list :(