[2021-10-05 16:06] heitorlessa commented on #728
Hello ;) This is now available in the latest release 1.21.0: https://awslabs.github.io/aws-lambda-powertools-python/develop/core/event_handler/api_gateway/#catch-all-routes

Please feel free to reopen if this wasn't it

[2021-10-05 16:06] #728 closed

[2021-10-05 16:06] heitorlessa commented on #701
This is now available as part of today's 1.21.0 release -- Thank you for the contribution, credits given at the top ;)

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:06] #701 closed

[2021-10-05 16:06] heitorlessa commented on #714
This is now available as part of today's 1.21.0 release -- Thank you for the contribution, credits given at the top ;)

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:06] #714 closed

[2021-10-05 16:08] heitorlessa commented on #699
Now available as part of 1.21.0 - thank you so much for the fix

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:08] #699 closed

[2021-10-05 16:08] heitorlessa commented on #704
This is now available as part of 1.21.0 release: https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

We've added others besides the parameters utility ;)

[2021-10-05 16:08] #704 closed

[2021-10-05 16:09] heitorlessa commented on #653
This is now available as part of 1.21.0 - Thanks for flagging this Ran so we could do better ;)

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:09] #653 closed

[2021-10-05 16:09] heitorlessa commented on #642
This is now available as part of 1.21.0, do let us know otherwise (and if you do, please share a snippet and mypy config to help us reproduce)

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:09] #642 closed

[2021-10-05 16:10] heitorlessa commented on #693
This is now available as part of today's release 1.21.0 @Tankanow ;) Thank you so much for contributing that!

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:10] #693 closed

[2021-10-05 16:10] heitorlessa commented on #702
Now available as part of 1.21.0 :) https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.21.0

[2021-10-05 16:10] #702 closed

[2021-10-05 16:20] heitorlessa commented on #624
Hey - A few updates here as we've made a release today that covers the catch-all resource.

* We've documented how to define greedy patterns so you you could have `/accounts/proxy+`: https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#catch-all-routes
* We're working on a new Router functionality to allow routes to be split in multiple files, and defining

[2021-10-05 16:31] n2N8Z opened #738 "Idempotency and Lambda timeouts"
**Is your feature request related to a problem? Please describe.**
Currently if a lambda timesout the idempotency item is left in the 'INPROGRESS' status and subsequent lambda retries fail with IdempotencyAlreadyInProgressError.

**Describe the solution you'd like**
Add an additional field to the persistence record e.g. function_timeout and store in it the timestamp when the lambda will timeout: n

[2021-10-05 16:31] n2N8Z opened #1038 "Idempotency and Lambda timeouts"
**Is your feature request related to a problem? Please describe.**
Currently if a lambda timesout the idempotency item is left in the 'INPROGRESS' status and subsequent lambda retries fail with IdempotencyAlreadyInProgressError.

**Describe the solution you'd like**
Add an additional field to the persistence record e.g. function_timeout and store in it the timestamp when the lambda will timeout: n

[2021-10-05 16:40] heitorlessa commented on #738
@cakepietoast didn't we have that covered in the initial implementation?

Unsure if it's a regression or if we accidentally missed that

[2021-10-06 06:36] adhorn commented on #704
Legends!

[2021-10-07 05:28] michaelbrewer commented on #738
@heitorlessa could this be referring to cases where the lambda execution times out before updating the status from INPROGRESS to COMPLETED?

One recommendation would be to increase the lambda timeout to be much longer (even if the api gw requests timeout within 25 seconds, the lambda can run for much longer.)

Otherwise, the idempotent handler could check the remaining time and clean up before exi

[2021-10-07 05:32] michaelbrewer opened #743 "MyPy error on `@metrics.log_metrics(capture_cold_start_metric=True)`"
**What were you trying to accomplish?**

Run MyPy linter on code:

[code]

## Expected Behavior

No MyPy errors should be returned

## Current Behavior

Mypy error `Mypy: <nothing> not callable ` is returned on line `@metrics.log_metrics(capture_cold_start_metric=True)`

## Possible Solution

## Environment

* **Powertools version used**: 1.21.0
* **Packaging format (Layers, PyPi)**:
* **AWS Lambd

[2021-10-07 05:42] michaelbrewer commented on #738
Yes, a TTL on `INPROGRESS` records would allow for this to clean itself up. However, i would still suggest to extend the lambda timeout to be as long as possible.

[2021-10-07 15:23] nsandar opened #748 "Utilities -> Parser -> event_parser-decorator -> Unused Import in Example Code"
**What were you initially searching for in the docs?**
 I was trying to understand how to implement `@event_parser` decorator.

**Is this related to an existing part of the documentation? Please share a link**
https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#event_parser-decorator

**Describe how we could make it clearer**
The example provided imports the `Validation

[2021-10-07 16:00] heitorlessa opened #749 "Parser: Best way to implement reusable Custom Field Types?"
### Discussed in https://github.com/awslabs/aws-lambda-powertools-python/discussions/555

<div type='discussions-op-text'>

<sup>Originally posted by **deric4** July 23, 2021</sup>
I'm attempting  to add some [Custom Field Types](https://pydantic-docs.helpmanual.io/usage/types/#custom-data-types) like `arn`, `instance-id`, `snapshot-id`, `account-number`, `ami-id`, across multiple projects (simila

[2021-10-07 18:45] heitorlessa opened #750 "docs: Make explicit that Lambda Layers work independently of frameworks"
**What were you initially searching for in the docs?**

A customer wasn't sure if Lambda Layers could be used without the documented frameworks.

**Is this related to an existing part of the documentation? Please share a link**

Homepage->Layers->Public ARNs (#public-arns)

**Describe how we could make it clearer**

Add an explicit mention about Lambda Layers being pre-packages dependencies, and a

[2021-10-07 21:01] owen opened #753 "sam local start-api + HTTP APIGW + event handler fails due to an unhandled exception"
**What were you trying to accomplish?**

I am building a SAM web application (Lambda + HTTP API Gateway) using these powertools and would like to test locally using `sam local start-api`

However, the local test fails – we crash because the SAM local APIGW container does not set a stage, and the event handler does not expect the stage to be `None`.

## Steps to Reproduce

1. `mkdir simplified-test

[2021-10-08 15:45] owen commented on #753
Thanks @heitorlessa!  I found an existing bug over there that appears to reference this problem – I searched that repo before but I didn't have the precise combination of terms to find it before filing this bug :)

[2021-10-08 17:39] heitorlessa commented on #753
Pinged the PM to check on those. Let's keep this open to make it easier for others to find

[2021-10-12 07:49] heitorlessa opened #761 "Event Handler: API Gateway current_event doesn't show all properties"
When trying to access `request_context` when using either API Gateway v1 or v2 we can't have type hinting due to ALB being different - both inherit from [BaseProxyEvent](https://github.com/awslabs/aws-lambda-powertools-python/blob/d02dd2eed07f3d67ca0c02437c6a31b3360b5b41/aws_lambda_powertools/utilities/data_classes/common.py#L47).

Overloading the internal method [_to_proxy_event](https://github.c

[2021-10-13 17:46] stephenbawks opened #765 "Metrics - Array of Objects / Loop"
**Is your feature request related to a problem? Please describe.**
I have a list of objects that I am trying to get individual counts on each item.  I have an event that is coming in from that contains an event where we have a "source" field and a "target" field.  The target is actually a list where I might have 1 item or up to four, or more in the future.  I am adding counts to my function so tha

[2021-10-13 21:02] stephenbawks commented on #765
Ok thank you.  I was looking at the single stuff but did not think it was going to fit.  I just tried it out and it appears to be working just as you said.  So thank you!

[2021-10-15 09:26] cakepietoast commented on #738
One small clarification even though I don't think its the most relevant piece here: Lambda doesn't really have a default for retries - it [depends on how it is invoked](https://docs.aws.amazon.com/lambda/latest/dg/invocation-retries.html). For example in the case of a synchronous execution, there are no retries, and the client needs to decide how to handle them.

I don't see it that way. We're add

[2021-10-15 14:48] heitorlessa commented on #765
Awesome to hear @stephenbawks ! Closing this now

[2021-10-15 14:48] #765 closed

[2021-10-15 14:56] #749 closed

[2021-10-18 02:31] michaelbrewer commented on #652
@rakcy @BVMiko  - once the current Router implementation is out and stable, we can look at how to do this for AppSync too

[2021-10-18 12:56] n2N8Z commented on #738
True, there are no retries for synchronous execution, but for event based execution there are default retries that occur as I've mentioned previously.

The utility is treating explicit errors from the lambda differently to timeout errors, whereas AWS performs retries regardless of whether it was an application error or a timeout.

I guess that's largely true, but I want the Idempotency utility to

[2021-10-18 15:40] n2N8Z commented on #738
In principle yes, but the details matter:
If it relies on DDB expiry to delete the idempotency record, then it will probably not work.
I think the actual timestamp for when the lambda invocation will timeout needs to stored, rather than the lambda duration: "now().timestamp() + int(context.get_remaining_time_in_millis() / 1000)" because the idempotency record MUST be deleted, or be able to be veri

[2021-10-18 19:50] ran-isenberg opened #1186 "Lambda environment variables parser/global data class initializer"
I think that this basic part of the lambda best practices is missing from the repo.
Validating environment variables, parsing them and saving them into an easy to reach singleton data class could be a very handy utility.
This is especially useful if you have multiple files in your lambda and you want an easy way to get an env variable (without having magic strings all over the code os.getenv('magi

[2021-10-19 18:28] instil-richard opened #771 "Enable/Disable a lambda handler decorator"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to enable/disable specifically the idempotency decorator so it can simply be bypassed using config rather than require any custom code.

**Describe the solution you'd like**

A simple "enabled" kwarg in the decorator that defaults to True and can be overridden if/when desired.

**Describe alternatives you've co

[2021-10-19 19:46] #771 closed, assigned to nobody

[2021-10-22 07:53] pismy opened #773 "Wrong routing when using Custom Domain Name"
I instantiated the [Cookiecutter SAM for Python Lambda functions](https://github.com/aws-samples/cookiecutter-aws-sam-python), [embedded the Lambda Powertools as a layer](https://awslabs.github.io/aws-lambda-powertools-python/latest/#lambda-layer), then deployed it to my AWS account: all good!

Then I tried to configure [Custom Domain Name](https://docs.aws.amazon.com/apigateway/latest/developergu

[2021-10-22 22:56] #773 closed, assigned to nobody

[2021-10-25 19:15] nikevp opened #779 "High resolution metrics in CloudWatch"
**Is your feature request related to a problem? Please describe.**

I need to graph estimated TPS for a 3rd party api. We have a TPS rate limit that must be monitored closely using Count/Second metrics. The current implementation aggregates metrics at a 1 minute interval even if the "CountPerSecond" unit is specified. I recognize metrics are grouped together under one timestamp, which might make t

[2021-10-27 14:03] topramen opened #780 "Question: The ColdStart Metric always returns 1"
I am newly trying out the Powertools.

Doing a rather simple code as below.
[code]

The Cloudwatch Metrics dashboard shows the ColdStart metric as 1 for my test (Statistic : Sum, Period: 1 minute).

But, when I do
[code]
from the Cloudwatch Log Insights, it gives me three for the same minute.

Why this mismatch between cold_start in the Insights and ColdStart in the Metric ?

[2021-11-03 00:51] zrothberg opened #794 "Pydantic size"
I was reading through the docs and saw that pydantic adds over 70 mbs. Poking around the pydantic repo there are a few threads about this subject. https://github.com/samuelcolvin/pydantic/issues/2276 https://github.com/samuelcolvin/pydantic/pull/2517. I was wondering if it was possible to use the --no-binary flag in your package level requirements.txt. I had seen this comment https://github.com/aw

[2021-11-03 00:51] zrothberg opened #1078 "Reduce Pydantic package size with no-binary flag when support is out"
I was reading through the docs and saw that pydantic adds over 70 mbs. Poking around the pydantic repo there are a few threads about this subject. https://github.com/samuelcolvin/pydantic/issues/2276 https://github.com/samuelcolvin/pydantic/pull/2517. I was wondering if it was possible to use the --no-binary flag in your package level requirements.txt. I had seen this comment https://github.com/aw

[2021-11-03 02:33] rakcy commented on #652
@michaelbrewer Thank you so much! 💯

[2021-11-03 10:23] rubenesp87 opened #795 "Add public lambda layer to other regions"
**Is your feature request related to a problem?**
There some missing regions on the public lambda layer, ie: me-south-1, ap-east-1, af-south-1, eu-south-1...

**Describe the solution you'd like**
Add the public lambda layer to the non-existing regions

**Describe alternatives you've considered**
Use SAR to deploy a CloudFormation stack with a copy of the Lambda Layer in all the regions, this is a

[2021-11-03 10:23] rubenesp87 opened #1183 "Add public lambda layer to other regions"
**Is your feature request related to a problem?**
There some missing regions on the public lambda layer, ie: me-south-1, ap-east-1, af-south-1, eu-south-1...

**Describe the solution you'd like**
Add the public lambda layer to the non-existing regions

**Describe alternatives you've considered**
Use SAR to deploy a CloudFormation stack with a copy of the Lambda Layer in all the regions, this is a

[2021-11-03 19:31] heitorlessa commented on #795
Oh we missed it - assigning to @am29d as it should be straightforward for us to add.

Thanks for spotting it @rubenesp87

[2021-11-04 00:09] bb-rrogers opened #797 "EventParser APIGatewayProxyEventModel body cannot be none"
First time user of AWS Lambda PowerTools and I would just like to say this looks like an amazing library.

I recently came across what I think might be a bug, but not sure. When creating a simple lambda with a APIGatewayProxyEventModel being parsed it throws an error unless I put a request body in my payload. This is due to the body object being None while the model expects a "str".

This issue af

[2021-11-04 11:08] heitorlessa commented on #780
I'm closing it now - @topramen let us know if you need any extra clarification besides what @am29d has shared. Thank you!

[2021-11-04 11:08] #780 closed

[2021-11-04 11:21] heitorlessa commented on #797
Hey @bb-rrogers, that's awesome to hear you're finding it useful!

Would you have a sample event for us to test it? IIRC, API Gateway sends an empty body string when there is none, for example a typical `GET` request.

Because I see you're using an extra middleware to control the response + using JSON dump, I think you might prefer using our API Gateway Event Handler instead to solve this and many

[2021-11-04 11:53] FredrikMeyer opened #800 "Enable Powertools logging for imported libraries"
**Is your feature request related to a problem? Please describe.**

It would be nice to easily modify the logger of imported libraries to use JSON logging from Powertools as well.

**Describe the solution you'd like**

Something like discussed in this discussion: https://github.com/awslabs/aws-lambda-powertools-python/discussions/799

Maybe something like this?
[code]

**Describe alternatives you'

[2021-11-04 11:55] bb-rrogers commented on #797
Hello @heitorlessa,

Thanks for getting back so quickly, firstly what are you wanting in regards to a sample event. I simply set up a aws proxy lambda against an apigateway and hit it using a GET request with Postman with no request body without any modifications.

As to your suggestion regarding API Gateway Event Handler. I looked at this but it seemed to more more orientated to a simple lambda h

[2021-11-04 12:10] heitorlessa commented on #797
I see. It definitely looks like a bug to be investigated - no need to share a sample event that your Functions received.

As for the use case, I can ask more questions on what this common top layer would look like  later, then I can make suggestions on how to maybe make this easier and more easily maintainable, e.g cross-cutting concerns for before/after request and error handling?)

[2021-11-04 17:45] Nsupyq opened #801 "Can powertools ensure the idempotence of all kinds of functions"
When reading the document about [idempotency](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/), I am wondering whether the powertool can convert all functions to be idempotent.

For example, if a function tries to increase the value of a variable in DynamoDB or other databases, I think it cannot be idempotent unless writing the functional return value and incre

[2021-11-04 20:58] DanLipsitt opened #802 "Incorrect type annotation for parse function"
The output type specified for `aws_lambda_powertools.utilities.parser.parse` does not always match the documented or actual output. The output is often a collection but the specified type is a single object.

## Expected Behavior
The return type for `parse` should match the [documented output types](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#built-in-envelopes)

[2021-11-04 21:13] heitorlessa commented on #802
Thanks a lot @DanLipsitt for flagging it.

I confess this has been a flaky area in Parser - we had generics and it half-worked - perhaps an @overload specifically when envelope is set might work.

[2021-11-05 09:34] cakepietoast commented on #801
If you wrap any function with the `@idempotent_function` decorator, the entire function will behave in an idempotent manner. Meaning, if the function is called twice with the same arguments, it will only be executed once. This is true regardless of the contents of the function. The utility doesn't alter the contents of the decorated function in any way. Given that the function is called multiple t

[2021-11-05 13:20] bb-rrogers commented on #797
Hey @heitorlessa - Just to be clear is there anymore information I need to give here for this bug? I'm not quite sure.

[2021-11-05 13:22] heitorlessa commented on #797
No @bb-rrogers. We'll setup a sample infrastructure to test whether we can hit the same issue -- if we can't, we will ask

[2021-11-05 13:23] Nsupyq commented on #801
Thank you for your answer @cakepietoast!
But I still have a question.

It seems that powertool only considers the retry happening after a function has completed. I am wondering what will happen if the function fails after `set_counter_to_new_value_in_dynamodb(Key=data)` and before `return {"data": counter}`. According to the [document](https://awslabs.github.io/aws-lambda-powertools-python/latest/

[2021-11-09 14:26] cakepietoast commented on #694
PR is merged. I'll update the docs in the coming days so we can get this released. Thanks for the contribution @Tankanow!

[2021-11-09 14:49] Tankanow commented on #694
Thank you, Tom! And thanks for your patience with this one.

On Tue, Nov 9, 2021 at 9:26 AM Tom McCarthy ***@***.***>
wrote:

[2021-11-09 15:12] heitorlessa commented on #694
awesome, thank you so much @Tankanow for going through all of this ;)

[2021-11-10 15:23] cakepietoast commented on #801
This is correct, though you do have control over this as a user of the library. If you don't want the function to be retried in its entirety, you can catch any exceptions and return a valid response from your Lambda function instead of allowing the Exception to bubble up. Example:

[code]
This is mentioned in the [handling exceptions section](https://awslabs.github.io/aws-lambda-powertools-python/

[2021-11-11 11:50] Nsupyq commented on #801
Thank you for your detailed explanation @cakepietoast !
I still have a question. I think that the runtime exception is not the only factor that can trigger failure and retry. Some other things, such as system crash and hardware fault, can also cause function failure. Then the function cannot catch these factors.
[code]
For example, when the machine running the function crashes after executing `set

[2021-11-11 15:14] cakepietoast commented on #801
It is important to remember that Powertools is "just" a library that executes within the scope of your Lambda Function. It "wraps" your decorated python function, injecting its idempotency logic before and after your decorated python function is executed. In the case of underlying hardware failure during execution of your decorated python function, no more code execution can happen - including any

[2021-11-11 17:03] tomharvey opened #812 "Support the disaggregation of protocol buffer encoded aggregated records in Kinesis"
**Is your feature request related to a problem? Please describe.**
I'm consuming aggregated records from Kinesis - as described in the https://github.com/awslabs/kinesis-aggregation project

I can't use the KinesisStreamEvent data class

**Describe the solution you'd like**
The KinesisStreamEvent data class to handle deaggregation automatically when it detects a need

**Describe alternatives you'v

[2021-11-11 17:03] tomharvey opened #1184 "Support the disaggregation of protocol buffer encoded aggregated records in Kinesis"
**Is your feature request related to a problem? Please describe.**
I'm consuming aggregated records from Kinesis - as described in the https://github.com/awslabs/kinesis-aggregation project

I can't use the KinesisStreamEvent data class

**Describe the solution you'd like**
The KinesisStreamEvent data class to handle deaggregation automatically when it detects a need

**Describe alternatives you'v

[2021-11-11 17:15] Nsupyq commented on #801
Ok, I see. Thank you very much!

[2021-11-12 08:44] heitorlessa commented on #794
hey @zrothberg thanks for bringing this up! As you pointed out, there are two angles to this from what I could tell after some experimentation.

**Publisher**. Poetry didn't support the `--no-binary` flag (maybe it does now?). We'd have to experiment exporting extra dependencies as requirements from pyproject.toml, then install using `--no-binary` flag. I did find [a workaround](https://github.com

[2021-11-12 08:47] heitorlessa commented on #779
I'm gonna close this now since we added this as a feature request for the CloudWatch EMF team

[2021-11-12 08:47] #779 closed

[2021-11-12 08:48] heitorlessa commented on #750
Now available in the docs.

[2021-11-12 08:48] #750 closed

[2021-11-12 08:49] heitorlessa commented on #748
Closing as this will be available in today's release docs; already available in staging docs. Thanks a lot again for reporting it!

[2021-11-12 08:49] #748 closed

[2021-11-12 09:07] #801 closed

[2021-11-12 18:17] michaelbrewer commented on #481
@heitorlessa

No much will happen on this issue until Python 3.6 and whether dataclasses actually delivers the savings we expect.

I would just propose a rename

[2021-11-12 18:29] heitorlessa commented on #481
Yeah we discussed of renaming it earlier either way

On Fri, 12 Nov 2021 at 19:17, Michael Brewer ***@***.***>
wrote:

[2021-11-13 16:40] heitorlessa commented on #812
Thanks a lot for the feature suggestion @tomharvey - I'm moving this into the roadmap ideas we could look at in the future. I'd like to hear from more customers before we consider it due to its specialization.

[2021-11-13 16:50] #649 closed

[2021-11-13 18:08] heitorlessa commented on #797
@bb-rrogers just merged the fix for API GW v1, and also found the same bug in v2, including Query Strings key which are omitted in the payload when using API GW HTTP API v2 payload.

Should be out early next week as part of the next release.

[2021-11-15 04:00] bb-rrogers commented on #797
Thanks a bunch @heitorlessa

[2021-11-15 19:15] whardier opened #824 ""Batch" of SQS messages above 10 count causes problems during cleanup since boto3.client('sqs').delete_message_batch is limited to 10."
"Batch" of SQS messages above 10 count causes problems during cleanup since boto3.client('sqs').delete_message_batch is limited to 10.  There is a hard limit of 10 when utilizing delete_message_batch that is not properly documented in boto3 (whereas other batch methods do show 10).  There is also no documentation reflecting a limit of 10 when implementing the sqs batch processor provided in this p

[2021-11-15 19:18] whardier commented on #824
https://github.com/awslabs/aws-lambda-powertools-python/pull/818

[2021-11-17 12:29] heitorlessa commented on #797
hey @bb-rrogers this is now out as part of 1.22.0 release - available on PyPi, SAR, and soon Lambda Layer (version 4).

https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.22.0

[2021-11-17 12:29] #797 closed

[2021-11-17 13:24] trey-rosius opened #830 "Change users.py to location.py"
**What were you initially searching for in the docs?**

I was searching on the new `Split operations with Router`
**Is this related to an existing part of the documentation? Please share a link**
yes,
https://awslabs.github.io/aws-lambda-powertools-python/1.22.0/core/event_handler/appsync/#split-operations-with-router
**Describe how we could make it clearer**

I think you meant to say

Because the

[2021-11-17 15:02] heitorlessa commented on #830
Err, my bad, when copying things over before today’s release. Will send an
update shortly — thanks a lot for catching it!!

On Wed, 17 Nov 2021 at 14:25, boring-cyborg[bot] ***@***.***>
wrote:

[2021-11-17 15:05] trey-rosius commented on #830
My pleasure 😊. Closing now

[2021-11-17 15:05] #830 closed

[2021-11-18 12:33] alexmuller opened #833 "Provide a LambdaContext object for use in testing"
**Is your feature request related to a problem? Please describe.**

We test our Lambdas with pytest and do something like this:

[code]

When integrating this project we discovered that we'd have to set up a LambdaContext object and pass that in.

**Describe the solution you'd like**

It would be great if this library provided a context-like object that we could use in our tests

[code]

However t

[2021-11-18 13:03] heitorlessa commented on #833
hey @alexmuller - Check this out: https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/14

We would love ideas on what a testing utility could look like. Lambda Context would be a quick one, but interested to hear your thoughts on how other events could look like, and what else could be helpful (and their UX more or less).

[2021-11-18 20:25] gwlester opened #834 "Provide access to ApiGatewayResolver object from Router object"
**Is your feature request related to a problem? Please describe.**

When attempting to use the, introduced in 1.22.0, Split routes with Router methods, we found that many of our end point functions needed access to the ApiGatewayResolver object.  This is due to the fact that we have subclassed the ApiGatewayResolver to add some application-specific functionality.

**Describe the solution you'd lik

[2021-11-19 03:38] michaelbrewer opened #835 "docs(api-gateway): Sample layout does not work"
## What were you initially searching for in the docs?

Current layout to in the docs for [routes across multiple files](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#sample-layout) is not working.

- Tests out of the box on Pycharm does not work when you select a test to run

<img width="1651" alt="Screen Shot 2021-11-18 at 7 33 10 PM" src="https://u

[2021-11-19 03:38] michaelbrewer commented on #835
@heitorlessa

[2021-11-19 14:02] alexmuller commented on #833
Thank you @heitorlessa, this looks great! The Lambda context would be a brilliant first step for me - but I'm also going to have a think about event handlers for SQS and SNS which would also be useful.

I'm going to close this issue as it's on the roadmap - thanks very much for your reply.

[2021-11-19 14:02] #833 closed

[2021-11-19 14:14] houbie opened #836 "configure standard python logging"
**What were you initially searching for in the docs?**
I want to turn on logging of (3th party) libraries that use standard logging.

**Is this related to an existing part of the documentation? Please share a link**
The [FAQ](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#faq) explains how to enable logging for boto3, but not for other libraries using standard logging.

[2021-11-19 14:18] cakepietoast opened #837 "ApiGatewayResolver doesn't allow passing a list of methods to the `route` decorator"
**What were you trying to accomplish?**
Add a function to handle multiple http methods using the ApiGatewayResolver:

[code]

## Expected Behavior

It should be supported to pass a list of methods to `ApiGatewayResolver.route`, the same way it is supported for the `Router.route` method.

## Current Behavior

Exception is thrown.

## Solution
PR on its way

[2021-11-19 14:36] heitorlessa commented on #836
hey @houbie - thanks for reaching out! We have that on the roadmap and will start working on it next week: https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/40

As a common practice, every library should define a way to enable its logging and should be disabled by default with no formatting.

Since this is becoming a common feature request (please add +1 there), we'll add a new metho

[2021-11-19 14:36] #836 closed

[2021-11-20 20:04] viniciusao commented on #115
just an info for everyone coming in here and it's using [AWS Chalice](https://aws.github.io/chalice/).
You must set to false the _configure_logs_ parameter when instantiating Chalice() app's object.

![image](https://user-images.githubusercontent.com/71805493/142739525-aba4d4f4-fb03-4664-a97d-4359e6c69a2e.png)

[2021-11-21 15:57] viniciusao opened #841 "Logger Sampling debug not working dynamically with AWS Chalice serverless framework."
## Current Behavior

It's simply not dynamically logging, but either log (>= 0.6) or not (<= 0.6) based on sampling_rate's argument value.

## Steps to Reproduce (for bugs)

1. chalice local
2. Postman run collection with iteration.
[code]

## Environment

* **Powertools version used**: 1.22.0
* **Python:** 3.8

[2021-11-21 23:08] michaelbrewer commented on #835
@heitorlessa  - have a look and see if this makes sense.

[2021-11-22 04:52] heitorlessa commented on #835
I’ll look into this week

On Mon, 22 Nov 2021 at 00:09, Michael Brewer ***@***.***>
wrote:

[2021-11-22 07:56] cakepietoast commented on #834
While this is a corner case, we should be able to implement it easily and without affecting other functionality. I'll put a PR in soon and ask for you to validate that it solves your use case.

[2021-11-22 14:26] gwlester commented on #834
Thanks!

[2021-11-22 14:29] gwlester commented on #834
Reviewed the code, it looks good.

[2021-11-22 21:34] brysontyrrell opened #844 "Cache loaded JSON in event data classes"
**Is your feature request related to a problem? Please describe.**

When using the provided event data classes (mainly APIGatewayProxyEvent/V2), the `json_body` property calls `json.loads()` every time. If I am passing the event object around, and not just the body content (say between different decorated functions) that means I'm performing this parsing multiple times within the same execution.

[2021-11-23 00:52] mccauleyp opened #845 "Reduce size of Lambda layer .zip file by removing dependencies already in Lambda runtime"
**Is your feature request related to a problem? Please describe.**
In trying to upgrade to v1.22.0, I ran into the deployment error `Layers consume more than the available size of 262144000 bytes`. This is for a Lambda function that uses both the Lambda Powertools Layer and the latest [AWS Data Wrangler Layer](https://serverlessrepo.aws.amazon.com/applications/us-east-1/336392948345/aws-data-wrang

[2021-11-23 00:52] mccauleyp opened #1164 "Remove AWS SDK from Lambda Layer to reduce package size by 90.5%"
**Is your feature request related to a problem? Please describe.**
In trying to upgrade to v1.22.0, I ran into the deployment error `Layers consume more than the available size of 262144000 bytes`. This is for a Lambda function that uses both the Lambda Powertools Layer and the latest [AWS Data Wrangler Layer](https://serverlessrepo.aws.amazon.com/applications/us-east-1/336392948345/aws-data-wrang

[2021-11-23 08:25] heitorlessa commented on #845
hey @mccauleyp - Thanks a lot creating this. Could you do a +1 for [this feature request on Boto Modularization](https://github.com/boto/botocore/issues/1543) to help us solve this properly?

We've been thinking of two strategies here but haven't had a chance to write it extensively, so I'll write from the top of my head so I can expand them later :):

1) **Cut a 2.0 with optional dependencies onl

[2021-11-23 10:08] am29d commented on #845
hey @mccauleyp - Thanks again for creating the issue. I have been pondering on this question when I worked on the layer. The biggest concern I had was the dependencies fragmentation, which is also in the nature of the layer functionality itself. If we remove the botocore (it's an easy fix) it will result in a) break existing code, b) we need to provide exact version match between botocore version

[2021-11-23 11:13] jonathan-kosgei opened #846 "How to create a custom log level"
I'm using the logger in my project and I'd like to print a line of json for post-processing without the powertools logger adding context to it. How would I do this?

[2021-11-23 11:33] heitorlessa commented on #846
Hi @jonathan-kosgei - as the issue was created without the template, we'll need more context to understand what you're trying to do.

Could you expand on what you mean by "without Powertools adding context"?

Could you share the desired log output you'd like when printing this one line of JSON?

Thank you

[2021-11-23 12:29] jonathan-kosgei commented on #846
@heitorlessa thanks for getting back to me so fast. I just realized this was a mistake on my part as the added context i.e. timestamp, log group, function attributes etc were added by datadog and not powertools. I'll go ahead and close the issue, thanks again.

[2021-11-23 12:29] #846 closed

[2021-11-23 12:59] heitorlessa commented on #845
Spoke with the Data Wrangler team and [they are removing boto3/botocore before building the Lambda Layer](https://github.com/awslabs/aws-data-wrangler/blob/main/building/lambda/build-lambda-layer.sh#L75) along with other data to fit within the Lambda code artifact limit - however this is not being tested so boto/botocore changes or new features might not work when using Lambda Layers.

I went ahea

[2021-11-23 16:56] mccauleyp commented on #845
Hey @heitorlessa & @am29d, thanks for your replies! I've +1'd the boto modularization ticket as above as requested. 

To me it seems like removing boto* from the layer bundle is the most straightforward and easy thing to do for now. That's consistent with what the Data Wrangler team is doing, and naively it seems reasonable that Lambda Powertools should guarantee compatibility with the Lambda runt

[2021-11-23 18:21] lorengordon commented on #845
It has certainly been frustrating for me in the past that the lambda runtime is not updated frequently with the current botocore/boto3 versions. I'm not sure of the current state, but there have been times when the versions are _years_ out of date. Which certainly does make testing un-fun, when the code works locally but then fails when deployed, without also packaging boto into the lambda. :(

Ju

[2021-11-23 19:18] heitorlessa commented on #845
100% @lorengordon - I think we can meet in the middle. If we can run integration tests upon merging code in `develop`, run them within the actual Lambda runtime, and update the documentation that PyPi is the only source to obtain the latest boto3/botocore features/bugfixes this could work.

I thought of us using [LambCI](https://github.com/lambci/lambci) for that but it seems no longer maintained.

[2021-11-23 20:35] mwarkentin commented on #845
@heitorlessa I've voted for the boto modularization - but I'm curious if there are any internal feature requests for increasing the max lambda size? Seems like another pretty good solution would be a limit increase on the max size of Lambdas - any PFRs we could throw our weight behind on that side of things? It's been 256MB as long as I can remember..

[2021-11-24 09:17] cakepietoast commented on #834
Thanks @gwlester - we'll get it merged soon. Out of curiosity - are you able to share some details about your use case? I'd love to understand the need for subclassing`ApiGatewayResolver` - maybe its something we can help make more convenient.

[2021-11-24 09:21] heitorlessa commented on #824
hey @whardier with this new launch we won't need this anymore, and it'll be less error prone since deleting a large number of messages could catch customers off guard if their timeouts aren't adjusted accordingly.

https://aws.amazon.com/about-aws/whats-new/2021/11/aws-lambda-partial-batch-response-sqs-event-source/

[2021-11-24 13:33] gwlester commented on #834
@cakepietoast , yes (and maybe we did things wrong but...)

We subclassed the resolver to add an attribute about the authenticated user (including what feature flags they had access to) and also the logger (to add information about the session and transaction required by our company from the headers to the log attributes) to use.  We then pass down the app to all the lower-level routines to use ap

[2021-11-24 14:27] michaelbrewer commented on #835
Thanks @heitorlessa Other than it does not run when deployed (for me at least), the import statement in the unit tests does not work.

[2021-11-24 16:07] whardier commented on #824
Actually there is still an issue at hand where the batch deletion fails and the entire event breaks.

I am not sure if AWS lambda powertools will instead insist on a different return for the event that includes the failed messages.  If so.. cool.. but it is a breaking change and the code to delete processed messages needs to be removed otherwise 11 processed messages will error the entire event.

[2021-11-24 18:47] heitorlessa commented on #824
“ but it is a breaking change ”

That’s what we’ve been discussing today - it’ll likely be a flag in the
existing sqs_batch_processor decorator, and a new decorator that could do
this by default and accept either SQS, DynamoDB streams, or Kinesis Data
Streams.

That said, we will still have to make sure this issue is solved too - the
existing PR would need to use threads (Python futures) to delete

[2021-11-24 20:08] whardier commented on #824
From the docs: "Similar to Resource objects, Session objects are not thread safe and should not be shared across threads and processes. You should create a new Session object for each thread or process"

I've not had a chance to test out performance between concurrent futures and simple threading using the threading module.  I only have experience using the threading module for this.  I'm not sure

[2021-11-25 02:31] heitorlessa commented on #824
You’d pass the client not the session. This has been a common practice for
over 5 years to paralelize S3 download for example.

You can use concurrent.futures, create a dedicated function that accepts a
SQS Client and a maximum batch of messages that can be deleted at a time,
and submit it to thread pool executor - max workers would be defined based
on number of messages to be deleted / max no of

[2021-11-25 02:48] heitorlessa commented on #845
Hey @mwarkentin the Container Image supports up to 10G, not Zip (256M). Container Image however has a perf impact, and depending on how big the zip is it could incur Perf impact too.

I'll add a +1 to the PFR to increase the zip as I already know your company name ;-)

You can also use #awswishlist on Twitter for it to get automatically added/bumped.

[2021-11-25 02:58] whardier commented on #824
OK.  I am mostly concerned with this:

https://github.com/boto/boto3/blob/develop/boto3/__init__.py#L87

I had been more familiar with passing botocore.config.Config or some
specific session parameters rather than the an instance of boto.client
since it uses a globally cached session.

I'll review things and push out an update to the PR.
<https://about.me/ShaneSpencer?promo=email_sig&utm_source=pr

[2021-11-25 03:00] heitorlessa commented on #841
Hey @viniciusao - I'd need to set some time aside to setup a chalice app to better understand the middleware functionality before replying.

From Powertools Logger perspective, sampling is calculated at the instance initialisation (e.g., Logger()), as we explain in the docs.

This often happens at the global scope and has two effects:

1. Sampling decision will only occur at cold start, not on a p

[2021-11-25 15:08] #841 closed

[2021-11-27 22:43] ClaytonJY opened #849 "Allow extended parser models to pass mypy"
**Is your feature request related to a problem? Please describe.**

The docs example for extending `parser` models (https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#extending-built-in-models) doesn't pass `mypy`, because the `Order` class is not compatible with the `EventBridgeModel` annotation `detail: Dict[str, Any]`.
[code]
I would like to be able to both extend t

[2021-11-29 00:46] michaelbrewer commented on #835
@heitorlessa - have added another branch for the http-api version too

[2021-11-29 08:21] heitorlessa commented on #844
hey @brysontyrrell, thanks for reaching out. That's mostly feasible - Cons: 1/ memory constraints for large payloads, 2/ LRU configuration to be exposed e.g. maxsize, cache eviction, etc.

Could you share more on the use case of passing the event object around? e.g. custom middlewares? custom function coupling with lambda event? etc.

Say we we would to implement caching for certain properties, wo

[2021-11-29 08:32] heitorlessa commented on #849
hey @ClaytonJY thanks a lot for flagging this. I'm not entirely sure how to solve this yet, we'd have to maybe experiment with a generic type bound to BaseModel.

cc @ran-isenberg in case he knows as this should be a fairly common problem in Pydantic world

[2021-11-29 09:03] ran-isenberg commented on #849
I didn't encounter this issue yet to be honest.

[2021-11-29 10:33] heitorlessa opened #850 "Tracer: add service value and coldstart false annotations"
**Is your feature request related to a problem? Please describe.**

When troubleshooting a larger app, service annotation would've made it easier to slice the service map in X-Ray. Similarly, ColdStart annotation is only added when there is a cold start - having `false` would be great to quickly analyze sampled requests where cold start happened vs warm starts.

**Describe the solution you'd like*

[2021-11-29 16:58] heitorlessa commented on #850
Note that Java and C# have already implemented the ColdStart one

[2021-11-29 17:29] ClaytonJY commented on #849
FWIW I'm a very new user of this package, and since posting this have come to avoid the issue a different way: use the envelope and never bother subclassing that model. Still, given the benefits of this package around typing, it would be nice if examples in the docs like this were type compliant.

Happy to help, but may need to be pointed in the right direction. Very curious to see where this disc

[2021-11-29 23:12] dispyfree opened #855 "Incomplete input for hash function for @idempotent_function"
When annotating functions via @idempotent_function, the wrapped function's name will not go into the hash computation; instead, only the payload and an environment-specific (but not function-specific) function name is assumed.
This causes idempotency to break in certain cases.

## Expected Behavior
When two distinct functions which accept the very same payload as parameters are wrapped using @idem

[2021-11-30 04:29] gwlester opened #856 "Guidance on Using Powertools with AWS Websocket API Gateway"
**Is your feature request related to a problem? Please describe.**

Could some guidance on how to use Powertools to implement a Lambda for an AWS Websocket API Gateway route be provided.

Note -- this may require a new API Gateway class.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-11-30 04:29] gwlester opened #1165 "Guidance on Using Powertools with AWS Websocket API Gateway"
**Is your feature request related to a problem? Please describe.**

Could some guidance on how to use Powertools to implement a Lambda for an AWS Websocket API Gateway route be provided.

Note -- this may require a new API Gateway class.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-11-30 04:36] whardier opened #857 "Papercuts we're currently prioritizing"
Need to add proper ContextManager typing via typing.ContrxtManager in several places.

Currently overriding single_metric (-> ContextManager[SingleMetric]) and noticed several other areas where this needs done as well.

Also be nice if there was a proper DummySubSegment type returned for tracing provider.in_subsegment to avoid including types from aws modules to cast.

## Expected Behavior
Have ri

[2021-11-30 07:17] heitorlessa commented on #835
Lemme know when make the PR and I’ll merge it - I’ll address some papercuts
on Friday in the meantime

On Mon, 29 Nov 2021 at 01:47, Michael Brewer ***@***.***>
wrote:

[2021-11-30 09:57] cakepietoast opened #858 "RFC: New batch processing utility"
## Key information

* RFC PR:
* Related issue(s), if known:
* Area: Batch processing util
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

A new generic batch processing utility, which can process records from SQS, Kinesis Data Streams, and DynamoDB streams, and handle reporting batch failures.

[2021-11-30 15:03] heitorlessa commented on #855
hey @dispyfree thank you so much for spotting this - it's definitely an edge case we missed :/. `function_name` in that case is to be added in the DataRecord, not the actual method name being wrapped -- for that we need to do what you suggested.

We're fixing some papercuts elsewhere and this will be prioritized right after - More than happy to help review/guide the fix if you have some spare cycl

[2021-11-30 15:20] heitorlessa commented on #857
Thanks a lot for raising this @whardier ! I was about to create a list of papercuts we'd like to address, these being two of them.

The SubSegment typing is the most elaborate one, I need one full day to create and refactor a few things, including having an easy way to unit test your application with a Fake Tracer Provider.

[2021-11-30 15:24] heitorlessa commented on #857
When you have a moment, could you help us by enumerating some of them like the SingleMetric ctx manager?

I'm gonna rename this to top papercuts so we can tackle them accordingly as many as possible

![image](https://user-images.githubusercontent.com/3340292/144075378-1ae6f0f4-2425-42a0-85a3-95ded0342892.png)

[2021-11-30 15:33] heitorlessa commented on #857
Top papercuts we'd like to address:

- [ ] [Docs: API Gateway sample layout](https://github.com/awslabs/aws-lambda-powertools-python/issues/835)
- [ ] [Parser: Typing on model subclassing](https://github.com/awslabs/aws-lambda-powertools-python/issues/849)
- [ ] [Parser: Typing when using envelope](https://github.com/awslabs/aws-lambda-powertools-python/issues/802)
- [ ] [Event Handler: BaseProxyE

[2021-11-30 16:46] elliottyates commented on #857
A thought: it took me a few moments and tries to get unit testing working for some features (e.g. https://github.com/awslabs/aws-lambda-powertools-python/issues/706). One suggestion might be a dedicated area of the docs for unit testing, instead of hunting down the solutions for each feature.

[2021-11-30 20:59] kimberlyamandalu commented on #858
I think the `batch_processor` decorator name might already be taken by the following: [Create your own Partial Processor](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/batch/#create-your-own-partial-processor). If I'm reading this incorrectly, I apologize and pls correct me.

Does it make sense to potentially leverage on that capability to implement the "new" batch proces

[2021-11-30 22:38] lorengordon commented on #845
@heitorlessa Care to share the specific PFR? I can add weight to that one also.

[2021-12-01 06:04] heitorlessa commented on #858
You’re right Kim, missed that somehow when looking at top imports and
search.

As it expects a processor, there might be a way to make this non-breaking
change — make a default new Processor, and introduce an optional BatchType
argument.

If we can find a better name would be a better solution tho

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/utilities

[2021-12-01 17:31] michaelbrewer commented on #857
Another one :)
- [ ] https://github.com/awslabs/aws-lambda-powertools-python/pull/862

[2021-12-01 22:42] michaelbrewer commented on #857
Docs PR:
- [ ] https://github.com/awslabs/aws-lambda-powertools-python/pull/864

[2021-12-02 17:05] heitorlessa commented on #858
What about @report_batch_failures(batch_type=<Enum>, record_handler=<Callable>)?

That is explicit enough and should help customers find it more easily if they've read the news, found somewhere and came looking for support.

[2021-12-02 19:35] whardier commented on #857
single_metric PR:

* [ ] #865

[2021-12-03 04:39] kimberlyamandalu commented on #858
I think that is a pretty good name for it since sqs/dynamodb/kinesis all refer to it as such.
The only thing I could think of that might be confusing is, it might make it look like it is just an error handling feature. Which I guess it kind of is, but more :)

I honestly cannot think of a better name, other than `@partial_batch_processor` maybe?

But I'm sure whatever becomes its name, it will be

[2021-12-03 16:27] gmcrocetti commented on #858
Hi folks, long time no see :).
I'm really thrilled seeing AWS finally provided such feature for SQS :rocket: .

Why not leverage current `@batch_processor` instead of creating a new decorator with "similar" behavior. Can't we achieve the same result by doing the following:

1. Adding a `inject_batchitem_failures` as an argument to `@batch_processor`;
2. Writing a new `PartialProcessor` extending `

[2021-12-03 18:53] heitorlessa commented on #858
Yes, I mentioned that to @cakepietoast but he had a pretty good argument on the contrary -- can't remember what it was tho :/

[2021-12-04 22:34] michaelbrewer commented on #855
@heitorlessa @dispyfree - a basic fix for this in my PR (https://github.com/awslabs/aws-lambda-powertools-python/pull/869). I am just going to add a good unit test to reproduce the issue as well.

[2021-12-05 06:28] ran-isenberg commented on #858
@heitorlessa  other than automatic handling of error, this can already be achieved with the current Parser utility.
why not extend the parser instead of creating a new utility?

[2021-12-05 06:38] ran-isenberg commented on #849
@ClaytonJY
There are many advantages to subclassing the Model and not using the envelope - especially when you want both the body and the meta data arguments from the subclass.
In that case, when i subclass I just set the body/details argument to my actual real BaseModel class (MyBusinessLogic class etc.) and create a validator(pre=True) that takes the str/dict and does a json.loads(details). That

[2021-12-05 06:49] ran-isenberg commented on #849
Subclassing has a lot of advantages -if you require both metadata and business logic (body/details) attributes.

I guess mypy doesnt like that we change the type of the baseclass attribute. I'm not sure how you can avoid that, that's the whole point of the parsing trick we do there.

[2021-12-05 07:53] heitorlessa commented on #849
Hey! Once we address two P1 issues (Batch, Idempotency), I’ll try replicate
with mypy.

Clayton - could you share what mypy config you’re using when you have a
chance?

In theory, subclassing shouldn’t cause this issue with typing, as you’re
replacing it. If it indeed does and there isn’t an elegant solution, happy
to make a generic for all data fields (detail, body, etc) where you could
pass a st

[2021-12-05 08:00] heitorlessa commented on #849
One thing I might have missed to ask is whether you’re using Pydantic mypy
plugin, otherwise Mypy could indeed complain of the type change when
subclassing - forgot to mention that in the docs

https://pydantic-docs.helpmanual.io/mypy_plugin/

On Sun, 5 Dec 2021 at 08:52, Heitor Lessa ***@***.***> wrote:

[2021-12-05 09:43] heitorlessa commented on #858
Ran, there’s one more aspect that we only implemented in Java - Move
non-retryable exceptions to the DLQ. We wouldn’t want to make API calls
underneath when using Parser.

That said, we could have a better integration with Parser but we haven’t
thought how Parser and the lightweight Data classes could coexist  here yet
- it needs a RFC/ design session

On Sun, 5 Dec 2021 at 07:28, Ran Isenberg ***

[2021-12-05 21:16] filol opened #870 "PreTokenGenerationTriggerEvent => claims_to_suppress : NoneType' object does not support item assignment"
**What were you trying to accomplish?**
I'm currently trying to add some claims to suppress to the token in the event object. Working with manual way (without your lib).

## Expected Behavior

No exception

## Current Behavior

Exception

## Possible Solution

## Steps to Reproduce (for bugs)
[code]

## Environment

* **Powertools version used**: 1.22.0
* **Packaging format (Layers, PyPi)**:
* **A

[2021-12-06 01:37] ClaytonJY commented on #849
@heitorlessa I no longer have access to that exact project where I discovered this, but I'm fairly certain the only mypy config I had set was using the pydantic plugin. I may have fed some command-line args to mypy like ignoring un-annotated imports. I'm quite certain I wasn't doing anything exotic!

I could whip up a minimal reprex if needed, would that help?

[2021-12-06 05:22] heitorlessa commented on #849
Yes please! That would speed things up on our end when we get to it this
week

On Mon, 6 Dec 2021 at 02:37, Clayton Yochum ***@***.***>
wrote:

[2021-12-06 06:40] ClaytonJY commented on #849
@heitorlessa here's that reprex, as a new repo: https://github.com/ClaytonJY/powertools-type-error-example

thanks for caring!

[2021-12-06 22:09] DanyC97 commented on #845
👋  @heitorlessa just been looking into this a bit and bumped into https://github.com/aws/aws-lambda-base-images/tree/python3.9  . Not sure if is like-for-like but maybe you can have a chat with the maintainers ? (sadly they are not very responsive with the GH issues hence hard to know it from outside)

[2021-12-07 16:53] heitorlessa commented on #855
merged - tagging for the next release hopefully this Friday

[2021-12-07 16:57] heitorlessa commented on #856
hey @gwlester, thanks for creating this feature request. I'm moving this to our roadmap repo so we can consider it later.

At the moment, we mostly have customers using AppSync for real-time applications (web sockets+GraphQL+subscriptions+data conflict resolution etc) so we prioritized that first for the Event Handler. If anyone else reading this later would like support for API Gateway WSS, pleas

[2021-12-07 17:00] heitorlessa commented on #835
Now available in the latest docs. Closing.

[2021-12-07 17:00] #835 closed

[2021-12-07 17:04] heitorlessa commented on #845
@lorengordon the PFR is not public - Lambda doesn't have a public roadmap intake. As AWS staff, we can add customer names to it and use any details you can share - e.g. is this a blocker? a critical improvement? a nice to have?

@DanyC97 thanks for the link! These would be for running OCI images on Lambda. They're not like-for-like per se with what's the provided runtime has.

[2021-12-08 08:08] heitorlessa commented on #870
hey @filol thank you so much for filing this. Would you happen to have a copy of the event with any sensitive data redacted to help us reproduce/test it?

cc @michaelbrewer

Thank you!

[2021-12-08 17:09] michaelbrewer commented on #870
I will have a look @filol and try to include it in our test coverage to be sure we don't regress.

[2021-12-08 17:25] mccauleyp commented on #845
The latest versions of the AWS Data Wrangler and Lambda Powertools Layers now seem to be compatible. Wrangler version 2.13.0 was released a few days ago, and I'm able to deploy that with the latest Powertools layer without hitting the size limit. I'm using the Wrangler [SAR option](https://serverlessrepo.aws.amazon.com/applications/us-east-1/336392948345/aws-data-wrangler-layer-py3-8) and the Powe

[2021-12-08 18:34] michaelbrewer commented on #870
@filol was `claimsOverrideDetails` in your event `null`? Would it be possible to post it with any values masked. I would be curious about the data structure.

[2021-12-08 18:41] michaelbrewer commented on #870
@filol - i have PR (https://github.com/awslabs/aws-lambda-powertools-python/pull/878) that could fix this, if you could verify that the event did some from a real integration test and that is looks something like this:

[code]

[2021-12-09 08:22] filol commented on #870
Hi @michaelbrewer, I don't have the event right now on the hand. I will come back to you with my sample monday

[2021-12-09 23:55] bb-rrogers opened #881 "APIGatewayProxyEvent json_body throws exception if no body"
Heya All,

Not sure if this would be seen as an issue or not, but I thought I would log it anyways. When using the APIGatewayProxyEvent.json_body function I have found that if there is no body, it will throw a TypeError:
```[ERROR] TypeError: the JSON object must be str, bytes or bytearray, not NoneType```

I feel on the fence whether it's better to validate that there is a body before attempting

[2021-12-10 01:58] bb-rrogers opened #882 "IntelliSense for app.current_event defaults to BaseProxyEvent rather than APIGatewayProxyEvent"
When attempting to lookup path_parameters from the app.current_event.path_parameters PyCharm indicates it cannot identify this property. Looking at the type of object returned from app.current_event it appears it uses BaseProxyEvent rather than the APIGatewayProxyEvent.

## Expected Behavior
`app.current_event.path_parameters` provides intellisense for the property.

## Current Behavior
`app.curre

[2021-12-10 04:15] michaelbrewer commented on #882
@bb-rrogers - this would be a duplicate of https://github.com/awslabs/aws-lambda-powertools-python/issues/761

[2021-12-10 04:37] michaelbrewer commented on #761
@heitorlessa any suggestions on how to implement this on Python? I am not sure how generics would work on Python.

Another option would be to add properties that cast to the preferred type `app.current_alb_event`, `app.current_http_event`?

[2021-12-10 07:33] heitorlessa commented on #882
hey @bb-rrogers closing as a duplicate as @michaelbrewer pointed out. We need to refactor the current implementation and use [overload functions](https://mypy.readthedocs.io/en/stable/more_types.html#function-overloading) to ensure you get the right type of event depending on the ProxyEvent you choose.

[2021-12-10 07:33] #882 closed

[2021-12-10 07:36] heitorlessa commented on #761
Because we have a parameter that indicates which Proxy Type to use, we can use [function overloading from typing](https://mypy.readthedocs.io/en/stable/more_types.html#function-overloading) to indicate the return type will be different based on the params received.

I'm considering to have an entire release just focused on MyPy stuff as more and more customers are raising issues on typing that cou

[2021-12-10 07:37] heitorlessa commented on #849
Looking at this today @ClaytonJY thank you so much again for creating the repro, it makes a lot easier for us :)

[2021-12-10 07:48] heitorlessa commented on #849
As expected, a generic type bound to BaseModel in an Union makes MyPy happy. If the actual payload is passed and no override happens, it correctly detects `detail` as a dictionary.

It'd be impractical to allow any other field to be overridden by type, so I'll go ahead and ensure all built-in Models can be overridden on fields where the payload is (e.g. `detail` in EventBridge, `body` in API Gatew

[2021-12-10 08:40] heitorlessa commented on #881
hey @bb-rrogers thanks a lot for raising this. We can indeed do a much better job here - I suspect we implicitly trust customers would only call as they know their payload better, **however** a type `Any` doesn't help .. despite JSON Values [not having an actual agreement on a generic type in Python](https://github.com/python/typing/issues/182)

[2021-12-10 08:40] heitorlessa commented on #849
PR available - should be available in the next release: https://github.com/awslabs/aws-lambda-powertools-python/pull/883

[2021-12-10 10:48] heitorlessa commented on #802
Looking into this now to see if a quick fix I have in mind can solve, otherwise we'll tackle it for the release after next. Thanks a lot for the sample to reproduce as it helps a ton!

[2021-12-10 13:13] rtcnerd opened #884 "Executing sample code does not work"
Executing the following code does not trigger the rules. Ideally I would expect the rule="/not-found-error" to be triggered when an incorrect path is sent. The print statement is never printed. I get the default value. Am I missing something?

from aws_lambda_powertools import Logger, Tracer
from aws_lambda_powertools.logging import correlation_paths
from aws_lambda_powertools.event_handler.api_ga

[2021-12-10 14:42] heitorlessa commented on #802
@DanLipsitt got it working - Could you please check this PR to double check this is what you'd expect?

https://github.com/awslabs/aws-lambda-powertools-python/pull/885

If you can confirm by EOD we can make it into the next release, otherwise, I'll pause this for a while as everything I've tried didn't work (Unions, TypeVar + Type variables, etc.)

Thank you!

[2021-12-10 15:45] heitorlessa commented on #858
We've made a decision - we'll create a new Processor that handles all 3 (SQS, DynamoDB Stream, Kinesis Data Streams) and have no additional arguments for the `batch_processor` to make it easier to get it right + deprecating things in v2 easier.

Gonna start working on the implementation now, and we should have it ready for the next release early next week

[2021-12-10 17:02] ran-isenberg commented on #858
@heitorlessa  Do you think there should be a Parser equivalent?  I think it can easily to integrate the processing or failed processing that you write here and add it as an extra parameter to the parser.

[2021-12-10 17:13] heitorlessa commented on #858
Could you give an example @ran-isenberg ? I can see how we could have an extra parameter to receive a Pydantic model OR an event source data class (SQS), so the record handler receives a strongly typed record.

----

**Everyone**, this is how the initial UX is looking like now - We'll work on Kinesis/DynamoDB next, but the experience will be a simple toggle e.g., `EventType.DynamoDB`, everything e

[2021-12-10 18:53] michaelbrewer commented on #858
@heitorlessa fitting that into the lightweight event source classes would be neat

[2021-12-10 20:17] gmcrocetti commented on #858
Really liked the decision you guys made. Writing a new processor that injects failed message is the best of both worlds. :rocket:
Just to give another :+1:, adding up event source classes to this new processor will be *super* neat. Can't wait to see the RFC ! :)

[2021-12-10 20:19] gmcrocetti commented on #858
Really liked the decision you guys made. Writing a new processor that injects failed message is the best of both worlds. :rocket:
Just to give another :+1:, adding up event source classes to this new processor will be *super* neat. Can't wait to see the RFC ! :)

[2021-12-10 21:41] ran-isenberg commented on #858
@heitorlessa I think it makes a lot of sense to integrate this utility with any of the 2 input validation tools- parser/event source.
Maybe having 2 decorators -one in the extras package for the parser and one in the regular.
In the end, I think both decorators would be able to call a shared code part once they finish handling the event with either the parser/event source utilities.

I wrote somet

[2021-12-11 05:25] michaelbrewer opened #889 "feat: Port custom resource handler from java to python"
**Is your feature request related to a problem? Please describe.**
- the developer experience for setting up a CFN custom resource in Python is still quiet messy

**Describe the solution you'd like**

In the java powertools we have a very clean implementation we could bring to python https://github.com/awslabs/aws-lambda-powertools-java/pull/560

**Describe alternatives you've considered**

**Addi

[2021-12-11 06:03] heitorlessa commented on #889
The reason we did for Java is that CloudFormation only provides an official
Python Custom Resources library

https://github.com/aws-cloudformation/custom-resource-helper

Was there any issue when using this ^?

On Sat, 11 Dec 2021 at 06:25, Michael Brewer ***@***.***>
wrote:

[2021-12-11 07:31] michaelbrewer commented on #889
Oh, that one is cool :). Is it referenced in the AWS docs?

[2021-12-11 12:52] bryantbiggs opened #890 "Publish layer to Gov Cloud regions"
**Is your feature request related to a problem? Please describe.**
- Consider publishing the layer to the Gov Cloud regions. I checked the [list of regions](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/docs/index.md#lambda-layer) the layer is currently published to but it looks like the Gov Cloud regions are not present.

**Describe the solution you'd like**
- It would be g

[2021-12-11 12:52] bryantbiggs opened #1166 "Publish layer to Gov Cloud regions"
**Is your feature request related to a problem? Please describe.**
- Consider publishing the layer to the Gov Cloud regions. I checked the [list of regions](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/docs/index.md#lambda-layer) the layer is currently published to but it looks like the Gov Cloud regions are not present.

**Describe the solution you'd like**
- It would be g

[2021-12-11 21:12] heitorlessa commented on #884
Hey @rtcnerd, thanks for raising this with us.

Routes are exact matches or regex patterns. This means, that print statement will only execute if an incoming request matches that route "/not-found-error".

There is an issue/PR to add support for handling 404s and the likes.

If there's a particular UX you'd like us to provide please do let us know!

[2021-12-11 21:16] rtcnerd commented on #884
@heitorlessa what is the best way to handle 404 event and send back a custom message?

[2021-12-12 14:01] heitorlessa commented on #858
They've corrected in the docs. The docs that went live as part of the launch had a capital `B`, they have been corrected after this RFC was created ;)

[2021-12-12 14:04] heitorlessa commented on #858
I'll think this through and get @cakepietoast @am29d thoughts too - Atm, I'd prefer to keep them separate (parser to parse & validate, batch to handle batch processing). Integration, however, I'd like Pydantic customers using Parser to be able to pass a subclass of SQS Record, DynamoDB Record, and Kinesis Record, so they can bring their own validations, methods, while having a single place to lear

[2021-12-12 14:05] heitorlessa commented on #858
@gmcrocetti @michaelbrewer integrated event source data classes as the default, and we will optionally support Parser Models for a richer validation experience.

This is how it looks like for data classes now:

[code]

[2021-12-13 16:26] heitorlessa commented on #858
After some Mypy wrestling, this will also include support for Pydantic/Parser - This is how the UX will look like:

[code]

cc @ran-isenberg

[2021-12-13 21:40] whardier opened #893 "Make parameter transforms callable (and retain str capabilities)"
**Is your feature request related to a problem? Please describe.**

Allow for callable transforms to be used (as well as the str "shortcuts").

**Describe the solution you'd like**

Pass something like yaml.loads or load_my_really_cool_serialized_data callable as transform argument toward parameter store fetches.

**Describe alternatives you've considered**

Due to how feature flags works.. we are

[2021-12-13 21:40] whardier opened #1170 "Feature request: Allow non-JSON schemas in Feature flags"
**Is your feature request related to a problem? Please describe.**

Allow for callable transforms to be used (as well as the str "shortcuts").

**Describe the solution you'd like**

Pass something like yaml.loads or load_my_really_cool_serialized_data callable as transform argument toward parameter store fetches.

**Describe alternatives you've considered**

Due to how feature flags works.. we are

[2021-12-13 22:17] VassilisPallas opened #895 "Logger decorator does not accept more arguments than event and context"
**What were you trying to accomplish?**

I'm trying to use the logger in a lambda function that is executed once we deploy it via Terraform. We pass some custom arguments, however, the decorator is not able to handle them.

## Expected Behavior

The expected behaviour should be the decorator to shallow the extra arguments

## Current Behavior

Lambda function is falling with the error `TypeError:

[2021-12-14 07:46] ran-isenberg commented on #858
Amazing, love it!

[2021-12-14 17:32] brysontyrrell commented on #844
@heitorlessa

Use cases are about using the object at runtime without having to reassign the content into another variable reloading the JSON again. I end up falling into the following pattern in my code (API event source) as I know calling `.json_body` is calling `json.loads()` every time.

[code]

`memory constraints for large payloads` - If that is a concern it could be mitigated by making the

[2021-12-14 19:44] michaelbrewer commented on #844
Maybe we can just cache it against the event source class itself. So it will be collected once the function has ended?

[2021-12-14 19:58] heitorlessa commented on #884
Within your Lambda Handler, inspect the response from "app.resolve(event, context)" and see if "statusCode" is 404.

By default, docs suggest to simply "return app.resolve(event, context)".

At least until we provide a more streamlined way like "@app.not_found" and "@app.exception_handler(<AnyException>)"

[2021-12-14 20:44] jakebrinkmann commented on #884
🤔 hmmm, too bad there isn't a way to override the serializer in ApiGatewayResolver for errors

https://github.com/awslabs/aws-lambda-powertools-python/blob/be6e722e3d552c56ef916c87dffeb40e394fe499/aws_lambda_powertools/event_handler/api_gateway.py#L612-L617

[2021-12-15 01:51] michaelbrewer commented on #881
@heitorlessa what should we be returning ?

[2021-12-15 05:57] michaelbrewer opened #899 "RFC: Allow for user defined exception handling in api gw handler"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: (i.e. Tracer, Metrics, Logger, etc.)
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): (Yes/no)
* Approved by: ''
* Reviewed by: ''

## Summary
[summary]: #summary

## Motivation
[motivation]: #motivation

## Proposal
[proposal]: #proposal

**If this feature should be available in

[2021-12-15 06:07] michaelbrewer commented on #899
@heitorlessa - here is an RFC for the exception handling support for API GW. I have an example PR for it as well.

[2021-12-15 08:11] heitorlessa commented on #899
Can we also cover the UX for handling ServiceError like the ones we provide - NotFound, etc?

[2021-12-15 08:12] michaelbrewer commented on #899
currently they would be handled for you. so we need to think of a way to not make this a breaking change.

[2021-12-15 08:18] michaelbrewer commented on #899
Currently is looks like this:

[code]

We could update it to be handled in `_lookup_exception_handler`:

[code]

Then `_lookup_exception_handler` can check if there is a handler and fall back to the standard ones:

[code]

[2021-12-15 10:25] heitorlessa commented on #857
Another one: Idempotency doesn't support serialization of data classes - both input (idempotency key) and return... it could be easily solved by inspecting if it's a dataclass, then using `asdict()`. `asdict()` is infamous for having a performance hit on deeply nested dataclasses, so we'll need to mention in the docs.

[2021-12-16 05:40] heitorlessa commented on #884
There’s a WIP PR for it for the next release, Jake ;-)

On Tue, 14 Dec 2021 at 21:44, Jake Brinkmann ***@***.***>
wrote:

[2021-12-16 14:46] filol commented on #870
@michaelbrewer There is my event from aws, so yes claimsOverrideDetails is null by default

[code]

[2021-12-16 16:43] stevewillard opened #901 "AppSync: Parse "source" and "info" from event as function arguments"
It would be greatly helpful if the `AppSyncResolver` would also parse the `source` (parent resolved field) and also the `info` (graphql query options) from AppSync resolvers.

[2021-12-16 17:08] beck3905 opened #902 "More full examples of the micro function pattern"
**What were you initially searching for in the docs?**

I am new to powertools and have been reading the docs to determine how to integrate it into my existing projects.  My project use the micro function pattern for API Gateway.  All of the API Gateway code examples and discussion are more relevant to the monolith pattern.  There is the discussion of monolith vs micro function, but no actual code

[2021-12-16 17:25] heitorlessa commented on #902
Hey Brian, absolutely, it’s on our radar - I’d like us to provide a SAM CLI
/ Cookiecutter template where you could choose between micro or monolithic
deployment.

Until we get there, you can totally use ApiGatewayResolver even if it’s for
a single route - I personally did that in a project yesterday.

We’re releasing exception handling for any status code and custom exception
for ApiGatewayResolv

[2021-12-16 17:58] beck3905 commented on #902
@heitorlessa Thanks for your response.  Is there a simple way to handle translation of input and output for Api Gateway Proxy events without having to use the whole router?  For a microfunction I don't really need the router capabilities.

[2021-12-16 19:38] michaelbrewer commented on #901
@stevewillard yep, that sounds pretty useful. If you have sample events to look at and we can prototype the developer experience for this.

[2021-12-16 21:34] huonw opened #904 "Log pydantic models as structured JSON, not str(...)"
**Is your feature request related to a problem? Please describe.**

The structured logging/auto-JSON-ification support is great and makes our logs much better, thank you.

We occasionally log a pydantic model directly and this unfortunately doesn't work so well by default, as it uses the models `str`, rather than convert it (recursively) to JSON:

[code]

Output:

[code]

In particular, compare:

[2021-12-16 21:58] huonw opened #905 "Unable to get sub-second timestamps with custom datefmt (e.g. ISO8601)"
**What were you trying to accomplish?**

The structured logging is great, thank you.

We find the `timestamp` field somewhat unexpected, e.g. use of `,` rather than `.` (ignoring device locale), and some might want to follow ISO8601 more strictly and use the `T` date/time separator: `2000-01-02T03:04:05.006+07:08`. (Or even other date/time formatting standards.)

Unfortunately, it seems that it's

[2021-12-17 01:10] nayaverdier opened #906 "DeprecationWarning for distutils in Python 3.10 (will be removed in Python 3.12)"
**What were you trying to accomplish?**

Run tests utilizing aws-lambda-powertools.

## Expected Behavior

No DeprecationWarning to appear.

## Current Behavior

When running tests (specifically using `pytest`) that import `aws_lamdba_powertools`, a `DeprecationWarning` appears.

[code]

## Possible Solution

The only function used out of distutils is `strtobool`, and it is only used in one place,

[2021-12-17 09:16] heitorlessa commented on #902
I'd still advise to use the Event Handler for API Gateway - you'd be surprised by the amount of intricacies on input/output, serialization, 404, CORS (if used), binary (if used).

**For context**: Historically, we created Event Source Data Classes first as most micro functions only needed the Input from API Gateway event and its variations, until more customers started to hit other corners like pa

[2021-12-17 14:22] heitorlessa commented on #857
- [ ] Internal papercut: Improve maintainability of batch processing functional tests (it should be easier to create tests)

[2021-12-17 19:56] heitorlessa commented on #858
Just deployed a stack with staged code and I can happily all of this works, including the undocumented SQS Report Partial Failure.

We'll get to the docs now, and once complete we are ready to release!

**SQS**

![image](https://user-images.githubusercontent.com/3340292/146599033-33c87a19-9d8b-442f-b3dd-52857a29aa0b.png)

**Kinesis**

![image](https://user-images.githubusercontent.com/3340292/1466

[2021-12-17 20:15] michaelbrewer commented on #857
We could already fixes, but definitely fits into this theme:

- [x] https://github.com/awslabs/aws-lambda-powertools-python/pull/869

[2021-12-17 20:28] michaelbrewer commented on #906
It will be tricky to support both 3.6 and 3.12 at the same time

By the time 3.10 runtime is officially launched, python 3.6 would be deprecated?

[2021-12-17 20:31] heitorlessa commented on #881
Return None if we can't decode, and update to Optional[Any].

MyPy used to be okay with Any also meaning a None, but that changed since an Union is safer (Optional[Any] == Union[T, None])

Thanks a lot @michaelbrewer

[2021-12-17 21:07] bb-rrogers commented on #881
Thanks both. The intent was to stir up discussion here but through further reflection I think maybe it's better to keep it as is, I can see positives for and against but will let you guys ultimately decide. I just wanted to log this to figure out the reasoning here.

[2021-12-17 21:35] heitorlessa commented on #881
Np- closing this then. We could spend the effort elsewhere like Idempotency serialisation to support dataclasses and Parser (Pydantic) models

[2021-12-17 21:36] #881 closed

[2021-12-17 21:39] heitorlessa commented on #895
Hey @VassilisPallas if you have the bandwidth, feel free to send a PR for this quick fix and we can include it in the next release ASAP.

Otherwise we can tackle that later

[2021-12-17 21:51] heitorlessa commented on #906
@nayaverdier thanks for raising the issue.

Lambda runtime does not support 3.10 yet hence why this hasn't been actioned.

[2021-12-17 22:10] nayaverdier commented on #906
Would a PR on this be helpful or would it not be considered until 3.10 (or 3.12) is a supported lambda runtime?

[2021-12-18 04:43] michaelbrewer commented on #906
@nayaverdier 3.10 support comes sooner ;)

[2021-12-18 05:31] michaelbrewer commented on #857
@heitorlessa see https://github.com/awslabs/aws-lambda-powertools-python/pull/908

[2021-12-19 03:23] michaelbrewer commented on #844
@heitorlessa @brysontyrrell

i don't think parsing and caching this always would be a big issue, maximum accepted payload would only be [10mb](https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html).  I have created a PR https://github.com/awslabs/aws-lambda-powertools-python/pull/909 which just caches this in the event source, which is only in the scope of the handled event.

[2021-12-19 11:57] ran-isenberg commented on #904
Not related to your suggestion but a general comment:
You should be really careful with full object logging as you might log PII (personal information). I usually just log the most important/identifiable field/fields and not the entire object.

[2021-12-19 18:01] heitorlessa commented on #858
Docs finally done - @michaelbrewer @ran-isenberg could you have a quick pass before we release it tomorrow? All I need to do now is merge and start writing the release notes.

PR: https://github.com/awslabs/aws-lambda-powertools-python/pull/886

Here's what I've changed:

- [x] Updated the docs to reflect the new `BatchProcessor` in favour of `sqs_batch_processor` and `PartialSQSProcessor`
- [x] A

[2021-12-19 18:53] heitorlessa commented on #858
Merged - it'll be out tomorrow with our Christmas release

[2021-12-19 21:15] huonw commented on #904
Yep, definitely something to be careful of. For our full object logging, it's almost always internal utility models for which Pydantic allows convenient manipulation not API/database models (for instance, models parsed from some internal configuration files rather than user data).

[2021-12-20 06:55] heitorlessa commented on #884
Done - it'll be available as part of today's release. Both not found and any exception you want to handle

[code]

[2021-12-20 06:59] heitorlessa commented on #834
It'll be available as part of today's release!

[2021-12-20 07:12] heitorlessa commented on #895
done @VassilisPallas - it'll be available in today's release :)

[2021-12-20 07:23] heitorlessa commented on #889
Not entirely sure, maybe not as it's for Python only? Hit the feedback button on CloudFormation docs to help them prioritize it.

Meanwhile, I'm just gonna add an external link in the docs so people are aware of it.

[2021-12-20 13:55] #870 closed

[2021-12-20 13:56] heitorlessa commented on #855
Now released as part of 1.23 version - thank you again @dispyfree for flagging this

[2021-12-20 13:56] heitorlessa commented on #849
Now released as part of 1.23 version

[2021-12-20 13:56] #849 closed

[2021-12-20 13:57] heitorlessa commented on #837
Now released as part of 1.23 version

[2021-12-20 13:57] #837 closed

[2021-12-20 13:58] heitorlessa commented on #802
Now released as part of 1.23 version

[2021-12-20 13:58] #802 closed

[2021-12-20 13:59] heitorlessa commented on #906
I'd love a PR! I would take any help I can get ;-)

[2021-12-20 14:02] heitorlessa commented on #905
Hey @huonw perhaps this is not a bug unless this is supported in the standard logging library.

Regardless, I'd like to provide a better way to handle this as I kept the standard time format used by std logging.

I'd appreciate any suggestions you might have on how we can make this effortless -- changing the format now will break customers, but it should be easier to support other formats and cust

[2021-12-20 14:59] DanyC97 opened #917 "Docs: Admonitions consitency"
**What were you initially searching for in the docs?**

While i was browsing the [docs](https://awslabs.github.io/aws-lambda-powertools-python/develop/core/event_handler/api_gateway/#http-methods), i've noticed something is not right with the format

![image](https://user-images.githubusercontent.com/7383422/146782148-a6bde14b-f734-4ce2-839a-848c5b48f08f.png)

and when i started to work on a PR, i

[2021-12-20 15:33] heitorlessa commented on #917
I like them!!! Please go ahead and we can make some small tweaks as part of the PR :) Thank you so much @DanyC97 !

[2021-12-20 23:30] huonw commented on #905
Yeah, maybe it's a feature request. 😅

I could imagine that `datetime`'s strftime directives are a superset of `time`'s, and it'd be... weird if someone was specifying `%f` and expecting to get `f` as output. However, a breaking change is definitely suboptimal, I've proposed an idea in #920 that adds a new (mutually exclusive) argument `datetime_fmt` so that existing users of `datefmt` aren't affe

[2021-12-21 06:46] heitorlessa commented on #844
It's hard to tell as from a library perspective we don't know their use case -- if anyone is using Pandas they might be more constrained on how much memory they can spare. I'd be up for keeping a single record at a time so we don't hit edge cases we're not aware yet, and we keep the UX simple (as-is) while not taking additional maintenance work for later.

That said, it's a great enhancement.

[2021-12-21 14:23] heitorlessa commented on #901
@stevewillard bumping to hear what a good experience would look like for you and whether you have a sample event that accompanies that -- we can certainly do it

[2021-12-22 06:27] michaelbrewer commented on #857
@heitorlessa - these 2 are ready to be reviewed and merged

- https://github.com/awslabs/aws-lambda-powertools-python/pull/910
- https://github.com/awslabs/aws-lambda-powertools-python/pull/908

[2021-12-22 12:45] heitorlessa commented on #844
Merged! It'll be available in 1.24.0 (hopefully before end of the year, otherwise early Jan)

[2021-12-22 18:36] RobinVds opened #924 "Support dependency injection in lambda parameters"
**Is your feature request related to a problem? Please describe.**
I'm injecting my dependencies in my lambda functions to be able to easily test my functions.

[code]

**Describe the solution you'd like**
Would it be possible to just allow more parameters in the decorator function than only event and context? Just pass all the parameters that are included in the lambda function call.

**Describe

[2021-12-22 19:16] heitorlessa commented on #924
Hey @RobinVds i merged that one today - it should be in the next release before the end of the year.

That said, there are better ways to test it - I often use dependency injection with ports and adapters so the handler becomes just an entry point.

I can post an example later and I've been meaning to update our quick start template to demonstrate how easy it becomes for unit and Integ test

[2021-12-22 19:39] RobinVds commented on #924
Sounds interesting, looking forward to seeing how you implement that! :+1:

[2021-12-23 22:09] michaelbrewer commented on #857
Sorry @heitorlessa  a papercut fix caused another paper cut :P

- [ ] - https://github.com/awslabs/aws-lambda-powertools-python/pull/926

[2021-12-26 17:43] sergiors opened #928 "Null type becomes BOOL"
**Is your feature request related to a problem? Please describe.**

I did a stream to copy dynamodb to elasticsearch, I used the object `DynamoDBStreamEvent`, until that okey,
but when I try get the values, the null type becomes a boolean type.

**Describe the solution you'd like**

I read the [source-code](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/

[2021-12-27 07:05] michaelbrewer commented on #928
Been a while since i did this, but if this is for deserialization, then `"NULL": true` would map to Python `None`.

I will double check @heitorlessa

[2021-12-27 18:01] michaelbrewer commented on #928
@sergiors @heitorlessa
Ok i made a PR to fix this (https://github.com/awslabs/aws-lambda-powertools-python/pull/929). It would be a breaking change (_if you where expecting `null_value` to return a boolean_), however this was the wrong behavior.

FYI, `get_value` is a convenient way to get the value out.

[2021-12-27 20:20] RobinVds commented on #924
@heitorlessa Would it be possible to post the example? Thanks!

[2021-12-28 19:12] heitorlessa commented on #924
See if you have access to this: https://github.com/heitorlessa/aws-serverless-airline-booking/blob/refactor%2Floyalty-runtime/src/backend/loyalty/src/loyalty/aggregate/app.py#L17

* Storage Port: https://github.com/heitorlessa/aws-serverless-airline-booking/blob/refactor%2Floyalty-runtime/src/backend/loyalty/src/loyalty/shared/storage.py#L41
* Adapter for unit tests: https://github.com/heitorlessa

[2021-12-29 09:30] heitorlessa commented on #890
Thanks a lot for raising this @bryantbiggs - I'm moving to the Roadmap under Backlog as it's something we want to do, but require additional permissions internally given its purpose and regulations.

[2021-12-29 09:49] heitorlessa commented on #845
I'm moving this to our official roadmap and provide some updates for posterity.

Lambda team confirmed runtime SDKs are being updated a few times a year, and the Runtime docs are being updated to reflect the latest pinned versions: https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html

This gives us confidence it's no longer 6-12 months outdated as we experienced in the past. It also m

[2021-12-29 10:01] heitorlessa commented on #904
hey @huonw I thought about this long and hard even for Dataclasses, but this would decrease security posture & compliance like Well-Architected, NIST and others -- while I trust you'll do this carefully we can't guarantee others will be due diligent when it comes to defensive programming and data leaking.

`json_default` is the way go and the reason we exposed it, so you can make an explicit decis

[2021-12-29 10:01] #904 closed

[2021-12-30 10:51] DanyC97 commented on #510
Being curious (as is a new area for me hence keen to learn), once you have the data what sort of metrics are you looking into it apart from a count of how many unique users are viewing the pages? And are the metrics used to drive insights into something useful for the project?

[2021-12-30 12:48] RobinVds commented on #924
Thanks for the info! If you could, please ping me when you are finished with the doc :)

[2021-12-30 22:01] #928 closed

[2021-12-31 17:13] heitorlessa commented on #905
Waiting for last CI checks and releasing it ;-)

Changed the name slightly so it's easier for newcomers to know what to search

[code]

[2022-01-03 08:50] heitorlessa commented on #917
Hey @DanyC97 thank you again **so much** for the help here, docs is so crucial to us and it's hard to get quality contributions like these.

Now available in the latest docs!

[2022-01-03 08:50] #917 closed

[2022-01-03 08:50] heitorlessa commented on #905
Hey @huonw this is available in 1.24.0 release - thank you so much again for helping out :)

[2022-01-03 08:50] #905 closed

[2022-01-03 09:09] heitorlessa commented on #924
hey @RobinVds this is available now in the 1.24 release (since Dec 31st tbh ;)). I've published the talk as a PDF covering that code snippet above - slide 46 and onward for the Ports & Adapters alone: https://www.slideshare.net/HeitorLessa1/aws-community-day-ireland-refactoring-a-serverless-app

This feature request is also now available in the 1.24 release - thanks a lot for raising that with us!

[2022-01-03 09:09] #924 closed

[2022-01-04 22:58] michaelbrewer commented on #857
Some typos and code clean up for data classes:

- [ ] - https://github.com/awslabs/aws-lambda-powertools-python/pull/937

[2022-01-07 07:15] heitorlessa commented on #857
I'm locking this issue and will split them up into individual issues. We've accidentally got sidetracked in not tackling the actual top papercuts and started addressing new ones.

[2022-01-07 19:09] michaelbrewer commented on #509
@heitorlessa - do you think this is still necessary? These tests are extremely fast, so it is not for performance reasons. Going forward for new types of event sources, i will make sure to split out the tests. And if there is any major refactoring or changes to the existing ones.

[2022-01-09 21:44] instil-richard opened #942 "bug in fastjsonschema 2.15.3"
Just an FYI for you, fastjsonschema 2.15.3 was just released with a breaking bug, see https://github.com/horejsek/python-fastjsonschema/issues/137

[2022-01-11 05:44] kishaningithub opened #946 "Documentation on using custom date format for logging"
**What were you initially searching for in the docs?**
I was searching for a way to use ISO8601 especially the RFC3339 variant while printing the event time stamps. Then i found this discussion link https://github.com/awslabs/aws-lambda-powertools-python/issues/905#issuecomment-1003420845

**Is this related to an existing part of the documentation? Please share a link**
https://awslabs.github.io/a

[2022-01-11 06:53] kishaningithub opened #947 "Logger: log_event does not serialize classes"
**What were you trying to accomplish?**
I was trying to log the received S3 event. Please note that i am using the data classes present in this library for reading the event

[code]

## Expected Behavior

The logged event should have all the information from the S3 event

## Current Behavior

This is the output i get in the log (trimmed)

[code]

It looks to be that it was unable to properly repre

[2022-01-11 08:36] heitorlessa commented on #946
Hey @kishaningithub - have you seen this part of the docs? If so, was it helpful?

https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#overriding-log-records

We should totally make a dedicated section to esse discovering either way - thank you so much for helping us improve the docs!

[2022-01-11 10:03] kishaningithub commented on #946
@heitorlessa Thanks for pointing me to this section of the documentation. Originally I had skipped this section (viz "Migrating from other loggers") because i was creating a new project from scratch. This section is definitely useful :-)

Given RFC3339 is such a common thing now, for ease of use i am also thinking why not create a helper method which returns the `datefmt` string for this format. T

[2022-01-11 14:00] heitorlessa commented on #946
Great idea! Would you like to contribute it as a static method within
Logger?

Source class:
https://github.com/awslabs/aws-lambda-powertools-python/blob/3e4e1abaebea360c01752726b62af8b805bbe3ac/aws_lambda_powertools/logging/logger.py#L48

I'd be more than happy to review/guide. If you can't, we can tackle after
reviewing the new tutorial docs section and MyPy fixes

On Tue, 11 Jan 2022 at 11:03,

[2022-01-11 17:30] heitorlessa commented on #942
Thanks @instil-richard - subscribed to the upstream issue to hear steps to reproduce and impact before pinning a specific release from our side.

[2022-01-12 04:15] kishaningithub commented on #946
I will do it @heitorlessa Thanks for your support

[2022-01-12 12:14] BVMiko opened #953 "Feature request: Add support for middlewares in event handler"
**Is your feature request related to a problem? Please describe.**
Event handlers (specifically ApiGatewayResolver) are incompatible with middleware decorators.  The `lambda_handler_decorator` is almost exactly what would be needed, except for the function signature.

**Describe the solution you'd like**
I'd like to be able to add middleware when using a router, and for the middleware to have acce

[2022-01-13 20:27] michaelbrewer commented on #947
Thanks @kishaningithub . I will take a look at that. We had a related fix for idempotency.

For now inverting the decorators:

[code]

[2022-01-14 12:17] villekr opened #957 "Make boto3 (and botocore) dependency implicit"
aws-lambda-powertools naturally depends on boto3 (and thus botocore) and dependency is defined in pyproject.toml. However this explicit dependency means that when building lambda layer package out of my own project I'll end up having boto3 and botocore in layer zip package. If I have only aws-lambda-powertools as a dependency then lambda layer zip will end up roughly 11.9MB. If I remove boto3 and

[2022-01-14 14:19] heitorlessa commented on #957
Hi @villekr - thank you for opening an issue with us, this is being explored in the roadmap and it has more details on why it's not that simple (e.g., X-Ray SDK depends on it, and SDKs are updated every quarter, 6 months or on a yearly basis): https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/61

We're close to a solution, and v2 will be a modularized Powertools with AWS SDK being an

[2022-01-14 14:20] #957 closed

[2022-01-14 14:28] villekr commented on #957
Thanks for the reply. Didn't know to look for an existing item in backlog. But excellent to hear that modularized v2 is coming!

[2022-01-15 21:25] heitorlessa commented on #953
Hey @BVMiko - thanks for opening this feature request.

Perhaps a generic middleware factory decorator for any Python function with an arbitrary number of args, kwargs?

That would help make it more explicit so we have one for Lambda and for any function - it also makes it easier to preserve types and function signature (ParamSpec is only supported in later Python versions)

It's something I wante

[2022-01-20 01:51] kimberlyamandalu opened #966 "Batch Processor Bug - Batch Item Failure Report does not include all message IDs that failed processing"
When returning the `batchItemFailures` dictionary, I think it is supposed to return a list of dictionaries. In my understanding, this is how the `batchItemFailures` object must look like:
[code]

I checked out the documentation here: https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#services-sqs-batchfailurereporting

While testing I noticed that the batch processor cleanup was always ret

[2022-01-20 06:40] heitorlessa commented on #966
🤦 thank you so so so much @kimberlyamandalu - This is a critical bug that it's hard to believe it passed multiple reviews and our tests were naive on that too.

Changing to a list within that exp comprehension would cause the same bug, because we have a static dict key `itemIdentifier` - last one would win, Python would discard the rest.

Fix: https://github.com/awslabs/aws-lambda-powertools-pytho

[2022-01-20 07:08] #966 closed

[2022-01-20 13:36] heitorlessa commented on #947
hey @kishaningithub thanks for raising that. The main reason we didn't do this is that these are untrusted strings. We weren't certain of the potential attack vectors this could cause (similar but not the same to Log4j).

Besides the fix of inverting the decorator, I'd be cautious on doing this in production as you might dump sensitive data into the logs.

All that being said, you can bring your o

[2022-01-23 18:03] filol opened #972 "API Gateway : Debug mode - print in multiple lines instead of a single one"
**What were you trying to accomplish?**
When I activate the debug mode for API Gateaway (https://awslabs.github.io/aws-lambda-powertools-python/1.24.2/core/event_handler/api_gateway/#debug-mode) it's spam my cloudwatch log. Instead havings a single entry with the object, it's creating a single entry for each line of input object.

## Expected Behavior
One line
![image](https://user-images.githubus

[2022-01-24 07:18] heitorlessa commented on #972
Hey @filol thanks a lot for raising this - first time I'm seeing a debug entry like this, since we're sending all of this as a string to avoid this already.

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/event_handler/api_gateway.py#L499

Unsure whether CloudWatch is interpreting longer strings any differently, but we'll setup a dummy project to try rep

[2022-01-24 07:51] heitorlessa commented on #761
Dumping it here for posterity.

None of the techniques I tried worked [due to being late-bound:](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/event_handler/api_gateway.py#L232) Dynamically inject properties, Create BaseProxyEvent at runtime, Use generic to propagate, etc. The closest I've got working is using an Union of all Proxy Event types -- auto-c

[2022-01-24 08:47] filol commented on #972
Hello @heitorlessa I also want to specify that if I print the event manually via logger.info at the beginning of my function, it is displayed on one and the same line

[2022-01-25 08:49] heitorlessa commented on #901
@stevewillard following up on this feature request on whether you can expand on what a good UX would look like

[2022-01-25 08:52] heitorlessa commented on #972
I'll try to reproduce it on Thursday. I suspect despite being a single string, `print` is adding a new line by default, and CloudWatch Logs is interpreting it differently - if that's the case, we can solve it easily

[2022-01-25 11:06] theNoobExpert commented on #953
@heitorlessa Here is what would make sense for middleware :
Defining middleware :

[code]

Registering middleware :

app.register_middleware(auth_middleware)

[2022-01-25 11:52] heitorlessa commented on #953
Thanks a lot @karanhere3962 -- that's similar to FastAPI.

As this would run for every request, what's the UX you have in mind for a middleware that only runs on a given path?

Example:

- Register as part of route definition: `@app.get("/path", middlewares=[]`
- Register anywhere else: `app.include_middleware(middleware, route="/path")`

The details are important so we keep maintenance and extens

[2022-01-25 16:16] karanhere3962 commented on #953
Both the options that you have given seem great.

[2022-01-26 12:33] heitorlessa commented on #979
Ref https://github.com/GrahamDumpleton/wrapt/issues/198 as pointed out by @eldritchideen, since we depend on X-Ray SDK this won't likely be possible with SAM CLI (maybe via Makefile but suboptimal), but a custom Lambda Layer.

[2022-01-26 20:42] eldritchideen commented on #979
I have also commented on what appears to be the root cause in the Pip builder that SAM uses to package the dependencies here. https://github.com/aws/aws-lambda-builders/issues/302

The wheel for wrapt gets built correctly, however as the file name has "linux" rather than "manylinux" it is rejected as not compatible.

[2022-01-27 10:35] eldritchideen commented on #979
This example repo shows how to work around the issue of Arm dependencies that require sdist builds with C extensions failing by packaging them in a layer.
https://github.com/eldritchideen/arm-python-lambda-example

[2022-01-29 04:34] michaelbrewer commented on #972
i will have a look too

[2022-01-29 04:37] michaelbrewer commented on #947
@heitorlessa - another accurance of this issue from slack (https://awsdevelopers.slack.com/archives/C01A6KK4UFK/p1643416059170079)

[2022-01-29 16:07] michaelbrewer opened #985 "data-classes: AWS Secrets Manager Rotation"
**Is your feature request related to a problem? Please describe.**

Building out a support password rotation can be time consuming and involving alot of boiler plate code.

**Describe the solution you'd like**

Build out an event source data class for `AWS Secrets Manager Rotation` and including some handler logic

**Describe alternatives you've considered**

- Using the templates provided here fo

[2022-01-31 04:26] michaelbrewer commented on #510
@DanyC97 - i think it helps see which specific utilities people are interested in.

[2022-01-31 09:21] heitorlessa commented on #946
hey @kishaningithub following up on this :) An efficient and extensible way to do this could be as constants. That way, it could be easier to document, keep Logger clean, allow reusing for any other loggers in the future, and allow future contributions with variations of it.

e.g. pseudo code, doesn't have to be this way

**app.py**

[code]

**aws_lambda_powertools/logging/date_formats.py**

[code

[2022-01-31 14:01] heitorlessa commented on #947
Updating here as @michaelbrewer promptly created a PR to only log IF they're an instance of our built-in event source data classes.

I'm fine with this compromise since the only vector here would be a customer to override our data classes `__repr__`. Any other classes should be best dealt via the serializer option in the Formatter.

[2022-01-31 15:42] heitorlessa commented on #972
## Diagnosis

Confirmed. It's the extra indentation added for local debugging purposes (SAM CLI, local tests, Postman) but breaks in the Console.

https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/event_handler/api_gateway.py#L451:L451

The extra indentation adds a newline for each key which CloudWatch Logs Console interprets it differently compared to `log

[2022-01-31 16:18] heitorlessa commented on #972
Done, should be available in the next release.

[2022-01-31 20:10] stevewillard commented on #901
@heitorlessa Hi! Sorry for the slow follow up.

I actually don't have a good idea for how this would translate to a feature without a major API change. I'm actually quite inexperience with Python, so it's also entirely likely I'm missing something obvious. At the moment I'm doing:
[code]

Which is actually pretty effective.

In the past when I have used `apollo-server` (https://www.npmjs.com/packa

[2022-01-31 20:13] heitorlessa commented on #901
Np at all! Could you share a sample event and schema to help us visualize the problem better?

We can figure out a fluent API later. I just wanna make sure we don't use a hello world event that will lead to a subpar experience for you later

[2022-02-02 02:52] michaelbrewer commented on #761
DX from https://github.com/awslabs/aws-lambda-powertools-python/pull/978

---

Example of an Application Load Balancer handler (ALBResolver) where current_event can only be an ALBEvent

[code]

---

Example of an REST API handler (APIGatewayRestResolver) where current_event can only be an APIGatewayProxyEvent

[code]
---

Example of an Http API handler (APIGatewayHttpResolver) where current_event

[2022-02-02 13:02] Dunedan opened #991 "RFC: Support thread-local keys for logger"
## Key information

* RFC PR:
* Related issue(s), if known:
* Area: Logger
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-python/#tenets): Yes
* Approved by:
* Reviewed by:

## Summary
[summary]: #summary

Provide the ability to append thread-local keys to a logger which only get included in log records logged in the thread they got added to.

## Motivation
[motivation]: #motivati

[2022-02-03 04:12] michaelbrewer opened #993 "tests: metrics tests fail when `PYTHONWARNINGS="ignore"`"
**What were you trying to accomplish?**

Run `make test` when `PYTHONWARNINGS="ignore"`

## Expected Behavior

Test should pass

## Current Behavior

[code]

## Possible Solution

Temp set `warnings.simplefilter("default")`

- PR: https://github.com/awslabs/aws-lambda-powertools-python/pull/994

## Steps to Reproduce (for bugs)
1. `export PYTHONWARNINGS="ignore"`
2. `make test`

## Environment

*

[2022-02-03 10:57] #761 closed

[2022-02-03 11:02] heitorlessa commented on #993
@michaelbrewer could you provide more details about this issue before we merge? How did you run into it since this flag isn't set by default?

Looking at the docs, it seems we should be doing this for all utilities not just metrics: https://docs.python.org/3/library/warnings.html#overriding-the-default-filter

[2022-02-03 12:48] heitorlessa commented on #991
Wow, what a great write up @Dunedan !! Thank you! I really like the first proposal - this makes it explicit whoever is reading the code, it doesn't incur into an additional unbounded logger, etc.

I have a few questions:

* **Would you be able to contribute so we fast track this?**
	* I can help with anything you might need e.g. docs, review, additional code, prioritize it for the next release, et

[2022-02-03 13:46] heitorlessa opened #995 "Create a new section for community resources"
**What were you initially searching for in the docs?**

A list of non-AWS examples, blog posts, tutorials, and guides about Lambda Powertools.

**Is this related to an existing part of the documentation? Please share a link**

No.

**Describe how we could make it clearer**

Create a new section grouping best community resources that other customers can learn from. These are particular helpful beca

[2022-02-03 13:56] ran-isenberg commented on #995
we have 2 webinars together - one about the parser and the other about the feature flags. I also have blogs posts about them both and very soon 2 blogs about the tracer/logger.

[2022-02-03 18:35] ran-isenberg commented on #995
feature flags blog: https://medium.com/cyberark-engineering/aws-feature-flags-made-simpler-and-smarter-f78d4b4ca933
feature flags webinar on aws twitch:  https://www.twitch.tv/aws/video/1174133534
parser blog: https://medium.com/cyberark-engineering/aws-lambda-event-validation-in-python-now-with-powertools-431852ac7caa

parser webinar: https://www.twitch.tv/videos/1034744364

[2022-02-03 19:42] michaelbrewer commented on #993
i was trying to disabled some setup issues with poetry on my m1 mac and it prints out warnings.

[2022-02-03 19:46] michaelbrewer commented on #993
@heitorlessa this is based on pythons recommended way for testing warnings:

[code]

[2022-02-04 07:35] huonw opened #998 "Cannot import batch with pydantic already imported, without email-validator"
**What were you trying to accomplish?**

We're trying to use the batch utility to process SQS records. We're using Pydantic for various things, including the messages pushed into SQS. If we've imported pydantic before importing `aws_lambda_powertools.utilities.batch` we hit an exception due to `email-validator` not being installed.

We're not using pydantic's `EmailStr`, and so haven't installed `

[2022-02-04 07:55] heitorlessa commented on #998
How critical is this for you?

Can we finish other papercuts to make our upcoming release then work on this right after?

Because we assume customers will install our "pydantic" extra package which includes email-validator, we didn't foresee the latter lib impact since Pydantic is a big outlier already.

@ran-isenberg Question: How critical is it to have email-validator vs EmailStr given it's a SE

[2022-02-04 08:10] ran-isenberg commented on #998
I think it's great to have the email validation but it's not a must. I mean, if you are using a parser, these are the areas it excels.
I dont see a big issue with adding the email validator (done it myslef), after all pydantic is not so small anyways, but that's just me.
One option is to extend the SesModel and change emailstr to str or we can provide a non emailstr version of the model too. but t

[2022-02-04 10:04] houbie opened #999 "copy_config_to_registered_loggers does not exclude source_logger by default"
When calling `copy_config_to_registered_loggers(source_logger)` without explicit exclude, the  source_logger is not correctly excluded.

## Expected Behavior
The source_logger is excluded

## Current Behavior
The source_logger name is split in letters that get all excluded

## Solution
the set constructor in [aws_lambda_powertools/logging/utils.py](https://github.com/awslabs/aws-lambda-powertools-

[2022-02-04 11:38] heitorlessa commented on #999
Thanks a lot for spotting this pesky bug @houbie!

Would you be able to create a quick PR fix for that? We can fast track this for the upcoming release

Cc @mploski

[2022-02-04 11:44] mploski commented on #999
@houbie  Thanks for spotting this one!. I guess it would be great to write unit-test against this also to ensure we won't have regressed in the future.

[2022-02-04 13:51] heitorlessa commented on #999
Just merged and should be out early next week the latest with many other papercuts addressed - thank you so much @houbie !

Even more so being your first contribution :) 🎉

[2022-02-04 16:44] #993 closed

[2022-02-04 21:49] huonw commented on #998
Not critical: totally happy for you to prioritise as you see fit. As you say, this is "only" 2MB on top of the large pydantic package (and we happen to use a bunch of other large ones too).

[2022-02-04 22:46] elthrasher commented on #995
[First Look at Lambda Powertools TypeScript](https://dev.to/aws-builders/first-look-at-lambda-powertools-typescript-2k3p)

[2022-02-05 10:55] straygar opened #1006 "Support multiple Allowed Origins in CORS"
**Is your feature request related to a problem? Please describe.**
In some cases, we would like to support multiple origins in CORS when defining an API Gateway/ALB event handler (e.g. support calling an API from "localhost" in dev, or webapps living in different origins calling the same API).

**Describe the solution you'd like**
Allow providing a list of origins `CORSConfig(allow_origins=[])` ([

[2022-02-07 01:54] michaelbrewer commented on #1006
This will rely on using the `origin` to determine which one of the possible `allow_origins` to use. So a little thought will be needed in how to implement this, this article covers this fairly well: https://crashtest-security.com/multiple-values-access-control-allow-origin/

FYI @heitorlessa

[2022-02-07 08:12] Dunedan commented on #991
Sorry, I'm afraid don't have enough time for that right now. I'd be happy to provide feedback though.

Thread local storage sounds good. That's also how `structlog` handles it: https://github.com/hynek/structlog/blob/30736d643c64308d3d00953c22a8f3d1e4e39f1f/src/structlog/threadlocal.py#L176

For me that'd fit my expectation: Whenever I add something to the global context, it'll appear in log recor

[2022-02-07 08:12] heitorlessa commented on #1006
Hey @straygar thanks a lot for raising this idea with us!

I'd be careful on relying on `Origin` to make that decision for two reasons: **1/** It's an attack vector as this can be easily spoofed, and **2/** API Gateway doesn't support multiple origins by default, which means you need to create a `OPTIONS` method for **each path of your API definition** pointing to your Lambda function handling it.

[2022-02-07 08:17] heitorlessa commented on #985
Thanks @michaelbrewer !! Is this perhaps best suited for a generic event handler where you can use `Step` for routing?

[code]

[2022-02-07 09:42] ran-isenberg commented on #995
Logger: https://isenberg-ran.medium.com/aws-lambda-cookbook-elevate-your-handlers-code-part-1-bc160a10679a

[2022-02-07 10:56] michaelbrewer commented on #1006
Optimal CORS configuration is always tricky. Classical solutions are a plenty via nginx configurations at allow for a set of regex origins.

Not sure why there is a gap here for API GW. But it sounds like spinning up multiple endpoints is what is recommended.

Better to be safe.

[2022-02-07 12:49] heitorlessa opened #1009 "Papercuts priorization before we consider v2"
Original: #857. Locked to ensure we don't lose focus a second time.

List of papercuts we're currently prioritizing based on their impact. Once these are completed, we will start drafting what v2 looks like as we aim towards modularization.

## High impact

- [ ] [**Code quality**: Integ test with external dependencies](https://github.com/awslabs/aws-lambda-powertools-python/issues/1251) #1226
- [

[2022-02-07 12:50] #857 closed

[2022-02-07 15:39] michaelbrewer commented on #1006
@heitorlessa this is what the linked article does. I am just saying we could also do it in behave of the client.

[2022-02-07 18:09] michaelbrewer commented on #1006
@heitorlessa NOTE using `_cors` may result in breaking changes in the future. Also not sure what the exploit would be of return the main `allow_origin` as the default over `UnauthorizedError`. I am not sure what the abuse would be?

[2022-02-07 19:16] michaelbrewer commented on #1006
Just for comment i put up a PR:

[code]

[2022-02-08 03:35] michaelbrewer opened #1012 "feat(data_classes): add batch response util"
**Is your feature request related to a problem? Please describe.**

Simple util to build responses for SQS/Kensis and Dynamodb Streams

**Describe the solution you'd like**

Support what is inline with the existing AWS Lambda docs

[code]

**Describe alternatives you've considered**

Using the batch processing tools

**Additional context**

[2022-02-08 03:36] michaelbrewer opened #1013 "docs: fix examples in tutorial and api gw handler"
**What were you initially searching for in the docs?**

- Working code examples.

**Is this related to an existing part of the documentation? Please share a link**

- api gw handler (https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/)
- appsync handler (https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/appsync/)
- tutorials

[2022-02-08 03:49] michaelbrewer opened #1014 "feat(data-classes): Add Lex and Lex V2 dataclasses"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-02-08 03:57] michaelbrewer commented on #985
@heitorlessa - Powertools should at least include the data classes like other runtimes (https://github.com/aws/aws-lambda-java-libs/blob/master/aws-lambda-java-events/src/main/java/com/amazonaws/services/lambda/runtime/events/SecretsManagerRotationEvent.java)

[2022-02-08 03:59] #979 closed

[2022-02-08 20:57] walmsles commented on #995
Here's my latest addition - AWS Lambda Powertools for Python Workshop

https://github.com/walmsles/lambda-powertools-coding-workshop

It's a Live code-along workshop I am presenting  at Melbourne AWS Programming and Tools Meetup in about 12 hours 🙂

[2022-02-08 23:44] whardier opened #1016 "powertools logger set as child has no append_keys method"
Chicken/egg problem with parent logger needing to be instantiated before child logger is able to utilize common methods like append_keys.

**What were you trying to accomplish?**

## Expected Behavior
`append_keys` provides structured information that the powertools logger unions into an output.

## Current Behavior
A logger can be set up with child=True but end up with a different method interfac

[2022-02-09 08:53] heitorlessa commented on #1016
hey @whardier - thanks for flagging it. That's indeed expected. Are you calling `append_keys()` in the global namespace elsewhere?

If you must do that, then it's best to omit `child=True` and simply use `logger = Logger()` -- Just like in Python standard logging, it'll reuse the same logger. As long as `POWERTOOLS_SERVICE_NAME` is set OR explicitly set in both places via `service` param (logger =

[2022-02-09 16:37] heitorlessa commented on #1013
now available as part of 1.25.0 release

[2022-02-09 16:37] #1013 closed

[2022-02-09 21:20] michaelbrewer commented on #985
@heitorlessa  initial PR is match simpler goal of :

- Add a data class
- Add sample json events
- Add to the docs

Future PRs can include event handlers

[2022-02-10 00:39] joel-aws opened #1018 "Fix Documentation: Event Handler REST API CORS example"
In the example for [CORS](https://awslabs.github.io/aws-lambda-powertools-python/develop/core/event_handler/api_gateway/#cors), line 3 should read:

[code]

Or `CORSConfig` should be added to `__init__.py`.

[2022-02-10 17:56] joel-aws commented on #1018
Thank you for your awesome work, @michaelbrewer; I just shared some of your latest changes on 1.25 with a colleague and we were stoked to use it!

[2022-02-10 17:56] #1018 closed

[2022-02-10 23:33] huonw opened #1021 "batch: different behaviour for all-items-failed in cold start vs. warm start"
We're attempting to use `aws_lambda_powertools.utilities.batch` to handle retries etc. for an SQS queue. We're observing differences between a cold lambda and a warm lambda (i.e. previously processed an SQS message) for a batch containing a single failing message:

- cold lambda: we get the `BatchProcessingError: All records failed processing. 1 individual errors loggedseparately below.` exception

[2022-02-11 19:34] michaelbrewer commented on #1021
@huonw - a possible fix (https://github.com/awslabs/aws-lambda-powertools-python/pull/1022)

[2022-02-13 06:01] michaelbrewer opened #1025 "feat(data-classes): fix SES `date` field typing and add missing fields"
**What were you trying to accomplish?**

Use SESEvent with S3

- Related docs: https://docs.aws.amazon.com/ses/latest/dg/receiving-email-notifications-examples.html#receiving-email-notifications-examples-alert
- Example event: https://github.com/aws/aws-lambda-go/blob/main/events/testdata/ses-lambda-event.json
- types/aws-lambda - https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50031
- htt

[2022-02-14 03:54] michaelbrewer opened #1028 "feat(data-classes): Add workMailEvent"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-02-14 04:03] michaelbrewer opened #1029 "test: Create a test factory module"
**Is your feature request related to a problem? Please describe.**

A simple way to generate test fixtures

**Describe the solution you'd like**

Ability to generate events for different triggers for test fixtures

**Describe alternatives you've considered**

AWS Sam CLI can generate events, that can be saved to the file system. But ideally this should be done on demand. Also Sam does not support

[2022-02-14 06:00] walmsles commented on #995
..... and the recording of the AWS Programming and Tools Meetup :-).

https://www.youtube.com/watch?v=N1r7J3Xztsc

[2022-02-14 08:17] heitorlessa commented on #1021
Uh oh, that's definitely a critical bug caused by the many refactorings when working on the doc - thank you @michaelbrewer for the fix!

@huonw Gonna work on this now before meetings start so we can have this emergency fix released.

[2022-02-14 08:20] #1021 closed

[2022-02-21 08:40] heitorlessa commented on #1016
hey @whardier following up to remind you to share that snippet you added on Slack about the workaround when no handlers are set. This will help us to track this and reserve time to test for potential hierarchy bugs -- if we don't find any, we should incorporate into the source code :)

[2022-02-21 08:49] heitorlessa commented on #824
Forgot to add the correct label to auto-close two releases ago ;) Thanks again @whardier for reporting it and by kicking off the initial fix that @mploski completed.

[2022-02-21 08:49] #824 closed

[2022-02-21 19:18] whardier commented on #1016
Current WIP and some context surrounding our subclass of Logger:

See area where child is tested and set to false.

[code]

[2022-02-22 07:34] heitorlessa commented on #1038
@n2N8Z and everyone - We have recently found a better way to solve this using an internal no-op extension.

POC below - This allows us to receive a `SIGTERM` in a background thread to do any cleanup, like changing the status of the idempotency data record -- we let it takes its course if we don't receive a `SIGTERM` signal.

https://gist.github.com/heitorlessa/4aad06c39a1d520ff8c42adc72b0bcd5

[2022-02-23 16:43] iapostol-69 opened #1109 "sam build instruction to build examples from the powertools ' tutorial fails"
**Runtime:**
Python (maybe in other runtimes too - not tested)

**Is your feature request related to a problem? Please describe**
When I tried to run the powertools examples on my Windows 10 pc, the instruction *sam build* would fail with some obscure message. As it turns out, this is a 'known issue' with sam - unrelated to powertools -, you need to run *sam build --use-container* and the build wi

[2022-02-24 19:06] hooverdc opened #1040 "Feature request: utility function to get multiple parameters by name instead of path"
**Is your feature request related to a problem? Please describe.**

I have several functions in a severless application with several SSM parameters under the same path. Each function only needs access to some parameters and most functions will share some parameters but not all. I don't want functions to have access to parameters they don't require. I also don't want to call `get_parameter` for eac

[2022-02-25 17:07] heitorlessa commented on #1012
Thanks for the feature request, Michael! Added the label to hear from more customers on this, as we have the Batch utility to handle this and other concerns that comes with it.

[2022-02-25 17:10] heitorlessa commented on #1025
@michaelbrewer @ran-isenberg I'm missing more information here - could you help me understand whether this is related to SES->Lambda, or a trigger to SES that then invokes Lambda with a slightly different invoke?

I appreciate the links but I'm trying to understand how you ran into this in the first place, so we can prioritize it accordingly.

We had a similar case with SNS->Lambda vs SNS->SQS->La

[2022-02-25 17:14] michaelbrewer commented on #1025
@heitorlessa i guess my confusion is as to why this was also added to the official GoLang AWS lambda events library.

Are these actual payloads coming to AWS lambda

[2022-02-25 17:16] heitorlessa commented on #985
Adding the label to hear from more customers before we consider it.

If I understand what you're asking is to have a data class for every potential Lambda event, similar to Java, Go etc (not Powertools). If that's the case, I believe we should be moving all of these events to a separate library in the medium term, just like other runtimes -- I'll ping the Lambda team to ask whether they have a pla

[2022-02-25 17:18] heitorlessa commented on #1028
Thanks for the feature request, Michael! Adding a label to hear from more customers looking to use it.

[2022-02-25 17:19] heitorlessa commented on #1014
Thanks for the feature request, Michael! Adding a label to hear from more customers looking to use it.

[2022-02-25 18:46] michaelbrewer commented on #985
@heitorlessa i have logged an issue for the insecure code. And there is no updates.

Initially this can be for helpers for custom secret rotation.

[2022-02-25 18:54] jacobdarrossi opened #1042 "Lambda context data is excluded when using custom formatter and flag clear_state on inject_lambda_context"
## When we use a custom formatter, inject_lambda_context with clear_state=True stopped having effect

## Expected Behavior

The keys appended should be removed in clear_state=True and the context data should be kept. The custom Formatter should not impact this behavior

## Current Behavior

When we use a custom formatter to obfuscate sensitive data in our logs, the flag clear_state=True stopped ha

[2022-02-25 20:02] michaelbrewer commented on #1025
@heitorlessa - i can split up the PR into the hotfix (typing), from the missing fields.

[2022-02-25 21:13] heitorlessa commented on #1042
Thanks a lot for reporting this @jacobdarrossi - it sounds like an issue on our side, if all you're doing is overriding that method.

We'll look into it on Monday as soon as we can, and make a patch release if we manage to reproduce it.

[2022-02-25 21:16] heitorlessa commented on #1042
Forgot to ask, could you provide before/after log outputs too?

That will speed up reproducing it on our side, or quickly detecting whether that's intended behaviour.

Thank you!!

[2022-02-27 17:28] jacobdarrossi commented on #1042
Thanks for replying so fast.
This is a simple example with logging enabled.

First block of logs, with Formatter.
The second without the Formatter.
I hope this is what you need.

**Code:**
[code]

**Logs with formatter:**
[code]

**Logs without formatter:**
[code]

[2022-02-28 20:03] brysontyrrell opened #1047 "APIGatewayRouteArn does not work with a proxy resource."
**What were you trying to accomplish?**

API Gateway with a Lambda Authorizer.

Path is `/name/{proxy+}`.

Allowing the route requested in the policy using `APIGatewayAuthorizerResponse`:

[code]

## Expected Behavior

The policy contains the correct resource path and can be returned to API Gateway.

## Current Behavior

The resource is blank which causes this error to be thrown:

[code]

I tracke

[2022-02-28 20:48] michaelbrewer commented on #1047
Thanks. I will have a look

[2022-03-01 01:26] michaelbrewer commented on #1047
@brysontyrrell can you add a sample event to make it easier for the failing test :-)

[2022-03-01 07:28] michaelbrewer commented on #1047
@brysontyrrell this fix will shift the error to the `allow_route` call next and `{proxy+}` is included in the resource

[code]

[2022-03-01 07:44] michaelbrewer commented on #1047
@brysontyrrell i have a partial fix for the arn parsing:
- https://github.com/awslabs/aws-lambda-powertools-python/pull/1051

But this will still fail to handle `{proxy+}` part

[2022-03-01 15:02] brysontyrrell commented on #1047
@michaelbrewer sorry for not including an example event. The path does not actually contain `{proxy+}` in the Lambda Function's event.

[code]

In the above my API Gateway route may be configured to have `/path/{proxy+}` but the `APIGatewayAuthorizerTokenEvent` event `methodArn` is `/path/part/part/1`.

[2022-03-01 16:58] michaelbrewer commented on #1047
Ok, @brysontyrrell then the PR should be valid!

[2022-03-02 16:43] ilias-at-adarma commented on #1042
@heitorlessa Funnily we had the exact same issue days ago, we're also using our own formatter which inherits the `LambdaPowertoolsFormatter`.

We think the issue is here:

https://github.com/awslabs/aws-lambda-powertools-python/blob/51ff350b25e2025b3baf3e4a64f8ba21632b1aec/aws_lambda_powertools/logging/logger.py#L394

If a formatter already exists it wont be reallocated and defaulted to the standa

[2022-03-02 17:55] heitorlessa commented on #1042
ugh thanks a lot @ilias-at-adarma! @jacobdarrossi  and @ilias-at-adarma, would it be too much of a blocker for you if I start looking at a solution this coming Monday?

I'd like to look into this clear headed, and with enough time to make an emergency release as soon as I get a fix. I can start looking as soon as possible if this can't be worked around (e.g. no clear_state=True).

[2022-03-02 18:54] jacobdarrossi commented on #1042
@heitorlessa, no problem. We wait. Thank you very much.

[2022-03-03 13:48] heitorlessa commented on #1040
Hey @hooverdc, thanks for creating this feature request! I believe this is best handled by your own custom wrapper, or perhaps approaching this differently.

Without knowing the number of parameters you have, their size, and how you create them, have you considered creating an aggregate parameter with multiple values?

**Example**. This allows e2e/integ scenarios to make a single call and get ever

[2022-03-03 20:52] saragerion opened #1056 "Documentation: change project name to "AWS Lambda Powertools for Python""
## Description of the improvement

**Summary of the proposal**

Change project name being referenced from these versions:

- AWS Lambda Powertools (Python)
- Lambda Powertools Python
- AWS Lambda Powertools Python

To this:
AWS Lambda Powertools for Python

**[See related RFC for more information](https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/80)**

**How, where did you look for

[2022-03-04 21:58] hilgefjm opened #1171 "Publish the Public Layer ARN for aws-lambda-powertools-python-layer-extras in the docs"

[2022-03-06 11:12] michaelbrewer opened #1059 "feat(data-classes): Add KinesisFirehoseEvent"
**Is your feature request related to a problem? Please describe.**

AWS Lambda Powertools provides a nearly complete set of utilities for batch processing, but not Kinesis Data Firehose. Within our org having support for this in the Python version would be very useful. And in the long run including support for a unified batch processing.

**Describe the solution you'd like**

Add support for a Kin

[2022-03-06 11:20] michaelbrewer commented on #1012
@heitorlessa in general a response builder is as useful (and time saving as the request handling). I have shot myself in the foot on a number of occasions by this.

[2022-03-07 00:39] huonw opened #1060 "Missing return type in lambda_handler_decorator leads to 'Untyped decorator makes function "..." untyped' errors in mypy strict mode"
**What were you trying to accomplish?**

I'm trying to use `aws_lambda_powertools.utilities.data_classes.event_source` with `mypy --strict`, and receive errors about `Untyped decorator makes function "handler" untyped`. This is because `lambda_handler_decorator` is missing a return value, so mypy doesn't know anything about any function decorated with it (including `event_source`):

https://github

[2022-03-07 07:59] heitorlessa commented on #1042
Had my first look into this bug and the more I look the more interesting it becomes. @ilias-at-adarma I like your idea about factory, but I suspect we can solve it by transparently introducing a `clear_state` method plus a few non-breaking changes - meaning the fix will be automatically applied; no code changes on your side.

It's something I've been meaning to do for ages. Most of it came due to

[2022-03-07 08:10] heitorlessa commented on #1060
hey @huonw thanks for yet another high quality bug report! We should definitely go for option **1**. This utility predates our experience with Mypy. It's also due for a refresh on docs, and making a generic decorator factory for any sync Python function.

The reason we didn't choose `--strict` is that it'd raise the bar to contributions, as we've noticed (back then) some of the errors were too pic

[2022-03-07 08:16] heitorlessa opened #1062 "Metrics: Prevent a single metric have more than 100 data points"
**What were you trying to accomplish?**
Adding 100 metric data points for telemetry purposes for a single metric.

## Expected Behavior

Flush metric set when data point is reached to prevent potential data loss, where 100+ data points are added thus being ignored silently by CloudWatch EMF when processed in the background.

## Current Behavior

More than 100 metric data points can be added.

## P

[2022-03-07 08:36] heitorlessa commented on #1016
@whardier quick update: I'm gonna tackle this (create tests etc) and all related logger issues this week.

[2022-03-07 15:56] #1047 closed

[2022-03-07 15:56] #1062 closed

[2022-03-07 17:10] michaelbrewer commented on #1047
If there is an AWS regex or ARN parser then we can incorporate it into the tests. Otherwise a general purpose ARN parser could be used in many other places.

[2022-03-07 21:41] michaelbrewer opened #1064 "docs: Move code snippets into dedicated python files"
**Is your feature request related to a problem? Please describe.**

- https://github.com/awslabs/aws-lambda-powertools-python/pull/1004

**Describe the solution you'd like**

Move code snippets into dedicated python files so they can be linted/formatted then embedded in the docs. It makes highlighting slightly harder but we can achieve consistency and prevent mistakes we keep on making.

**Describ

[2022-03-07 22:50] huonw commented on #1060
Ah, that's fair enough. I've done two attempts in #1066: first commit is a more complex version that I couldn't get to work, while the second undoes most of it to make a small improvement.

As a middle-ground between the current state and `--strict`, one could activate `strict` on key files/modules (not sure if that is possible), or just enable specific additional strictnesses. For instance, `disa

[2022-03-08 04:09] michaelbrewer opened #1067 "docs(intro): terraform example is invalid"
**What were you trying to accomplish?**

Our company used terraform to provision most resources, and the example provides fails

## Expected Behavior

Terraform init and tflint should work.

## Current Behavior

Both `teraform init` and `tflint` fails

[code]

## Possible Solution

Update the supplied terraform example

[code]

## Steps to Reproduce (for bugs)
1. Copy terraform example from https:

[2022-03-08 07:24] michaelbrewer opened #1069 "fix(rest-api): broken AWS Serverless Application Model (SAM) example"
**What were you trying to accomplish?**

Use the provided sam example

## Expected Behavior

Provided example should `cfn-lint`

## Current Behavior

Copied example produces the following error:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)
1. Copy yaml from [REST API : Required resources](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gatewa

[2022-03-08 13:17] ran-isenberg opened #1071 "feat:(parser): Add KinesisFirehoseEvent"
Similar to what https://github.com/awslabs/aws-lambda-powertools-python/issues/1059 mentions

Add support for a KinesisFirehoseEvent parser model and envelope for request and response.

[2022-03-08 14:30] heitorlessa commented on #1042
@jacobdarrossi @ilias-at-adarma we've got a fix - It'll be transparent to you as you're inheriting from `LambdaPowertoolsFormatter` and not `BasePowertoolsFormatter`. You can find the implementation details in the PR: https://github.com/awslabs/aws-lambda-powertools-python/pull/1072

For folks using Logger in non-Lambda environments, where they end up creating an entirely new Logger Formatter to u

[2022-03-08 18:16] DandyDev opened #1073 "copy_config_to_registered_loggers results in duplicate logs when using with existing loggers"
When using `utils.copy_config_to_registered_loggers()` to copy the PowerLogger config to existing loggers created by a library, this results in duplicate log entries in AWS Lambda

## Expected Behavior

When copying config from the AWS Powertools logger to existing loggers instantiated by a library, I expect the log statements of that library to appear once in the log stream, formatted as JSON

##

[2022-03-08 18:28] ilias-at-adarma commented on #1042
@heitorlessa, I tested with #1072's branch, works exactly as expected without any change on our side as you said.

We are indeed inheriting from `LambdaPowertoolsFormatter` where we add a couple of our own keys and formatting but still require the clear state for dynamically added keys within the lambda handler. We also add a handler to the logger which now works nicely as well.

Cheers

[2022-03-08 18:32] heitorlessa commented on #1042
Perfect. I'll complete the missing parts and make a release tomorrow

[2022-03-08 20:18] jacobdarrossi commented on #1042
@heitorlessa, we also tested it and it works as expected. Let's wait for release. Thanks

[2022-03-09 07:51] heitorlessa commented on #1073
Thanks a lot for reporting this @DandyDev !! @mploski could you look into this? If I recall correctly, you fixed that with the filter two releases ago.

[2022-03-09 08:10] mploski commented on #1073
@heitorlessa I will look at this today's evening. There was PR created by @houbie  https://github.com/awslabs/aws-lambda-powertools-python/pull/1001 to ensure source logger

[2022-03-09 08:21] DandyDev commented on #1073
If I understand #1001 correctly, that is about the _source_ logger being excluded. And from what I understand, the source logger is the Lambda Powertools logger, from which the configs are copied, right?

The problem I'm having, is that the logs from another library are duplicated. They appear once properly formatted as JSON, and once as plain text (as per the original config)

[2022-03-09 10:49] heitorlessa commented on #1073
yeah this seems different @DandyDev. A logging filter would likely be the solution. Without revisiting the code, this typically happens when you have multiple handlers (we might not be removing existing handlers), or when the root logger is configured and logs get propagated hierarchically (we have a filter on this).

Thanks a lot @mploski !!

[2022-03-09 11:16] #1042 closed

[2022-03-09 11:17] heitorlessa commented on #1042
PyPi and SAR App have the fix. Kicking the Lambda Layer update (version 13) across all AWS commercial regions we support - might take a few hours.

cc @am29d

[2022-03-09 16:34] jacobdarrossi commented on #1042
@heitorlessa and the whole aws-lambda-powertools team, thank you all

[2022-03-09 17:15] heitorlessa commented on #1042
Lambda Layer version 13 is now live on all regions -- Rebuilding docs and it should reflect the latest ARN in a few minutes

**arn:aws:lambda:{region}:017000801446:layer:AWSLambdaPowertoolsPython:13**

[2022-03-09 17:35] michaelbrewer commented on #1067
Created a pull request which fixes this bug in the docs.

[2022-03-09 17:37] michaelbrewer commented on #1025
I created a new PR with simplifies the fix to only what we need for our Lambda use cases.

[2022-03-09 17:38] michaelbrewer commented on #1064
I have a pull request that partially fixes this (as there is a lot of examples to migrate). So once there is feedback on this I can continue.

[2022-03-10 17:08] heitorlessa opened #1076 "Current state: pausing new features until end of July to focus on operational excellence"
## Background

AWS Lambda Powertools is a suite of utilities to ease adopting best practices defined in the [Well-Architected Serverless Lens](https://aws.amazon.com/blogs/aws/new-serverless-lens-in-aws-well-architected-tool/). Our mission is to help customers implement these practices as early in their software development cycle as possible. We carefully crafted our [Tenets](https://awslabs.githu

[2022-03-14 12:19] DandyDev commented on #1073
Thanks for picking this up! I'm excited that there's already a PR open to fix this!

[2022-03-14 13:37] heitorlessa commented on #1073
We're looking into this tomorrow @DandyDev :) Should have a patch release by EOW (the latest).

[2022-03-15 13:08] heitorlessa commented on #1073
All good @DandyDev waiting @mploski for a final pass after changes to the PR, then we can prep a patch release for this.

[2022-03-17 07:58] heitorlessa commented on #1060
hey @huonw I haven't forgotten this - fixing some important bugs on Logger and Logger utils, and will start reviewing this.

I'd like to run a full scan using `--strict` to see how much it's nitpick vs actual using `disallow_untyped_defs` only. I know @ran-isenberg ran into a similar issue on Parameters which I'm still puzzled by it. Whatever it happens, we should change re-evaluate our Mypy setti

[2022-03-17 16:29] heitorlessa commented on #1016
hey @whardier

Hey!

I looked into this today and I'm slightly inclined to raise an exception and improve the documentation instead. I'll ponder it some more.

Solving like the snippet above ends up leading to two other issues:

1. **Distinct formatters**. Child and parent loggers will not have keys propagated between them, despite hierarchy is fixed automatically in the second logger instantiatio

[2022-03-17 19:02] gshpychka opened #1079 "feat(parameters): Allow settings boto3.client() arguments"
**Is your feature request related to a problem? Please describe.**
I'm using VPC endpoints with private DNS disabled, so I have to pass `endpoint_url` to `boto3.client` to use the endpoint-specific host name. I am not able to use `parameters` because this is not supported.

**Describe the solution you'd like**
Perhaps allowing to pass additional keyword arguments to the `client` method.

[2022-03-18 09:00] DandyDev commented on #1073
Since updating to the newly released package, I see this in my logs:
[code]

and nothing more.

This is the relevant code:

[code]

[2022-03-18 10:07] mploski commented on #1073
@DandyDev Looking at this, will ping you later today with the status

[2022-03-18 10:18] DandyDev commented on #1073
Thanks @mploski , much appreciated!

[2022-03-18 10:25] heitorlessa commented on #1073
Apologies for this regression @DandyDev, it sounds like the formatter isn't being created in the parent Logger. Michal and I are trying to replicate with and without the log utils, and make a swift release.

`@logger.inject_lambda_context(log_event=True)` -> This calls `append_keys` which uses the Logger formatter to update state.

[2022-03-18 10:27] DandyDev commented on #1073
No apologies necessary! Software engineering is a finicky business :)

Thanks for getting on it so quickly!

[2022-03-18 10:33] heitorlessa commented on #1073
Did a quick test and couldn't reproduce it - only differences are `log_event` and the event parser - which doesn't change much as the stack trace is on the formatter.

Could you share more info on what other loggers you have besides `sqlalchemy`? Trying to find ways to get a more accurate env to try and reproduce it.

Will try different angles in the meantime

---

[code]

[2022-03-18 10:50] heitorlessa commented on #1073
Reproduced it - the issue is in the new external logic - it only happens when you add `external={"blah"}`. We're working on it

[2022-03-18 11:18] #1073 closed

[2022-03-18 11:26] heitorlessa commented on #1073
hey @DandyDev it's live on PyPi - could you give that a try @DandyDev ?

[2022-03-18 12:06] DandyDev commented on #1073
Can confirm it works! Thanks for the hard work!

[2022-03-20 21:25] ran-isenberg commented on #1079
Hey, to my understanding this is already supported.
Take a look at https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parameters/#passing-additional-sdk-arguments
or https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parameters/#customizing-boto-configuration

[2022-03-22 15:06] CheneyZeng opened #1081 "Decorator in lambda_handler cause empty payload return in step function"
We add one lambda as a step in step function, this lambda_handler uses decorator
[code]
Next step of this lambda needs the return payload as input, but we found the payload is Null. After removing the decorator, the payload information returns correctly.

We removed the decorator for now.

**What were you trying to accomplish?**
The decorator works as a step inside of step function.

## Expected B

[2022-03-24 10:44] gshpychka commented on #1079
The former only allows me to pass arguments to the client's methods, and the latter allows me to modify the session, but none of these allow me to modify the client initialization.

[2022-03-24 12:44] ran-isenberg commented on #1079
look at the appconfig example
config = Config(region_name="us-west-1")
appconf_provider = parameters.AppConfigProvider(environment="my_env", application="my_app", config=config)

config is sent to the client initalization and points it to a specific region.

[2022-03-24 14:44] gshpychka commented on #1079
Right, but the `endpoint_url` cannot be set with the Config object, it has to be passed as a separate argument to the client.

[2022-03-24 19:28] heitorlessa commented on #1038
Yes, it is the Lambda scheduler who orchestrates sandboxes that are recycled when a time out happens. A SIGTERM is only sent if an internal or external extension is registered -- the former is what the POC above does using a no-op internal extension -- The lambda scheduler guarantees 500ms for this logic to run.

SIGALRM, in your experience, is
not guaranteed as you discovered. For cleanup activit

[2022-03-25 09:59] cakepietoast commented on #1038
Fundamentally, I'm still of the mind that deleting INPROGRESS records violates idempotency. When this occurs and there are "stuck" INPROGRESS records, it is because there's no way for the utility to know whether the Lambda failed before, during, or after the unit of work its being asked to perform. As such, in the rare cases where this occurs, cases would need to be evaluated to understand the bes

[2022-03-25 10:04] cakepietoast commented on #1038
Fundamentally, I'm still of the mind that deleting INPROGRESS records violates idempotency. When "stuck" INPROGRESS records occur, it is because there's no way for the utility to know whether the Lambda failed before, during, or after the unit of work its being asked to perform. As such, in the rare cases where this occurs, you would need to evaluate/investigate to be able to make the correct deci

[2022-03-25 11:58] heitorlessa commented on #1038
Sounds like we have a winner implementation then - use a timeout counter property and a OR as originally suggested by @n2N8Z.

Two clarifications tho:

- The timeout extension doesn't require any work from the customer, it'd happen transparently, no code change
- SIGTERM is guaranteed by Lambda Scheduler for internal/external extensions upon function timeout. SIGALRM, however, isn't and we wouldn'

[2022-03-29 19:37] alexanderluiscampino opened #1084 "Logger clear_state flip removing structure keys"
Using the `clear_state` argument in the logger decorator for lambda handlers is destroying the default structured keys.

**What were you trying to accomplish?**
Just trying to get some lambda logs with custom keys, which ideally would be cleaned up after each warm call, such that those custom key values do not trickle to the next invocation.

## Expected Behavior
Using the clear_state argument sho

[2022-03-29 19:56] heitorlessa commented on #1084
Thank you @alexanderluiscampino for filing a high quality bug reporting -- We'll look into this week and release a patch release once as soon as we can.

Thank you

[2022-03-29 23:55] ericbn opened #1085 "Code using the event_source decorator fails pyright checks"
**What were you trying to accomplish?**
Check code that uses aws_lambda_powertools using pyright.

## Expected Behavior

Checking code that correctly uses aws_lambda_powertools should be successful.

## Current Behavior

Checking code that uses the `event_source` decorator as documented fails with:
[code]

Here's the code used:
[code]

Other types might be affected too. Here's the output when pyri

[2022-03-30 07:58] filol opened #1086 "API Gateway - Error during return : Object of type datetime is not JSON serializable"
**What were you trying to accomplish?**

I'm trying to return the list of quicksight dashboards via an api call.

## Expected Behavior
Return the data

## Current Behavior
Trace :
[code]

## Possible Solution

## Steps to Reproduce (for bugs)
Object that i try to return (result from :  https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/quicksight.html#QuickSight.Client.list

[2022-03-31 07:37] michaelbrewer commented on #1086
@filol what happens if you try to do a pure `json.dumps` on `res`?

[2022-03-31 07:50] michaelbrewer commented on #1086
I would say it is the nested `datetime` fields that can't be serialized so you will need to pass in a custom serializer to overcome this, as this will probably against your example:

[code]

Read the docs for more about how to setup a custom serializer:
https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#custom-serializer

[2022-03-31 07:55] michaelbrewer commented on #1085
Related to https://github.com/awslabs/aws-lambda-powertools-python/issues/1060

[2022-03-31 08:03] filol commented on #1086
Hi @michaelbrewer, My temporary fix is :
[code]

With
[code]

And it's working but, for my point of view, this lib should handle this natively as it's a common type and it's returned by the aws api itself, what do you think ?

[2022-03-31 08:31] michaelbrewer commented on #1086
@filol you could pass in your custom serializer to the api gateway resolver.

ie:

[code]

There is no end for all of the data types `json.dumps` should / could support.But the default formatting is not always clear.

[2022-04-01 04:48] HAK-CODE opened #1087 "Key have been removed from logger in lambda layer"
**What were you trying to accomplish?**
Was trying to filter logs based on log level i.e INFO, WARN etc
## Expected Behavior
`arn:aws:lambda:${AWS::Region}:017000801446:layer:AWSLambdaPowertoolsPython:7`
[code]

## Current Behavior

`arn:aws:lambda:${AWS::Region}:017000801446:layer:AWSLambdaPowertoolsPython:15`
[code]
## Current Behavior
Keys missing in current layer `arn:aws:lambda:${AWS::Region}

[2022-04-01 04:49] HAK-CODE commented on #1087
[code]

[2022-04-01 04:59] HAK-CODE commented on #1087
same goes for catching exceptions.

[2022-04-01 06:46] heitorlessa commented on #1087
Hi @HAK-CODE thanks for filing this bug report - It's a regression we are working on a patch release today -- it's happening when you use `clear_state=True`.

Also reported in #1084, and this regression was introduced when fixing a problem with custom formatters in 1.25.3.

[2022-04-01 06:47] heitorlessa commented on #1084
Reproduced and found the regression was introduced in 1.25.3 when fixing a custom formatter. Tests were insufficient for clear_state=True hence we didn't catch it -- working on better tests and will make a release by EOD the latest.

[2022-04-01 07:34] #1087 closed

[2022-04-01 07:37] heitorlessa commented on #1087
Thanks to your bug report we managed to reproduce and improved tests as part of the fix - the latest version 1.25.6 has this fix now. Lambda Layers upcoming version **16** will take a few hours to be available in multiple AWS commercial regions.

[2022-04-01 07:38] heitorlessa commented on #1084
Thanks to your super high quality bug report we managed to reproduce and improved tests as part of the fix - the latest version 1.25.6 has this fix now. Lambda Layers upcoming version **16** will take a few hours to be available in multiple AWS commercial regions.

[2022-04-01 10:17] heitorlessa commented on #1087
@HAK-CODE Lambda Layer **version 16** is now available with the fix - Please let us know otherwise.

`arn:aws:lambda:{region}:017000801446:layer:AWSLambdaPowertoolsPython:16`

[2022-04-01 14:35] Torsitano opened #1089 "`@logger.inject_lambda_context` Type is Partially Unknown"
I was attempting to use the `@logger.inject_lambda_context` decorator as shown in the docs here: https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#capturing-lambda-context-info

## Expected Behavior

Decorator does not cause type errors.

## Current Behavior

VSCode/Pylance throws an error stating:
[code]

## Possible Solution

Unknown

## Steps to Reproduce (for bugs)

1.

[2022-04-01 17:31] HAK-CODE commented on #1087
Thanks @heitorlessa

[2022-04-04 11:17] gshpychka commented on #1079
@ran-isenberg can you confirm that I'm not missing anything here?

[2022-04-05 08:20] ran-isenberg commented on #1079
where did you see endpoint_url parameter? i dont see it in the  docs: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/appconfig.html#client

[2022-04-05 08:47] ran-isenberg commented on #1079
@gshpychka  I'm not familiar with this field BUT to my understand, unless you can set it via the config param:
https://botocore.amazonaws.com/v1/documentation/api/latest/reference/config.html
then you can't do.

I think you are right.
What do you use endpoint_url for if i may ask?

[2022-04-05 08:58] gshpychka commented on #1079
Yes, exactly. As stated in the issue description, I'm using VPC endpoints with private DNS disabled, so I have to pass endpoint_url to boto3.client to use the endpoint-specific host name.

[2022-04-05 09:00] ran-isenberg commented on #1079
@heitorlessa  I think we should allow people to send qwargs to the init function, not just config.

[2022-04-05 09:19] heitorlessa commented on #1079
Thanks everyone! The more I look into the Parameters utility the more I find we should've accepted a whole boto Client only. It would simplify our logic to maintain it, and also make it easier for customers to stub for unit testing, use snapshot testing with placebo, or in this case pass a different endpoint_url.

We won't be able to add this now due to our [pause and bandwidth](https://github.com

[2022-04-05 09:37] ran-isenberg commented on #1079
@heitorlessa A boto client in addition to the session or instead?

[2022-04-05 10:10] heitorlessa commented on #1079
It’d have to be in addition to not break customers using the boto3_session
argument. If they pass a session, we create a client from it. If they pass
a client, we use that instead.

On Tue, 5 Apr 2022 at 11:37, Ran Isenberg ***@***.***> wrote:

[2022-04-05 19:57] heitorlessa commented on #1084
Hey @eliasbrange! For bugs we can reproduce, we welcome the PRs ;)

This seemed like an easy win for custom for matters at first, but it continues to cause edge cases that our tests were not covering clear_state well enough - my apologies.

I'm with customers until Thursday evening, but if you could make a bug report and a PR I'll gladly accept it (and enrich if necessary)

Thank you 🙏

[2022-04-05 22:23] huonw opened #1092 "Feature request: support clearing/scoped caches for testing"
### Use case

We're testing our code with mocked AWS services using moto (rather than replacing/patching the calls entirely), and it works well. However, powertools provides various caches that are great for production, but cause unintended linkage/interference between tests. We're hitting this particularly in `aws_lambda_powertools.utilities.parameters.get_secret`, but it applies to other parts o

[2022-04-05 22:30] huonw commented on #1092
As workaround for now we've got a pytest fixture that pokes into the internals of this package:

[code]

[2022-04-05 23:44] ojongerius opened #1093 "Bug: event mutations influence idempotency hash used"
### Expected Behaviour

A function that (inadvertently) updates the event it has received should execute successfully, and have one idempotency document written.

### Current Behaviour

A function that (inadvertently) updates the event it has received executes successfully, but has two documents corresponding to it's execution:

* An _initial_ document with a hashed idempotency key based on the or

[2022-04-06 09:20] eliasbrange commented on #1084
@heitorlessa PR is up and running!

[2022-04-06 17:27] ran-isenberg commented on #1079
@heitorlessa  FYI https://github.com/awslabs/aws-lambda-powertools-python/pull/1096

[2022-04-07 20:37] ran-isenberg commented on #995
Parser: https://www.ranthebuilder.cloud/post/aws-lambda-cookbook-elevate-your-handler-s-code-part-5-input-validation

[2022-04-08 07:33] heitorlessa commented on #1084
Just merged - I plan to have a patch release out today with this fix.

[2022-04-08 08:14] sthuber90 opened #1098 "Bug: HTTP API with router event handler fails on whitespace in path parameter"
### Expected Behaviour

Calling `GET /pets/{name}` or `GET /pets/{name}/vets` should return a successful response with status code 200 when called with _"Chester Mall"_ or _"Chester%20Mall"_ (without ") as `name`. API Gateway will already decode encoded whitespaces as you can see in the example events.

<details>
  <summary>GET /pets/Fiffi</summary>

[code]
</details>

<details>
  <summary>GET /pe

[2022-04-08 08:30] eliasbrange commented on #1084
Sweet, thanks for the quick review!

[2022-04-08 09:20] sthulb commented on #1098
I'll look into this today.

[2022-04-08 14:02] michaelbrewer commented on #1098
Awesome thanks for the detailed logs and examples. Should be easy enough to make a patch for this.

[2022-04-08 14:04] sthuber90 commented on #1098
@michaelbrewer PR was already merged by @heitorlessa. I'll leave it up to you to guys to close the issue. Hope that's alright

[2022-04-08 14:31] michaelbrewer commented on #1098
haha, @sthuber90  i just woke up and was catching up. Sorry about the bug and thanks for fixing it! When i originally created the handler i missed these test cases.

[2022-04-08 14:35] michaelbrewer commented on #985
As of today CFN managed lambda are generating non-compliant lambda, i have reached out to that repo and the issue was closed without fixing, so i will have to go back and recreate a newer example with it failing

https://github.com/aws-samples/aws-secrets-manager-rotation-lambdas/issues/78#event-6392597563

[2022-04-08 15:08] sthulb commented on #1098
@sthuber90 thanks for the contribution.

@michaelbrewer thanks for trying to shepherd this, but the project maintainers have already validated it and merged it

[2022-04-08 15:08] #1098 closed

[2022-04-08 16:47] #1093 closed

[2022-04-08 16:47] #1060 closed

[2022-04-08 16:47] #1084 closed

[2022-04-08 17:20] heitorlessa commented on #1084
Layers version 17 should be out in 2h max across all regions we support

On Fri, 8 Apr 2022 at 18:47, github-actions[bot] ***@***.***>
wrote:

[2022-04-08 19:00] efrquerido opened #1101 "Static typing: type inconsistency with BaseEnvelope and DictWrapper"
### Static type checker used

{"label"=>"mypy (project's standard)"}

### AWS Lambda function runtime

{"label"=>"3.8"}

### AWS Lambda Powertools for Python version

1.20.2

### Static type checker info

Argument 1 to "APIGatewayProxyEvent" has incompatible type "Union[Dict[str, Any], Any, None]"; expected "Dict[str, Any]"mypy(error)

### Code snippet

[code]

### Possible Solution

update DictWr

[2022-04-08 19:05] heitorlessa commented on #1101
Hey @efrquerido - If I recall correctly we fixed this and another related type mismatch for Envelopes a few releases ago, could you check using the latest version, please?

We're at 1.25.7 now

[2022-04-09 20:37] michaelbrewer opened #1104 "Gitpod support"
### Use case

To ease contributions by providing a zero install process like gitpod.io. Also mentioned in #1076

### Solution/User Experience

Fork project and open in gitpod.io before making PR requests. This is already available for the typescript version

Just adding `.gitpod.yml` would be enough

[code]

I have test this, and it already works:

<img width="1699" alt="Screen Shot 2022-04-09 at

[2022-04-11 00:01] michaelbrewer opened #1105 "Bug: Issue templates drop downs render wrong"
### Expected Behaviour

Drop downs should format currently for:

- rfcs (`.github/ISSUE_TEMPLATE/rfc.yml`)
- bug reports (`.github/ISSUE_TEMPLATE/bug_report.yml`)
- static typing (`.github/ISSUE_TEMPLATE/static_typing.yml`)

How it should look:

<img width="377" alt="Screen Shot 2022-04-10 at 5 14 14 PM" src="https://user-images.githubusercontent.com/5442469/162646115-7291049d-17e4-4e2e-ab86-e1d55

[2022-04-11 00:18] michaelbrewer commented on #1105
@heitorlessa - i have PR #1106 which fixes the drop downs.

[2022-04-11 10:58] eliasbrange commented on #995
A hands-on guide on how to use Lambda Powertools for Python to implement observability best practices for FastAPI applications running in Lambda functions: https://www.eliasbrange.dev/posts/observability-with-fastapi-aws-lambda-powertools/

[2022-04-11 11:28] efrquerido commented on #1101
hey @heitorlessa, just tested with the latest version `'.25.7` and I'm still getting the same error.

I've checked ant the problem seems to be on the __ini__ fo DictWrapper.

APIGatewayProxyEvent --> BaseProxyEvent --> DictWrapper

This is DictWrapper on latest:

`class DictWrapper:
    """Provides a single read only access to a wrapper dict"""

    def __init__(self, data: Dict[str, Any]):

[2022-04-11 22:13] michaelbrewer commented on #1101
@heitorlessa @efrquerido - but `APIGatewayProxyEvent` was built to except the original raw dict event and not the Pydantic version.

If you are using Pydantic, then why not stick to `ApiGatewayEnvelope`, but if you still want both, then maybe convert data to a dict?

[2022-04-11 22:16] michaelbrewer commented on #1104
This seems to be a general issue with Gitpod slowing down sometimes when running the unit tests.

[2022-04-12 08:33] heitorlessa opened #1108 "Feature request: Support for signed Lambda functions"
### Use case

When using [code signing feature](https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html), any Lambda Layer must be also signed. This means customers using this feature can't use our public Lambda Layers, as it's not currently signed.

What's not clear yet is whether a signed Lambda Layer can be used by a non-signed Lambda function.

### Solution/User Experience

[2022-04-12 08:41] heitorlessa commented on #1101
Let's take a step back: what are you trying to achieve? Mypy and the types are correct, as you're accidentally using the incorrect class - `APIGatewayProxyEvent` instead of `APIGatewayProxyEventModel` which is a [Pydantic model in itself](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/parser/#built-in-models).

[code]

Understanding what you're after will help us provide a

[2022-04-12 08:48] heitorlessa commented on #1089
Hi @Torsitano , thank you for opening your first issue and flagging a type def to us!

As of now, we don't support **strict mode** within type checkers - both Mypy and Pyright (your case). When trying so, we found quite difficult to keep the code maintainable as well as ensure 100% accuracy due to heavy use of metaprogramming (plus supporting older versions of Python that don't yet have certain me

[2022-04-12 08:52] heitorlessa commented on #1085
Hi @ericbn, thank you for opening your first issue and flagging a type def to us!

As of now, we don't support Pyright but Mypy (non-strict mode) - we had mixed results last year that. When trying so, we found it quite difficult to keep the code maintainable and ensure 100% accuracy due to heavy use of metaprogramming (plus supporting older versions of Python that don't yet have certain mechanisms

[2022-04-12 08:54] heitorlessa commented on #1085
Forgot to also thank you for checking upstream. That comment was helpful to understand how much Pyright progressed since we tried early last year, and how we could use that info to improve our existing type def in the future.

[2022-04-12 08:57] heitorlessa commented on #1086
Hi @filol - Thank you for opening an issue with us. @michaelbrewer is correct - this is a type serialization issue that only you would be best positioned to addressed it (e.g., should it be as string, as ISO string, etc.).

This is also similar to any non-JSON serializable values. We [document them here](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#

[2022-04-12 08:57] #1086 closed

[2022-04-12 08:58] heitorlessa commented on #1069
Fixing the labels (documentation, over bug).

[2022-04-12 16:35] michaelbrewer opened #1110 "Bug: no clarity on when pull requests are allow"
### Expected Behaviour

In the contributing guide a clear call out of when a pull request can be make.

### Current Behaviour

Pull requests are not closed citing the contributing guide

### Code snippet

[code]

### Possible Solution

Clarify that, before a pull request can be made:

1. Check if any existing issue exists
2. Create new issue
3. What for the issue to be approved
4. Then make the pu

[2022-04-12 16:53] michaelbrewer commented on #1092
Uh, @huonw that makes sense, i have run into the same kind of issue, and did implement `force_fetch` option.

[2022-04-12 16:54] michaelbrewer commented on #1092
This is closer to a bug, as testing should be something that is easier to do for parameters feature.

[2022-04-12 17:06] sthuber90 commented on #1110
The contribution guidelines mention it. Also, it's stated that contribution to features is on hold until July 2022. However, I'm glad we got this small bug resolved so quickly and I just prepared code on my end because it was so present in my head 😅

[2022-04-12 17:45] sthulb commented on #1110
@sthuber90 is correct. The contribution guidelines state when a PR is welcome.

[2022-04-12 17:45] #1110 closed

[2022-04-12 17:56] sthulb commented on #1105
@michaelbrewer consider it done! It was also resolved already in commit [8bd5723e](https://github.com/awslabs/aws-lambda-powertools-python/commit/8bd5723e0e755e9798593efc7a351191c8983278)

[2022-04-12 17:56] #1105 closed

[2022-04-12 18:01] michaelbrewer opened #1111 "Bug: Future proof the python build process"
### Expected Behaviour

Build should pass when adding python 3.10 compatibility

### Current Behaviour

Builds will start to back when adding python 3.10 due to use of number instead of string

### Code snippet

[code]

### Possible Solution

[code]

### Steps to Reproduce

Adding 3.10 as a number will fail builds eg: https://github.com/michaelbrewer/aws-lambda-events/commit/560d91ccf8191e71fef9bc

[2022-04-12 18:02] michaelbrewer commented on #1105
@sthulb which is the same as my PR?

[2022-04-12 18:04] sthulb commented on #1111
We currently don't support Python 3.10 as it's not a supported managed runtime in Lambda, as per: https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html

Once Lambda supports 3.10, we'll be adding support for running tests against it.

[2022-04-12 18:04] #1111 closed

[2022-04-12 18:04] michaelbrewer commented on #1105
@sthulb now static typing template is gone? your implementation was not test like my PR

[2022-04-12 18:05] michaelbrewer commented on #1105
[code]

[2022-04-12 18:16] michaelbrewer opened #1112 "Bug: Static typing issue form is missing"
### Expected Behaviour

Static typing form should be on the issue list

### Current Behaviour

Static typing form is missing

<img width="1622" alt="Screen Shot 2022-04-12 at 11 20 59 AM" src="https://user-images.githubusercontent.com/5442469/163028215-07596adf-2b01-4853-816f-5ad9cf6c6cdd.png">

### Code snippet

[code]

### Possible Solution

[code]

Or look at original PR https://github.com/awsl

[2022-04-12 18:21] michaelbrewer commented on #1112
For testing your fix, i would recommend what i did can create a dummy report and check for errors:

- https://github.com/michaelbrewer/powertools-issue-template/issues/new/choose

[2022-04-12 19:31] michaelbrewer commented on #995
Add lambda guide cover powertools help with different event sources:
- https://lambda.101i.de/

[2022-04-12 19:35] michaelbrewer commented on #1112
@sthuber90  i see you fixed it in https://github.com/awslabs/aws-lambda-powertools-python/commit/b5773664c88e8974be217c8a999804816c462a5f

[2022-04-12 19:35] #1112 closed

[2022-04-12 19:37] michaelbrewer commented on #1110
So no pull requests even if there is an issue and you run into production issues?

[2022-04-12 19:40] michaelbrewer commented on #1110
Possible changing it too "We are stopping all external contributions unless we request for a pull request until end of July 2022."?

@sthuber90 yes that was awesome to see and glad it worked out

[2022-04-12 19:46] michaelbrewer commented on #1110
ah i just realized i tagged the wrong person. oh boy. sorry `sthuber90`

[2022-04-12 20:07] michaelbrewer commented on #1111
@sthulb - i know, just that i know this will be an issue and will run into problems if you call using

`python-version: [3.6, 3.7, 3.8, 3.9]` instead of `python-version: ["3.6", "3.7", "3.8", "3.9"]`

[2022-04-12 20:17] sthuber90 commented on #1112
@michaelbrewer should have linked @sthulb 😅

[2022-04-12 20:18] michaelbrewer commented on #1112
Yeah, i blame github `@` completion

<img width="364" alt="Screen Shot 2022-04-12 at 1 18 28 PM" src="https://user-images.githubusercontent.com/5442469/163046587-e92a7ca2-08ae-40b8-b1bb-d9ca9023180a.png">

[2022-04-12 20:22] sthuber90 commented on #1112
Guess GitHub wants me to contribute even more 😄 I'm happy to do so 🚀

[2022-04-14 07:30] heitorlessa commented on #1109
hey @iapostol-69, could you give that a try again with the latest SAM CLI, please? We collaborated with SAM CLI team to address it at the core, though we weren't 100% certain on Windows 10 (it did fix for all Linux distro and Mac [intel, ARM]).

If it's not solved, we can update our docs while we work with the SAM CLI team on bootstrapping a Windows box so we can fix it permanently.

Thank you!

[2022-04-14 14:00] #1101 closed

[2022-04-14 16:29] heitorlessa commented on #1101
Opa @efrquerido - following up with you whether you had this resolved, or if you need any further assistance.

[2022-04-15 16:41] michaelbrewer opened #1132 "Feature request: Remove Python 3.6 support"
### Use case

Now that Python 3.6 has been deprecated, moving up to Python 3.7 will come with some user experience improvements.

Also most of the library dependencies don't support Python 3.6 anymore in their Github Actions:

Runtime depedencies:

- https://github.com/horejsek/python-fastjsonschema (3.7+)
- https://github.com/jmespath/jmespath.py (3.7+)
- https://github.com/samuelcolvin/pydantic

[2022-04-20 11:16] sthulb commented on #1132
Whilst Python 3.6 has hit EOL, we'll continue to support until at least the end dates provided by the announcement email:

We'll revisit this in late August as that's when customers will no longer able to update existing functions.

[2022-04-20 12:11] filol opened #1134 "Docs: Button for copy layer doesn't work on MacOS + Chrome"
### What were you searching in the docs?

Installation

### Is this related to an existing documentation section?

https://awslabs.github.io/aws-lambda-powertools-python/latest/#install

### How can we improve?

[code]

### Got a suggestion in mind?

_No response_

### Acknowledgment

- [X] I understand the final update might be different from my proposed suggestion, or refused.

[2022-04-20 12:33] heitorlessa commented on #1134
hey @filol thank you for spotting this issue! Does it also happen when you click on the link itself (not the button)?

I made a quick video of how that experience looks like to me using Chrome version (`100.0.4896.127 (Official Build) (x86_64)`). It appears that the issue is on the button itself (we can remove it), but I want to be sure that's what you're experiencing it too.

![chrome issue gif](

[2022-04-20 12:40] filol commented on #1134
@heitorlessa, yes, when I click on the link it's working, i have this behavior only on the button too. I think the button is useful for indicate that is not a link but a copy functionality, maybe you can make the button non clickable ? Thanks

[2022-04-20 12:50] heitorlessa commented on #1134
Awesome. Yes, that's what I meant (typed too fast) by removing the link, not the button

[2022-04-20 13:44] heitorlessa commented on #1092
thanks for flagging it @huonw :) @mploski is working on our end-to-end tests POC, and we should be able to address it as part of a much wider testing improvements we're looking to make.

Thanks a lot again

[2022-04-20 13:52] filol commented on #1134
@heitorlessa working ! Thank you !

[2022-04-20 14:20] michaelbrewer commented on #1132
It's when your downstream dependencies drop support for python 3.6 and their are security issues or bug fixes that don't make it to your current pinned version. This is when things get problematic.

[2022-04-20 16:03] #1134 closed

[2022-04-20 21:35] sthulb commented on #1132
If this becomes a concern for the project later, we might choose to revisit this earlier, but we’re not expecting anything that changes the timeframe mentioned above.

[2022-04-21 00:40] corey-cole opened #1138 "Bug: JMESPath semantic version mismatch with boto3"
### Expected Behaviour

I should be able to install an unpinned version of boto3 and aws-lambda-powertools without a dependency error

### Current Behaviour

Installing boto3 and aws-lambda-powertools==1.25.7 results in the following error message during installation.

[code]

### Code snippet

[code]

### Possible Solution

boto3 added support for JMESPath 1.0 in this PR:  https://github.com/boto

[2022-04-21 01:07] michaelbrewer commented on #1138
@corey-cole  works for me using Python 3.9.12 and using the same requirements file

<img width="1284" alt="Screen Shot 2022-04-20 at 6 06 42 PM" src="https://user-images.githubusercontent.com/5442469/164351388-f65b072f-2738-4471-ba23-4882eb20763e.png">

[2022-04-21 01:24] michaelbrewer commented on #1138
Finally it looks like [jmespath.py](https://github.com/jmespath/jmespath.py) has dropped support for Python 3.6:

- https://github.com/jmespath/jmespath.py/compare/0.10.0...1.0.0

<img width="2026" alt="Screen Shot 2022-04-20 at 6 16 40 PM" src="https://user-images.githubusercontent.com/5442469/164352372-594b9e70-0f18-4f54-a717-f7f882fa8595.png">

[2022-04-21 01:49] michaelbrewer commented on #1138
@corey-cole a possible solution can be made ie: https://github.com/awslabs/aws-lambda-powertools-python/pull/1139

[2022-04-21 01:51] michaelbrewer commented on #1132
Either way, you will need to juggle supporting both versions this PR is an example, it is doable just extra overhead.

Also note, there is no integration tests verifying python 3.6 actually works on a deployed lambda.

- https://github.com/awslabs/aws-lambda-powertools-python/pull/1139

[2022-04-21 01:56] michaelbrewer opened #1140 "Feature request: Add integration tests"
### Use case

Some releases of AWS Lambda Powertools have run into runtime regression. So without integration tests, customers of this library would have to run their own integration tests

### Solution/User Experience

AWS Lambda Powertools would include a series of integration tests for the supported runtimes.

See how this was resolved in the typescript version https://github.com/awslabs/aws-la

[2022-04-21 04:23] gwlester opened #1141 "Feature request: Add Event Source Data Class for AWS Lambda Function URLs"
### Use case

With the general availability of [AWS Lambda Function URLs](https://aws.amazon.com/blogs/aws/announcing-aws-lambda-function-urls-built-in-https-endpoints-for-single-function-microservices/) to implement microservices AWS Lambda Powertools for Python should support this event type.

While I can not find a formal definition of what the event can look at, here is a sample:
`{'version':

[2022-04-21 04:31] gwlester opened #1142 "Feature request: Add Event handler for AWS Lambda Function URLs"
### Use case

With the general availability of [AWS Lambda Function URLs](https://aws.amazon.com/blogs/aws/announcing-aws-lambda-function-urls-built-in-https-endpoints-for-single-function-microservices/) to implement microservices AWS Lambda Powertools for Python should support handling this event type.

This should support the routes being specified in a separate file just like for other event ha

[2022-04-21 04:40] gwlester commented on #1142
It would be nice if when specifying the route an optional "authorizer function" could be passed.  Such a function would have the same signature as a handler and whose result could be a boolean indicating if access is allowed or not.  If no "authorizer function"  then all access would be allowed for that route.

[2022-04-21 04:44] gwlester commented on #1071
This appears to be a duplicate of [feat(data-classes): Add KinesisFirehoseEvent #1059](https://github.com/awslabs/aws-lambda-powertools-python/issues/1059).  Since the other issue has details, I'd suggest this issue be closed/rejected.

[2022-04-21 04:46] ran-isenberg commented on #1071
@gwlester Parser and data classes are two completely different utilities and implementations.

[2022-04-21 04:50] gwlester commented on #1071
@ran-isenberg -- sorry you are correct.  Too late at night!  I did not see the what inside of feat!!!

Should I delete this and the other comment??

[2022-04-21 04:50] ran-isenberg commented on #1071
no worries, dont delete

[2022-04-21 05:55] heitorlessa commented on #1140
Closing as @mploski (maintainer) is already working on that as part of our operational readiness review.

[2022-04-21 06:01] heitorlessa commented on #1142
Thank you @gwlester for showing interest in having support for Lambda Function URL. We'll look into it after we return from our pause.

We built support during beta, so it should be technically a days job to revisit and consider maintenance aspects.

As for authorisers, we'd prefer to create a middleware support for event handler (in-flight, after the pause) so that we don't recommend non-function

[2022-04-21 06:02] #1140 closed

[2022-04-21 06:08] michaelbrewer commented on #1140
It's there a tracking issue for this ? Michael brewer (contributor & customer)

[2022-04-21 06:21] michaelbrewer commented on #1142
@gwlester this already works via the http api handler

[2022-04-21 06:43] michaelbrewer commented on #1142
This code works fine

[code]

Also the sample projects works ok too:

[code]

[code]

<img width="1067" alt="Screen Shot 2022-04-20 at 11 42 02 PM" src="https://user-images.githubusercontent.com/5442469/164390363-934747b1-ed0b-4265-b1f9-383040bddab5.png">

[2022-04-21 06:57] michaelbrewer commented on #1071
yep, we made things nice and confusing :)

[2022-04-21 06:59] michaelbrewer commented on #1141
@gwlester it is pretty much the same as http api. And for now, even though i would like to resolve this, things are on a pause until August. Until then check what i mentioned elsewhere

[2022-04-21 08:40] #1029 closed

[2022-04-21 08:44] #1104 closed

[2022-04-21 08:44] #1132 closed

[2022-04-21 12:10] heitorlessa commented on #1138
Thanks for reporting this issue @corey-cole and thanks for sending a quick dep range fix @michaelbrewer.

We were conservative in adding `jmespath` as an explicit dependency after exposing custom JMESPath functions, instead of relying on boto3 vending jmespath. I took a look at boto and they initially added jmespath 1.0 only, then corrected their markers in a subsequent release as it broke to <3.6

[2022-04-21 12:18] gwlester commented on #1142
@michaelbrewer -- after looking at the code last night it looked like it would "just work".  It would still be nice to have an explicit class for it.

I know ya'll did some work on this already -- would you mind/like if I took a crack and submitted a Pull Request with it (assuming that I have time before August)?

[2022-04-21 12:19] gwlester commented on #1141
@michaelbrewer -- thanks for the "work around"!

[2022-04-21 12:45] heitorlessa commented on #1138
Reverting Michael's PR by removing the Python 3.6 marker (tiny change), and publishing 1.25.9 shortly

[2022-04-21 12:57] heitorlessa commented on #1138
1.25.9 is now out. @corey-cole @michaelbrewer  could you give that a try please?

[2022-04-21 13:07] michaelbrewer commented on #1029
@sthulb

Could you explain what is missing in the referenced ticket? I have already created a utility to load fixtures for sample events, and it  is being shared across the parser, event source data classes and the event handler.

[2022-04-21 13:09] michaelbrewer commented on #1104
Note, this was mentioned in another issue but no tracking issue was logged?

[2022-04-21 13:15] michaelbrewer commented on #1142
Go for it. But to save you time and frustration, I would suggest waiting for an official green light from the maintainers, otherwise your PR will most likely be closed.

Also for Function Url we should probably have some disclaimers and warnings around security.

[2022-04-21 13:19] michaelbrewer commented on #1138
Looking forward to seeing python 3.6 support getting dropped or these integration tests safe guarding against this. I will test  locally with the above use case.

[2022-04-21 13:24] michaelbrewer commented on #1138
@heitorlessa  works for me with the following test case:

`requirements.txt` :

[code]

[code]

[2022-04-21 13:36] michaelbrewer commented on #1138
@heitorlessa FYI, as a related issue on the poetry docs :(

https://github.com/python-poetry/poetry/issues/5473

[2022-04-21 15:49] heitorlessa commented on #1138
no problem at all - I suspected it was something with Poetry; glad it's solved.

Once we have room to design a v2, we will highly likely have to move away from Poetry, as I couldn't see (yet) implicit namespace packages support there - but that's a long road from here.

Thanks a lot everyone!

[2022-04-21 15:49] #1138 closed

[2022-04-21 20:29] sthulb opened #1147 "Bug: JMESPath causes issues with updating dev deps"
### Expected Behaviour

To be able to mange dev deps without causing issues

### Current Behaviour

[code]

### Code snippet

[code]

### Possible Solution

Remove JMESPath

### Steps to Reproduce

update any dev dep

### AWS Lambda Powertools for Python version

latest

### AWS Lambda function runtime

3.7

### Packaging format used

PyPi

### Debugging logs

_No response_

[2022-04-21 22:04] michaelbrewer commented on #1147
don't we love poetry :(

[2022-04-21 22:12] michaelbrewer commented on #1132
Maybe to keep track of tasks like this https://github.com/awslabs/aws-lambda-powertools-python/blob/6917d90444fb9e43e7317010faaa2abb9f183464/pyproject.toml#L31 we should at least have a ticket for when Python 3.6 is removed

[2022-04-21 22:33] michaelbrewer commented on #1132
Added boto3 deprecation notice which is from 2022-05-30

[2022-04-22 18:24] j2clerck opened #1149 "Bug: Performance penalty when using SQS Batch Processor and code is bugged"
### Expected Behaviour

Lambda function fails fast due to code error.

### Current Behaviour

Lambda took 4s to fail.

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

Deploy a Lambda function attached to SQS and put some error code outside of the handler.
My pattern is
S3 -> EventBridge -> SQS -> Lambda

### AWS Lambda Powertools for Python version

latest

[2022-04-23 04:43] michaelbrewer commented on #1064
@heitorlessa  @sthulb  - as part of the original papercuts, we had discuss how many errors we have fund in the code examples, and that extracting them into separate files would allow us to add formatting (`isort`, `black`), check for syntax error (`py_compile`) and perform linting (`cfn-lint` etc..).

So in a series of pull requests, i have extracted and fixes all of the code examples (python, ter

[2022-04-23 09:33] sthulb commented on #1064
The pull requests associated with this issue will be resolved eventually. There’s a lot of them and they’re quite large too.

[2022-04-23 09:38] michaelbrewer commented on #1064
Yep and covers 25 error in the docs too

[2022-04-25 17:09] sthuber90 opened #1152 "Bug: event_source decorator with APIGatewayProxyEventV2 causes TypeError in debug mode"
### Expected Behaviour

Using the event source decorator with APIGatewayProxyEventV2 will run Lambda function and not fail with TypeError

### Current Behaviour

When activating debug mode through either `APIGatewayHttpResolver(debug=True)` or `POWERTOOLS_EVENT_HANDLER_DEBUG=true` causes `TypeError: Object of type APIGatewayProxyEventV2 is not JSON serializable` and no further debug entries get lo

[2022-04-25 17:21] heitorlessa commented on #1152
Hey @sthuber90 tha is for reporting it - we'll look into it as soon as we can.

Any particular reason you're using event_source with Event Handler?

We already do that for you upon a Lambda invocation, and make it available under app.current_event property.

https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/#accessing-request-details

Thanks!!

[2022-04-25 17:23] sthuber90 opened #1153 "Bug: exception_handler decorator won't return Response with botocore ClientError"
### Expected Behaviour

On botocore ClientError the Lambda function shall return:

[code]

### Current Behaviour

Lambda function raises exception and ends with error, instead of returning HTTP response

### Code snippet

[code]

### Possible Solution

_No response_

### Steps to Reproduce

Use the provided code snippet to see that the Lambda will throw an exception instead of returning a 400 "Bad

[2022-04-25 17:30] sthuber90 commented on #1152
Thank you. No, no particular reason combining `@event_source` and `APIGatewayHttpResolver`. It's perfectly fine for me to remove the event source decorator. Are the resolver and event source incompatible? If so, I didn't see it in the docs

[2022-04-25 18:25] heitorlessa commented on #1152
Ah great, I was mostly curious if you knew. For the decorator, I need to
double check in the custom serializer part but IIRC it should work, as we
reuse it elsewhere.

On Mon, 25 Apr 2022 at 19:30, Stephan ***@***.***> wrote:

[2022-04-25 18:34] heitorlessa commented on #1153
Definitely a bug in the order of response, as the exception handler was added later and we seem to not be handling the exception type like we do earlier in the call chain.

Thanks for spotting another one @sthuber90!

[2022-04-25 19:38] heitorlessa commented on #1153
Please do @sthuber90 i can review and merge it tomorrow morning.

[2022-04-26 12:45] #1147 closed

[2022-04-26 17:11] sthuber90 commented on #1153
Actually it seems that any exception raised within an exception handler route will raise and cause the Lambda function to end with an error. I guess you could say that it's intentional however it doesn't seem intuitive at first.

@heitorlessa should `ServiceError` type exceptions (BadRequestError, InternalServerError, NotFoundError, UnauthorizedError) be handled differently when raised in an excep

[2022-04-26 17:39] michaelbrewer commented on #1153
Ok i will have a look. Sorry if i screwed up here. I will have a deeper look.

[2022-04-26 17:39] heitorlessa commented on #1153
Yes to the first question - we should handle ServiceError exceptions
differently as customers will instinctively and eventually raise these to
signal 4xx

On Tue, 26 Apr 2022 at 19:11, Stephan ***@***.***> wrote:

[2022-04-26 17:49] michaelbrewer commented on #1153
In the diff, you do lose the original `exp`, So hopefully you capture this as part of the handler.

Another possible solution

[code]

[2022-04-26 17:56] michaelbrewer commented on #1153
My PR is just for comment (and if fine review),  docs make this clear that nothing should be raised or we support `exception_handler` raising a new error of type `ServiceError` only, i am cool with either.

[2022-04-26 17:58] michaelbrewer opened #1161 "Bug: Mergify configuration is invalid"
### Expected Behaviour

When creating a new PR no mergify configuration errors should be shown

### Current Behaviour

<img width="850" alt="Screen Shot 2022-04-26 at 10 58 46 AM" src="https://user-images.githubusercontent.com/5442469/165362985-c96d4412-0184-4c6f-9951-31b0ba319c39.png">

<img width="773" alt="Screen Shot 2022-04-26 at 10 59 06 AM" src="https://user-images.githubusercontent.com/544

[2022-04-26 20:20] sthuber90 commented on #1153
I would disagree that `exp` gets lost in my code as I would argue it's handled within the handler. Nonetheless, I like the simple and clear code from your PR 👍  for me that solves the problem 🚀

[2022-04-26 20:32] michaelbrewer commented on #1153
Just that your `@app.exception_handler` should not swallow the passed `ex`, but thats just a tip in the docs :P

[2022-04-28 06:39] heitorlessa commented on #1164
Update: @am29d is working on migrating our internal Lambda Layers pipeline to CodePipeline in a Powertools AWS account. Once that's done (~H2), we should be able to expand to more AWS regions - that said, GovCloud is a special region and might take longer for us to get approval to do so.

In parallel, @mploski is working on our E2E test framework. Both will give us the confidence we need to remove

[2022-04-28 06:48] heitorlessa commented on #1171
**Update:** @am29d is working on migrating our internal Lambda Layers pipeline to CodePipeline in a Powertools AWS account. Once that's done (~H2), this will reduce our operational overhead and we will consider expanding our public Layers portfolio (ARM, extras).

You can follow progress here: [github.com/orgs/awslabs/projects/51/views/11](https://github.com/orgs/awslabs/projects/51/views/11)

[2022-04-28 07:04] heitorlessa commented on #1183
Update: @am29d is working on migrating our internal Lambda Layers pipeline to CodePipeline in a Powertools AWS account. Once that's done (~H2), we should be able to expand to more AWS regions.

You can follow progress here: [github.com/orgs/awslabs/projects/51/views/11](https://github.com/orgs/awslabs/projects/51/views/11)

[2022-04-28 07:38] heitorlessa commented on #1179
Closing as dup: https://github.com/awslabs/aws-lambda-powertools-python/issues/1170

[2022-04-28 07:38] #1179 closed

[2022-04-28 12:37] heitorlessa commented on #1152
thanks @michaelbrewer for the quick fix. I've pushed a change before merging so customers receive a warning that this is not necessary (double serialization), and link to this issue.

[2022-04-28 12:40] #1152 closed

[2022-04-28 12:46] heitorlessa commented on #1149
Hey @j2clerck thanks for raising the issue as discussed. I suspect this is not us as it's failing at the Lambda worker level when importing your code package as a module (`bootstrap._gcd_import`), before it attempts to call your handler with the event where Powertools logic would kick in.

We'll look into it to confirm whether this happens regardless of Powertools.

[code]

[2022-04-28 13:57] heitorlessa commented on #1149
This is definitely interesting as I can reproduce but can't pinpoint to any logic that would cause it. Profiling doesn't show me anything obvious (I did find something else in Data Classes, but that's not it)

I'm gonna try profile in Prod, then try tweaking SQS poller settings like MaxRetry to 1 to rule out some hypothesis I have

![image](https://user-images.githubusercontent.com/3340292/1657684

[2022-04-28 14:26] heitorlessa commented on #1149
Turns out it looks like an issue in the Lambda worker itself - The max duration matches with the timeout set in the Lambda. I also tried tweaking SQS maxReceive thinking it was related to SQS Poller retrying aggressively then calculating the duration but nope. Even removing Powertools I can get to the same effect. Changing my function timeout to 1s I get 1s duration, until I go above 4s, then it's

[2022-04-28 14:31] heitorlessa commented on #1149
@j2clerck I'm gonna close this, please let me know otherwise.

[2022-04-28 14:45] #1153 closed

[2022-04-28 14:46] heitorlessa commented on #1153
Thanks both - made a tiny change and merged. Should be in tomorrow's release

[2022-04-28 15:48] michaelbrewer commented on #1152
Yes within `handler`, you do have the option of also passing in `event.raw_event`

[2022-04-28 16:07] #1025 closed, assigned to nobody

[2022-04-28 16:30] michaelbrewer commented on #1025
@sthulb can you clarify what this is being closed? It is a runtime error.

[2022-04-28 16:31] michaelbrewer commented on #1025
Ok I see that the related PR was merged. Thanks.

[2022-04-28 16:47] michaelbrewer commented on #1025
Haha. I just assumed the issue was rejected.

[2022-04-28 17:53] michaelbrewer commented on #1161
Seems to have fixed itself @sthulb  ?

[2022-04-28 17:53] #1161 closed

[2022-04-29 06:57] eflopez opened #1192 "Feature request: Support cookies in Lambda function response for format 2.0"
### Use case

I am using the `Router` class to setup some resolvers for use with `APIGatewayHttpResolver`, and I would like to be able to set cookies in my customised `Response` object, but this is not currently possible.

According to the [APIGateway response documentation](https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html), the format for this

[2022-04-29 07:51] heitorlessa opened #1193 "Feature request: app.exception_handler does not work when used in separate file"
### Discussed in https://github.com/awslabs/aws-lambda-powertools-python/discussions/1191

<div type='discussions-op-text'>

<sup>Originally posted by **arunbhati** April 29, 2022</sup>
Hi,

I am using **APIGatewayRestResolver** and I'm having trouble working with **@app.exception_handler**. When I have **APIGatewayRestResolver** object and **@app.exception_handler** decorator in same file then it

[2022-04-29 13:15] heitorlessa commented on #1092
Michal encountered a few performance challenges in the E2E POC, so I'm gonna expedite this one for today's release; PR incoming soon

[2022-04-29 14:28] heitorlessa commented on #1193
hey @arunbhati thanks for sending over an archive to help reproduce it quickly! The issue is that `exceptions.py` code is never executed, because it isn't being imported anywhere else.

To confirm it, I've added a dummy constant within `exceptions.py` and imported it from your `lambda_function.py`. I'm gonna close this and create a feature request to support defining exception handlers within in s

[2022-04-29 14:37] heitorlessa commented on #1092
Done, should be available in today's release shortly.

![image](https://user-images.githubusercontent.com/3340292/165966501-6b899e98-370a-4ce4-b968-6dac36655e5e.png)

[2022-04-29 15:39] #1092 closed

[2022-04-29 18:20] michaelbrewer commented on #1192
Good idea! There are more cumbersome way, but format 2.0 does make it easier. Once this has been "approved" / "triaged", it should be an easy addition to the API GW handler.

[2022-04-30 01:42] michaelbrewer commented on #1192
@eflopez For discussion purpose i created a PR #1196

This will also allow for a more convenient method to set cookies for ALB, Http and Rest apis.

[2022-05-01 17:34] michaelbrewer commented on #1038
I am working on an initial draft PR based on what @n2N8Z has suggested #1198 Still untested and more to see the impact of the changes.

This does not include fancy extension method @heitorlessa spoke about.

If i have time to complete the test coverage and do some end to end testing, then maybe @cakepietoast  or @heitorlessa  can look at it further.

Otherwise the docs will have to be updated with

[2022-05-02 22:54] michaelbrewer commented on #1064
Updated preview of fixed docs is hosted here: https://gyft.github.io/aws-lambda-powertools-python/latest/

Up to version `1.25.10`

[2022-05-03 06:53] michaelbrewer commented on #1141
The closet to `official` from AWS in the aws lambda go library:

Request:

[code]

Response:

[code]

Go source:

[code]

[2022-05-04 19:34] michaelbrewer commented on #1038
Deployed and tested a version of my PR #1198  and it works

template.yaml with powertools based on #1198 :

[code]

app.py handler with a sleep longer than the function timeout:

[code]

[2022-05-05 12:55] Torsitano commented on #1089
@heitorlessa Hey, thanks for the response, I appreciate the context. Understand on the difficulty getting this to work for multiple versions, so that makes sense.

[2022-05-05 12:55] #1089 closed

[2022-05-05 15:33] michaelbrewer commented on #1038
I have tested this approach on a separate repo and it all seems to be good so far.

[2022-05-10 02:38] hellupline opened #1200 "Bug: using clear_state on inject_lambda_context incorrectly reset formatter log_format"
### Expected Behaviour

`(logger._logger.parent.handlers if logger.child else logger._logger.handlers)[0].formatter.log_format`
be equals to
`{'level': '%(levelname)s', 'location': '%(funcName)s:%(lineno)d', 'timestamp': '%(asctime)s'}`

### Current Behaviour

current value is:
`{'level': None, 'location': None, 'message': None, 'timestamp': None}`

### Code snippet

[code]

### Possible Solution

[2022-05-10 05:50] heitorlessa commented on #1200
Hi Renan, thanks for reaching out! We fixed that on 1.25.7 release - could
you upgrade to the latest version (1.25.10) and let us know if the issue
still persists?

Thank you!

On Tue, 10 May 2022 at 03:38, Renan Vedovato Traba ***@***.***>
wrote:

[2022-05-10 13:17] major-mayer commented on #228
Is there a reason why there exists an envelope for the API gateway but not for the Application Load Balancer even though they fulfill somewhat similiar needs?

[2022-05-14 06:37] peterschutt opened #1203 "Bug: BaseBatchProcessingError.child_exceptions doesn't handle None case"
### Expected Behaviour

This is a bit of a nitpick but something I noticed on my travels...

https://github.com/awslabs/aws-lambda-powertools-python/blob/1ca74d36af7165f41dc2d6b39a8f36caacd69677/aws_lambda_powertools/utilities/batch/exceptions.py#L11-L24

`child_exceptions` parameter is typed `Optional[List[ExceptionInfo]]` but the `None` case isn't handled anywhere before iteration over the attri

[2022-05-16 13:57] heitorlessa commented on #1200
Hey @hellupline, following up in case that missed your inbox. I couldn't reproduce it in **1.25.7+**, but please let me know otherwise.

![image](https://user-images.githubusercontent.com/3340292/168609150-563203ad-bfe7-461d-b89e-911e36d18c9f.png)

[2022-05-16 17:10] michaelbrewer commented on #1203
More likely to fail before this, so maybe `child_exceptions` should not be optional.

[code]

[2022-05-16 17:23] michaelbrewer commented on #1203
@peterschutt if this is accepted as an 'issue', i made a PR (https://github.com/awslabs/aws-lambda-powertools-python/pull/1205) based on your fix.